body
{
	background-color: #222;
	color: #394263;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
}
.error{
    color:#a94442;
    font:1px;
    height:15px;
    display:block;
    line-height:15px;    
}
/* .errorStyle{
	border-color:#a94442 !important; // add class for text border 
} */
#uploadFile h3 {
    color: #ccc;
}

#main-container,#page-container
{
	min-width: 320px;
}
#page-container
{
	margin: 0 auto;
	overflow-x: hidden;
	padding: 0;
	transition: background-color .2s ease-out;
	webkit-transition: background-color .2s ease-out;
	width: 100%;
}
#page-container,#sidebar
{
	background-color: #2a6496;
}
#sidebar
{
	overflow: hidden;
	position: absolute;
	width: 0;
}
#main-container,#sidebar,.header-fixed-bottom header,.header-fixed-top header
{
	transition: all .2s ease-out;
	webkit-transition: all .2s ease-out;
}
#page-content
{
	background-color: #eaedf1;
	min-height: 590px !important;
	padding: 10px 5px 1px;
}
#page-content+footer
{
	background-color: #fff;
	border-top: 1px solid #dbe1e8;
	font-size: 11px;
	padding: 9px 10px;
}
#page-container.header-fixed-top
{
	padding: 50px 0 0;
}
#page-container.header-fixed-bottom
{
	padding: 0 0 50px;
}
.sidebar-open #sidebar
{
	width: 200px;
}
.sidebar-open #main-container
{
	margin-left: 200px;
}
.header-fixed-bottom #sidebar,.header-fixed-top #sidebar
{
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
}
.header-fixed-bottom .sidebar-content,.header-fixed-top .sidebar-content
{
	padding-bottom: 50px;
}
.sidebar-open header.navbar-fixed-bottom,.sidebar-open header.navbar-fixed-top
{
	left: 200px;
}
header.navbar-default,header.navbar-inverse
{
	border: 0;
	margin: 0;
	max-height: 100px;
	min-width: 320px;
	padding: 0;
	background: linear-gradient(#FFFFFF, #ccc);
}
header.navbar-fixed-bottom,header.navbar-fixed-top
{
	max-height: 51px;
}
header.navbar-default.navbar-fixed-top
{
	border-bottom: 1px solid #eaedf1;
}
header.navbar-default.navbar-fixed-bottom
{
	border-top: 1px solid #eaedf1;
}
header.navbar-inverse.navbar-fixed-top
{
	border-bottom: 1px solid #394263;
}
header.navbar-inverse.navbar-fixed-bottom
{
	border-top: 1px solid #394263;
}
.dataTable thead tr {
    background-image: linear-gradient( rgb(157, 209, 245),rgb(48, 141, 255), rgb(157, 209, 245)) !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: initial !important;
}

.table-responsive{
/* background-color:#929292  !important; */
margin-bottom:15px;
border: 1px solid #aaa;
}
.dataTables_length{
	/* background-color:#e7e3e4 !important; */
	border:none !important;
	padding-left: 30px !important;
    /* padding: 20px !important; */
}
.dataTables_filter{
	/* background-color:#e7e3e4 !important; */
	border:none !important;
	padding-right: 30px !important;
	/* padding: 20px !important; */
}
.dataTables_info{
	/* background-color:#e7e3e4 !important; */
	border:none !important;
	/* padding: 10px !important; */
	margin-top: 5px !important;
	margin-left: 20px !important;
	font-size:12px !important;
}
.dataTables_paginate{
	/* background-color:#e7e3e4 !important; */
	border:none !important;
	/* padding: 10px !important; */
	margin-right: 20px !important;
	font-size:12px !important;
}

.nav.navbar-nav-custom
{
	float: left;
	margin: 0;
}
.nav.navbar-nav-custom>li
{
	float: left;
	min-height: 50px;
}
.nav.navbar-nav-custom>li>a
{
	color: #394263;
	line-height: 40px;
	min-width: 50px;
	padding: 5px 7px;
	text-align: center;
}
.nav.navbar-nav-custom>li>a .fi,.nav.navbar-nav-custom>li>a .gi,.nav.navbar-nav-custom>li>a .hi,.nav.navbar-nav-custom>li>a .si
{
	margin-top: -3px;
}
.dropdown .dropdown-toggle .gi-settings{
	margin-top:40% !important;
}
.navbar-inverse .nav.navbar-nav-custom>li>a
{
	color: #fff;
}
.nav.navbar-nav-custom>li.open>a,.nav.navbar-nav-custom>li>a:focus,.nav.navbar-nav-custom>li>a:hover
{
	background-color: #1bbae1;
	color: #fff;
}
.sidebar-nav-submenu .open
{
	border-left: 10px solid #1bbae1;
	/* border-left: 10px solid #464477;
    background: linear-gradient(#1BBAE1,#483F73) !important; */
}
.nav.navbar-nav-custom>li>a>img
{
	border: 2px solid #fff;
	border-radius: 20px;
	height: 40px;
	vertical-align: top;
	width: 40px;
}
.navbar-form-custom
{
	float: left;
	height: 50px;
	padding: 0;
	width: 100px;
}
.navbar-form-custom .form-control
{
	background: 0 0;
	border: 0;
	font-size: 15px;
	height: 50px;
	margin: 0;
	padding: 10px;
	z-index: 2000;
}
.navbar-form-custom .form-control:focus,.navbar-form-custom .form-control:hover
{
	background-color: #fff;
}
.navbar-form-custom .form-control:focus
{
	font-size: 18px;
	left: 0;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.navbar-inverse .navbar-form-custom .form-control
{
	color: #fff;
}
.navbar-inverse .navbar-form-custom .form-control:focus,.navbar-inverse .navbar-form-custom .form-control:hover
{
	background: #000;
	color: #fff;
}
.sidebar-content
{
	color: #fff;
	width: 200px;
}
.sidebar-section
{
	padding: 10px;
}
.sidebar-brand
{
	background: rgba(0,0,0,.15);
	background: url(../img/template/ie8_opacity_dark_15.png) repeat;
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: 300;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0 10px;
}
.sidebar-brand:focus,.sidebar-brand:hover
{
	background-color: #1bbae1;
	color: #fff;
	text-decoration: none;
}
.sidebar-brand i
{
	display: inline-block;
	filter: alpha(opacity=50);
	font-size: 14px;
	margin-right: 10px;
	opacity: .5;
	text-align: center;
	width: 18px;
}
.sidebar-user
{
	background: rgba(255,255,255,.1);
	background: url(../img/template/ie8_opacity_light_10.png) repeat;
	padding-left: 88px;
}
.sidebar-user-avatar
{
	background: rgba(255,255,255,.75);
	background: url(../img/template/ie8_opacity_light_75.png) repeat;
	border-radius: 34px;
	float: left;
	height: 68px;
	margin-left: -78px;
	padding: 2px;
	width: 68px;
}
.sidebar-user-avatar img
{
	border-radius: 32px;
	height: 64px;
	width: 64px;
}
.sidebar-user-name
{
	font-size: 17px;
	font-weight: 300;
	line-height: 26px;
	margin-top: 10px;
}
.sidebar-user-links a
{
	color: #fff;
	filter: alpha(opacity:30);
	margin-right: 5px;
	opacity: .3;
}
.sidebar-user-links a:focus,.sidebar-user-links a:hover
{
	color: #fff;
	filter: alpha(opacity:100);
	opacity: 1;
	text-decoration: none;
}
.sidebar-user-links a>i
{
	font-size: 14px;
}
.sidebar-themes
{
	background: rgba(0,0,0,.15);
	background: url(../img/template/ie8_opacity_dark_15.png) repeat;
	list-style: none;
	margin: 0;
	padding-bottom: 7px;
}
.sidebar-themes li
{
	float: left;
	margin: 0 3px 3px 0;
}
.sidebar-themes li a
{
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	display: block;
	height: 17px;
	width: 17px;
}
.sidebar-themes li a:focus,.sidebar-themes li a:hover,.sidebar-themes li.active a
{
	border-color: #fff!important;
}
.sidebar-nav
{
	list-style: none;
	margin: 0;
	padding: 10px 0 0;
}
.sidebar-nav .sidebar-header:first-child
{
	margin-top: 0;
}
.sidebar-nav a
{
	color: #eaedf1 !important;
	display: block;
	line-height: 35px;
	min-height: 35px;
	padding: 0 10px;
	/* text-transform: uppercase; */
}
.sidebar-nav a.open,.sidebar-nav a:hover,.sidebar-nav li.active>a
{
	background: rgba(0,0,0,.15);
	background: url(../img/template/ie8_opacity_dark_15.png) repeat;
	color: #fff;
	text-decoration: none;
}
.sidebar-nav a.active
{
	background: rgba(0,0,0,.3);
	background: url(../img/template/ie8_opacity_dark_30.png) repeat;
	border-left: 5px solid #1bbae1;
	padding-left: 5px;
}
.sidebar-nav a>.sidebar-nav-icon
{
	margin-right: 10px;
}
.sidebar-nav a>.sidebar-nav-indicator
{
	float: right;
	line-height: inherit;
	margin-left: 4px;
	transition: all .15s ease-out;
	webkit-transition: all .15s ease-out;
}
.sidebar-nav a>.sidebar-nav-icon,.sidebar-nav a>.sidebar-nav-indicator
{
	display: inline-block;
	filter: alpha(opacity:50);
	font-size: 14px;
	opacity: .5;
	text-align: center;
	width: 18px;
}
.sidebar-nav a.active,.sidebar-nav a.active>.sidebar-nav-icon,.sidebar-nav a.active>.sidebar-nav-indicator,.sidebar-nav a.open,.sidebar-nav a.open>.sidebar-nav-icon,.sidebar-nav a.open>.sidebar-nav-indicator,.sidebar-nav a:hover,.sidebar-nav a:hover>.sidebar-nav-icon,.sidebar-nav a:hover>.sidebar-nav-indicator,.sidebar-nav li.active>a,.sidebar-nav li.active>a>.sidebar-nav-icon,.sidebar-nav li.active>a>.sidebar-nav-indicator
{
	filter: alpha(opacity:100);
	opacity: 1;
}
.sidebar-nav a:hover{
	/* opacity: 1;
    background: linear-gradient(#1BBAE1,#483F73) !important; */
}
.sidebar-nav a.active>.sidebar-nav-indicator,.sidebar-nav a.open>.sidebar-nav-indicator,.sidebar-nav li.active>a>.sidebar-nav-indicator
{
	transform: rotate(-90deg);
	webkit-transform: rotate(-90deg);
}
.sidebar-nav ul
{
	background: rgba(0,0,0,.3);
	background: url(../img/template/ie8_opacity_dark_30.png) repeat;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-nav li.active>ul
{
	display: block;
}
.sidebar-nav ul a
{
	font-size: 12px;
	line-height: 32px;
	margin: 0;
	min-height: 32px;
	padding-left: 15px;
	text-transform: capitalize;
}
.sidebar-nav ul a.active,.sidebar-nav ul a.active:hover
{
	border-left: 5px solid #1bbae1;
	padding-left: 10px;
}
.sidebar-nav ul ul
{
	background: rgba(0,0,0,.4);
	background: url(../img/template/ie8_opacity_dark_40.png) repeat;
}
.sidebar-nav ul ul a
{
	padding-left: 25px;
}
.sidebar-nav ul ul a.active,.sidebar-nav ul ul a.active:hover
{
	padding-left: 20px;
}
.sidebar-header
{
	line-height: 12px;
	margin: 10px 0 0;
	padding: 10px;
}
.sidebar-header+.sidebar-section
{
	padding-bottom: 0;
	padding-top: 0;
}
.sidebar-header .sidebar-header-title
{
	color: #fff;
	filter: alpha(opacity:50);
	font-size: 11px;
	opacity: .5;
	text-transform: uppercase;
}
.sidebar-header-options
{
	display: inline-block;
	float: right;
}
.sidebar-header-options>a,.sidebar-nav .sidebar-header-options a
{
	color: #fff;
	display: block;
	filter: alpha(opacity:30);
	float: right;
	line-height: inherit;
	margin: 0;
	min-height: 0;
	min-width: 18px;
	opacity: .3;
	padding: 0;
	text-align: center;
}
.sidebar-header-options a.active,.sidebar-header-options a:focus,.sidebar-header-options a:hover,.sidebar-nav .sidebar-header-options a.active,.sidebar-nav .sidebar-header-options a:focus,.sidebar-nav .sidebar-header-options a:hover
{
	background: 0 0;
	color: #fff;
	filter: alpha(opacity:100);
	opacity: 1;
}
.sidebar-header-options a>i
{
	font-size: 14px;
}
.content-header
{
	background-color: #fff;
	border-bottom: 1px solid #dbe1e8;
	border-top: 1px solid #eaedf1;
}
.content-header h1,.content-header h2
{
	font-size: 26px;
	line-height: 32px;
	margin: 0;
}
.content-header small .content-header small
{
	font-size: 17px;
}
.header-section h1 i
{
	color: #eaedf1;
	float: right;
	font-size: 56px;
	line-height: 64px;
	margin: 0 0 0 10px;
}
.header-section
{
	padding: 30px 10px;
}
.content-header,.content-top
{
	margin: -10px -5px 10px;
}
.content-top
{
	background-color: #fff;
	border-bottom: 1px solid #dbe1e8;
}
.content-header-media
{
	border-top-color: #222;
	height: 248px;
	overflow: hidden;
	position: relative;
}
.content-header-media .header-section
{
	background: rgba(0,0,0,.6);
	background: url(../img/template/ie8_opacity_dark_60.png) repeat;
	color: #fff;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}
.content-header-media i,.content-header-media small
{
	color: #ddd;
}
.content-header-media>img
{
	height: 248px;
	left: 50%;
	margin-left: -1280px;
	position: absolute;
	top: 0;
	width: 2560px;
}
.content-header-media>.content-header-media-map
{
	height: 270px;
}
.block
{
	background-color: #fff;
	border: 1px solid #dbe1e8;
	margin: 0 0 10px;
	padding: 20px 15px 20px;
}
.block.full
{
	padding: 20px 15px;
}
.block .block-content-full
{
	margin: -20px -15px -1px;
}
.block .block-content-mini-padding
{
	padding: 8px;
}
.block.full .block-content-full
{
	margin: -20px -15px;
}
.block-title
{
	background: linear-gradient(#1B6DE0, #64AEEB);
	background: linear-gradient(to bottom right, #483F73,#1B6DE0,#050A10);
	background: linear-gradient(#1BBAE1,#1B6DE0);
	background: linear-gradient(#1BBAE1,#483F73);
	border-bottom: none;
	margin: -15px 20px 1% 20px;
	color: #fff !important;
	text-align: center;
	border-radius: 10px;
}
.block-title h1,.block-title h2,.block-title h3,.block-title h4,.block-title h5,.block-title h6
{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	margin: 0;
	padding: 10px 16px 7px;
}
.block-title h1 small,.block-title h2 small,.block-title h3 small,.block-title h4 small,.block-title h5 small,.block-title h6 small
{
	color: #777;
	font-size: 13px;
	font-weight: 400;
}
.block-title h1,.block-title h2,.block-title h3
{
	padding-left: 15px;
	padding-right: 15px;
}
.block-options,.block-title .nav-tabs
{
	line-height: 38px;
	min-height: 40px;
}
.block-title .nav-tabs
{
	border-bottom: 0;
	padding: 3px 1px 0;
}
.block-title .nav-tabs>li>a
{
	border-bottom: 0;
}
.block-title .nav-tabs
{
	margin-bottom: -2px;
}
.block-title .nav-tabs>li>a
{
	margin-bottom: 0;
}
.block-title .nav-tabs>li>a:hover
{
	background: 0 0;
}
.block-title .nav-tabs>li.active>a,.block-title .nav-tabs>li.active>a:focus,.block-title .nav-tabs>li.active>a:hover
{
	background-color: #fff;
	border: 1px solid #eaedf1;
	border-bottom-color: #fff;
}
.block-title code
{
	padding: 2px 3px;
}
.block-options
{
	line-height: 37px;
	margin: 0 6px;
}
.block-options .label
{
	display: inline-block;
	font-size: 13px;
	padding: 6px;
	vertical-align: middle;
}
.block-top
{
	border-bottom: 1px dotted #dbe1e8;
	margin: -20px -15px 20px;
}
.block-section
{
	margin-bottom: 20px;
}
.widget
{
	background-color: #fff;
	margin-bottom: 10px;
}
.widget .widget-extra,.widget .widget-extra-full
{
	padding: 15px;
	position: relative;
}
.widget .widget-extra
{
	padding-bottom: 1px;
	padding-top: 1px;
}
.widget .widget-content-light
{
	color: #fff;
}
.widget .widget-content-light small
{
	color: #eee;
}
.widget .widget-icon,.widget .widget-image
{
	height: 64px;
	width: 64px;
}
.widget .widget-icon
{
	border-radius: 32px;
	color: #fff;
	display: inline-block;
	font-size: 28px;
	height: 64px;
	line-height: 64px;
	text-align: center;
}
.widget .widget-icon .fi,.widget .widget-icon .gi,.widget .widget-icon .hi,.widget .widget-icon .si
{
	margin-top: -3px;
}
.widget .widget-options,.widget .widget-options-left
{
	filter: alpha(opacity=50);
	opacity: .5;
	position: absolute;
	top: 5px;
}
.widget .widget-options
{
	right: 5px;
}
.widget .widget-options-left
{
	left: 5px;
}
.widget .widget-options-left:hover,.widget .widget-options:hover
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.widget-simple
{
	padding: 15px;
}
.widget-simple:after,.widget-simple:before
{
	content: " ";
	display: table;
}
.widget-simple:after
{
	clear: both;
}
.widget-simple .widget-icon,.widget-simple .widget-image
{
	margin: 0 15px;
}
.widget-simple .widget-icon.pull-left,.widget-simple .widget-image.pull-left
{
	margin-left: 0;
}
.widget-simple .widget-icon.pull-right,.widget-simple .widget-image.pull-right
{
	margin-right: 0;
}
.widget-simple .widget-content
{
	font-size: 18px;
	margin: 12px 0;
}
.widget-simple .widget-content small
{
	display: block;
	font-size: 13px;
	font-weight: 400;
	margin-top: 7px;
}
.widget-advanced .widget-header
{
	height: 150px;
	overflow: hidden;
	padding: 15px 15px 50px;
	position: relative;
}
.widget-advanced .widget-background
{
	height: 150px;
	left: 0;
	position: absolute;
	top: 0;
}
.widget-advanced .widget-background-map
{
	height: 180px;
	width: 100%;
}
.widget-advanced .widget-content-image
{
	background: rgba(0,0,0,.6);
	background: url(../img/template/ie8_opacity_dark_60.png) repeat;
	left: 0;
	margin: 0;
	padding: 15px;
	position: absolute;
	top: 0;
	width: 100%;
}
.widget-advanced .widget-main
{
	padding: 50px 15px 15px;
	position: relative;
}
.widget-advanced .widget-image-container
{
	background-color: #fff;
	border-radius: 36px;
	display: inline-block;
	height: 74px;
	left: 50%;
	margin-left: -36px;
	padding: 5px;
	position: absolute;
	top: -36px;
	width: 74px;
}
.widget-advanced .widget-header .widget-image-container
{
	left: auto;
	margin: 0;
	position: static;
	top: auto;
}
.widget-advanced-alt .widget-header,.widget-advanced-alt .widget-main
{
	padding: 15px;
}
.widget-advanced-alt .widget-header
{
	height: auto;
	min-height: 150px;
}
.content-float .pull-left
{
	margin: 0 20px 20px 0;
}
.content-float .pull-right
{
	margin: 0 0 20px 20px;
}
#to-top
{
	background-color: #000;
	border-radius: 3px;
	bottom: 55px;
	color: #fff;
	display: none;
	filter: alpha(opacity=10);
	font-size: 28px;
	left: 5px;
	opacity: .1;
	padding: 0 12px;
	position: fixed;
	text-align: center;
}
#to-top:hover
{
	background-color: #1bbae1;
	color: #fff;
	filter: alpha(opacity=100);
	opacity: 1;
	text-decoration: none;
}
#login-background
{
	height: 224px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#login-background>img
{
	height: 400px;
	left: 50%;
	margin-left: -1280px;
	position: absolute;
	width: 2560px;
}
#login-container
{
	left: 50%;
	margin-left: -150px;
	position: absolute;
	top: 10px;
	width: 300px;
	z-index: 1000;
}
#login-container .login-title
{
	background: #444;
	background: rgba(0,0,0,.6);
	background: url(../img/template/ie8_opacity_dark_60.png) repeat;
	padding: 20px 10px;
}
#login-container .login-title h1
{
	color: #fff;
	font-size: 26px;
}
#login-container .login-title small
{
	color: #ddd;
	font-size: 16px;
}
#login-container>.block
{
	border: 0;
}
#login-container .register-terms
{
	float: left;
	line-height: 30px;
	margin-right: 10px;
}
.calendar-events
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.calendar-events li
{
	background-color: #555;
	border-radius: 3px;
	color: #fff;
	filter: alpha(opacity=85);
	margin-bottom: 5px;
	opacity: .85;
	padding: 5px 10px;
}
.calendar-events li:hover
{
	cursor: move;
	filter: alpha(opacity=100);
	opacity: 1;
}
.gallery a img,.gallery img,.gallery-image img,a[data-toggle=lightbox-image] img
{
	max-width: 100%;
}
a.gallery-link,a[data-toggle=lightbox-image]
{
	cursor: -moz-zoom-in;
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.gallery a:hover img,.gallery-image:hover img,a[data-toggle=lightbox-image]:hover img
{
	filter: alpha(opacity=75);
	opacity: .75;
}
.gallery-image
{
	position: relative;
}
.gallery-image-options
{
	bottom: 0;
	display: none;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
.gallery-image:hover .gallery-image-options
{
	display: block;
}
.gallery>.row>div
{
	margin-bottom: 15px;
}
.gallery.gallery-widget>.row>div
{
	margin-bottom: 0;
	padding-bottom: 7px;
	padding-top: 7px;
}
.pie-chart .pie-avatar
{
	left: 8px;
	position: absolute;
	top: 8px;
}
.chart
{
	height: 360px;
}
.chart-tooltip,.mini-chart-tooltip
{
	background-color: #000;
	color: #fff;
	display: none;
	padding: 4px 10px;
	position: absolute;
}
.chart-pie-label
{
	color: #fff;
	font-size: 12px;
	padding: 8px 12px;
	text-align: center;
}
.mini-chart-tooltip
{
	left: 0;
	top: 0;
	visibility: hidden;
}
.timeline
{
	position: relative;
}
.timeline-header
{
	background-color: #fff;
	border-bottom: 2px solid #f0f0f0;
	font-size: 18px;
	font-weight: 600;
	line-height: 60px;
	margin: 0;
	min-height: 60px;
	padding: 0 15px;
	z-index: 500;
}
.timeline-list
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.timeline-list:after
{
	background-color: #f0f0f0;
	bottom: 0;
	content: "";
	display: block;
	left: 95px;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: 1;
}
.timeline-header+.timeline-list:after
{
	top: 60px;
}
.timeline-list li
{
	margin: 0;
	padding: 15px 0;
	position: relative;
}
.timeline-list.timeline-hover li:hover
{
	background-color: #f9f9f9;
}
.timeline-list .timeline-icon
{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	font-size: 14px;
	height: 30px;
	left: 80px;
	line-height: 28px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 30px;
	z-index: 500;
}
.timeline-list .active .timeline-icon
{
	background-color: #1bbae1;
	border-color: #1bbae1;
	color: #fff;
}
.timeline-list .timeline-time
{
	float: left;
	text-align: right;
	width: 70px;
}
.timeline-list .timeline-content
{
	margin-left: 120px;
}
.block-content-full .timeline-content
{
	padding-right: 20px;
}
.media-feed
{
	margin-bottom: 0;
}
.media-feed>.media
{
	border-top: 1px dotted #dbe1e8;
	margin-top: 0;
	padding: 20px 20px 0;
}
.media-feed>.media:first-child
{
	border-top: 0;
}
.media-feed.media-feed-hover>.media:hover
{
	background-color: #f9f9f9;
}
#error-container
{
	padding: 120px 20px;
	position: relative;
}
#error-container .error-options
{
	left: 20px;
	position: absolute;
	top: 20px;
}
#error-container h1
{
	color: #fff;
	font-size: 96px;
	margin-bottom: 40px;
}
#error-container h2
{
	color: #ccc;
	line-height: 1.4;
	margin-bottom: 40px;
}
#error-container form
{
	background: #fff;
	background: rgba(255,255,255,.1);
	background: url(../img/template/ie8_opacity_light_10.png) repeat;
	border-radius: 3px;
	padding: 20px;
}
#error-container .form-control
{
	border-color: #fff;
}
.table.table-pricing
{
	background-color: #fff;
}
.table-pricing td,.table-pricing th
{
	text-align: center;
}
.table-pricing th
{
	font-size: 24px!important;
}
.table-pricing td
{
	font-size: 15px;

	padding-bottom: 12px!important;
	padding-top: 12px!important;
}
.table-pricing .table-price
{
	background-color: #f9f9f9;
}
.table-pricing .table-price.table-featured,.table-pricing.table-featured .table-price
{
	background-color: #252525;
}
.table-pricing th.table-featured,.table-pricing.table-featured th
{
	background-color: #1bbae1;
	border-bottom: 2px solid #394263;
	color: #fff;
}
.table-pricing td.table-featured,.table-pricing.table-featured td
{
	background-color: #394263;
	color: #fff;
}
.navbar.navbar-default
{
	background-color: #f9fafc;
}
.navbar.navbar-inverse
{
	background-color: #4c5471;
}
.navbar-fixed-bottom,.navbar-fixed-top
{
	border-width: 0;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6
{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small
{
	color: #777;
	font-weight: 300;
}
h1,h2,h3
{
	margin-bottom: 15px;
}
.text-primary,.text-primary:hover,a,a:focus,a:hover
{
	color: #610808;
}
.text-danger,.text-danger:hover,a.text-danger,a.text-danger:focus,a.text-danger:hover
{
	color: #e74c3c;
}
.text-warning,.text-warning:hover,a.text-warning,a.text-warning:focus,a.text-warning:hover
{
	color: #e67e22;
}
.text-success,.text-success:hover,a.text-success,a.text-success:focus,a.text-success:hover
{
	color: #27ae60;
}
.text-info,.text-info:hover,a.text-info,a.text-info:focus,a.text-info:hover
{
	color: #3498db;
}
.text-muted,.text-muted:hover,a.text-muted,a.text-muted:focus,a.text-muted:hover
{
	color: #999;
}
b,strong
{
	font-weight: 600;
}
ol,ul
{
	padding-left: 30px;
}
.list-li-push li
{
	margin-bottom: 10px;
}
p
{
	line-height: 1.6;
}
article p
{
	font-size: 16px;
	line-height: 1.8;
}
.well
{
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.page-header
{
	margin: 30px 0 20px;
    margin-top: 0;
    background: #E1E1E1;
    text-align: center;
    color: #fff;
    background: linear-gradient(#1BBAE1,#483F73);
    border-radius: 15px;
}
.page-header h1{margin: 0;}
.sub-header
{
	border-bottom: 1px dotted #ddd;
	margin: 10px 0 20px;
	padding: 10px 0;
}
blockquote
{
	border-color: #eaedf1;
	border-left-width: 3px;
	margin: 20px 0;
	padding: 30px 60px 30px 20px;
	position: relative;
	width: 100%;
}
blockquote:before
{
	color: #eaedf1;
	content: "\201C";
	display: block;
	font-family: serif;
	font-size: 96px;
	position: absolute;
	right: 10px;
	top: -30px;
}
blockquote.pull-right:before
{
	left: 10px;
	right: auto;
}
label
{
	font-weight: 600;
	    float: left;
}
fieldset legend
{
	border-bottom: 2px solid #eaedf1;
	font-size: 16px;
	padding: 30px 0 10px;
}
input[type=file]
{
	padding-top: 7px;
}
input[type=email].form-control,input[type=password].form-control,input[type=text].form-control,textarea.form-control
{
	webkit-appearance: none;
}
.form-control
{
	border-color: #dbe1e8;
	color: #394263;
	font-size: 13px;
	margin: 1px 0;
	max-width: 100%;
	padding: 6px 8px;
}
.form-control-borderless,.form-control-borderless .form-control,.form-control-borderless .input-group-addon,.form-control-borderless:focus
{
	border: transparent!important;
}
.input-group
{
	margin-bottom: 1px;
	margin-top: 1px;
}
.input-group .form-control
{
	margin-top: 0;
}
.form-control:focus
{
	border-color: #1bbae1;
}
.help-block
{
	color: #777;
	font-weight: 400;
}
.input-group-addon
{
	background-color: #fff;
	border-color: #dbe1e8;
	min-width: 45px;
	text-align: center;
}
.form-horizontal .control-label
{
	margin-bottom: 5px;
}
.form-bordered
{
	margin: -15px -15px -1px;
}
.modal-body .form-bordered
{
	margin-bottom: -20px;
}
.form-bordered fieldset legend
{
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}
.form-bordered .form-group
{
	border: 0;
	border-bottom: none;
	margin: 0;
	padding: 15px;
}
.form-bordered .form-group.form-actions
{
	background-color: #fff;
	border-bottom: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.form-horizontal.form-bordered .form-group
{
	padding-left: 0;
	padding-right: 0;
}
.form-bordered .help-block
{
	margin-bottom: 0;
}
.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .input-group-addon,.has-success .radio,.has-success .radio-inline
{
	color: #27ae60;
}
.has-success .form-control,.has-success .input-group-addon
{
	background-color: #fff;
	border-color: #27ae60;
}
.has-success .form-control:focus
{
	border-color: #166638;
}
.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .input-group-addon,.has-warning .radio,.has-warning .radio-inline
{
	color: #e67e22;
}
.has-warning .form-control,.has-warning .input-group-addon
{
	background-color: #fff;
	border-color: #e67e22;
}
.has-warning .form-control:focus
{
	border-color: #b3621b;
}
.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .input-group-addon,.has-error .radio,.has-error .radio-inline
{
	color: #e74c3c;
}
.has-error .form-control,.has-error .input-group-addon
{
	background-color: #fff;
	border-color: #e74c3c;
}
.has-error .form-control:focus
{
	border-color: #c0392b;
}
.wizard-steps
{
	border-bottom: 1px solid #eaedf1;
	margin-bottom: 20px;
}
.form-bordered .wizard-steps
{
	margin-bottom: 0;
}
.wizard-steps .row
{
	margin: 0;
}
.wizard-steps .row div
{
	font-size: 15px;
	padding: 15px 0;
	text-align: center;
}
.form-bordered .wizard-steps .row div
{
	padding-top: 10px;
}
.wizard-steps span
{
	border: 1px solid #1bbae1;
	border-radius: 50px;
	display: inline-block;
	height: 100px;
	line-height: 100px;
	width: 100px;
}
.wizard-steps div.active span,.wizard-steps div.done span
{
	background-color: #1bbae1;
	color: #fff;
}
.wizard-steps div.done span
{
	filter: alpha(opacity=25);
	opacity: .25;
}
.wizard-steps div.active span
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.switch
{
	cursor: pointer;
	margin: 1px 0;
	position: relative;
}
.switch input
{
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
}
.switch span
{
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 28px;
	display: inline-block;
	height: 28px;
	position: relative;
	transition: background-color .35s;
	webkit-transition: background-color .35s;
	width: 54px;
}
.switch span:after
{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 24px;
	bottom: 7px;
	box-shadow: 1px 0 3px rgba(0,0,0,.05);
	content: "";
	left: 7px;
	position: absolute;
	top: 7px;
	transition: all .15s ease-out;
	webkit-box-shadow: 1px 0 3px rgba(0,0,0,.05);
	webkit-transition: all .15s ease-out;
	width: 12px;
}
.switch input:checked+span:after
{
	border: 0;
	bottom: 1px;
	box-shadow: -2px 0 3px rgba(0,0,0,.1);
	left: 26px;
	top: 1px;
	webkit-box-shadow: -2px 0 3px rgba(0,0,0,.1);
	width: 24px;
}
.switch input:checked+span
{
	background-color: #eee;
}
.switch-default span
{
	border-color: #dbe1e8;
}
.switch-default input:checked+span
{
	background-color: #dbe1e8;
}
.switch-primary span
{
	border-color: #1bbae1;
}
.switch-primary input:checked+span
{
	background-color: #1bbae1;
}
.switch-info span
{
	border-color: #7abce7;
}
.switch-info input:checked+span
{
	background-color: #7abce7;
}
.switch-success span
{
	border-color: #aad178;
}
.switch-success input:checked+span
{
	background-color: #aad178;
}
.switch-warning span
{
	border-color: #f7be64;
}
.switch-warning input:checked+span
{
	background-color: #f7be64;
}
.switch-danger span
{
	border-color: #ef8a80;
}
.switch-danger input:checked+span
{
	background-color: #ef8a80;
}
.table.table-vcenter td,.table.table-vcenter th
{
	vertical-align: middle;
	font-size: 13px;
}
.table-options
{
	padding: 6px 0;
}
.table thead>tr>th
{
	font-size: 15px;
	
}
.table thead>tr>th>small
{
	font-size: 75%;
	font-weight: 400;
}
.table tfoot>tr>td,.table tfoot>tr>th,.table thead>tr>td,.table thead>tr>th
{
	/* padding-bottom: 14px;
	padding-top: 14px; */
}
.table tfoot>tr>td,.table tfoot>tr>th
{
	background-image: linear-gradient( rgb(251, 251, 251),rgb(167, 167, 167), rgb(255, 255, 255)) !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: initial !important;
}
}
.table-borderless tbody>tr>td,.table-borderless tbody>tr>th
{
	border-top-width: 0;
}
.table tbody+tbody,.table tbody>tr>td,.table tbody>tr>th,.table tfoot>tr>td,.table tfoot>tr>th,.table thead>tr>td,.table thead>tr>th,.table-bordered,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th
{
	border-color: #eaedf1;
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th
{
	background-color: #eaedf1;
}
.list-group-item
{
	border-color: #eaedf1;
}
a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover
{
	background-color: #1bbae1;
	border-color: #1bbae1;
}
a.list-group-item.active .list-group-item-text,a.list-group-item.active:focus .list-group-item-text,a.list-group-item.active:hover .list-group-item-text
{
	color: #fff;
}
a.list-group-item:focus,a.list-group-item:hover
{
	background-color: #f9fafc;
}
a.list-group-item.active>.badge
{
	background: rgba(0,0,0,.4);
	background: url(../img/template/ie8_opacity_dark_40.png) repeat;
	color: #fff;
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.nav .open>a,.nav .open>a:focus,.nav .open>a:hover,.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover
{
	background-color: #1bbae1;
	color: #fff;
}
.nav>li i
{
	font-size: 14px;
}
.nav-pills>.active>a>.badge
{
	color: #1bbae1;
}
.nav-stacked>li>a
{
	margin: 4px 0 0;
}
.nav .caret,.nav a:focus .caret,.nav a:hover .caret
{
	border-bottom-color: #1bbae1;
	border-top-color: #1bbae1;
}
.nav>li>a:focus,.nav>li>a:hover
{
	background-color: #f9fafc;
}
.nav-tabs
{
	border-bottom-color: #eaedf1;
}
.nav-tabs>li
{
	margin-bottom: 0;
}
.nav-tabs>li>a
{
	margin-bottom: -1px;
	padding-left: 7px;
	padding-right: 7px;
}
.nav-tabs>li>a:hover
{
	border-color: #eaedf1;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover
{
	border-bottom-color: transparent;
	border-color: #eaedf1;
	color: #394263;
}
.nav-pills>li.active>a>.badge
{
	background: rgba(0,0,0,.2);
	background: url(../img/template/ie8_opacity_dark_20.png) repeat;
	color: #fff;
}
.dropdown-menu
{
	border-color: #dbe1e8;
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
	font-size: 13px;
	padding: 0;
	webkit-box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.dropdown-menu>li>a
{
	padding: 6px 10px;
}
.dropdown-menu>li:first-child>a
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.dropdown-menu>li:last-child>a
{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.dropdown-menu i
{
	filter: alpha(opacity=20);
	line-height: 17px;
	opacity: .2;
}
.dropdown-menu a:hover i
{
	filter: alpha(opacity=50);
	opacity: .5;
}
.dropdown-menu .divider
{
	background-color: #f0f0f0;
	margin: 2px 0;
	padding: 0!important;
}
li.dropdown-header
{
	background-color: #f9fafc;
	border-bottom: 1px solid #eaedf1;
	border-top: 1px solid #eaedf1;
	color: #394263;
	padding: 5px 10px;
}
.dropdown-menu li:first-child.dropdown-header
{
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.dropdown-menu.dropdown-custom
{
	min-width: 200px;
}
.dropdown-menu.dropdown-custom>li
{
	font-size: 12px;
	padding: 8px 10px;
}
.dropdown-menu.dropdown-custom>li>a
{
	border-radius: 3px;
}
.pagination>li>a,.pagination>li>span
{
	border: 0!important;
	border-radius: 25px!important;
	color: #1bbae1;
	margin-left: 5px;
	margin-right: 5px;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover
{
	background-color: #1bbae1;
}
.pager>li>a,.pager>li>span
{
	border-color: #eaedf1;
}
.pager>li>a:hover,.pagination>li>a:hover
{
	background-color: #1bbae1;
	border-color: #1bbae1;
	color: #fff;
}
.pager>li.disabled>a:hover
{
	border-color: #eaedf1;
}
.popover-title
{
	background: 0 0;
	border: 0;
	font-size: 17px;
	font-weight: 600;
}
.tooltip
{
	z-index: 1051;
}
.tooltip.in
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.tooltip-inner
{
	background-color: #000;
	color: #fff;
	padding: 4px 6px;
}
.tooltip.top .tooltip-arrow,.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow
{
	border-top-color: #000;
}
.tooltip.right .tooltip-arrow
{
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow
{
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow
{
	border-bottom-color: #000;
}
.breadcrumb
{
	background-color: #fff;
}
.breadcrumb i
{
	font-size: 14px;
}
#confirmMyModalLabel{
	color: #fff;
	margin: 4px;
}
#confirmMyModalLabel h4{
	text-transform: capitalize;
}
.breadcrumb-top
{
	border-bottom: 1px solid #dbe1e8;
	border-top: 1px solid #eaedf1;
	font-size: 12px;
	margin: -10px -5px 10px;
	padding: 7px 10px;
}
.breadcrumb-top+.content-header,.content-header+.breadcrumb-top
{
	margin-top: -11px;
}
.breadcrumb>li+li:before
{
	content: "\203a";
}
.progress,.progress-bar
{
	height: 20px;
	line-height: 20px;
}
.progress-bar-danger
{
	background-color: #e74c3c;
}
.progress-bar-warning
{
	background-color: #f39c12;
}
.progress-bar-success
{
	background-color: #2ecc71;
}
.progress-bar-info
{
	background-color: #3498db;
}
.modal-content
{
	border-radius: 3px;
    width: initial !important;
}
.modal-header
{
	border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 15px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
#myModalLabel {
    font-size: 18px;
    font-weight: 900;
    margin: 5px;
    color:#fff;
    text-transform: capitalize;
}
.modal-header .close {
    margin-top: 2px !important;
}
.modal-title
{
	font-weight: 300;
}
.modal-body
{
	padding: 20px 15px;
}
.modal-body .nav-tabs
{
	margin: 0 -15px 15px;
	padding: 0 5px!important;
}
.close{
	opacity: 1;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 18px;
    background: #000 !important;
}
.close:hover{
	background: #fff !important;
	opacity: 1;
}
.modal-footer
{
	background: #fff !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #c0c0c;
    margin-top: 0;
    padding: 0px 25px 0px;
    color: #333333 !important;
    padding: 6px 10px 5px 0px;
}
.modal-dialog-style{
	width: 88%;
}
.btn
{
	background-color: #fff;
	margin: 1px 0;
}
.btn .fi,.btn .gi,.btn .hi,.btn .si
{
	line-height: 1;
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn
{
	filter: alpha(opacity=40);
	opacity: .4;
}
.block-options .btn,.input-group .btn,.modal-content .btn
{
	margin-bottom: 2px;
    margin-top: 0px;
    padding: 8px 20px;
    font-size: 15px;
}
.btn-default
{
	background-color: #f1f3f6;
	border-color: #dbe1e8;
	color: #394263;
}
.btn-default.btn-alt
{
	background-color: #fff;
}
.btn-default:hover
{
	background-color: #eaedf1;
	border-color: #c2c8cf;
}
#cheque-amount-word {
    text-transform: capitalize;
}
.btn-default.active,.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default:active,.btn-default:focus,.btn-default[disabled].active,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,.open .btn-default.dropdown-toggle,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover
{
	background-color: #eaedf1;
	border-color: #eaedf1;
}
.btn-primary
{
	background-color: #6ad2eb;
	border-color: #1bbae1;
	color: #fff;
}
.btn-primary.btn-alt
{
	background-color: #fff;
	color: #1bbae1;
}
.btn-primary:hover
{
	background-color: #1bbae1;
	border-color: #1593b3;
	color: #fff;
}
.btn-primary.active,.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary:active,.btn-primary:focus,.btn-primary[disabled].active,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,.open .btn-primary.dropdown-toggle,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover
{
	background-color: #1bbae1;
	border-color: #1bbae1;
	color: #fff;
}
.btn-danger
{
	background-color: #ef8a80;
	border-color: #e74c3c;
	color: #fff;
}
.btn-danger.btn-alt
{
	background-color: #fff;
	color: #e74c3c;
}
.btn-danger:hover
{
	background-color: #e74c3c;
	border-color: #9c3428;
	color: #fff;
}
.btn-danger.active,.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger:active,.btn-danger:focus,.btn-danger[disabled].active,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,.open .btn-danger.dropdown-toggle,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover
{
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #fff;
}
.btn-warning
{
	background-color: #f7be64;
	border-color: #f39c12;
	color: #fff;
}
.btn-warning.btn-alt
{
	background-color: #fff;
	color: #f39c12;
}
.btn-warning:hover
{
	background-color: #f39c12;
	border-color: #b3730c;
	color: #fff;
}
.btn-warning.active,.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning:active,.btn-warning:focus,.btn-warning[disabled].active,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,.open .btn-warning.dropdown-toggle,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover
{
	background-color: #f39c12;
	border-color: #f39c12;
	color: #fff;
}
.print-body .label {
	color: black;
	font-size: medium;
}
.print-body .row {
	margin-left: 4px;
}
#codexplBody tr:first-child {
    border-top: 1px solid;
}
.print-body {
    background-color: white;
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
}
h2#printHospitalName {
    text-align: center;
}
#PrintDiv label {
    margin-left: 1%;
}
#printDiv .forty_aligned {
    margin-left: 10px;
}
#codexpl th {
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: bold;
}
#codexpl th, #codexpl td, .vertical-line {
    border-right: 1px solid black;
}
input.btnDisabled {
    opacity: 0.5;
}
#codexpl th:last-child, #codexpl td:last-child {
    border-right: none;
}
#codexpl td{
	padding:1.0em;
	border-bottom: 1px solid black;
}
.print-body .row {
    margin-left: 4px;
}
#PrintDiv hr {
    margin-top: 0px; 
    margin-bottom: 0px; 
    border: 0;
    border-top: 1px solid #BCBCBC;
}
#tblborder td{
   border-bottom: 1px solid black;
}
.btn-success
{
	background-color: #aad178;
	border-color: #7db831;
	color: #fff;
}
.btn-success.btn-alt
{
	background-color: #fff;
	color: #7db831;
}
.btn-success:hover
{
	background-color: #7db831;
	border-color: #578022;
	color: #fff;
}
.btn-success.active,.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success:active,.btn-success:focus,.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,.open .btn-success.dropdown-toggle,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover
{
	background-color: #7db831;
	border-color: #7db831;
	color: #fff;
}
.btn-info
{
	background-color: #7abce7;
	border-color: #3498db;
	color: #fff;
}
.btn-info.btn-alt
{
	background-color: #fff;
	color: #3498db;
}
.btn-info:hover
{
	background-color: #3498db;
	border-color: #2875a8;
	color: #fff;
}
.btn-info.active,.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info:active,.btn-info:focus,.btn-info[disabled].active,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,.open .btn-info.dropdown-toggle,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover
{
	background-color: #3498db;
	border-color: #3498db;
	color: #fff;
}
.btn-link,.btn-link.btn-icon:focus,.btn-link.btn-icon:hover,.btn-link:focus,.btn-link:hover
{
	color: #1bbae1;
}
.btn-link.btn-icon
{
	color: #999;
}
.btn-link.btn-icon:focus,.btn-link.btn-icon:hover
{
	text-decoration: none;
}
.block-options .btn
{
	border-radius: 15px;
	min-width: 30px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}
.panel
{
	margin-bottom: 20px;
}
.panel-heading
{
	padding: 15px;
}
.panel-title
{
	font-size: 14px;
}
.panel-default>.panel-heading
{
	background-color: #f9f9f9;
}
.panel-group
{
	margin-bottom: 20px;
}
#confirm, #staffConfirm, #cancel, #ok, #btnOk{
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 1px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa;
}
pre
{
	background: #151515;
	overflow: scroll;
}
code
{
	border: 1px solid #fad4df;
	display: inline-block;
	margin: 1px 0;
}
.btn code
{
	display: inline;
	margin: 0;
}
.alert
{
	border-bottom-width: 0;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 0;
}
.alert-danger
{
	background-color: #ffd1cc;
	border-color: #ffb8b0;
	color: #e74c3c;
}
.alert-danger .alert-link
{
	color: #e74c3c;
}
.alert-warning
{
	background-color: #ffe4cc;
	border-color: #ffd6b2;
	color: #e67e22;
}
.alert-warning .alert-link
{
	color: #e67e22;
}
.alert-success
{
	background-color: #daf2e4;
	border-color: #b8e5cb;
	color: #27ae60;
}
.alert-success .alert-link
{
	color: #27ae60;
}
.alert-info
{
	background-color: #dae8f2;
	border-color: #b8d2e5;
	color: #3498db;
}
.alert-info .alert-link
{
	color: #3498db;
}
.alert-dismissable .close
{
	right: -25px;
	top: -5px;
}
.close
{
	text-shadow: none;
}
.alert.alert-alt
{
	border-left-width: 2px;
	border-width: 0;
	font-size: 12px;
	margin: 0 0 2px;
	padding: 5px;
}
.alert.alert-alt small
{
	filter: alpha(opacity=75);
	opacity: .75;
}
.alert-alt.alert-dismissable .close
{
	right: 0;
}
.alert-alt.alert-dismissable .close:hover
{
	color: #fff;
}
.alert-danger.alert-alt
{
	border-color: #e74c3c;
}
.alert-warning.alert-alt
{
	border-color: #e67e22;
}
.alert-success.alert-alt
{
	border-color: #27ae60;
}
.alert-info.alert-alt
{
	border-color: #3498db;
}
.sidebar-content .alert.alert-alt
{
	background: 0 0;
	color: #fff;
	margin-left: -10px;
	padding-left: 15px;
}
.badge,.label
{
	font-size: 90%;
	font-weight: 400;
}
.label
{
	padding: 1px 4px;
}
.badge
{
	background: rgba(0,0,0,.3);
	background: url(../img/template/ie8_opacity_dark_30.png) repeat;
	padding: 3px 6px;
}
.label-danger
{
	background-color: #e74c3c;
}
.label-danger[href]:focus,.label-danger[href]:hover
{
	background-color: #ff5542;
}
.label-warning
{
	background-color: #e67e22;
}
.label-warning[href]:focus,.label-warning[href]:hover
{
	background-color: #ff8b26;
}
.label-success
{
	background-color: #27ae60;
}
.label-success[href]:focus,.label-success[href]:hover
{
	background-color: #2cc76c;
}
.label-info
{
	background-color: #2980b9;
}
.label-info[href]:focus,.label-info[href]:hover
{
	background-color: #2f92d4;
}
.label-primary
{
	background-color: #1bbae1;
}
#hospitalInformation{
	text-align: center; margin-bottom: 5%;
}
.margin-bottom-4{margin-bottom: 4%;}
.label-primary[href]:focus,.label-primary[href]:hover
{
	background-color: #5ac5e0;
}
.label-default
{
	background-color: #999;
}
.label-default[href]:focus,.label-default[href]:hover
{
	background-color: #777;
}
.carousel-control.left,.carousel-control.left.no-hover:hover,.carousel-control.right,.carousel-control.right.no-hover:hover
{
	background: 0 0;
}
.carousel-control.left:hover,.carousel-control.right:hover
{
	background: rgba(0,0,0,.3);
	background: url(../img/template/ie8_opacity_dark_30.png) repeat;
}
.carousel-control span
{
	display: inline-block;
	left: 50%;
	position: absolute;
	top: 50%;
	z-index: 5;
}
.carousel-control i
{
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
}
.alert,.carousel,.table,p
{
	margin-bottom: 20px;
}
.btn.active,.form-control,.form-control:focus,.has-error .form-control:focus,.has-success .form-control:focus,.has-warning .form-control:focus,.navbar-form-custom .form-control:focus,.navbar-form-custom .form-control:hover,.open .btn.dropdown-toggle,.panel,.popover,.progress,.progress-bar
{
	box-shadow: none;
	webkit-box-shadow: none;
}
.alert.alert-alt,.breadcrumb,.dropdown-menu,.navbar,.navbar-form-custom .form-control,.tooltip-inner
{
	border-radius: 0;
}
.push-bit
{
	margin-bottom: 10px!important;
}
.push
{
	margin-bottom: 15px!important;
}
.push-top-bottom
{
	margin-bottom: 40px;
	margin-top: 40px;
}
.lt-ie9 .hidden-lt-ie9
{
	display: none!important;
}
.display-none
{
	display: none;
}
.remove-margin
{
	margin: 0!important;
}
.remove-padding
{
	padding: 0!important;
}
.remove-radius
{
	border-radius: 0!important;
}
.remove-box-shadow
{
	box-shadow: none!important;
	webkit-box-shadow: none!important;
}
.remove-transition
{
	moz-transition: none!important;
	transition: none!important;
	webkit-transition: none!important;
}
:focus
{
	outline: 0!important;
}
.style-alt #page-content
{
	background-color: #fff;
}
.style-alt .block
{
	border-color: #dbe1e8;
}
.style-alt .block.block-alt-noborder
{
	border-color: transparent;
}
.style-alt .block-title
{
	background-color: #dbe1e8;
	border-bottom-color: #dbe1e8;
}
.style-alt #page-content+footer,.style-alt .breadcrumb-top+.content-header,.style-alt .content-header+.breadcrumb-top
{
	background-color: #f9fafc;
}
.style-alt .breadcrumb-top,.style-alt .content-header
{
	border-bottom-color: #eaedf1;
}
.style-alt #page-content+footer
{
	border-top-color: #eaedf1;
}
.style-alt .widget
{
	background-color: #f6f6f6;
}
.test-circle
{
	background-color: #eee;
	border: 2px solid #ccc;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	height: 100px;
	line-height: 100px;
	margin-bottom: 15px;
	text-align: center;
	width: 100px;
}
.themed-color
{
	color: #1bbae1;
}
.themed-border
{
	border-color: #1bbae1;
}
.themed-background
{
	background-color: #1bbae1;
}
.themed-color-dark
{
	color: #394263;
}
.themed-border-dark
{
	border-color: #394263;
}
.themed-background-dark
{
	background-color: #394263;
}
.input-datepicker {
    text-transform: lowercase !important;
}
/*.modal-body .edit-modal-body{overflow-x: hidden !important;overflow-y: scroll !important;max-height: 85%;}
.modal {overflow: hidden !important;}
.bodyOverflow{overflow-x: hidden !important;overflow-y: scroll !important;}*/
form#new_login_form .form-control {
    text-transform: none;
}
select{
	cursor:pointer;
}
.dataTable tr:nth-child(even) {
    background: #D1D0CE;
}
.dataTable tr:nth-child(odd) {
    background: #E7E3E4;
}
.dataTable tr:hover{
	background: #6699CE;
	cursor: default;
}


/*/ Let's get this party started /*/
.sidebar-scroll::-webkit-scrollbar {
    width: 5px;
}
 .sidebar-scroll:hover{
 	overflow-y: scroll;
 }
 .sidebar-scroll{

 }
/*/ Track /*/
.sidebar-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/*/ Handle /*/
.sidebar-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: inset 0 0 6px #fff; 
}
.sidebar-scroll::-webkit-scrollbar-thumb:window-inactive {
 background: #fff; 
}
.sidebar-scroll{
	overflow: hidden;
}


#pop_up_close{
	width: 21px;
}
#pop_up_close img{
	width: 100%;
}
#update_popup .modal-content{
	width: 750px !important;
}
.chk-active_inactive{
	padding: 6px 0 0 10px;
    position: absolute;
	color: #333333;
    z-index: 1;
    margin-top: 4px;
    width: 103px;
    left: 50%;
    margin-left: -51.5px;
	cursor: pointer;
}
input.inactive-checkbox {
    width: 20px;
    height: 15px;
    margin-top: 2px;
    float: left;
    background: #fff;
    margin-left: 10px;
	cursor:pointer;
}
.block-title strong {
   font-size: 20px !important;
}
.dataTable{
	min-width:100% !important;
}
.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  color:#2a6496;
}
.loader
{
    display: none;
    width:200px;
    height: 200px;
    /* position: fixed; */
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
   /*  overflow: auto; */
  
}
.dataTable td {
    word-break: break-word !important;
}
.dropDownToTextBox{
	-webkit-appearance: none;
}
.slidebar_ul{
	display: none;
}
.no-padding{
	padding: 0px !important;
}
.no-margin{
	margin: 0px !important;
}

#myModal{
	left: initial !important;
    width: 87%;
    margin-left: 13%
}
.modal-confirm{
	width: 100% !important;
}
.modal-confirm .modal-footer {
    display: none;
}
.chk-active_inactive label {
    cursor: pointer;
}
textarea{
	resize: vertical;
}
.btn_save{
	margin-right:10px !important;
	padding:8px 18px !important;
}
.btn_reset{
	padding:8px 15px !important;
}
.btn_next{
	padding:8px 15px !important;
	line-height: 1.3 !important;
	background: #0C71C8 !important;
}

.btn_update{
	margin-top:15px !important;
	display: inline-block;
}
td i.fa-eye {
    text-align: center;
    transform: scale(1.5,1.5);
    cursor: pointer;
    color: #1D4568;
    margin-right: 15px;
}
#department_list{background-color: #fff !important;}
i.fa-plus-circle {
    transform: scale(1.5,1.5);
    color: #1D4568;
    cursor: pointer;
}
table.dataTable tr td:last-child {
    text-align: center;
}
.modal-header h4 {
    text-transform: capitalize;
}
.btn_save,.btn_reset{
	color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
}
.btn_next:hover{
	background:#1bbae1 !important;
}
.btn_save:hover{
	background:#1bbae1 !important;
}
.btn_reset:hover{
	background:#1bbae1 !important;
}
.btn_update:hover{
	background:#1bbae1 !important;
}
.btn_update_staff{
	display: none;
}
/* span{
	color:#a94442 !important;
} */
.btn_back{
	color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
}
.btn_back:hover{
	background:#1bbae1 !important;
}
.process{
	background:#0C71C8 !important;
	border-color:#0C71C8  !important;
}
.process:hover{
	background:#1bbae1 !important;
	border-color:#1bbae1  !important;
}
.subprocess{
	background:#0C71C8 !important;

}

.btn_load{
	margin-left:20px !important;
	color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
}
.top-box{
	width: 30% !important;
    float: left;
    position: relative;
    border: 1px solid;
	margin: 1.6%;;
}
.widget-header{
	width: 100% !important;
	border-bottom: 1px solid;
	position:relative;
	float:left;
	background: #F1F1F1;
	
}
.widget-header h4{
	margin-left: 7%;
	font-weight: 700;
}
.widget-content{
	width:100% !important;
}
.middle-box{
	width:50% !important;
	float:left; 
	padding:3%;
	position: relative;
    left: 15%;
}
.sixty_aligned .as_label {
    background: #fff;
    border: none;
    cursor: default !important;
}
.forty_aligned .as_label {
    background: #fff;
    border: none;
    cursor: default !important;
}
.btnHide{
	display: none;
}
.tr-background-color{
	background-color: #f9f9f9;
}

.text-error {
	color: #a94442;
}
.text-danger{
	color: #a94442;
}
.print{
	font-size: 24px; 
	cursor:pointer;
}

.show{
	display:block;
}
.hide{
	display:none;
}
.btn_search:hover{
	background:#1bbae1 !important;
	border-color:#1bbae1  !important;	
}
span#plus_icon {
    color: #000 !important;
}
#sidebar{
	min-height:100%;
}
#myAccountNoModal #txtDOB{cursor: pointer;}
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin: 0 auto;
    position: relative;
}

/*Loader Css*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/loader.gif') center no-repeat #fff;
}
#btnConfirm{
	background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 1px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa;
}
#updateBody{
	padding: 20px 15px;
	position: relative;
}
.customChange{
	margin-bottom: 0;padding: 0;background: #fff;border: none;
}
#btnSaveExcel{
	color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    display: none;
}
#printLabTestDetails{
	text-align: right;
    width: 97%;
    margin-right: 4px;
    font-size: 28px;
    display: inline-block;
    margin-top: -15px;
}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 50% !important;}
.seventy_aligned {width: 69%; float: left;}
.twenty_aligned{width: 19% !important; float: left;}
.ten_aligned{width: 11% !important; float: left;}
.eighty_aligned{width: 80% !important; float: left;}
.ninety_aligned{width: 82% !important; float: left; word-break: keep-all;}
/*.modal .half_aligned:nth-of-type(1),.modal .half_aligned:nth-of-type(3),
.modal .half_aligned:nth-of-type(5){padding-left: 0px !important; width: 47%;}*/
#popUPForm{display: inline-block;width: 100%;}
.alignBill{text-align: left !important;float: left;}
.amountPrefix{float: left;margin-left: 5px;margin-right: 3px;}
#btnSavePdf{
	color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    display: none;
}
#confirmUpdateModal,#messagemyModal,div#confirmmyModal{margin: 0 auto; margin-left: 13%;}
.confirm-modal-style{width: 27%;}
.dashBoardContainer{width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 1%;
    border: 1px solid #7FACB2;
    border-radius: 5px;}
.dashBoardTab{       
	width: 33%;
    display: inline-block;
    background: linear-gradient(#1BBAE1, #64AEEB);
    border: 1px solid #7C8081;
    margin: 3px 0; 
    cursor: pointer;
}
.hearderInfo {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    margin-left: 2%;
}
h1.hospitalName {
    display: inline-block;
    margin: 0;
    width: 88%;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}
p#currentTime {
    display: inline-block;
    margin: 0;
    font-size: 15px;
}
p.tabName {margin: 10% 0 10% 1%;display: inline-block;font-size: 20px;color: #fff;}
.MgInfo{margin: 2% 0 10% 5% !important;position: relative; top: 10px;}
.dashBoardTab img {
    width: 20%;
    float: right;
    margin-top: 19px;
    margin-right: 5%;
}
img#regPatientIcon {
    width: 23%;
}
#patientBooking{
	width: 28%;
	margin: 0px;
}
#radiologyBooking{
    width: 24%;
    margin-top: 10px;
}
/* body::-webkit-scrollbar ,.modal::-webkit-scrollbar{
    width: 2px;
}
 
body::-webkit-scrollbar-track ,.modal::-webkit-scrollbar{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid slategrey;
}

body::-moz-scrollbars- ,.modal::--moz-scrollbars-{
    width: 2px;
}
 
body::--moz-scrollbars--track ,.modal::--moz-scrollbars-{
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */
svg{
	min-height: 400px !important;
}
#page-content input[type=text],#page-content .form-control,#page-content input[type=email],#page-content input[type=number]{
	border-radius: 0px !important;
}
.notificationMsg {
    width: 67%;
    display: inline-block;
}
.notificationMsgDate {
    width: 32%;
    display: inline-block;
    text-align: center;
}
.notificationMsg h6 {
    font-size: 14px;
}
.notificationMsgDate p{margin-bottom: 0px;}
.NotificationMsgContainer {
    border-bottom: 1px solid #cecece;
}
div#myNotificationModal {
    width: 87%;
    margin-left: 13%;
}

.input-datepicker,.pointer{cursor: pointer !important;}

.block-title h2 {text-transform: capitalize;}

#chequeDate{position: relative;}
#chequePayeeName{position: relative;}
#chequeAmountFigures{position: relative;}
#chequeAmountWords{position: relative;}
.no-border{border: 0px !important;}




































@media screen and (max-width: 809px) {
    .middle-box {
        width: 35% !important;
    }
    .hearderInfo{
    	margin-left: 0%;
    	max-width: 80%;
    }
    .width-10{
    	width: 10%;
    }
    h1.hospitalName{
    	font-size: 21px;
    }
    p#currentTime{
    	font-size: 14px;
    }
}
@media screen and (max-width: 640px) {
	
	.dashBoardTab {
	    width: 49%;
	}
	p.tabName{
		font-size: 15px;
	}
	.hearderInfo {
	    display: inline-block;
	    width: 78%;
	    margin: 0 auto;
	    margin-left: 0%;
	}
	h1.hospitalName{
		font-size: 17px;
		max-width: 80%;
	}
	p#currentTime{
		font-size: 12px;
	}
}
@media screen and (max-width: 800px) {
	.dashBoardTab {
	    width: 49%;
	}
	p.tabName{
		font-size: 15px;
	}
}
@media screen and (max-width: 1280px) {
	p.tabName{
		font-size: 16px;
	}
	.hearderInfo {
	    display: inline-block;
	    width: 85%;
	    margin: 0 auto;
	    margin-left: 0%;
	}
	h1.hospitalName{
    	font-size: 26px;
    }
    #margBot{
    	margin-bottom: 10px;
    }
}
@media screen and (max-width: 487px) {
    .top-box {
        float:none;
		width:70% !important;
    }
    
    .dashBoardTab {
	    width: 49%;
	    min-height: 80px;
	    line-height: 80px;
	    padding: 0% 0;
	}
	p.tabName {
	    display: inline-block;
	    width: 83%;
	    font-size: 15px;
	    color: #000;
	    margin: 0;
	}
	.customise480{
		position: relative;
		top: 12px;
	}
	
}
@media print{
	#PrintDiv { display: block !important; }
}
@media (max-width: 992px){
	.slidebar_ul{
		display: inline-block;
	}
}
@media screen and (min-width:768px)
{
	#login-background
	{
		height: 400px;
	}
	#login-background>img
	{
		top: 0;
	}
	#login-container
	{
		margin-left: -240px;
		top: 186px;
		width: 480px;
	}
	#main-container
	{
		min-width: 768px;
	}
	#page-content
	{
		padding: 20px 20px 1px;
	}
	#page-content+footer,.block,.block.full,.breadcrumb-top,.header-section,.modal-body
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.block .block-content-full
	{
		margin: -20px -20px -1px;
	}
	.block.full .block-content-full
	{
		margin: -20px;
	}
	.breadcrumb-top,.content-header,.content-top
	{
		margin: -20px -20px 20px;
	}
	.breadcrumb-top+.content-header,.content-header+.breadcrumb-top
	{
		margin-top: -21px;
	}
	.block,.widget
	{
		margin-bottom: 20px;
	}
	.block-title,.block-top,.form-bordered
	{
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.form-bordered .form-group
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.form-horizontal.form-bordered .form-group
	{
		padding-left: 5px;
		padding-right: 5px;
	}
	.nav-tabs>li>a
	{
		margin-left: 3px;
		margin-right: 3px;
		padding-left: 15px;
		padding-right: 15px;
		border: 1px solid #ccc;
		linear-gradient(#ADADAD,#FFFFFF);
		background-image: linear-gradient(rgb(173, 173, 173), rgb(255, 255, 255));
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: initial;
	}
}
@media (min-width:992px)
{
	#sidebar
	{
		transition: opacity .5s linear,background-color .2s ease-out;
		webkit-transition: opacity .5s linear,background-color .2s ease-out;
	}
	#main-container,.header-fixed-bottom header,.header-fixed-top header
	{
		transition: none;
		webkit-transition: none;
	}
	#sidebar
	{
		filter: alpha(opacity=20);
		opacity: .2;
		width: 65px!important;
	}
	#main-container{
		margin-left: 200px !important;
	}
	.sidebar-brand i
	{
		display: none;
	}
	#sidebar:hover,.sidebar-full #sidebar
	{
		filter: alpha(opacity=100);
		opacity: 1;
		width: 200px!important;
	}
	#sidebar:hover .sidebar-brand i,.sidebar-full #sidebar .sidebar-brand i
	{
		display: inline-block;
	}
	#sidebar:hover+#main-container,.sidebar-full #main-container
	{
		margin-left: 200px;
	}
	.sidebar-open header.navbar-fixed-bottom,.sidebar-open header.navbar-fixed-top,header.navbar-fixed-bottom,header.navbar-fixed-top
	{
		left: 65px;
	}
	#sidebar:hover+#main-container header.navbar-fixed-bottom,#sidebar:hover+#main-container header.navbar-fixed-top,.sidebar-full header.navbar-fixed-bottom,.sidebar-full header.navbar-fixed-top
	{
		left: 200px;
	}
}
@media (min-width:1200px){
	.header-fixed-bottom .sidebar-content,.header-fixed-top .sidebar-content
	{
		padding-bottom: 0;
	}
	article p
	{
		font-size: 19px;
		line-height: 1.9;
	}
}
#modal-dialog-style-2 {
	width: 65%;
}
#modal-dialog-print{
	width: 35%;
}
/*Class to remove appended elements during auto complete*/
.ui-helper-hidden-accessible{display: none;}
.ui-autocomplete{
	max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;	
}

/*Class to remove append elenents during color picker*/
.colorpicker {
    display: none;
}
.pull-right a {
    color: #FFFFFF;
}
.pull-right {
    color: #FFFFFF;
}
.pull-left a {
    color: #FFFFFF;
}
.pull-left {
    color: #FFFFFF;
}
.list{
	color: rgb(0, 0, 0) !important;
    background: rgb(255, 255, 255) !important;
}
.tab-list-add{
	color: rgb(255, 255, 255) !important;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200) !important;
}
.tab-list-remove{
	color: rgb(0, 0, 0) !important;
    background: rgb(255, 255, 255) !important;
}
.tab-detail-add{
	color: rgb(255, 255, 255) !important;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200) !important;
}
.tab-detail-remove{
	color: rgb(0, 0, 0) !important;
    background: rgb(255, 255, 255) !important;
}