@charset "utf-8";
/* CSS Document */
html { 
  
}
.block{
    background: url(../images/log_in_bg.jpg) no-repeat center 0 fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;}
#logo{	width:140px; height:55px; background:#0b74cd;border-radius: 5px; display:none;}
#logo p{margin:0; line-height:55px; color:#fff; font-size:15px; text-align:center;}
#form-group-container{
    width:100%;
    padding: 10px 10px 20px;
    background:#FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
.form-group .input-group, .form-group .input-group .form-control {width:100% !important;}
.send_button{background:#0B74CD; padding: 10px 0px;
width: 21%;
color: #FFF;
border: medium none;
border-radius: 5px;

margin-left: 0%;}
.send_button:hover{background:#0ECECE;}
input:-webkit-autofill{background:#fff !important;}
.icon_container{ float: left; width: 5.9%; height: 34px; border: 1px solid #dae7e8; horizontal-align: middle;
    text-align: center; line-height: 28px;padding: 8px 0 0 0;}
footer{
bottom:0;
position:absolute;
width:100%;
}
#top{background:#0b74cd;color:#fff;padding:5px 0px 5px 0px;text-align:center;font-size:20px; width:100%; height:40px; margin-top:20px;border-top-left-radius: 10px;border-top-right-radius: 10px;font-weight: bold;font-variant: small-caps;}
.remember-checked{
position: relative;
padding: 6px 0px 0px;
top:10px;
margin-top:-10px;
z-index: 1;}
label{
	font-weight: 600;
	float: left;
	margin-left: 32% !important;
	position: absolute;
	cursor:pointer;
}
input[type="checkbox"]{
position: absolute;
margin-top: 0px !important;
margin-left: 27%;}

.remember-checked >a{
	position: absolute;
    float: left;
    margin-left: 65% !important;
}
.clear{
	clear: both;
}
.send_email{
background:#0B74CD; padding: 10px 0px;
width: 21%;
color: #FFF;
border: medium none;
border-radius: 5px;
margin-left: 79%;
}
#bottom{
	position:relative;
}
#back{
	position: absolute;
    top: 10px;
    left: 60%;
}

#pop_up_close{
	width: 21px;
	font-size: 17px;
    margin: 0px;
    padding: 0 0 3px;
}
