<!-- <!-- javascript code used only in this page for validation-->
<script src="script/admin/access_management.js"></script>
<style>

</style>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Access Management</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtStaffId">Staff Id</label>                                
                        <div class="forty_aligned" style="margin-right:1%;">
                            <div class="">
                                <input type="text" id="txtStaffId" name="txtStaffId" class="form-control" maxlength="9">
								<i id="iconStaffSearch" class="fa fa-search"></i>
								<span id="txtStaffIdnError" class="error">
                            </div>
                        </div>
						<input type="button" value="Select" class="opd_btn"
                        id="btnStaffSelect" style="margin: 0;width: 14%;">
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned hf_align_center">
                    
                </div>
            </div><!-- end row -->

            <div class="row"><!-- IInd row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtStaffName">Staff Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtStaffName" name="txtStaffName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtStaffType">Staff Type</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtStaffType" name="txtStaffType"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->
            <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtStaffDes">Staff Designation</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtStaffDes" name="txtStaffDes" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtJoiningDate">Joining Date</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtJoiningDate" name="txtJoiningDate"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->
			<div class="row"><!-- IVth row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtStaffGender">Gender</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtStaffGender" name="txtStaffGender" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtStaffMob">Mobile</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtStaffMob" name="txtStaffMob"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->
        </div>
        <!-- Form Buttons -->
        
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
	<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="sidebar-content lineHtml">
			</div>
		</div>
		<form>
			
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div>
					<input type="button" value="Save" class="opd_reg btn_save" 
					id="btnStaffSave">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnStaffReset">
				</div>
			</div>
		</form>
		<!-- end table  -->
</div>
<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myRegModal" role="dialog">
	<a href="#myRegModal" id="regModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-confirm center" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="regModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="printModalBody">
				<div class="">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Patient Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Patient Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientName" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Visit Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblOPDRegistrationId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Age :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAge" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">F/H Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblHusbandName" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Gender :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblGender" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<input type="button" value="Print" id="btnPrint" class="opd_reg">
					</div>
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen; height: 15%;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="mySearchModal" role="dialog">
	<a href="#mySearchModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="searchModalLabel"></h4>
			</div>
			<div class="modal-body" id="searchModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->
<style type="text/css">
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 50%;} 
.control-label{margin-top: 10px;}
input#btnStaffSelect { margin-top: 4%;}
@media screen and (max-width: 991px) {
	.sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
	.forty_aligned{margin: 6px 0 0 10px;}
	input#btnStaffSelect { margin-top: 5%;}    
}  
@media screen and (max-width: 480px) {
	.half_aligned { width:100%; float: none;}
} 

.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

#print{
    float: right;
    margin-right: 2%;
}
.fa-search{
	float: right;
    margin-top: -24px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.modal-view {
    width: initial !important;
}
.center {
	margin: 0;
    display: table;
    position: initial;
}
.search-modal-header {
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
.lineHtml{
 min-width:50%;
 width:100%;
 margin:0 auto;
 color: #100707;
 background: rgb(219, 234, 231);
}
.lineHtml ul{
	list-style:none;
	padding-top:1%;
	padding-bottom:1%;
}

.menuText{
	padding-left:1%;
	display:inline-block;
	font-weight: bold;
    text-transform: capitalize;
}
.lineHtml ul {
    list-style: none outside none;
}

.lineHtml li.parent > a:before {
    background-image: url("./images/plus_minus_icons.png");
    background-position: 25px center;
    content: "";
    display: inline-block;
    height: 20px;
    left: -25px;
    position: relative;
    top: -4px;
    vertical-align: middle;
    width: 23px;
}
.lineHtml ul li.active > a:before {
    background-position: 0 center;
}
.lineHtml ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.lineHtml ul li ul li {
    position: relative;
}
.lineHtml ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}
#mySearchModal {
    width: 87%;
    margin-left: 13%;
    left: initial !important;.modal-view
}
.active li.sidebar-nav-submenu.parent.ui-sortable-handle {
    background-color: pink;
    border: 1px solid;
    margin-bottom: 2px;
    width: 90%;
}
.active li.sidebar-nav-submenu.parent.ui-sortable-handle.active li.sidebar-nav-menu.ui-sortable-handle {
    background-color: orange;
    border: 1px solid;
    width: 90%;
    margin-bottom: 2px;
}
li.sidebar-nav-submenu.parent.ui-sortable-handle {
    background-color: yellow;
    border: 1px solid;
    width: 90%;
    margin-bottom: 2px;
}
.active li.sidebar-nav-menu.ui-sortable-handle {
    background-color: pink;
    border: 1px solid;
    margin-bottom: 2px;
    width: 90%;
}
li.sidebar-nav-menu.ui-sortable-handle {
    background-color: yellow;
    border: 1px solid;
    margin-bottom: 2px;
    width: 90%;
}
/*#sortable-list li   { 
    color: #000;
    cursor: move;
    width: 200px;
    background: #ddd;
    border: 1px solid #999; }
#message-box        { background:#fffea1; border:2px solid #fc0; padding:4px 8px; margin:0 0 14px 0; width:500px; }*/
</style>
