<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/activate_appointment.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>Activate Appoiontment</strong></h2>
		<input type="hidden" id="hdn"  value="" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchPatient">
		<!-- Wizard with Validation Content -->
		<form id="viewPatientForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFirstName" name="txtFirstName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtLastName">Last Name </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtLastName" name="register_lastname"
									class="form-control">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPatientId" name="txtPatientId" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtAppointmentId">Appointment Id</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtAppointmentId" name="txtAppointmentId" class="form-control">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->

					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFromDate">From Date</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtToDate">To Date</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row --> 
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblActivateAppointment" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="20%">Patient Id</th>
							<th class="text-center" width="20%">Name</th>
							<th class="text-center" width="20%">Consultant</th>
							<th class="text-center" width="15%">From Date</th>
							<th class="text-center" width="15%">To Date</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
</div>

<!-- End modal -->
<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;left: 2%;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
</style>
 



