<link rel="stylesheet" href="css/admin/department.css">
<link rel="stylesheet" href="css/admin/ward.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/add_entitlement.js"></script> 
<div class="block">
    <div class="block-title" >
        <h2><strong>Add Entitlements</strong></h2>
    </div>
	<div id="wardList">
		<h2 id="tabWardList"><i class="fa fa-bars fa-fw"></i>Entitlements list</h2>
		<h2 id="tabAddWard" style="background:#fff; color:#000;">+add Entitlements</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<table id="tblAddEntitlements" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Staff Type</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Leave Type</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Leave Period</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Entitlements</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
    <div class="row"  id="advanced-wizard" >
        <div class="col-md-12"> 
            <!-- end table  --> 
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept" class="clearForm">
                        <div id="popUPForm">
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selStaffType">Staff Type<span class="text-danger">*</span></label>                                
                                        <div class="sixty_aligned">
                                            <div class="">
                                               <select class="form-control" name="selStaffType" id="selStaffType"><option value="">--Select--</option></select>
                                                <span id="selStaffTypeError" class="error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  form group-->
                                </div>
                                
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selLeaveType">Leave Type<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <select class="form-control" name="selLeaveType" id="selLeaveType"><option value="">--Select--</option></select>
                                                <span id="selLeaveTypeError" class="error"></span>
                                            </div>
                                            
                                        </div>
                                    </div><!--  form group-->
                                </div>              
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selLeavePeriod">Leave Period<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <select class="form-control" name="selLeavePeriod" id="selLeavePeriod"><option value="">--Select--</option></select>
                                                <span id="selLeavePeriodError" class="error"></span>
                                            </div>
                                            
                                        </div>
                                    </div><!--  form group-->
                                </div>
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtEntitlement">Entitlements<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="number" class="form-control datepicker" id="txtEntitlement" name="txtEntitlement">
                                                <span id="txtEntitlementError" class="error"></span>
                                            </div>
                                            
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>                            
                        </div>
                        <div class="btnContainer">
                            <input type="button" value="Save" class="btn_save" id="btnSaveEntitlement" name="submit" />
                            <input type="button" value="Reset" class="btn_reset" id="btnReset" name="" />
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<style type="text/css">
    #department_list{background: #fff;}
</style>