<link rel="stylesheet" href="css/admin/add_treatment.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  	
<script src="script/admin/add_treatment.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Add Treatment</strong></h2>
	</div>
	<div class="row">
	    <div class="half_aligned">
	        <div class="form-group">
	            <label class="forty_aligned control-label" for="txtIPDId">IPD Id<span class="text-danger">*</span>
	            </label>             
	            <div class="sixty_aligned">
	                <div class="">
	                    <input type="text" id="txtIPDId" name="txtIPDId" class="form-control">
	                    <i id="searchPatientIcon" class="fa fa-search" style="position: relative;"></i>
	                    <span class="error" id="txtIPDError"></span>
	                </div>
	            </div>
	        </div><!--  form group-->
	    </div>
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label" for="txtDate">Date<span class="text-danger">*</span>
                </label>             
                <div class="sixty_aligned">
                    <div class="">
                        <input type="text" id="txtDate" name="txtDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd">
                        <span class="error" id="txtDateError"></span>
                    </div>
                </div>
            </div><!--  form group-->
        </div>                             
    </div>
    <div class="row">
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label" for="selShift">Shift<span class="text-danger">*</span></label>
                <div class="sixty_aligned">
                    <div class="">
                        <select id="selShift" class="form-control val_wrad" size="1">
                            <option value="-1">--Select--</option>
                            <option value="1">Day Shift</option>
                            <option value="0">Night Shift</option>
                        </select>
                        <span id="selShiftError" class="error text-danger"></span>
                    </div>
                </div>
            </div>
            <!--  form group-->
        </div>                               
    </div>
    <div class="form-group form-actions" style="display: inline-block; width: 100%;">
		<div>
			<input type="button" value="Add Treatment" class="btn_save" id="btnAddTreatment">
		</div>
	</div>
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive">
            <table id="tblAddTreatments" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="max-width:10%; width:10% !important;">S.No.</th>
                        <th class="text-center" style="max-width:80%; width:80% !important;">Treatments</th>
                        <th class="text-center" width="10%"></th>
                    </tr>
                </thead>
            </table>
			<input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
    <!-- end table  -->
    <div class="form-group form-actions" style="display: inline-block; width: 100%;">
		<div style="text-align: center;">
			<input type="button" value="Save" class="btn_save" id="btnSave">
			<input type="button" value="Reset" class="btn_reset" id="btnResetTreatment">
		</div>
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myAddTreatmentModal" role="dialog">
    <input type="hidden" id="hdnAddTreatment" value="">
    <a href="#myAddTreatmentModal" id="AddTreatmentModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" style="width:800px;">         
      <!-- Modal content-->
        <div class="modal-content modal-view" style="width:100% !important;">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="AddTreatmentModalLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body" id="AddTreatmentModalBody">              
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myBedTransferModal" role="dialog">
    <input type="hidden" id="hdnIPD" value="">
	<a href="#myBedTransferModal" id="BedTransferModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="BedTransferModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="BedTransferModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<style>
#myBedTransferModal{
    width: 87%;
    margin-left: 13%;
}
</style>