<!-- javascript code used only in this page for validation-->
<script src="script/admin/admin_leave_list.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
	 <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Admin Leave List</strong></h2>
    </div>
	<input type="hidden" id="thing" name="thing" value="" />
    <!-- END Wizard with Validation Title -->
	<div id="searchLeaveList">
		<!-- Wizard with Validation Content -->
		<form id="searchLeaveListForm" method="post" class="form-horizontal form-bordered searchLeaveList">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row">
					<!-- IIIrd row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFromDate">From Date<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFromDate" name="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd" autocomplete="off"/>
									<span id="txtFromDateError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtToDate">To Date<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtToDate" name="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd" autocomplete="off"/>
									<span id="txtToDateError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selStaffType">Staff Type<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selStaffType" name="selStaffType" class="form-control" 
										size="1" >
										<option value="">--Select--</option>
									</select>
									<span id="selStaffTypeError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
				</div>
				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned" style="width: 85%;">
						<div class="form-group">
							<label class="forty_aligned control-label" style ="width: 22%;" for="leaveList_chkSearchFilter">Show Leave with Status:</label>
							<div class="checkbox_group label_first" id="leaveList_chkSearchFilter_checkboxgroup" style="margin-top: 5px;">
							<input id="leaveList_chkSearchFilter_checkboxgroup_allcheck" type="checkbox" checked="checked">
								<span for="leaveList_chkSearchFilter_checkboxgroup_allcheck">All</span>&nbsp;
								<input name="leaveList[chkSearchFilter][]" type="checkbox" value="-1" id="leaveList0" checked="checked">
								<span for="leaveList_chkSearchFilter_-1">Rejected</span>&nbsp;
								<input name="leaveList[chkSearchFilter][]" type="checkbox" value="0" id="leaveList1" checked="checked">
								<span for="leaveList_chkSearchFilter_0">Cancelled</span>&nbsp;
								<input name="leaveList[chkSearchFilter][]" type="checkbox" value="1" id="leaveList2" checked="checked">
								<span for="leaveList_chkSearchFilter_1">Pending Approval</span>&nbsp;
								<input name="leaveList[chkSearchFilter][]" type="checkbox" value="2" id="leaveList3" checked="checked">
								<span for="leaveList_chkSearchFilter_2">Scheduled</span>&nbsp;
								<input name="leaveList[chkSearchFilter][]" type="checkbox" value="3" id="leaveList4" checked="checked">
								<span for="leaveList_chkSearchFilter_3">Taken</span>&nbsp;
							</div>	
							
						</div>
					</div>
				</div><!-- end row -->            
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:5%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblSearchLeaveList" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="10%">Date</th>
							<th class="text-center" width="15%">Leave Type</th>
							<!-- <th class="text-center" width="14%">Leave Balance</th> -->
							<th class="text-center" width="13%">No of Days</th>
							<th class="text-center" width="13%">Status</th>
							<th class="text-center" width="15%">Comments</th>
							<th class="text-center" width="20%">Action</th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
		<!-- Form Buttons -->
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" >
				<input type="button" value="Save" class="opd_reg btn_search" 
				id="btnSave">
			</div>
		</div>
	</div>
</div>

<!-- End modal -->
<style type="text/css">
   input[type="checkbox"]{margin: 5px 14px 0 9px;};
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
</style>