<link rel="stylesheet" href="css/admin/allergies_categories.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/allergies_categories.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Allergy Categories</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divAllergyListist">
                <h2 id="tabAllergyLst"><i class="fa fa-bars fa-fw"></i>Allergy Category List</h2>
                <h2 id="tabAllergyCategory" style="background:#fff; color:#000;">+Add Allergy category</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="allergyCategoryDataTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:40%; width:40% !important;">Allergies Categories</th>
                                <th class="text-center" style="max-width:45%; width:45% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="formAllergyCategory">
                <div class="col-md-12">
                    <form method="post" id="form_submit_diseases">
					<div id="allergyCategorypopUPForm">
						<div  id="uploadFile">
							<div class = "row">							
								<div class="half_aligned">
									<div class="form-group">
										<div class="control-group">
												<label class="forty_aligned  control-label">CSV/XLS File:</label>
											 <div class="control-label sixty_aligned">
												<input type="file" name="file" id="file" class="input-large" style="padding:0;">
												<span id="txtFileError" class="error"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="half_aligned" style="padding:0;">
									<div class="form-group">
										<div class="control-group">
											 <div class="forty_aligned">
												<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class = "row">
								<div class="text-center">
									<h3>- OR -</h3>
								</div>
							</div>
						</div>
						<div class = "row">
							<div class="half_aligned">
								<div class="form-group" style="height: 7%;">
									<label class="forty_aligned control-label" for="txtCategories"> Category<span class="text-danger">*</span></label>
									<div class="input-group sixty_aligned">
										<input type="text" id="txtCategories" name="txtCategories" class="form-control" maxlength="255">
										<span id="txtCategoryError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="half_aligned">    
								<div class="form-group">
									<label class="control-label forty_aligned" for="txtDesc">Description</label>
									<div class="input-group sixty_aligned">
									   
										<textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
										<span id="txtDescriptionError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div> 
						</div>
						<input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="form-button btn_save" id="btnAddAllergyCategory" name="submit" />
						<input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->