<!-- <link rel="stylesheet" href="css/admin/allergy_request.css"> -->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/allergy_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="allergyRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row" id="divDropDownAllergyRequest"><!-- Iind row -->
				<div class="" style="width:90%; margin: 0 auto; margin-top:25px;">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selAllergyCategory" id="alergyCategoryLbl">Allergy Category<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selAllergyCategory" name="selAllergyCategory" class="form-control" size="1"></select>
									<span class="error" id="selAllergyCategoryError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selAllergy" id="alergyLbl">Allergy<span class="text-danger">*</span></label>
							<div class="sixty_aligned"  style="position:relative;">
								<select id="selAllergy" name="selAllergy" class="form-control">
									<option value='-1'>--Select--</option>
								</select>
								   <span class="error" id="selAllergyError"></span>
							</div>
						</div>
					</div> 
					<div class="tenth_aligned">
						<div class="form-group">
							<input type="button" id ="addAllergyRequest" class= "addValues" value="+Add">
							<span class='error' id='noDataError' style="width: 134px; float: right; margin-top: 11px;"></span>
						</div>
					</div>
				</div>
			</div><!-- end row -->   
			<div class="row">
				<span id="addStatus" class="error"></span>
				<span id="addedStatus" class="error"></span>
			</div>
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div> -->
					<table id="allergyRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="45%">Allergy Name</th>
								<th class="text-center" width="35%">Code</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th class="text-center" width="45%"></th>	
								<th class="text-center" width="35%"></th>				
								<th class="text-center" width="10%"></th>
							</tr>
						</tfoot>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="row" align="center">
                <input type="button" value="Save Allergy Test" class="opd_reg btn_save" id="btnSaveAllergyTestRequest">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetLabTestRequest">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myTriageModal" role="dialog">
	<a href="#myTriageModal" id="triageModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="triageModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="triageModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldAllergyTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldAllergyTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldAllergyTestModalBody">	
			<table id="oldAllergyRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
				<thead>
					<tr>
						<th class="text-center" width="40%">Allergy Request Test</th>
						<th class="text-center" width="30%">Request date</th>
						<th class="text-center" width="30%">code </th>
					</tr>
				</thead>
			</table>			
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<style type="text/css">
	.addValues{
		padding: 5px 10px;
	    background: #0C71C8;
	    border: none;
	    border-radius: 3px;
	    color: #fff;
	    margin-top: 3px;
	}
	#addStatus{
		text-align: center;
		color: #73AD21;
    	font-size: 14px;
	}
	#addedStatus{
		text-align: center;
		font-size: 14px;
	}
	#newButtonColor{color: #000 !important;}
</style>