<link rel="stylesheet" href="css/admin/allergies.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/allergies.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Allergies</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="allergiesList">
                <h2 id="tabAllergies"><i class="fa fa-bars fa-fw"></i>allergies list</h2>
                <h2 id="tabAddAllergies" style="background:#fff; color:#000;">+add allergy</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" >
					<label for="inactive-checkbox-tick">Inactive</label>
							<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="allergiesDataTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:15%; width:15% !important;">Code</th>
                                <th class="text-center" style="max-width:35%; width:35% !important;">Allergies</th>
								<th class="text-center" style="max-width:15%; width:15% !important;">Category</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_diseases">
                <div class="col-md-12">
                    <form method="post" id="form_submit_diseases">
					<div id="allergiespopUPForm">
						<div class= "row">
							<div class="half_aligned">  
								<div class="form-group" style="height: 7%;">
									<label class="forty_aligned control-label" for="txtCode">Code<span class="text-danger">*</span></label>
									<div class="sixty_aligned control-label">
										<input type="text" id="txtCode" name="txtCode" class="form-control" maxlength="10">
										<span id="txtCodeError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>    
							<div class="half_aligned">      
								<div class="form-group" style="height: 7%;">
									<label class="forty_aligned control-label" for="txtName">Name<span class="text-danger">*</span></label>
									<div class="sixty_aligned control-label">
										<input type="text" id="txtName" name="txtName" class="form-control" maxlength="255">
										<span id="txtNameError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div> 
						 </div> 
						<div class= "row">
							<div class="half_aligned">          
								<div class="form-group">
									<label class="control-label forty_aligned" for="txtCategory">Category<span class="text-danger">*</span></label>
									<div class="sixty_aligned control-label">
										<select id="txtCategory" name="txtCategory" class="form-control txtCategory" size="1"  >
										</select>
										<span id="txtCategoryError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>						
							</div>
						 </div> 
						<input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" />
					</div>
					<div style="margin: 0 auto; display: table;">
                        <input type="button" value="Save" class="form-button btn_save" id="btnAllergy" name="submit" />
						<input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
					 </div> 
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->