<link rel="stylesheet" href="css/jquery-ui.min.css" />
<script src="script/jquery-ui.min.js"></script>
<link rel="stylesheet" href="css/admin/ledger_finance.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/asset_register.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Asset Register</strong></h2>
	</div>
	<div id="ledgerList">
		<h2 id="tabledgerList"><i class="fa fa-bars fa-fw"></i>Asset Register list</h2>
		<h2 id="tabAddledger" style="background:#fff; color:#000;">+add Asset Register</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="assetRegisterTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" width="15%">Asset No.</th>
						<th class="text-center td_cursor" width="15%">Asset Class</th>
						<th class="text-center td_cursor" width="15%">Asset Sub Class</th>
						<th class="text-center td_cursor" width="15%">Asset Location</th>
						<th class="text-center td_cursor" width="15%">Manufacturer</th>
						<th class="text-center td_cursor" width="15%">Description</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		 <div class="row text-center showCustomerTabs">
	        <ul class="customerTabs">
	            <li>
	                <input type="button" class="btn customerBtn" aria-hidden="true" value="Main" attr="mainScreen">
	            </li>
	            <li>
	                <input type="button" class="btn customerBtn" aria-hidden="true" value="More Details" attr="moreDetails">
	            </li>
	            <li>
	                <input type="button" class="btn customerBtn" aria-hidden="true" value="Purchase & Insurance Info" attr="purchaseInfo">
	            </li>
	            <li>
	                <input type="button" class="btn customerBtn" aria-hidden="true" value="Check In/Out History" attr="checkInOutHistory">
	            </li>
	            <li>
	                <input type="button" class="btn customerBtn" aria-hidden="true" value="Attachments" attr="attachments">
	            </li>   
	            <li>
	                <input type="button" class="btn customerBtn" aria-hidden="true" value="Depreciation Schedule" attr="depreciationSchedule">
	            </li>                
	        </ul>
	    </div>
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div  class="tabScreen" id="mainScreen">
				<div class="row"><!-- Ist row --> 
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtAssetNo">Asset No.<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtAssetNo" name="txtStaffId" class="form-control">
	                                <span id="txtAssetNoError" class="error"></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtAssetBarcode">Asset Barcode<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtAssetBarcode" name="txtStaffName" class="form-control">
	                                <span id="txtAssetBarcodeError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>  
				<div class="row"><!-- Ist row --> 
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtAssetDescription">Asset Description<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <textarea id="txtAssetDescription" name="txtStaffId" class="form-control"></textarea> 
	                                <span id="txtAssetDescriptionError" class="error"></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtAssetAdvanceDescription">Asset Advance Description</label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <textarea id="txtAssetAdvanceDescription" name="txtStaffId" class="form-control"></textarea>
	                                <span id="txtAssetAdvanceDescriptionError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					</div>
				</div> 
				<div class="row"><!-- Ist row --> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selAssetClass">Asset Class<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<select type="text" id="selAssetClass" class="form-control">
										<option value='-1'>-- Select --</option>
									</select>
									<span id="selAssetClassError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selAssetSubClass">Asset Sub Class
							</label>                                
							<div class="sixty_aligned">
								<div class="">
									<select type="text" id="selAssetSubClass" class="form-control">
										<option value='-1'>-- Select --</option>
									</select>
									<span id="selAssetSubClassError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>				
				</div> 
				<div class="row"><!-- Ist row --> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selAssetLocation">Asset Location<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<select type="text" id="selAssetLocation" class="form-control">
										<option value='-1'>-- Select --</option>
									</select>
									<span id="selAssetLocationError" class="error"></span>
								</div>
							</div>
						</div>
					</div> 
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtManufacturer">Manufacturer<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtManufacturer" name="txtStaffName" class="form-control">
	                                <span id="txtManufacturerError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					</div>				
				</div> 
				<div class="row"><!-- Ist row -->  
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtBrandName">Brand Name<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtBrandName" name="txtStaffName" class="form-control">
	                                <span id="txtBrandNameError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					</div>
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtModal">Modal<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtModal" name="txtStaffName" class="form-control">
	                                <span id="txtModalError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					</div>				
				</div>
			</div>
			<div  class="tabScreen" id="moreDetails">
				<div class="row"><!-- Ist row -->  
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtSerialNo">Serial No</label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtSerialNo" name="txtStaffName" class="form-control">
	                                <span id="txtSerialNoError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtLicenceNo">Licence No</label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtLicenceNo" name="txtStaffName" class="form-control">
	                                <span id="txtLicenceNoError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtAssignTo">Assign To</label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtAssignTo" name="txtStaffName" class="form-control">
	                                <span id="txtAssignToError" class="error"></span>
	                            </div>
	                        </div>
						</div>
						<div class="form-group">
							<label class="forty_aligned control-label" for="selRoom">Room<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<select type="text" id="selRoom" class="form-control">
										<option value='-1'>-- Select --</option>
									</select>
									<span id="selRoomError" class="error"></span>
								</div>
							</div>
						</div>
						<div id="chkUpdate">
							<div class="form-group" style="display: inline-block;">
							<label class="control-label" style="width: 100px;" for="chkDisposed">Disposed</label> 
								<input type="checkbox" class="chk-disposed" id="chkDisposed"  style="margin-top: 8px;">
							</div>	
							<div class="form-group"  style="display: inline-block; margin-left: 50px;">
							<label class="control-label" style="width: 100px;" for="chkLost">Lost</label>
								<input type="checkbox" class="chk-lost" id="chkLost" style="margin-top: 8px;">
							</div>
						</div>			
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="val_Patient Identity" >	</label>
							<div class="sixty_aligned">
								<div class="" >
									<div id="image-box" style="width: 200px; height:200px; border: 1px solid #C0C0C0;background-position: center; background-size: 100% 100%;display: inline-block; cursor: pointer;">
										<img id="user_reg_image" src="./img/default.jpg" alt="Default" style="position: relative;height: 198px;">
										<div id="imagetext" style="text-align: center;POSITION: relative; top: -12%;" >
											Click to Upload Image
										</div>                          
									</div>  
									<input type="file" id="upload" name="upload" class="hidden" accept="image/*"> 
								</div>
								<span id="errorimage" class="error"></span>
							</div>
						</div>
					</div>			
				</div>			
			</div>
			<div  class="tabScreen" id="purchaseInfo"> 
				<div class="row"><!-- Ist row -->  
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtPurchaseDate">Purchase Date<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtPurchaseDate" style=" cursor: pointer;" name="txtPurchaseDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="" >
	                                <span id="txtPurchaseDateError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					</div>
					<div class="half_aligned">
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtPurchaseValue">Purchase Value<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtPurchaseValue" name="txtStaffName" class="form-control">
	                                <span id="txtPurchaseValueError" class="error"></span>
	                            </div>
	                        </div>
						</div>
					</div>				
				</div>

			</div>
			<div  class="tabScreen" id="checkOutHistory">
				<div style="margin-top:1%;" class="row">
				<div class="table-responsive">
					<table id="tblCheckInCheckOut" class="table table-vcenter table-responsive table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center td_cursor" width="25%">Date</th>
								<th class="text-center td_cursor" width="25%">Time</th>
								<th class="text-center td_cursor" width="25%">Event</th>
								<th class="text-center td_cursor" width="25%">Staff</th>
							</tr>
						</thead>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
			</div>			
			<div  class="tabScreen" id="attachment">
				
			</div>			
			<div  class="tabScreen" id="depreciation">
				
			</div>
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none; margin: 0 auto;
    			display: table;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions showBtn" align="center">
			<input type="button" value="Save" class="add_dept btn_save" id="btnSave">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
			<input type="button" value="Print" class="add_dept btn_print" id="btnPrint">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>
<style>
.add_dept{
	position: relative;
    left: 0%;
}
</style>







	