<link rel="stylesheet" href="css/admin/ledger_finance.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/asset__check_out.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Asset Check Out</strong></h2>
	</div>
	<div id="ledgerList">
		<h2 id="tabledgerList"><i class="fa fa-bars fa-fw"></i>Asset Check Out list</h2>
		<h2 id="tabAddledger" style="background:#fff; color:#000;">+add Asset Check Out</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="assetCheckOutTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" width="25%">Staff Id</th>
						<th class="text-center td_cursor" width="25%">Staff Name</th>
						<th class="text-center td_cursor" width="25%">Room</th>
						<th class="text-center td_cursor" width="25%">Location</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step clearForm">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<fieldset class="fieldset-border" id="fieldsetBorder">
					    <legend class="fieldset-border">Staff Details</legend>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtStaffId">Staff Id<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtStaffId" name="txtStaffId" class="form-control">
                                    <span id="txtStaffIdError" class="error"></span>
                                    <i id="iconStaffSearch" class="fa fa-search" style="position: relative;"></i>
                                </div>
                            </div>
							<label class="forty_aligned control-label" for="txtStaffName">Staff Name</label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtStaffName" name="txtStaffName" class="form-control" disabled>
                                    <span id="txtStaffNameError" class="error"></span>
                                </div>
                            </div>
						</div>
					</fieldset>
				</div>
			</div>  
			<div class="form-group form-actions">
				<input type="button" value="+Add Asset" class="add_dept btn_save" id="btnAddAsset">
			</div>
			<div style="margin-top:1%;" class="row">
				<div class="table-responsive">
					<table id="addAssetCheckOutTable" class="table table-vcenter table-responsive table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center td_cursor" width="40%">Asset No.</th>
								<th class="text-center td_cursor" width="50%">Asset Barcode</th>
								<th class="text-center td_cursor" width="10%"></th>
							</tr>
						</thead>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSetRoom">Set Room to<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select type="text" id="txtSetRoom" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="txtSetRoomError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSetLocation">Set Location to<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select type="text" id="txtSetLocation" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="txtSetLocationError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions" align="center">
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>
<div class="modal fade in" id="myViewStaffModal" role="dialog" aria-hidden="false">
    <a href="#myViewStaffModal" id="staffModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="staffModelLabel">Staff Details</h4>
            </div>
            <div class="modal-body" id="viewStaffModalBody">               
            </div>  
        </div><!--End modal-view -->            
    </div>
</div>
<div class="modal fade in" id="myAssetCheckOutModal" role="dialog" aria-hidden="false">
    <a href="#myAssetCheckOutModal" id="assetCheckOutModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="assetCheckOutLabel">Asset Check Out</h4>
            </div>
            <div class="modal-body" id="viewStaffModalBody">  
            	<form  class="eventInsForm"  action="#" method="post" id="mainScreen">
					<div class="row"><!-- Ist row --> 
						<div class="half_aligned">
						    <div class="form-group">
								<label class="forty_aligned control-label" for="txtAssetNo">Asset No.</label>
		                        <div class="sixty_aligned">
		                            <div class="">
		                                <input type="text" id="txtAssetNo" name="txtStaffId" class="form-control">
		                                <span id="txtAssetNoError" class="error"></span>
		                            </div>
		                        </div>
		                    </div>
		                </div>
						<div class="half_aligned">
						    <div class="form-group">
								<label class="forty_aligned control-label" for="txtAssetBarcode">Asset Barcode</label>
		                        <div class="sixty_aligned">
		                            <div class="">
		                                <input type="text" id="txtAssetBarcode" name="txtStaffName" class="form-control">
		                                <span id="txtAssetBarcodeError" class="error"></span>
		                            </div>
		                        </div>
							</div>
						</div>
					</div>  
					<div class="row"><!-- Ist row --> 
						<div class="half_aligned">
						    <div class="form-group">
								<label class="forty_aligned control-label" for="txtAssetDescription">Asset Description</label>
		                        <div class="sixty_aligned">
		                            <div class="">
		                                <textarea id="txtAssetDescription" name="txtStaffId" class="form-control"></textarea> 
		                                <span id="txtAssetDescriptionError" class="error"></span>
		                            </div>
		                        </div>
		                    </div>
		                </div>
						<div class="half_aligned">
						    <div class="form-group">
								<label class="forty_aligned control-label" for="txtAssetAdvanceDescription">Asset Advance Description</label>
		                        <div class="sixty_aligned">
		                            <div class="">
		                                <textarea id="txtAssetAdvanceDescription" name="txtStaffId" class="form-control"></textarea>
		                                <span id="txtAssetAdvanceDescriptionError" class="error"></span>
		                            </div>
		                        </div>
							</div>
						</div>
					</div> 
					<div class="row"><!-- Ist row --> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selAssetClass">Asset Class
								</label>
								<div class="sixty_aligned">
									<div class="">
										<select type="text" id="selAssetClass" class="form-control">
											<option value='-1'>-- Select --</option>
										</select>
										<span id="selAssetClassError" class="error"></span>
									</div>
								</div>
							</div>
						</div>   
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selAssetSubClass">Asset Sub Class
								</label>                                
								<div class="sixty_aligned">
									<div class="">
										<select type="text" id="selAssetSubClass" class="form-control">
											<option value='-1'>-- Select --</option>
										</select>
										<span id="selAssetSubClassError" class="error"></span>
									</div>
								</div>
							</div><!--  form group-->
						</div>				
					</div> 
					<div class="row"><!-- Ist row --> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selAssetLocation">Asset Location
								</label>
								<div class="sixty_aligned">
									<div class="">
										<select type="text" id="selAssetLocation" class="form-control">
											<option value='-1'>-- Select --</option>
										</select>
										<span id="selAssetLocationError" class="error"></span>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
						    <div class="form-group">
								<label class="forty_aligned control-label" for="txtManufacturer">Manufacturer</label>
		                        <div class="sixty_aligned">
		                            <div class="">
		                                <input type="text" id="txtManufacturer" name="txtStaffName" class="form-control">
		                                <span id="txtManufacturerError" class="error"></span>
		                            </div>
		                        </div>
							</div>
						</div>				
					</div> 
					<div class="row"><!-- Ist row -->  
						<div class="half_aligned">
						    <div class="form-group">
								<label class="forty_aligned control-label" for="txtBrandName">Brand Name</label>
		                        <div class="sixty_aligned">
		                            <div class="">
		                                <input type="text" id="txtBrandName" name="txtStaffName" class="form-control">
		                                <span id="txtBrandNameError" class="error"></span>
		                            </div>
		                        </div>
							</div>
						</div>
						<div class="half_aligned">
						    <div class="form-group">
								<label class="forty_aligned control-label" for="txtModal">Modal</label>
		                        <div class="sixty_aligned">
		                            <div class="">
		                                <input type="text" id="txtModal" name="txtStaffName" class="form-control">
		                                <span id="txtModalError" class="error"></span>
		                            </div>
		                        </div>
							</div>
						</div>				
					</div>
					<div class="row" align="center"><input type="button" value="Apply" class="add_dept btn_apply" id="btnApply"></div>
				</form> 
				<div style="margin-top:1%;" class="row">
					<div class="table-responsive">
						<table id="addPopUpAssetCheckOutTable" class="table table-vcenter table-responsive table-condensed table-bordered">
							<thead>
								<tr>
									<th class="text-center td_cursor" width="10%"></th>
									<th class="text-center td_cursor" width="40%">Asset No.</th>
									<th class="text-center td_cursor" width="50%">Asset Barcode</th>
								</tr>
							</thead>
						</table>
						<input id="selectedRow" type="hidden" value="0" />
					</div>
				</div>   
				<div class="row" align="center">
					<input type="button" value="Add Asset Check In" class="add_dept btn_addAseet" id="btnAddAssetCheckOut"></div>        
            </div>         
            </div>  
        </div><!--End modal-view -->            
    </div>
</div>
<style>
.add_dept{
	position: relative;
    left: 0%;
}
#iconStaffSearch{
	position: absolute !important;
	left: 46%;
    margin-top: -3%;
    cursor: pointer;
}
#myViewStaffModal #iconEditStaff,#myViewStaffModal .deleteStaffDetails,#myViewStaffModal .block-title,#myViewStaffModal #viewStaffForm{
	display:none;
}
#myViewStaffModal .block{
	border: 0px; 
    margin: 0px; 
    padding: 0px;
}
#myViewStaffModal{
	margin-left: 13%;
    width: 87%;
}
#myAssetCheckOutModal{
	width: 87%;
    margin-left: 13%;
}
</style>







	