<link rel="stylesheet" href="css/admin/asset_class.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/asset_class.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Asset Class</strong></h2>
	</div>
	<div id="assetClassList">
		<h2 id="tabAssetClassList"><i class="fa fa-bars fa-fw"></i>Asset Class list</h2>
		<h2 id="tabAddassetClass" style="background:#fff; color:#000;">+add Asset Class</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="assetClassTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Asset Class Name</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Depriciation Rate</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">GL Account</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Accumulated GL Account</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">PPE Class Name</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Description</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered clearForm">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAssetClass">Asset Class<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtAssetClass" maxlength="50" 
								class="form-control" required>
								<span id="txtAssetClassError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDepriciationRate">Depriciation Rate<span class="text-danger">*</span>
						</label>
						<div class="control-label ten_aligned">
                           <input type="text" id="txtValueBox" name="txtValueBox" class="form-control" style="text-align: center;" disabled>
                        </div>
						<div class="forty_aligned">
							<div class="">
								<input type="number" id="txtDepriciationRate" maxlength="50" 
								class="form-control" required>
								<span id="txtDepriciationRateError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   			
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selGlAccount">GL Account<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selGlAccount" class="form-control">
									<option value="">--Select--</option>
								</select>
								<span id="selGlAccountError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAccumulatedGlAccount">Accumulated GL Acccount<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selAccumulatedGlAccount" class="form-control">
									<option value="">--Select--</option>
								</select>
								<span id="selAccumulatedGlAccountError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   			
			</div>

			<div class="row"><!-- Ist row -->   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selPpeClass">PPE Class<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selPpeClass" class="form-control">
									<option value="">--Select--</option>
								</select>
								<span id="selPpeClassError" class="error"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDescription">Description
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>
			
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>