<link rel="stylesheet" href="css/admin/ledger_finance.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/asset_count.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Asset count</strong></h2>
	</div>
	<div id="ledgerList">
		<h2 id="tabledgerList"><i class="fa fa-bars fa-fw"></i>Asset Count list</h2>
		<h2 id="tabAddledger" style="background:#fff; color:#000;">+Asset Count</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<form  class="eventInsForm"  action="#" method="post" id="mainScreen">
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="txtAssetNo">Asset No.</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtAssetNo" name="txtStaffId" class="form-control">
                                <span id="txtAssetNoError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="txtAssetBarcode">Asset Barcode</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtAssetBarcode" name="txtStaffName" class="form-control">
                                <span id="txtAssetBarcodeError" class="error"></span>
                            </div>
                        </div>
					</div>
				</div>
			</div>  
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="txtAssetDescription">Asset Description</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <textarea id="txtAssetDescription" name="txtStaffId" class="form-control"></textarea> 
                                <span id="txtAssetDescriptionError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="txtAssetAdvanceDescription">Asset Advance Description</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <textarea id="txtAssetAdvanceDescription" name="txtStaffId" class="form-control"></textarea>
                                <span id="txtAssetAdvanceDescriptionError" class="error"></span>
                            </div>
                        </div>
					</div>
				</div>
			</div> 
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAssetClass">Asset Class
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select type="text" id="selAssetClass" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="selAssetClassError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAssetSubClass">Asset Sub Class
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<select type="text" id="selAssetSubClass" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="selAssetSubClassError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div> 
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAssetLocation">Asset Location
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select type="text" id="selAssetLocation" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="selAssetLocationError" class="error"></span>
							</div>
						</div>
					</div>
				</div> 
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="txtManufacturer">Manufacturer</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtManufacturer" name="txtStaffName" class="form-control addresspicker">
                                <span id="txtManufacturerError" class="error"></span>
                            </div>
                        </div>
					</div>
				</div>				
			</div> 
			<div class="row"><!-- Ist row -->  
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="txtBrandName">Brand Name</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtBrandName" name="txtStaffName" class="form-control addresspicker">
                                <span id="txtBrandNameError" class="error"></span>
                            </div>
                        </div>
					</div>
				</div>
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="txtModal">Modal</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtModal" name="txtStaffName" class="form-control addresspicker">
                                <span id="txtModalError" class="error"></span>
                            </div>
                        </div>
					</div>
				</div>				
			</div>
			<div class="row" align="center"><input type="button" value="Apply" class="add_dept btn_apply" id="btnApply"></div>
		</form>
		<div class="table-responsive">
			<table id="assetCheckInTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" width="15%">Asset No</th>
						<th class="text-center td_cursor" width="15%">Barcode</th>
						<th class="text-center td_cursor" width="15%">Location</th>
						<th class="text-center td_cursor" width="15%">Manufacturer</th>
						<th class="text-center td_cursor" width="15%">Brand Name</th>
						<th class="text-center td_cursor" width="15%">Modal</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="selPeriod">Period<span class="text-danger">*</span>
							</label>
                        <div class="sixty_aligned">                        
							
							<div class="">
								<select type="text" id="selPeriod" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="selPeriodError" class="error"></span>
							</div>
                        </div>
					</div>
                </div>
				<div class="half_aligned">
				    <div class="form-group">
						<label class="forty_aligned control-label" for="selRoom">Room<span class="text-danger">*</span>
							</label>
                        <div class="sixty_aligned">                        
							
							<div class="">
								<select type="text" id="selRoom" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="selRoomError" class="error"></span>
							</div>
                        </div>
					</div>
				</div>
			</div>   
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selLocation">Location<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select type="text" id="selLocation" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="selLocationError" class="error"></span>
							</div>
						</div>
					</div>
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selBarcode">Barcode<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select type="text" id="selBarcode" class="form-control">
									<option value='-1'>-- Select --</option>
								</select>
								<span id="selBarcodeError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div> 
			<!-- Form Buttons -->
			<div class="form-group form-actions" align="center">
				<input type="button" value="Count" class="add_dept btn_save" id="btnCount">
				<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
			</div>
		<!-- END Form Buttons -->
			<div style="margin-top:1%;" class="row">
				<div class="table-responsive">
					<table id="tblAssetCount" class="table table-vcenter table-responsive table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center td_cursor" width="15%">Asset No.</th>
								<th class="text-center td_cursor" width="15%">Asset Barcode</th>
								<th class="text-center td_cursor" width="20%">Description</th>
								<th class="text-center td_cursor" width="20%">Advance Description</th>
								<th class="text-center td_cursor" width="15%">Expected Room</th>
								<th class="text-center td_cursor" width="15%">Actual Room</th>
							</tr>
						</thead>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label"  for="lblAssetFound">Asset found</label>
						<label class="forty_aligned control-label" id="lblAssetFound"></label>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label"  for="txtSetRoom">Asset In Right Place</label>
						<label class="forty_aligned control-label" id="lblAssetRightPlace" ></label>
					</div><!--  form group-->
				</div>				
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label"  for="txtSetRoom">Misplaced Asset</label>
						<label class="forty_aligned control-label" id="lblMisplacedAsset"></label>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label"  for="txtSetRoom">Asset Missing</label>
						<label class="forty_aligned control-label" id="lblAssetMissing"></label>
					</div><!--  form group-->
				</div>				
			</div>


			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
			
		</div>
	</form>
	<!-- END Wizard with Validation Content -->
</div>

<style>
.add_dept{
	position: relative;
    left: 0%;
}
#iconStaffSearch{
	position: absolute !important;
	left: 46%;
    margin-top: -3%;
    cursor: pointer;
}
#myViewStaffModal #iconEditStaff,#myViewStaffModal .deleteStaffDetails,#myViewStaffModal .block-title,#myViewStaffModal #viewStaffForm{
	display:none;
}
#myViewStaffModal .block{
	border: 0px; 
    margin: 0px; 
    padding: 0px;
}
#myViewStaffModal{
	margin-left: 13%;
    width: 87%;
}
#myAssetCheckInModal{
	margin-left: 13%;
    width: 87%;
}
</style>







	