<link rel="stylesheet" href="css/admin/consultant.css">
<script src="script/admin/attendance.js"></script>
<script src="script/jquery-timer-plugin.js"></script>
<script>
/*$(document).ready(function() {
    $("#btnPunchIn").click(function() {
        $("#lblTimer").timer(); 
    });
    $("#btnPunchIn").click(function() {
        $("#lblTimer").timer('pause'); 
    });
});*/
</script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Attendance</strong></h2>
    </div>
    <form id="attendanceForm" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step advanced-first">
        <div class="align-1">
            <div class="row">
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" id="lblSize" for="lblDate">Date : </label>             
                        <label class="forty_aligned control-label" id="lblDate"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" id="lblSize" for="lblPunchIn">Punch In Time : </label>             
                        <label class="forty_aligned control-label" id="lblPunchIn"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" id="lblSize" for="lblPunchOut">Punch Out Time : </label>             
                        <label class="forty_aligned control-label" id="lblPunchOut"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="half_aligned">
                    <div class="form-group" id="remark">
                        <label class="forty_aligned control-label" id="lblSize" for="txtRemarks">Remarks : </label>             
                        <textarea id="txtRemarks" class="form-control forty_aligned"></textarea>
                    </div>
                </div>
            </div>
            </div>
            </div>
            
            <br><br>
            <div class="row" style="margin-left: 2%">
                    <input type="button" value = "Punch In" id="btnPunchIn" class="btn_save">
                    <input type="button" value = "Punch Out" id="btnPunchOut" class="btn_save">
            </div>
        </div>
        <div class="clear"></div>
        <!-- Tab Buttons -->
        <!-- END Tab Buttons -->
    </form>
</div>
<style>
button{
	margin-left: 28%;
}
#lblSize{
    font-weight: normal;
}
</style>