<script type="text/javascript" charset="utf8" src="script/jQuery.print.js"></script> 
<link rel="stylesheet" href="css/admin/voucher_cheque_printing.css"> 
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<link rel="stylesheet" href="css/admin/department.css">
<link rel="stylesheet" href="css/admin/banking_schedule.css">
<!-- Wizard with Validation Title -->
<script src="script/admin/banking_schedule.js"></script> 
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>banking schedule</strong></h2>
	</div>
	<div id="department_list">
        <h2 id="tab_dept"><i class="fa fa-bars fa-fw"></i>Banking Schedule list</h2>
        <h2 id="tab_add_dept" style="background:#fff; color:#000;"> +add Banking Schedule</h2>
        <div class="clear"></div>
    </div>
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive">
            <table id="bankingScheduleTbl" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width=40%>Ledger Name</th>
                        <th class="text-center" width=50%>Bank Name</th>
                        <th class="text-center" width=10%></th>
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
    <div id="form_dept">
		<form id="bankingScheduleForm" method="post" >
			<div class="row clearForm" ><!-- Vth Row --> 
				<div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span></label>                             
		                <div class="sixty_aligned">
		                    <div class="">
		                        <select id="selLedger" class="form-control"><option value="">--Select--</option>
		                        </select>
		                        <span class="error" id="selLedgerError"></span>
		                    </div>
		                </div>
		            </div><!--  form group-->
		        </div>	        
			</div>
			<div class="row clearForm"><!-- Vth Row --> 
				<div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="selSource">Source<span class="text-danger">*</span></label>                             
		                <div class="sixty_aligned">
		                    <div class="">
		                        <select id="selSource" class="form-control"><option value="">--Select--</option>
		                        </select>
		                        <span class="error" id="selSourceError"></span>
		                    </div>
		                </div>
		            </div><!--  form group-->
		        </div>	
		        <div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="selBank">Bank<span class="text-danger">*</span></label>                             
		                <div class="sixty_aligned">
		                    <div class="">
		                        <select id="selBank" class="form-control"><option value="">--Select--</option>
		                        </select>
		                        <span class="error" id="selBankError"></span>
		                    </div>
		                </div>
		            </div><!--  form group-->
		        </div>	        
			</div>
			<div class="row btnAddDetail">
				<input type="button" value="+Add" class="btn_save" id="btnAddDetail">
			</div>
			
			<div class="table-responsive">
				<table id="mainReceiptTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center td_cursor" width="20%">Receipt Number</th>
							<th class="text-center td_cursor" width="15%">Name</th>
							<th class="text-center td_cursor" width="15%">Amount</th>
							<th class="text-center td_cursor" width="20%">Refernce</th>
							<th class="text-center td_cursor" width="20%">Date</th>
							<th class="text-center td_cursor" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
			
			<div class="row text-center">
				<input type="button" class="btn_save" value="Save" id="btnSave">
				<input type="button" class="btn_save" value="Reset" id="btnReset">
			</div>
		</form>
	</div>	
</div>
<div class="modal fade in" id="myModalTable" role="dialog" aria-hidden="false">
    <a href="#myModalTable" id="modal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close" class="close-modal">X</div></button>
                <h4 id="myModalLabel">Add Receipt Number</h4>
            </div>
            <div class="modal-body" id="myModalBody"> 
				<div class="table-responsive">
					<table id="addReceiptTable" class="table table-vcenter table-responsive table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center td_cursor" width="10%"></th>
								<th class="text-center td_cursor" width="20%">Receipt Number</th>
								<th class="text-center td_cursor" width="15%">Name</th>
								<th class="text-center td_cursor" width="15%">Amount</th>
								<th class="text-center td_cursor" width="20%">Refernce</th>
								<th class="text-center td_cursor" width="20%">Date</th>							
							</tr>
						</thead>
					</table>
					
				</div>
				<div class="form-group text-center">
					<input type="button" class="btn_save" value="Add Receipt Number" id="btnAddReceipt">
				</div>
            </div>
      </div>              
    </div>
</div>
<div class="modal fade" id="myBankingScheduleModel" role="dialog">
    <a href="#myImprestWarrantModel" id="BankingScheduleModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="bankingScheduleModelLabel"></h4>
            </div>
            <div class="" style="margin: 1% 5% 5% 5%;">
                <div class="">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Receipt No.:</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblReceiptNo" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>  
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Ledger Name :</label>
								<div class="sixty_aligned">
									<div class="">
										<label id="lblLedgerName" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">		 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Bank Name :</label>        
								<div class="sixty_aligned">
									<div class="">
										<label id="lblBankName" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Amount :</label>         
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAmount" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">		
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Date :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblDate" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>	
		</div><!--End modal-view -->            
    </div>
</div>

<style type="text/css">
	.btnAddDetail{margin-left: 0px;}
	#myBankingScheduleModel{
		margin-left: 13%;
    	width: 87%;
	}
	#myModalTable{
		margin-left: 13%;
		width: 87%;
	}
</style>