<link rel="stylesheet" href="css/admin/ledger_finance.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/bank_reconciliation.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Bank Reconciliation</strong></h2>
	</div>
	<div id="ledgerList">
		<h2 id="tabledgerList"><i class="fa fa-bars fa-fw"></i>Bank Reconciliation list</h2>
		<h2 id="tabAddledger" style="background:#fff; color:#000;">+add Bank Reconciliation</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder reconciliationTable">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="bankReconciliationTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Ledger</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Payment Mode</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Name</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Starting Balance</th>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Reconciliation Date</th>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Reconciliation Date</th>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Reconciliation Closed Date</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered clearForm">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selLedger" name="selLedger" class="form-control" size="1"	>
                                    <option value="">--Select--</option>
                                </select>
								<span id="selLedgerError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selPaymentMode">Payment Mode<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selPaymentMode" name="selPaymentMode" class="form-control" size="1">
                                    <option value="">--Select--</option>
                                </select>
                                <span id="selPaymentModeError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	

			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtName">Name<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtName" name="txtName" rows="3" class="form-control ui-wizard-content"></textarea>
								<span id="txtNameError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtStatementBalance">Statement Balance<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="txtStatementBalance" maxlength="50" 
								class="form-control" required>
								<span id="txtStatementBalanceError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtReconciliationDate">Reconciliation Date<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtReconciliationDate" name="txtReconciliationDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd" readonly>
								<span id="txtReconciliationDateError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtReconciliationClosedDate">Reconciliation Closed Date<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtReconciliationClosedDate" name="txtReconciliationClosedDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd" readonly>
								<span id="txtReconciliationClosedDateError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtLastReconciliationDate">Last Reconciliation Date
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtLastReconciliationDate" name="txtLastReconciliationDate" class="form-control" placeholder = "yyyy-mm-dd" readonly>
								<span id="txtLastReconciliationDateError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>		
			</div>
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />

			<div class="form-group form-actions">
				<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
				<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
			</div>
		</div>
		<!-- Form Buttons -->
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
	<div class="row" id="bankReconciliationButtons" style="display : none">
		<ul class="bankReconciliationButtons">
			<li>
				<input type="button" class="btn bankReonciliationBtn" data-dismiss="modal" aria-hidden="true" value="Deposit" id="depositPopUp">
			</li>
			<li>
				<input type="button" class="btn bankReonciliationBtn" data-dismiss="modal" aria-hidden="true" value="Banking Items" id="bankingPopUp">
			</li>		
			<li>
				<input type="button" class="btn bankReonciliationBtn" data-dismiss="modal" aria-hidden="true" value="Payments" id="paymentsPopUp">
			</li>
			<li>
				<input type="button" class="btn bankReonciliationBtn" data-dismiss="modal" aria-hidden="true" value="Journal Voucher" id="journalVoucherPopUp">
			</li>				
		</ul>
		<div id="btnBackToList">
			<input type="button" name="button" value="Back To List" class="add_dept btn_save" id="BackToList">
		</div>
	</div>
	
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive depositTable" style="display:none"><!-- 
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div> -->
			<table id="depositTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Receipt No.</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Reference</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Transaction Date</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Document Date</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Payee</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Amount</th>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Cleared</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive bankingTable" style="display:none"><!-- 
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div> -->
			<table id="bankingTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Receipt No.</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Name</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Amount</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Reference</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Date</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive paymentTable" style="display:none"><!-- 
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div> -->
			<table id="paymentTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Voucher No.</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Payee Name</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Ledger</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Amount</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Payement Mode</th>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Cheque No.</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive journalVoucherTable" style="display:none"><!-- 
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div> -->
			<table id="journalVoucherTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">VCH/IMP No.</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Cheque No.</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Date</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Payee Name</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Amount</th>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Cleared</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
</div>
<style>
.bankReconciliationButtons {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    display: inline-flex;
}
.bankReonciliationBtn {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    background-image: linear-gradient(rgb(173, 173, 173), rgb(255, 255, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 10px 37px;
}
.bankReonciliationBtn:hover{
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #FFF !important;
}
#bankReconciliationButtons{
	display: inline-flex;
}
#btnBackToList{
	margin-left: 35%;
}
.activeSelf {
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
}
.bankReconciliationButtons{
	margin-left: 2%;
}
</style>







	