<link rel="stylesheet" href="css/admin/bed.css">
<link rel="stylesheet" href="css/admin/ward.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/bed.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
		<h2><strong>Beds</strong></h2>
	</div>
	<div id="wardList">
		<h2 id="tabWardList"><i class="fa fa-bars fa-fw"></i>Bed list</h2>
		<h2 id="tabAddWard" style="background:#fff; color:#000;">+add Bed</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox chk_cursor" name="" style="margin-bottom: 5px;">
            </div>
			<table id="bedTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="18%">Department</th>
						<th class="text-center" width="15%">Ward Name</th>
						<th class="text-center" width="18%">Room Number</th>
						<th class="text-center" width="8%">Bed Number</th>
						<th class="text-center" width="5%">Cost</th>
						<th class="text-center" width="6%">Price</th>
						<th class="text-center" style="max-width:20%; width:20% !important;">Description</th>
						<th class="text-center" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
    <form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step">
            <!-- Step Info -->
            <div id="bedModel">
				<div class="row">
				   <div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selDepartment">Department<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selDepartment" class="form-control val_wrad" size="1" required>
									<option value="">--Select--</option>
									</select>
									<span id="selDepartmentError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					<!-- Ist row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selWard">Ward<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selWard" name="val_wrad" class="form-control val_wrad" size="1" required>
										<option value="-1">-- Select --</option>
									</select>
									<span id="selWardError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selRoom">Room<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selRoom" name="val_room" class="form-control val_wrad" size="1" required>
										<option value="-1">--Select--</option>
									</select>
									<span id="selRoomError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtBedNumber">Bed Number<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtBedNumber" maxlength="30" class="form-control">
									<span id="txtBedNumberError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtCost">Cost<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtCost" name="val_bednum" class="form-control">
									<span id="txtCostError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPrice">Price<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPrice" name="val_bednum" class="form-control">
									<span id="txtPriceError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>					
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDescription">Description</label>                                
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>						
				</div>
				<input type="button" value="Update" class="add_bed btn_update" id="btnUpdateBed" style="display:none;" />
            </div>
            <!-- end row -->
        </div>
        <!-- Form Buttons -->
        <div class="form-group form-actions">
            <input type="button" value="Save" class="add_bed btn_save" id="btnBedSubmit">
			<input type="button" value="Reset" class="add_bed btn_reset" id="btnReset">
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!--- start media query for responsive webs site--> 

<!--- End media query for responsive webs site-->