
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/bed_availability.js"></script>
<style>
	.chk-active_inactive {
		padding: 6px 0 0 10px;
		position: absolute;
		color: #333333;
		z-index: 1;
		margin-top: 4px;
		width: 146px;
		left: 42%;
		margin-left: -51.5px;
		cursor: pointer;
	}
</style>
<div class="block">
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Occupied Beds</label>
				<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox chk_cursor" name="" style="margin-bottom: 5px;">
			</div>
			<table id="bedAvailabilityTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="33%">Room No</th>
						<th class="text-center" width="33%">Bed No</th>
						<th class="text-center" width="34%">Price</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
</div>