<link rel="stylesheet" href="css/admin/bed_transfer.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/bed_transfer.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Bed Transfer</strong></h2>
		<input type="hidden" id="hdnBesHistoryId" value="0" />
		<input type="hidden" id="hdnBedTransfer" value="0" />
		<input type="hidden" id="hdnPatientId" value="0" />
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="bedTransferForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned" id="ipdId">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textIPDId">IPD Id
                             <span class="text-danger">*</span></label>                                
                        <div class="forty_aligned">
                            <div class="" style="position: relative;">
                                <i class="fa fa-search" id="serachIcon" style="cursor:pointer;"></i>
                                <input type="text" id="textIPDId" name="textIPDId"
                                class="form-control">
								<span id="textIPDIdError" class="error"></span>
                            </div>
                        </div>
                       <!--  <input type="button" value="Load" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button"
                      id="btnLoad"> -->
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
		            <div class="form-group form-actions">
		                <input type="button" value="Load" class="btn_save" id="btnLoad" style="margin-left: -28%;">
		                
		            </div>
	            </div>
            </div><!-- end row -->
			<fieldset>		<!-- field set -->
				<legend>New Bed:</legend>
				<div class="row"><!-- Iind row -->
				   <div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selDepartment">Department <span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selDepartment" class="form-control val_wrad" size="1" required>
										<option value="-1">--Select--</option>
									</select>
									<span id="selDepartmentError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selWard">Ward <span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selWard" class="form-control selWard" size="1" required>
										<option value="-1">--Select--</option>
									</select>
									<span id="selWardError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selRoomType">Room Type <span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selRoomType" class="form-control selRoomType" size="1" required>
										<option value="-1">--Select--</option>
									</select>
									<span id="selRoomTypeError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtRoomNo">Room No</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtRoomNo" name="txtRoomNo" class="form-control" readonly="">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->

				<div class="row"><!-- IV th row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtBedNo">Bed No</label>                                 <div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtBedNo" name="txtBedNo" class="form-control" readonly="">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPrice">Price</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPrice" name="txtPrice" class="form-control" readonly="">
								</div>
							</div>
						</div><!--  form group-->
					</div>                       
				</div><!-- end row -->

				<div class="row"><!-- V th row -->
					<div class="half_aligned">
						<div class="form-group">
						<!-- <label class="forty_aligned"></label> -->
							<label class="control-label" for="checkICU">ICU</label>                                
							<div class="sixty_aligned" style="    padding: 5px 0 0 16px;">
								<div class="">
									<input type="checkbox" id="checkICU" class="" name="">
									<span id="checkICUError" class="error"></span>
								</div>
							</div>
						</div>
					</div>
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtReasonTransfer">Reason of Transfer<span class="text-danger"> *</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                               <textarea id="txtReasonTransfer" name="txtReasonTransfer" rows="3" class="form-control ui-wizard-content"></textarea>
								<span id="txtReasonTransferError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
						  
				</div><!-- end row -->
			</fieldset>
            <div class="form-group form-actions buttons">
                <input type="button" value="Transfer" class="opd_reg btn_save" id="btnTransfer">
                <input type="button" value="Reset" class="btn_reset" id="btnResetBedTranserDetails">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myBedTransferModal" role="dialog">
	<a href="#myBedTransferModal" id="BedTransferModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="BedTransferModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="BedTransferModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myBedModal" role="dialog">
	<input type="hidden" id="hdnRoom" value="" />
	<a href="#myBedModal" id="BedModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="BedModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="bedModalBody">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<style>
#myBedTransferModal{
	width: 87%;
	margin-left: 13%;
}
#ipdId{

}
</style>




