<link rel="stylesheet" href="css/admin/budget_period.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/budget_period.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Budget Period</strong></h2>
	</div>
	<div id="budgetPeriodList">
		<h2 id="tabBudgetPeriodList"><i class="fa fa-bars fa-fw"></i>Budget Period list</h2>
		<h2 id="tabAddBudgetPeriod" style="background:#fff; color:#000;">+add Budget Period</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="budgetPeriodTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Name</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Fiscal Year</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Begin Date</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">End Date</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Description</th>
						<th class="text-center td_cursor" width="15%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered clearForm">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtName">Name<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtName" maxlength="50" 
								class="form-control" required>
								<span id="txtNameError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selFiscalYear">Fiscal Year<span class="text-danger">*</span></label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selFiscalYear" name="selFiscalYear" class="form-control" size="1" >
                                    <option value="">-- Select --</option>
                                </select>
								<span id="selFiscalYearError" class="error"></span>
							</div>
						</div>
					</div>
				</div>			
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtBeginDate">Begin Date<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtBeginDate" name="txtBeginDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
								<span id="txtBeginDateError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtEndDate">End Date<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtEndDate" name="txtEndDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
								<span id="txtEndDateError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="row"><!-- Ist row -->  
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDescription">Description
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			
			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>
<style>
#txtDescription{
	text-transform: capitalize;
}
#myModal #txtDescription{
	text-transform: capitalize;
}
</style>







	