<link rel="stylesheet" href="css/admin/cancel_request.css">

<!-- javascript code used only in this page for validation-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<script src="script/admin/cancel_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Cancel Requests</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div class="row text-center showCustomerTabs">
            <ul class="customerTabs">
                <li>
                    <input type="button" class="btn customerBtn" aria-hidden="true" value="Service" attr="service">
                </li>
                <li>
                    <input type="button" class="btn customerBtn" aria-hidden="true" value="Procedure" attr="procedure">
                </li>
                <li>
                    <input type="button" class="btn customerBtn" aria-hidden="true" value="Lab Test" attr="labTest">
                </li>
                <li>
                    <input type="button" class="btn customerBtn" aria-hidden="true" value="Radiology Test" attr="radiologyTest">
                </li>
                <li>
                    <input type="button" class="btn customerBtn" aria-hidden="true" value="Forensic Test" attr="forensicTest">
                </li>                
            </ul>
        </div>
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div  class="tabScreen" id="tabService"> 
                <div style="margin-top:1%;">
                    <div class="table-responsive">
                        <table id="tblService" class="table table-vcenter table-responsive table-condensed table-bordered">
                            <thead>
                                <tr>                                    
                                    <th class="text-center" width="10%">Visit Id</th>
                                    <th class="text-center" width="10%">Patient Id</th>
                                    <th class="text-center" width="15%">Service Code</th>
                                    <th class="text-center" width="25%">Service Name</th>
                                    <th class="text-center" width="10%">Cost</th>
                                    <th class="text-center" width="15%">Pay Status</th>
                                    <th class="text-center" width="15%">Process Status</th>
                                </tr>
                            </thead>
                        </table>
                        <input id="selectedRow" type="hidden" value="0" />
                    </div>
                </div>
            </div>
            <div  class="tabScreen" id="tabProcedure">
                <div style="margin-top:1%;">
                    <div class="table-responsive">
                        <table id="tblProcedure" class="table table-vcenter table-responsive table-condensed table-bordered">
                            <thead>
                                <tr>
                                   <th class="text-center" width="10%">Visit Id</th>
                                    <th class="text-center" width="10%">Patient Id</th>
                                    <th class="text-center" width="15%">Procedure Code</th>
                                    <th class="text-center" width="20%">Procedure Name</th>
                                    <th class="text-center" width="10%">Cost</th>
                                    <th class="text-center" width="15%">Pay Status</th>
                                    <th class="text-center" width="20%">Process Status</th>
                                </tr>
                            </thead>
                        </table>
                        <input id="selectedRow" type="hidden" value="0" />
                    </div>
                </div>          
            </div>
            <div  class="tabScreen" id="tabLabTest"> 
                <div style="margin-top:1%;">
                    <div class="table-responsive">
                        <table id="tblLabTest" class="table table-vcenter table-responsive table-condensed table-bordered">
                            <thead>
                                <tr>
                                   <th class="text-center" width="10%">Visit Id</th>
                                    <th class="text-center" width="10%">Patient Id</th>
                                    <th class="text-center" width="10%">Test Code</th>
                                    <th class="text-center" width="20%">Test Name</th>
                                    <th class="text-center" width="10%">Cost</th>
                                    <th class="text-center" width="15%">Specimen</th>
                                    <th class="text-center" width="10%">Pay Status</th>
                                    <th class="text-center" width="15%">Process Status</th>
                                </tr>
                            </thead>
                        </table>
                        <input id="selectedRow" type="hidden" value="0" />
                    </div>
                </div>

            </div>
            <div  class="tabScreen" id="tabRadiologyTest">
                <div style="margin-top:1%;">
                    <div class="table-responsive">
                        <table id="tblRadiologyTest" class="table table-vcenter table-responsive table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" width="7.5%">Visit Id</th>
                                    <th class="text-center" width="10%">Patient Id</th>
                                    <th class="text-center" width="10%">Test Code</th>
                                    <th class="text-center" width="20%">Test Name</th>
                                    <th class="text-center" width="7.5%">Cost</th>
                                    <th class="text-center" width="10%">Pay Status</th>
                                    <th class="text-center" width="15%">Process Status</th>
                                </tr>
                            </thead>
                        </table>
                        <input id="selectedRow" type="hidden" value="0" />
                    </div>
                </div>
            </div>          
            <div  class="tabScreen" id="tabForensicTest">
                <div style="margin-top:1%;">
                    <div class="table-responsive">
                        <table id="tblForensicTest" class="table table-vcenter table-responsive table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" width="10%">Visit Id</th>
                                    <th class="text-center" width="10%">Patient Id</th>
                                    <th class="text-center" width="10%">Test Code</th>
                                    <th class="text-center" width="20%">Test Name</th>
                                    <th class="text-center" width="10%">Cost</th>
                                    <th class="text-center" width="15%">Specimen</th>
                                    <th class="text-center" width="10%">Pay Status</th>
                                    <th class="text-center" width="15%">Process Status</th>
                                </tr>
                            </thead>
                        </table>
                        <input id="selectedRow" type="hidden" value="0" />
                    </div>
                </div>
            </div> 
        </div>
    </form>
</div>



