<div class="row block">
	<div class="block-title">
        <h2><strong>Cash collection</strong></h2>
    </div>
	<form class="form" id="reportForm" method="post">
	<div class="row form-horizontal form-bordered ">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="selGlAcount">GL Account</label>             
					<div class="sixty_aligned">
						<div class="">
							<select id="selGlAcount" name="selGlAcount" class="form-control">
								<option value="-1">--Select--</option>
							</select>
						</div>
					</div>
				</div><!--  form group-->
			</div>
		</div>		
		<div class="row form-horizontal form-bordered">
			<div class="form-group">				
				<div class="half_aligned">					
					<label class="forty_aligned control-label" for="radToFromDate">From Date</label>             
					<div class="sixty_aligned">
						<div class="">
							<input type="text" class="form-control input-datepicker" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" readonly="">
							<span id="txtFromDateError" class="error"></span>
						</div>
					</div>					
				</div>
				<div class="half_aligned">						
					<label class="forty_aligned control-label" for="toDate">To Date</label>             
					<div class="sixty_aligned">
						<div class="">
							<input type="text" name="toDate" id="toDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" readonly="">
							<span id="txtToDateError" class="error"></span>
						</div>
					</div>						
				</div>
				
			</div>	
		</div>
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" style="text-align: center;">					
				<input type="button" value="View Report" id="viewReport" class="btn btn_save" />
			
				<input type="reset" id="clear" value="Reset" class="btn btn_reset" />
			</div>
		</div>
	</form>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div id="chart_div"></div>
	</div>
	<div style="text-align: center;">
		<button onclick="saveFile()" id="btnSaveExcel" class="center-block">Download Excel File</button>
		<button  id="btnSavePdf">Download Pdf</button>
	</div>
</div>	
<script type="text/javascript" src="script/admin/cash_collection.js"></script>
<style type="text/css">
	div#chart_div {
	    margin: 0 auto;
	    width: 90%;
	}
</style>