<style>
	.fa-search{
		float: right;
		margin-top: -11%;
		margin-right: 3%;
		cursor: pointer;
	}
	.amountPrefix{
	    padding: 8px 12px;   
		font-weight: 400;
		line-height: 1.3;	   
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 1px;
		width:20%;
	}
	.amountText{
		CURSOR: DEFAULT;
		float: left;
		width: 75%;
		position: relative;
		left: -6px;
	}
	#myCashAccountModal{
		width: 87%;
		margin-left: 13%;
	}
	#confirmCashModal{
		width: 87%;
		margin-left: 13%;
	}
	.amountPrefix {
	    float: left;
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.amountText {
	    float: left;
	    position: relative;
	    left: 0px;
	}
</style>
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/cash.js"></script>
<link rel="stylesheet" href="css/admin/cash.css">
<div class="block">
	<input type="hidden" id="hdnFanId" value="">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Cash Billing</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="cashDeposite" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientID">Patient Id<span class="text-danger">*</span></label>                                
                        <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtPatientID" name="txtPatientID" class="form-control">
								<i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
								<span id="txtIdError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned" style="position:relative;">					
					<input type="button" value="Load" class="btn_select" id="btnSelect" >                    
                </div>
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFirstName" style="CURSOR: DEFAULT;" name="txtFirstName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtLastName">Last Name </label>
                       <div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtLastName" style="CURSOR: DEFAULT;" name="txtLastName" class="form-control" readonly>
							</div>
						</div>
                    </div>
                </div> 
            </div><!-- end row -->
			<div class="row"><!-- start row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFatherName">Middle Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFatherName" style="CURSOR: DEFAULT;" name="txtFatherName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtGender">Gender </label>
                       <div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtGender" style="CURSOR: DEFAULT;" name="txtGender" class="form-control" readonly>
							</div>
						</div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->

                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Date Of Birth</label>                                
                        <div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_DOB" style="cursor: default;" name="val_DOB" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" readonly="">
							</div>
						</div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtMobile">Mobile </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtMobile" style="CURSOR: DEFAULT;" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->            
			<div class="row"><!-- start row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAmount">Total Fund(till now)</label>                                
						<div class="sixty_aligned">
							<div class="">
								<span class="amountPrefix twenty_aligned" id="amountPrefix"></span>
								<input type="text" id="txtAmount" name="txtAmount" class="form-control amountText eighty_aligned" readonly>
								<span id="txtAmountError" class="error">
							</div>
						</div>
						
					</div><!--  form group-->
				</div>
				 <div class="half_aligned hf_align_center">
					
				</div>
			</div><!-- end row -->
			<div class="row"><!-- start row-->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDeposite">Amount To Deposit<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<span class="amountPrefix twenty_aligned" id="amountPrefix"></span>
								<input type="text" id="txtDeposite" name="txtDeposite" class="form-control amountText eighty_aligned">
								<span id="txtDepositError" class="error">
							
							</div>
								<span id="simpleError" class="error"></span>
						</div>
						
						
					</div><!--  form group-->
				</div>
				 <div class="half_aligned hf_align_center">

				</div>
			</div><!-- end row -->
			<input type="button" value="Save" class="btn_cash btn_save" id="btnSubmit" >
			<input type="reset" value="Reset" class="btn_cash btn_reset" id="btnReset" >
		</div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->
<!-- Modal for search patient-->
<div class="modal fade" id="myCashAccountModal" role="dialog">
	<input type="hidden" id="hdnCash" value="">
	<a href="#myCashAccountModal" id="cashAccountModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="cashAccountModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="cashAccountModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!--Confirm  Modal -->
<div class="modal fade" id="confirmCashModal" role="dialog">
	<div id="confirm_popup">
		<a href="#confirmCashModal" id="cashConfirmModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog" id="modal-dialog-print">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close-confirm" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="confirmCashModalLabel"></h4>
				</div>
				<div class="modal-body">					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Confirm" id="btnconfirm" />
					<input type="button" class="btn" style="margin-bottom: 2px !important;" data-dismiss="modal" aria-hidden="true" value="Cancel" id="cancel" />
				</div>
		  </div>			  
		</div>
	</div>    
</div>	






