<script type="text/javascript" charset="utf8" src="script/jQuery.print.js"></script> 
<link rel="stylesheet" href="css/admin/voucher_cheque_printing.css"> 
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<link rel="stylesheet" href="css/admin/department.css">
<link rel="stylesheet" href="css/admin/cash_payment_voucher.css">
<!-- Wizard with Validation Title -->
<script src="script/admin/cash_payment_voucher.js"></script> 
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Cash Payment Voucher</strong></h2>
	</div>
	<div id="department_list">
        <h2 id="tab_dept"><i class="fa fa-bars fa-fw"></i>Cash Payment Voucher list</h2>
        <h2 id="tab_add_dept" style="background:#fff; color:#000;"> +add Cash Payment Voucher</h2>
        <div class="clear"></div>
    </div>
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive">
            <table id="CashPaymentVoucherTbl" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width=40%>Ledger Name</th>
                        <th class="text-center" width=50%>Bank Name</th>
                        <th class="text-center" width=10%></th>
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
    <div id="form_dept">
		<form id="CashPaymentVoucherForm" method="post" >
			<div class="row clearForm" ><!-- Vth Row --> 
				<div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="txtCashierDetails">Cashier Name<span class="text-danger">*</span></label>                             
		                <div class="sixty_aligned">
		                    <div class="">
		                        <input type="text" id="txtCashierDetails" maxlength="50" 
								class="form-control" required>
		                        <span class="error" id="txtCashierDetailsError"></span>
		                    </div>
		                </div>
		            </div><!--  form group-->
		        </div>	        
			</div>
			<div class="row btnAddDetail">
				<input type="button" value="+Add" class="btn_save" id="btnAddDetail">
			</div>
			
			<div class="table-responsive">
				<table id="mainCashPaymentVoucherTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center td_cursor" width="30%">P.C. Reference</th>
							<th class="text-center td_cursor" width="30%">Name</th>
							<th class="text-center td_cursor" width="30%">Amount</th>
							<th class="text-center td_cursor" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
			<div class="row clearForm" ><!-- Vth Row --> 
		        <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selLedger" name="selLedger" class="form-control" size="1">
									<option value="">--Select--</option>
								</select>
								<span id="selLedgerError" class="error"></span>
							</div>
						</div>
					</div>
				</div> 
		        <div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="selPaymentMode">Payment Mode<span class="text-danger">*</span></label>                             
		                <div class="sixty_aligned">
		                    <div class="">
		                        <select id="selPaymentMode" class="form-control">
		                        	<option value="">--Select--</option>
		                        </select>
		                        <span class="error" id="selPaymentModeError"></span>
		                    </div>
		                </div>
		            </div><!--  form group-->
		        </div>	      
			</div>
			<div class="row clearForm" ><!-- Vth Row --> 
				<div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="txtTotalAmount">Total Amount<span class="text-danger">*</span></label>                             
		                <div class="sixty_aligned">
		                    <div class="">
		                        <input type="number" id="txtTotalAmount" maxlength="50" 
								class="form-control" disabled>
		                        <span class="error" id="txtTotalAmountError"></span>
		                    </div>
		                </div>
		            </div>
		        </div>	 
				<div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="txtRefNo">Reference No.<span class="text-danger">*</span></label>                             
		                <div class="sixty_aligned">
		                    <div class="">
		                        <input type="text" id="txtRefNo" maxlength="50" 
								class="form-control" required>
		                        <span class="error" id="txtRefNoError"></span>
		                    </div>
		                </div>
		            </div>
		        </div>	 
			</div>
			<div class="row clearForm" ><!-- Vth Row --> 
		        <div class="half_aligned">
		            <div class="form-group">
		                <label class="forty_aligned control-label" for="txtNotes">Notes</label>                             
		                <div class="sixty_aligned">
		                    <div class="">
								<textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
		                    </div>
		                </div>
		            </div>
		        </div>	      
			</div>
			
			<div class="row text-center buttonRow">
				<input type="button" class="btn_save" value="Save" id="btnSave">
				<input type="button" class="btn_save" value="Reset" id="btnReset">
			</div>
		</form>
	</div>	
</div>
<div class="modal fade in" id="myModalTable" role="dialog" aria-hidden="false">
    <a href="#myModalTable" id="modal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close" class="close-modal">X</div></button>
                <h4 id="myModalLabel">Add Petty Cash</h4>
            </div>
            <div class="modal-body" id="myModalBody"> 
				<div class="table-responsive">
					<table id="addCashPaymentVoucherTable" class="table table-vcenter table-responsive table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center td_cursor" width="10%"></th>
								<th class="text-center td_cursor" width="30%">P.C. Reference</th>
								<th class="text-center td_cursor" width="30%">Name</th>
								<th class="text-center td_cursor" width="30%">Amount</th>				
							</tr>
						</thead>
					</table>
					
				</div>
				<div class="form-group text-center">
					<input type="button" class="btn_save" value="Add Receipt Number" id="btnAddReceipt">
				</div>
            </div>
      </div>              
    </div>
</div>
<div class="modal fade" id="myCashPaymentVoucherModel" role="dialog">
    <a href="#myCashPaymentVoucherModel" id="CashPaymentVoucherModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
     
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="CashPaymentVoucherModelLabel"></h4>
            </div>
            <div class="" style="margin: 1% 5% 5% 5%;">
                <div class="">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Receipt No.:</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblReceiptNo" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>  
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Cashier Name :</label>
								<div class="sixty_aligned">
									<div class="">
										<label id="lblCashierName" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Ledger Name :</label>
								<div class="sixty_aligned">
									<div class="">
										<label id="lblLedgerName" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>	 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Payment Mode :</label>        
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPaymentMode" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Amount :</label>         
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAmount" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Date :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblDate" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>	
		</div>           
    </div>
</div>
<style type="text/css">
.buttonRow{
	margin-top: 5%;
}
#myCashPaymentVoucherModel{
	width: 87%;
	margin-left: 13%;
}
</style>

