<!--Data Table js-->  
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- javascript code used only in this page for validation-->
<script src="script/admin/cash_payment.js"></script>

<div class="block">
    <input type="hidden" id="hdnFamilyMemberId" value="">
	<input type="hidden" id="hdnTotalBill" value="">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Cash Payment</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->	

    <!-- Wizard with Validation Content -->
    <form id="cashPaymentForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtVisit">Visit Id<span class="text-danger">*</span></label>                                
                        <div class="sixty_aligned" style="width:31%; margin-right:1%;">
                            <div class="">
                                <input type="text" id="txtVisit" name="txtVisit" class="form-control" ><i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
								<span id="txtVisitError" class="error">
                            </div>
                        </div>
					</div><!--  form group-->
                </div>
                 <div class="half_aligned">
                     <div class="form-group">
                        <input type="button" value="Select" class="opd_btn"
                            id="btnSelect" style="margin: 0;width: 14%;margin-left: -18%;">
                    </div>
                </div>
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtName">Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtName" name="txtName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPatientId" name="txtPatientId"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->
            <div class="row"><!-- IIIrd Row  -->

                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtVisitDate">Visit Date</label>                                
                        <div class="sixty_aligned">                            
							<div class="">
								<input type="text" id="txtVisitDate" name="txtVisitDate" 
								class="form-control" readonly>
							</div>                            
                        </div>
                    </div><!--  form group-->
                </div>
               <!--  <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtOPDRegNo">OPD Reg. No. </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtOPDRegNo" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtTotalBill">Total Bill</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                            <span class="amountPrefix amountpre twenty_aligned" id="amountPrefixTotalBill"></span>
                                <input type="text" value="" id="txtTotalBill" class="form-control amountText eighty_aligned" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
            <div class="row"><!-- IIIrd Row  -->                         
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPayDate">Pay Date<span class="text-danger">*</span></label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtPayDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd">
								<span id="txtPayDateError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>  
				 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selModeOfPayment">Mode of Payment<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selModeOfPayment" name="selModeOfPayment" class="form-control selRoomNo" size="1" required>
									<option value="-1">-- Select --</option>
									<option value="1">Cash</option>
									<option value="2">Cash Account</option>
                                </select>
                            </div>
                            <span id="selModeOfPaymentError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div> 
            </div><!-- end row -->  
			<div class="row insurance"><!-- Vth Row -->                 
                <div class="half_aligned insurance">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selInsuranceCompany">Insurance Company</label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selInsuranceCompany" name="selInsuranceCompany" class="form-control selRoomNo" size="1" required disabled="disabled">
									<option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selInsuranceCompanyError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>  
				<div class="half_aligned ">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selInsurancePlan">Insurance Scheme</label>                              
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selInsurancePlan" name="selInsurancePlan" class="form-control selRoomNo" size="1" required disabled="disabled">
									<option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selInsurancePlanError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div> 
            </div><!-- end row -->    
			<div class="row insurance"><!-- IV th row -->           
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selInsuranceScheme">Insurance Plan</label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <select id="selInsuranceScheme" name="selInsuranceScheme" class="form-control selDepartment" size="1" required disabled="disabled">
                                    <option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selInsuranceSchemeError" class="error"></span>
                        </div>
                    </div>
                </div>  
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtInsuranceNo">Insurance No.</label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtInsuranceNo" class="form-control" disabled="disabled">
								<span id="txtInsuranceNoError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div> 
            </div><!-- end row -->
			<div class="row">
                <div class="half_aligned" id="divAmountTendered">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAmountTendered">Amount Tendered<span class="text-danger">*</span></label>                 
                        <div class="sixty_aligned">
                            <div class="">
								<span class="amountPrefix amountpre twenty_aligned" id="amountPrefix"></span>
                                <input type="text" value="" id="txtAmountTendered" class="form-control amountText eighty_aligned">
								<span id="txtAmountTenderedError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>   
                <div class="half_aligned" id="divOutstandingBalance">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtOutstandingBalance">Advance Balance</label>                                
                        <div class="sixty_aligned">                            
							<div class="">
								<span class="amountPrefix amountpre" id="amountPrefixOutStanding"></span>
								<input type="text" id="txtOutstandingBalance" name="txtOutstandingBalance" 
								class="form-control amountText eighty_aligned" value="0" readonly>
								<span id="txtOutstandingBalanceError" class="error"></span>
							</div>                            
                        </div>
                    </div><!--  form group-->
                </div> 
                <div class="half_aligned insurance" style="display:none;">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtCopay">Copay</label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <span class="amountPrefix amountpre twenty_aligned" id="amountPrefixCopay"></span>
                                <input type="text" value="" id="txtCopay" class="form-control amountText eighty_aligned" disabled="disabled">
                                <span id="txtCopayError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
			</div> 
			<div class="row"><!-- Vth Row --> 
			</div>
		</div>
        <!-- END Form Buttons -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblCashPayment" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="30%">Name</th>
							<th class="text-center" width="10%">Cost</th>
							<th class="text-center" width="10%">Quantity</th>
							<th class="text-center" style="max-width:30%; width:30% !important;">Description</th>
							<th class="text-center" width="15%">Amount</th>
							<th class="text-center" width="5%">Exclude</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-center" width="30%"></th>
							<th class="text-center" width="10%"></th>
							<th class="text-center" width="10%"></th>
							<th class="text-center" style="max-width:30%; width:30% !important;"></th>
							<th class="text-center" width="15%"><span class="alignBill">Total Bill:</span> <span class="amountPrefix">$</span><span id="totalBill" style="float:left;">0</span></th>
							<th class="text-center" width="5%"></th>
						</tr>
					</tfoot>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
		<!-- Form Buttons -->
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" >
				<input type="button" value="Submit" class="opd_reg btn_save" 
				id="btnSave">
				<input type="button" value="Reset" class="opd_reg btn_reset" 
				id="btnReset">
			</div>
		</div>
	</form>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myCashModal" role="dialog">
	<a href="#myCashModal" id="cashModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="cashModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="cashModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<div class="modal fade in" id="msgmyModal" role="dialog" aria-hidden="false">
	<div id="message_popup">
		<a href="#msgmyModal" id="mymsgModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog" id="modal-dialog-print">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="msgMyModalLabel"></h4>
				</div>
				<div class="modal-cash-body" style="padding: 4px 0 0 10px;">
					<h5 id="paymentMsg"></h5>
					<label>Recipt No.</label><h5 id="reciptNoMsg"></h5>
				</div>
				<div class="modal-footer">
					<!-- <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"> -->
					<input type="button" class="btn" id="printCashDetailss" value="Print">
				</div>
		  </div>			  
		</div>
	</div>    
</div>

<!-- Print code -->

<div class="print-body display-print" id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Receipt No :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintReceipt"></label>
			</div>
		</div><div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Date :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintDate"></label>
			</div>
		</div>
		
	</div><div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Visit Id :</label>
			</div>
			<div class="">
				<label class="half_aligned control-label" id="lblPrintVisitId"> <label>
				</label></label>
			</div>
		</div>
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Id:</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintPatientId"></label>
			</div>
		</div>
	</div>	
	<div class="row margin-bottom-4">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Name :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintPatient"></label>
			</div>
		</div>		
	</div>	
	
	<table id="codexpl" width="100%; height: 450px;">
		<tbody id="codexplBody">
			<tr>
				<th style="padding: 0px;" width="10%">S.No</th>
				<th style="padding:0px;" width="40%">Name</th>
	  
				<th style="padding:0px;" width="20%">Quantity</th>
				<th style="padding:0px;" width="30%">Amount</th>
			</tr>		
			<tfoot>
				<tr>
					<th style="padding: 0px;" width="10%"></th>
					<th style="padding:0px;" width="40%"></th>		  
					<th style="padding:0px;" width="20%"><span>Total</span></th>
					<th style="padding:0px;" width="30%"><span class="amountPrefix"></span><span id="printTotalBill" style="float:left;"></span></th>
				</tr>
                <tr>
                    <th style="padding: 0px;" width="10%"></th>
                    <th style="padding:0px;" width="40%"></th>        
                    <th style="padding:0px;" width="20%"><span>Copay :</span></th>
                    <th style="padding:0px;" width="30%"><span class="amountPrefix"></span><span id="lblPrintCopay" style="float:left;"></span></th>
                </tr>
                <tr>
                    <th style="padding: 0px;" width="10%"></th>
                    <th style="padding:0px;" width="40%"></th>        
                    <th style="padding:0px;" width="20%"><span>Balance :</span></th>
                    <th style="padding:0px;" width="30%"><span class="amountPrefix"></span><span id="lblPrintTotalBill" style="float:left;"></span></th>
                </tr>
			</tfoot>
		</tbody>
	</table>
</div>
<div class="modal fade" id="insuranceModal" role="dialog">
	<input type="hidden" id="hdnInsurance" value="" />
	<input type="hidden" id="hdnPatientId" value="" />
	<a href="#insuranceModal" id="myInsuranceModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="insuranceModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="insuranceBody">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!--Confirm  Modal -->
<div class="modal fade" id="confirmInsuranceModal" role="dialog">
	<div id="confirm_popup">
		<a href="#confirmInsuranceModal" id="myConfirmInsuranceModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog confirm-modal-style">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close-confirm" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="confirmInsuranceModalLabel"></h4>
				</div>
				<div class="modal-body" id="confirmInsuranceBody"><!-- Add one extra class to clear div for another modal -->					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Ok" id="btnOk" />
					<input type="button" class="btn" style="margin-bottom: 2px !important;" data-dismiss="modal" aria-hidden="true" value="Cancel" id="cancel" />
				</div>
		  </div>			  
		</div>
	</div>  
</div>	

<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 46%;} 
    .control-label{margin-top: 10px;}
    table#codexpl td ,#tblCashPayment td{text-transform: capitalize;}
    #lblPrintPatient{text-transform: uppercase;}
    #printCashDetailss{
	    color: #fff;
	    padding: 4px 12px;
	    background: #0C71C8;
	    border: none;
	    border-radius: 3px;	    
	}	
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    #reciptNoMsg{display: inline-block;    margin-top: 1px;  margin-left: 3%;}
	.opd_reg {color: #fff;padding: 8px 15px;background: #0C71C8;border: none; border-radius: 3px;
		margin-top: 40px;margin:0 auto;position:relative;left:44%;
	}

	.opd_btn {color: #fff;padding: 8px 15px;background: #0C71C8;border: none;border-radius: 3px;
		margin-top: 40px;
	}

	#print{float: right;margin-right: 2%;}
	.fa-search{float: right;margin-top: -11%;margin-right: 3%;cursor: pointer;}
	.modal-view {width: initial !important;}
	.center {margin: 0;display: table; position: initial;}
	.search-modal-header {border-bottom: 1px solid #eee; border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 18px 10px;
		background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
		color: #FFF;
	}
	.amountpre{
		padding: 8px 12px;
		font-weight: 400;
		line-height: 1.3;
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 1.1px;
		width:20%;
	}
	.amountText{
		CURSOR: DEFAULT;
		float: left;
		width: 75%;
		position: relative;
	    margin-left: -2px;
	}
	#myCashModal{
		width: 87%;
    	margin-left: 13%;
	}
    #msgmyModal{
        width: 87%;
        margin-left: 13%;
        overflow: hidden;
    }
    .amountPrefix {
        float: left;
        margin-left: 0px;
        margin-right: 0px;
    }
    .error{
        height: 0px !important;
    }
    .display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
 	body{ overflow: hidden !important;}
 	#message_popup{ visibility: hidden; }
 	#footer{visibility: hidden; }
   .sidebar-scroll { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{visibility: hidden;border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​
</style>