<link rel="stylesheet" href="css/admin/chart_of_account.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/chart_of_account.js"></script> 
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Chart of Account</strong></h2>
	</div>
	<div id="chartOfAccountList">
		<h2 id="tabChartOfAccountList"><i class="fa fa-bars fa-fw"></i>Chart of Account List</h2>
		<h2 id="tabAddChartOfAccount" style="background:#fff; color:#000;">+Add Chart of Account</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="chartOfAccountTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Number</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Account Name</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Type</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Sub Type</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Classification Child</th>
						<th class="text-center td_cursor" style="max-width:10%; width:10% !important;">Parent Account Name</th>
						<th class="text-center td_cursor" style="max-width:10%; width:13% !important;">Notes</th>
						<th class="text-center td_cursor" width="7%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAccountNumber">Account Number<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtAccountNumber" maxlength="50" 
								class="form-control" required>
								<span id="txtAccountNumberError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAccountName">Account Name<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtAccountName" maxlength="50" 
								class="form-control" required>
								<span id="txtAccountNameError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	<!-- end row -->

			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAccountType">Account Type<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
							<select id="selAccountType" class="form-control">
								<option>--Select--</option>
							</select>
								<span id="selAccountTypeError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<div class="forty_aligned">
							<input type="checkbox" id="chkBoxChild" for="selIsChild">
							<label class="control-label" for="selIsChild" id="lblChild">is-child</label>
						</div>
						                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selIsChild" class="form-control">
									<option>--Select--</option>
								</select>
								<span id="selIsChildError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	<!-- end row -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selSubType">Sub Type<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selSubType" class="form-control">
									<option>--Select--</option>
								</select>
								<span id="selSubTypeError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selClass">Class<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selClass" class="form-control">
									<option>--Select--</option>
								</select>
								<span id="selClassError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>	<!-- end row -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtNotes">Notes
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	<!-- end row -->
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			
			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>
<style>
#chkBoxChild {
    margin: 5% 5% 0% 0%;
    float: left;
}
#txtAccountNumber{
	text-transform: capitalize;
}
#txtAccountName{
	text-transform: capitalize;
}
#myModalBody #chkBoxChild {
    margin: 10% 5% 0% 0%;
    float: left;
}
</style>







	