<link rel="stylesheet" href="css/admin/cheque_settings.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/cheque_settings.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Cheque Settings</strong></h2>
	</div>

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered clearForm">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<fieldset class="fieldset-border" id="fieldsetBorder">
					    <legend class="fieldset-border">Custom Paper Size</legend>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtPaperWidth">Width<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtPaperWidth" name="txtPaperWidth" class="form-control">
                                    <span id="txtPaperWidthError" class="error"></span>
                                </div>
                            </div>
							<label class="forty_aligned control-label" for="txtPaperHeight">Height<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtPaperHeight" name="txtPaperHeight" class="form-control">
                                    <span id="txtPaperHeightError" class="error"></span>
                                </div>
                            </div>
						</div>
					</fieldset>
				</div>   
				<div class="half_aligned">
					<fieldset class="fieldset-border" id="fieldsetBorder">
					    <legend class="fieldset-border">Date Positioning</legend>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtDateTop">Top<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtDateTop" name="txtDateTop" class="form-control">
                                    <span id="txtDateTopError" class="error"></span>
                                </div>
                            </div>
							<label class="forty_aligned control-label" for="txtDateLeft">Left<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtDateLeft" name="txtDateLeft" class="form-control">
                                    <span id="txtDateLeftError" class="error"></span>
                                </div>
                            </div>
						</div>
					</fieldset>
				</div>		
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<fieldset class="fieldset-border" id="fieldsetBorder">
					    <legend class="fieldset-border">Payee Detail</legend>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtPayeeTop">Top<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtPayeeTop" name="txtPayeeTop" class="form-control">
                                    <span id="txtPayeeTopError" class="error"></span>
                                </div>
                            </div>
							<label class="forty_aligned control-label" for="txtPayeeLeft">Left<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtPayeeLeft" name="txtPayeeLeft" class="form-control">
                                    <span id="txtPayeeLeftError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtPayeeWidth">Width<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtPayeeWidth" name="txtPayeeWidth" class="form-control">
                                    <span id="txtPayeeWidthError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtPayeePrefix">Prefix<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtPayeePrefix" name="txtPayeePrefix" class="form-control">
                                    <span id="txtPayeePrefixError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtPayeeSuffix">Suffix<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtPayeeSuffix" name="txtPayeeSuffix" class="form-control">
                                    <span id="txtPayeeSuffixError" class="error"></span>
                                </div>
                            </div>
						</div>
					</fieldset>
				</div>   
				<div class="half_aligned">
					<fieldset class="fieldset-border" id="fieldsetBorder">
					    <legend class="fieldset-border">Amount(In Words)</legend>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtAmountWordWidth">Width<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountWordWidth" name="txtAmountWordWidth" class="form-control">
                                    <span id="txtAmountWordWidthError" class="error"></span>
                                </div>
                            </div>
							<label class="forty_aligned control-label" for="txtAmountWordHeight">Height<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountWordHeight" name="txtAmountWordHeight" class="form-control">
                                    <span id="txtAmountWordHeightError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtAmountWordTop">Top<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountWordTop" name="txtAmountWordTop" class="form-control">
                                    <span id="txtAmountWordTopError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtAmountWordLeft">Left<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountWordLeft" name="txtAmountWordLeft" class="form-control">
                                    <span id="txtAmountWordLeftError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtAmountWordDigits">Max. No. of Digits<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountWordDigits" name="txtAmountWordDigits" class="form-control">
                                    <span id="txtAmountWordDigitsError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtAmountWordPrefix">Prefix for Null Value<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtAmountWordPrefix" name="txtAmountWordPrefix" class="form-control">
                                    <span id="txtAmountWordPrefixError" class="error"></span>
                                </div>
                            </div>
						</div>
					</fieldset>
				</div>		
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<fieldset class="fieldset-border" id="fieldsetBorder">
					    <legend class="fieldset-border">Amount(In Figures)</legend>
					    <div class="form-group">
							<label class="forty_aligned control-label" for="txtAmountFiguresTop">Top<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountFiguresTop" name="txtAmountFiguresTop" class="form-control">
                                    <span id="txtAmountFiguresTopError" class="error"></span>
                                </div>
                            </div>
							<label class="forty_aligned control-label" for="txtAmountFiguresLeft">Left<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountFiguresLeft" name="txtAmountFiguresLeft" class="form-control">
                                    <span id="txtAmountFiguresLeftError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtAmountFiguresWidth">Width<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="number" id="txtAmountFiguresWidth" name="txtAmountFiguresWidth" class="form-control">
                                    <span id="txtAmountFiguresWidthError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtAmountFiguresPrefix">Prefix<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtAmountFiguresPrefix" name="txtAmountFiguresPrefix" class="form-control">
                                    <span id="txtAmountFiguresPrefixError" class="error"></span>
                                </div>
                            </div>
                            <label class="forty_aligned control-label" for="txtAmountFiguresSuffix">Suffix<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtAmountFiguresSuffix" name="txtAmountFiguresSuffix" class="form-control">
                                    <span id="txtAmountFiguresSuffixError" class="error"></span>
                                </div>
                            </div>
						</div>
					</fieldset>
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtFontSize">Font Size<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="txtFontSize" maxlength="50" 
								class="form-control" required>
								<span id="txtFontSizeError" class="error"></span>
							</div>
						</div>
						<label class="forty_aligned control-label" for="chkBox"><input type="checkbox" id="chkBox" class="Chk_box">Preview</label>

					</div>
				</div>   
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			<input type="button" value="Reset Default" class="add_dept btn_save" id="btnResetDefault">
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>







	