<!-- javascript code used only in this page for validation-->
<link rel="stylesheet" href="css/jquery-ui.min.css" />     
<script src="script/jQuery.print.min.js"></script>
<script src="script/jquery-ui.min.js"></script>
<link rel="stylesheet" href="css/admin/clinical_findings.css">
<!-- javascript code used only in this page for validation-->
<script src="script/admin/clinical_findings.js"></script>
<!-- <style>
body {
overflow:hidden;
}
</style> -->
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title title-clinical-findings">
        <h2><strong>Clinical Findings</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="clinicalFindingsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textPresentingComplaint" id="clinicalStyle">Presenting Complaint</label>
                        <div class="sixty_aligned">
							<input type="text" id="textPresentingComplaint" autocomplete ="off" name="textPresentingComplaint"
							class="form-control clear-text" autofocus>
                            <span id ="textPresentingComplaintError" class="error"></span>
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtGeneralAppearance" id="clinicalStyle">General Appearance</label>
                        <div class="sixty_aligned">
							<input type="text" id="txtGeneralAppearance" autocomplete ="off" name="txtGeneralAppearance"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->                 
                </div>
            </div><!-- end row -->

            <div class="row"><!-- IInd row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPVPR" id="clinicalStyle">PV/PR</label>             
                        <div class="sixty_aligned">
							<input type="text" id="txtPVPR" name="txtPVPR" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtRespiratory" id="clinicalStyle">Respiratory</label>
                        <div class="sixty_aligned">
							<input type="text" id="txtRespiratory" name="txtRespiratory" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPsychologicalStatus" id="clinicalStyle">Psychological Status</label>
                        <div class="sixty_aligned">
							<input type="text" id="txtPsychologicalStatus" name="txtPsychologicalStatus" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>
               <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtCVS" id="clinicalStyle">CVS</label>                                
                        <div class="sixty_aligned">
							<input type="text" id="txtCVS" name="txtCVS" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->

            <div class="row"><!-- IV th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtENT" id="clinicalStyle">ENT
                        </label>
                        <div class="sixty_aligned">
							<input type="text" id="txtENT" name="txtENT" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAbdomen" id="clinicalStyle">Abdomen & GUT
                        </label>                                
                        <div class="sixty_aligned">
							<input type="text" id="txtAbdomen" name="txtAbdomen" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- V th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPMHPSH" id="clinicalStyle">PMH/PSH</label>
                        <div class="sixty_aligned">
							<input type="text" id="txtPMHPSH" name="txtPMHPSH" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtCNS" id="clinicalStyle">CNS</label>                                
                        <div class="sixty_aligned">
							<input type="text" id="txtCNS" name="txtCNS" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VI th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPOH" id="clinicalStyle">POH</label>
                        <div class="sixty_aligned">
							<input type="text" id="txtPOH" name="txtPOH" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtEYE" id="clinicalStyle">EYE</label>                                
                        <div class="sixty_aligned">
							<input type="text" id="txtEYE" name="txtEYE" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VII th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPGH" id="clinicalStyle">PGH</label>
                        <div class="sixty_aligned">
							<input type="text" id="txtPGH" name="txtPGH" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtMuscularSkeletal" id="clinicalStyle">Muscular Skeletal</label>                                
                        <div class="sixty_aligned">
							<input type="text" id="txtMuscularSkeletal" name="txtMuscularSkeletal" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VIII th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFSH" id="clinicalStyle">FSH
                        </label>
                        <div class="sixty_aligned">
							<input type="text" id="txtFSH" name="txtFSH" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtSkin" id="clinicalStyle">Skin & Other(s)</label>                                
                        <div class="sixty_aligned">
							<input type="text" id="txtSkin" name="txtSkin" autocomplete ="off"
							class="form-control clear-text">
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- IX th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtClinicalNotes" id="clinicalStyle">Clinical Notes</label>
                        <div class="sixty_aligned">
							<textarea id="txtClinicalNotes" name="txtClinicalNotes" rows="3" autocomplete ="off"
								class="form-control ui-wizard-content"></textarea>
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtProvisionalDiagnosis" id="clinicalStyle">Provisional Diagnosis
                        </label>                                
                        <div class="sixty_aligned">
							<textarea id="txtProvisionalDiagnosis" name="txtProvisionalDiagnosis" rows="3"  autocomplete ="off"
								class="form-control ui-wizard-content"></textarea>
                        </div>
						<div class="add_button">
							<input type = "button" value="+" class="opd_reg btn_save addTemplate">
                        </div>
                    </div><!--  form group-->
                </div>    

            </div><!-- end row -->
            <div class="row" align="center">
                <input type="button" value="Update" class="opd_reg btn_save" id="btnSubmit">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btn_Reset">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->

<!-- Add value of label in this popup -->
<!-- Modal for search patient-->
<div class="modal fade" id="myLabelTemplateModal" role="dialog">
	<input type="hidden" id="hdnAccountNo" value="">
	<a href="#myLabelTemplateModal" id="labelTemplateModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="labelTemplateModalHeader" style="color:white;"></h4>
			</div>
			<div class="" id="labelTemplateModalBody" style="padding:20px;">
				<div class="tenth_aligned">
					<div class="form-group">
						 <input type="button" id ="addValue" class= "addValues" value="+Add">
						 <span class='error' id='noDataError' style="width: 134px; float: right; margin-top: 11px;"></span>
					</div>
				</div>			
				<div style="margin-top:1%;" class="blackborder">
					<div class="table-responsive" style="margin-top:20px;">
						<table id="tblLabelValueTemplate" class="table table-vcenter table-responsive table-condensed table-bordered display">
							<thead>
								<tr>
									<th class="text-center" style="width: 10%;min-width: 10% !important;">#</th>
									<th class="text-center" style="width: 80%;min-width: 80% !important;">Value</th>
									<th class="text-center" style="width: 10%;min-width: 10% !important;"></th>
								</tr>
							</thead>						
						</table>
						<input id="selectedRow" type="hidden" value="0" />
					</div>
				</div>
				 <div class="form-group form-actions buttons center-buttons">
					<input type="button" value="Save" class="opd_reg btn_save" id="btnSave" style="display:none;">
					<!-- <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetValue" style="display:none;"> -->
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<style>
#myLabelTemplateModal{
    width: 87%;
    margin-left: 13%;
}
</style>

