<link href="css/jquery.dataTables.css" rel="stylesheet"> 
<link href="css/dataTables.jqueryui.css" rel="stylesheet">
<link rel="stylesheet" href="css/admin/configure_item_price.css">

<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!--Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>

<script src="script/admin/configure_item_price.js"></script>

<div class="block">
	
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Configure Item Price</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="viewConfItemCost"><!-- search staff on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewConfItemCostForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first1" class="step">
			<!-- Step Info -->
				<div class=" row"><!-- Ist row -->
						<div class="half_aligned">
							<label class="forty_aligned control-label" for="txtConfItem">Item</label>
							<div class="sixty_aligned">
								<div class="control-label">
									<input type="text" id="txtConfItem" name="txtConfItem" class="form-control">
									<span class="error" id="txtConfItemError"></span>
									<i id="searchItemIcon" class="fa fa-search" style="position: relative;"></i>
									<input type="button" value="Search" class="btn_search" id="btnSearchItem">
								</div>
							</div>
						</div>					
				</div><!-- end row -->  
				<div class="row"><!-- Ist row -->					
					<div class="half_aligned">
						<label class="forty_aligned control-label" for="txtConfItemDesc">Item Description</label>
						<div class="sixty_aligned control-label">
							<div class="">
								<textarea id="txtConfItemDesc" name="txtConfItemDesc" rows="4"  class="form-control ui-wizard-content" readonly></textarea>
							</div>
						</div>
					</div>										
				</div><!-- end row --> 
				<div class="row"><!-- Ist row -->
					<div class="half_aligned">
						<label class="forty_aligned control-label" for="txtOldConfItemPrice">Item Cost</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtOldConfItemPrice" name="txtConfItemPrice" class="form-control" readonly>
							</div>
						</div>
					</div>					
				</div><!-- end row --> 
				<div class="row"><!-- Ist row -->
					<div class="half_aligned">
						<label class="forty_aligned control-label" for="txtConfItemPrice">Item Price</label>
						<div class="sixty_aligned">
							<div class="control-label">
								<input type="text" id="txtConfItemPrice" name="txtConfItemPrice" class="form-control">
								<span class="error" id="txtConfItemPriceError"></span>
							</div>
						</div>
					</div>					
				</div><!-- end row --> 			  

				<div class="form-group form-actions" style="display: inline-block; width: 100%;margin-left: 15%;">
					<input type="button" value="Save" class="btn_search" 
					id="btnConfsave">
					<input type="button" value="Reset" class="btn_reset" 
					id="btnReset">
				</div>
			</div>			
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="chk-active_inactive" style=" display:none;">
				<label for="inactive-checkbox-tick" id="checklabel">Inactive</label>
					<input type="checkbox" id="inactive-checkbox-tick" 
					class="inactive-checkbox" name="">
			</div>					
			<div class="table-responsive" style="margin-top:20px;">				
				<table id="viewItemPriceTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="20%">Item</th>
							<th class="text-center" width="20%">Price</th>
							<th class="text-center" width="60%">Description</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div><!-- End view visit -->
</div>

<div class="modal fade" id="configureItemPriceModal" role="dialog">
<input type="hidden" value="" id="hdnConfigureItem">
	<a href="#configureItemPriceModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4>Item Details</h4>
			</div>
			<div class="modal-body" id="configureItemPriceBody">				
			</div> 
	  </div>			  
	</div>
</div>