<link rel="stylesheet" href="css/admin/services.css">
<link rel="stylesheet" media="screen" type="text/css" href="css/colorpicker.css" />
<script src="script/admin/configuration.js"></script>
<script src="script/admin/color_specifier.js"></script>
<script type="text/javascript" src="script/colorpicker.js"></script>

<div class="block">
	<div class="block-title" >
		<h2><strong>Configuration</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divConfiguration">
                <div class="col-md-12">
                    <form method="post" id="form_submit_services">
					<div id="popUPForm">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtErrorColor">Error Color</label>
								<div class="sixty_aligned control-label">
									<input type="text" id="txtErrorColor" name="txtErrorColor" class="form-control" size="1"  >
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtPatientId"> Patient Id</label>
								<div class="sixty_aligned control-label">
									<input type="text" id="txtPatientId" name="txtPatientId" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtVisitId"> Visit Id</label>
								<div class="sixty_aligned control-label">
									<input type="text" id="txtVisitId" name="txtVisitId" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtDrugCode">Drug Code</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtDrugCode" name="txtDrugCode" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtFamilyAccountPrefix">Family Account Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtFamilyAccountPrefix"  class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtFamilyAccountPrefix">Amount Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtAmountPrefix"  class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtIPDPrefix">IPD Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtIPDPrefix"  class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtBgColor">Background Color</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtBgColor" class="form-control">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtStaffPrefix">Staff Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtStaffPrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtInvoicePrefix">Invoice Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtInvoicePrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtProductPrefix">Product Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtProductPrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtCustomerPrefix">Customer Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtCustomerPrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtReceiptPrefix">Receipt Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtReceiptPrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtVoucherPrefix">Voucher Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtVoucherPrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtImprestPrefix">Imprest Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtImprestPrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtPettyPrefix">Petty Prefix</label>
								<div class="sixty_aligned control-label" >
									<input type="text" id="txtPettyPrefix" class="form-control" maxlength="3">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
                    <input type="button" value="Update" class="add_services btn_save" id="btnUpdate" name="submit" />
					<input type="reset" value="Reset" class="add_services btn_reset" id="btnReset" name="submit" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->