<link rel="stylesheet" href="css/admin/consultant.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/consultant.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Doctor's Station</strong></h2>
        <input type="hidden" id="thing" name="thing" value="3" />
        <input type="hidden" id="hdnConsultant" value="" />
    </div>
    <!-- END Wizard with Validation Title -->
    <!-- Wizard with Validation Content -->
    <form id="viewConsultantForm" method="post" class="form-horizontal form-bordered">

        <!-- Modal for search patient-->
        <div id="myConsultantModal">
            
        </div>       

        <!-- First Step -->
        <div id="advanced-first" class="step advanced-first-consultant">
            <!-- Step Info -->
            <div class="row">
                <div class="">
                    <div class="form-group">
                        <input type="button" value="Back To Visit List" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button" id="btnBackCnsltViewList">
                    </div>    
                </div>    
            </div>
            <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textvisitId">Visit Id<span class="text-danger">*</span></label>                                
                        <div class="sixty_aligned" style="width: 31% !important;">
                            <div class="" style="position: relative;">
                                <!-- <i class="fa fa-search" id="serachVisitIcon" style="cursor:pointer;"></i>-->
                                <input type="text" id="textvisitId" name="textvisitId"
                                    class="form-control">
                                <span id="textvisitIdError" class="error"></span>
                            </div>
                        </div>
                        <input type="button" value="Load" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button" id="btnVisitLoad">
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtRegisterService">Register Service</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtRegisterService" style="cursor:default;" name="txtRegisterService" readonly class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <div class="row">
                <!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtvisitDate">Visit Date</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtvisitDate" style="cursor:default;" name="txtvisitDate" readonly class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtVisitType">Visit Type</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtVisitType" style="cursor:default;" name="txtVisitType" readonly class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            <div class="row">
                <!-- IIIrd row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientID">Patient ID</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPatientID" style="cursor:default;" name="txtPatientID" readonly class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtpatientName">Patient Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtpatientName" style="cursor:default;" name="txtpatientName" readonly class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            <div class="row">
                <!-- IVth row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtJoiningDate">Joining Date</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtJoiningDate" style="cursor:default;" readonly name="txtJoiningDate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Age</label>
                        <div class="sixty_aligned">
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txtYear"  name="get_yr" class="form-control" readonly="">Years
                                </div>
                            </div>
                            <div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
                                <div class="">
                                    <input type="text" id="txtMonth" name="get_mon" class="form-control" readonly="">Month
                                </div>
                            </div>
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txtDay" name="get_day" class="form-control" readonly="">Days
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            <div class="row">
                <!-- Vth row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtgender">Gender</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtgender" style="cursor:default;" name="txtGender" readonly class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtTotalVisit">Total Visit</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtTotalVisit" style="cursor:default;" name="txtTotalVisit" class="form-control" readonly>
                                <!--   <span id="txtTotalVisitError" class="error"></span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row startDiagonisViewHistory">
                <!-- VIth row -->
                <div class="half_aligned">
                    <input type="button" value = "Start Diagnosis" id="btnStartDiagnosis" class="consultantDiagnosisButtons">
                </div>
                <div class="half_aligned">
                    <input type="button" value = "View Old History" id="btnViewOldHistory" class="consultantDiagnosisButtons">
                </div>
                <div class="half_aligned alignCenter">
                    <input type="button" value = "IPD Request" id="btnRequestIpd" class="consultantDiagnosisButtons">
                </div>
            </div>
            <!-- end row -->                 
            <div class="row" id="oldHistoryOfVisitsTable">
            	<table id="oldHistoryOfVisits" class="table table-vcenter table-condensed table-bordered">
				    <thead>
				        <tr>
				            <th class="text-center" width ="10%" >Visit Id</th>
				            <th class="text-center" width ="20%" >Visit Type</th>
				            <th class="text-center" width ="20%" >Visit Date</th>
				            <th class="text-center" width ="20%" >Service Name</th>
				            <th class="text-center" width ="20%" >Consultant</th>
				            <th class="text-center" width ="10%" ></th>
				        </tr>
				    </thead>
				</table>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Tab Buttons -->
        <div class="container" id="tabsConsultant" style="width:100%;height:auto">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabConsultantLst" role="tablist">
                <li>
                    <a href="#tabGeneral" role="tab" data-toggle="tab">General</a>
                </li>
                <li>
                    <a href="#tabTestRequest" role="tab" data-toggle="tab">Test Request</a>
                </li>
                <li>
                    <a href="#tabServicesRequest" role="tab" data-toggle="tab">Services Request</a>
                </li>
                <li>
                    <a href="#tabPrescription" role="tab" data-toggle="tab">Prescription</a>
                </li>
                <li>
                    <a href="#tabTestResults" role="tab" data-toggle="tab">Test Results</a>
                </li>
                <li class="hidden">
                    <a href="#tabInternalReferrals" role="tab" data-toggle="tab">Internal Referrals</a>
                </li>
                <li class="hidden">
                    <a href="#tabAppointments" role="tab" data-toggle="tab">Appointments</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade" id="tabGeneral">
                    <div class="container" style="width:100%;height:auto" >
                        <ul class="nav nav-tabs tabConsultantLst" role="tablist">
                            <li>
                                <a href="#tabTriage" role="tab" data-toggle="tab">Triage</a>
                            </li>
                            <li>
                                <a href="#tabClinicalFindings" role="tab" data-toggle="tab">Clinical Findings</a>
                            </li>
                            <li>
                                <a href="#tabDiagnosis" role="tab" data-toggle="tab">Diagnosis</a>
                            </li>
                            <li>
                                <a href="#tabAllergy" role="tab" data-toggle="tab">Allergy</a>
                            </li>
                            <li>
                                <a href="#tabVisionAssessment" role="tab" data-toggle="tab">Vision Assessment</a>
                            </li>
							<li>
                                <a href="#tabQuestionnaire " role="tab" data-toggle="tab">Questionnaire </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade" id="tabTriage" data-url="triage_general">
                                <!-- tabTriage Content -->
                            </div>
                            <div class="tab-pane fade" id="tabClinicalFindings" data-url="clinical_findings">
                                <!-- tabClinicalFindings Content -->
                            </div>
                            <div class="tab-pane fade" id="tabDiagnosis" data-url="diagnosis_general">
                                <!-- tabDiagnosis Content -->
                            </div>
                            <div class="tab-pane fade" id="tabAllergy" data-url="allergy_request">
                                <!-- tabDiagnosis Content -->
                            </div>
                            <div class="tab-pane fade" id="tabVisionAssessment" data-url="vision_assessment">
                                <!-- tabDiagnosis Content -->
                            </div>
							<div class="tab-pane fade" id="tabQuestionnaire" data-url="questionnaire">
                                <!-- tabDiagnosis Content -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabTestRequest">
                    <!-- tabTestRequest Content Start-->
                    <div class="container" style="width:100%;height:auto">
                        <ul class="nav nav-tabs tabConsultantLst" role="tablist" >
                            <li>
                                <a href="#tabLabTestRequest" role="tab" data-toggle="tab">Lab Test Request</a>
                            </li>
                            <li>
                                <a href="#tabRadiologyTestRequest" role="tab" data-toggle="tab">Radiology Test Request</a>
                            </li>
                            <li>
                                <a href="#tabForensicTestRequest" role="tab" data-toggle="tab">Forensic Test Request</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade" id="tabLabTestRequest" data-url="lab_test_request">
                                <!-- tabLabTest Content -->
                            </div>
                            <div class="tab-pane fade" id="tabRadiologyTestRequest" data-url="radiology_test_request">
                                <!-- tabRadiologyTest Content -->
                            </div>
                            <div class="tab-pane fade" id="tabForensicTestRequest" data-url="forensic_test_request">
                                <!-- tabForensicTest Content -->
                            </div>
                            <div class="tab-pane fade" id="tabDentalTestRequest" data-url="dental_test_request">
                                <!-- tabDiagnosis Content -->
                            </div>
                        </div>
                    </div>
                    <!-- tabTestRequest Content End-->
                </div>
                <div class="tab-pane fade" id="tabServicesRequest">
                    <!-- tabServicesRequest Content Start -->
                    <div class="container" style="width:100%;height:auto">
                        <ul class="nav nav-tabs tabConsultantLst"  role="tablist">
                            <li>
                                <a href="#divServicesRequest" role="tab" data-toggle="tab">Services</a>
                            </li>
                            <li>
                                <a href="#tabProceduresRequest" role="tab" data-toggle="tab">Procedures</a>
                            </li>
                            <li class="hidden">
                                <a href="#tabTheaterRequest" role="tab" data-toggle="tab">Theater</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade" id="divServicesRequest" data-url="services_request">
                                <!-- tabServices Content -->
                            </div>
                            <div class="tab-pane fade" id="tabProceduresRequest" data-url="procedures_request">
                                <!-- tabProcedures Content -->
                            </div>
                            <div class="tab-pane fade" id="tabTheaterRequest" data-url="theater_request">
                                <!-- tabTheater Content -->
                            </div>
                        </div>
                    </div>
                    <!-- tabServicesRequest Content End -->
                </div>
                <div class="tab-pane fade" id="tabPrescription" data-url="prescription">
                    <!-- tabPerscription Content-->
                </div>
                <div class="tab-pane fade" id="tabTestResults">
                    <!-- tabTestResults Content Start-->
                    <div class="container" style="width:100%;height:auto">
                        <ul class="nav nav-tabs tabConsultantLst" role="tablist">
                            <li>
                                <a href="#tabLabTestResult" role="tab" data-toggle="tab">Lab Test Result</a>
                            </li>
                            <li>
                                <a href="#tabRadiologyTestResult" role="tab" data-toggle="tab">Radiology Test Result</a>
                            </li>
                            <li>
                                <a href="#tabForensicTestResult" role="tab" data-toggle="tab">Forensic Test Result</a>
                            </li>
                            <li>
                                <a href="#tabExternalTestResult" role="tab" data-toggle="tab">Extrernal Test Result</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade" id="tabLabTestResult" data-url="lab_test_result">
                                <!-- tabLabTestResult Content -->
                            </div>
                            <div class="tab-pane fade" id="tabRadiologyTestResult" data-url="radiology_test_result">
                                <!-- tabRadiologyTestResult Content -->
                            </div>
                            <div class="tab-pane fade" id="tabForensicTestResult" data-url="forensic_test_result">
                                <!-- tabForensicTestResult Content -->
                            </div>
                            <div class="tab-pane fade" id="tabExternalTestResult" data-url="external_result">
                                <!-- tabForensicTestResult Content -->
                            </div>
                            <div class="tab-pane fade" id="tabDentalTestResult" data-url="dental_test_result">
                                <!-- tabDiagnosisResult Content -->
                            </div>
                        </div>
                    </div>
                    <!-- tabTestResults Content End-->
                </div>
                <div class="tab-pane fade hidden" id="tabInternalReferrals" data-url="internal_referrals">
                    <!-- tabInternalReferrals Content-->
                </div>
                <div class="tab-pane fade hidden" id="tabAppointments" data-url="appointments">
                    <!-- tabAppointments Content-->
                </div>
            </div>
        </div>
        <!-- END Tab Buttons -->
    </form>
</div>
<!-- Modal to show details of old history when click on view-->
<div class="modal fade" id="oldHistoryModalDetails" role="dialog">
    <a href="#myModal" id="modal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog modal-dialog-style" >
        <!-- Modal content-->
        <div class="modal-content modal-confirm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <div id="pop_up_close">X</div>
                </button>
                <h4 id="myoldHistoryModalDetailsLabel">View Old history of patient</h4>
            </div>
            <div class="" id="oldHistoryModalBody">
                <div class="row">
                    <div class="half_aligned" style="margin-left:2%;">
                        <div class="form-group">
                            <label class="forty_aligned control-label" style="width:22%;">Visit Id :</label>            
                            <label class="forty_aligned control-label" id ="oldHistoryVisitId"></label>
                        </div>
                        <!--  form group-->
                    </div>
                    <div class="half_aligned" style="margin-left:-12%;">
                        <div class="form-group">
                            <label class="forty_aligned control-label" style="width:22%;">Visit Date :</label>             
                            <label class="forty_aligned control-label" id ="oldHistoryVisitDate"></label>
                        </div>
                        <!--  form group-->
                    </div>
                </div><!-- end row -->
                <div class="row">
                	<div class="container" id="tabsViewConsultant" style="width:100%;height:auto">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabViewConsultantLst" role="tablist">
                    <li>
                        <a href="#tabViewGeneral" role="tab" data-toggle="tab">General</a>
                    </li>
                    <li>
                        <a href="#tabViewTestRequest" role="tab" data-toggle="tab">Test Request</a>
                    </li>
                    <li>
                        <a href="#tabViewServicesRequest" role="tab" data-toggle="tab">Services Request</a>
                    </li>
                    <li>
                        <a href="#tabViewPrescription" role="tab" data-toggle="tab">Prescription</a>
                    </li>
                    <li>
                        <a href="#tabViewTestResults" role="tab" data-toggle="tab">Test Results</a>
                    </li>
                    <li class="hidden">
                        <a href="#tabViewInternalReferrals" role="tab" data-toggle="tab">Internal Referrals</a>
                    </li>
                    <li class="hidden">
                        <a href="#tabViewAppointments" role="tab" data-toggle="tab">Appointments</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade" id="tabViewGeneral">
                        <div class="container" style="width:100%;height:auto" >
                            <ul class="nav nav-tabs tabViewConsultantLst" role="tablist">
                                <li>
                                    <a href="#tabViewTriage" role="tab" data-toggle="tab">Triage</a>
                                </li>
                                <li>
                                    <a href="#tabViewClinicalFindings" role="tab" data-toggle="tab">Clinical Findings</a>
                                </li>
                                <li class="">
                                    <a href="#tabViewDiagnosis" role="tab" data-toggle="tab">Diagnosis</a>
                                </li>
                                <li>
                                    <a href="#tabViewAllergy" role="tab" data-toggle="tab">Allergy</a>
                                </li>
                                <li>
                                    <a href="#tabViewVisionAssessment" role="tab" data-toggle="tab">Vision Assessment</a>
                                </li>
								<li>
                                    <a href="#tabViewQuestionnaire" role="tab" data-toggle="tab">Questionnaire</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabViewTriage" data-url="triage_general">
                                    <!-- tabTriage Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewClinicalFindings" data-url="clinical_findings">
                                    <!-- tabClinicalFindings Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewDiagnosis" data-url="diagnosis_general">
                                    <!-- tabDiagnosis Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewAllergy" data-url="allergy_request">
                                    <!-- tabDiagnosis Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewVisionAssessment" data-url="vision_assessment">
                                    <!-- tabDiagnosis Content -->
                                </div>
								<div class="tab-pane fade" id="tabViewQuestionnaire" data-url="questionnaire">
                                    <!-- tabDiagnosis Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabViewTestRequest">
                        <!-- tabTestRequest Content Start-->
                        <div class="container" style="width:100%;height:auto">
                            <ul class="nav nav-tabs tabViewConsultantLst" role="tablist" >
                                <li>
                                    <a href="#tabViewLabTestRequest" role="tab" data-toggle="tab">Lab Test Request</a>
                                </li>
                                <li>
                                    <a href="#tabViewRadiologyTestRequest" role="tab" data-toggle="tab">Radiology Test Request</a>
                                </li>
                                <li>
                                    <a href="#tabViewForensicTestRequest" role="tab" data-toggle="tab">Forensic Test Request</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabViewLabTestRequest" data-url="lab_test_request">
                                    <!-- tabLabTest Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewRadiologyTestRequest" data-url="radiology_test_request">
                                    <!-- tabRadiologyTest Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewForensicTestRequest" data-url="forensic_test_request">
                                    <!-- tabForensicTest Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewDentalTestRequest" data-url="dental_test_request">
                                    <!-- tabDiagnosis Content -->
                                </div>
                            </div>
                        </div>
                        <!-- tabTestRequest Content End-->
                    </div>
                    <div class="tab-pane fade" id="tabViewServicesRequest">
                        <!-- tabServicesRequest Content Start -->
                        <div class="container" style="width:100%;height:auto">
                            <ul class="nav nav-tabs tabViewConsultantLst"  role="tablist">
                                <li>
                                    <a href="#divViewServicesRequest" role="tab" data-toggle="tab">Services</a>
                                </li>
                                <li>
                                    <a href="#tabViewProceduresRequest" role="tab" data-toggle="tab">Procedures</a>
                                </li>
                                <li class="hidden">
                                    <a href="#tabViewTheaterRequest" role="tab" data-toggle="tab">Theater</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="divViewServicesRequest" data-url="services_request">
                                    <!-- tabServices Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewProceduresRequest" data-url="procedures_request">
                                    <!-- tabProcedures Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewTheaterRequest" data-url="theater_request">
                                    <!-- tabTheater Content -->
                                </div>
                            </div>
                        </div>
                        <!-- tabServicesRequest Content End -->
                    </div>
                    <div class="tab-pane fade" id="tabViewPrescription" data-url="prescription">
                        <!-- tabPerscription Content-->
                    </div>
                    <div class="tab-pane fade" id="tabViewTestResults">
                        <!-- tabTestResults Content Start-->
                        <div class="container" style="width:100%;height:auto">
                            <ul class="nav nav-tabs tabViewConsultantLst" role="tablist">
                                <li>
                                    <a href="#tabViewLabTestResult" role="tab" data-toggle="tab">Lab Test Result</a>
                                </li>
                                <li>
                                    <a href="#tabViewRadiologyTestResult" role="tab" data-toggle="tab">Radiology Test Result</a>
                                </li>
                                <li>
                                    <a href="#tabViewForensicTestResult" role="tab" data-toggle="tab">Forensic Test Result</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabViewLabTestResult" data-url="lab_test_result">
                                    <!-- tabLabTestResult Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewRadiologyTestResult" data-url="radiology_test_result">
                                    <!-- tabRadiologyTestResult Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewForensicTestResult" data-url="forensic_test_result">
                                    <!-- tabForensicTestResult Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewExternalTestResult" 
                                    data-url="external_result">
                                </div>
                                <div class="tab-pane fade" id="tabViewDentalTestResult" data-url="dental_test_result">
                                    <!-- tabDiagnosisResult Content -->
                                </div>
                            </div>
                        </div>
                        <!-- tabTestResults Content End-->
                    </div>
                    <div class="tab-pane fade hidden" id="tabInternalReferrals" data-url="internal_referrals">
                        <!-- tabInternalReferrals Content-->
                    </div>
                    <div class="tab-pane fade hidden" id="tabAppointments" data-url="appointments">
                        <!-- tabAppointments Content-->
                    </div>
                </div>
            </div>
                </div>
            </div>
            <!-- Tab Buttons -->
            
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- Modal for search patient-->
<div class="modal fade" id="myIPDRequestModal" role="dialog">
    <a href="#myIPDRequestModal" id="cashModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4> IPD Request</h4>
            </div>
            <div class="modal-body" id="IPDRequestModalBody">
                <div class="row">
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="selStaffType">Staff Type<span class="text-danger">*</span></label>                 
                            <div class="sixty_aligned">
                                <select class="form-control" name="selStaffType" id="selStaffType">
                                <option value="">--Select--</option></select>
                                <span id="selStaffTypeError" class="error"></span>
                            </div>
                        </div><!--  form group-->
                    </div>
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="selOperatingConsultant">Operating Consultant<span class="text-danger">*</span></label>                 
                            <div class="sixty_aligned">
                                <select class="form-control dependentSelect" name="selOperatingConsultant" id="selOperatingConsultant">
                                <option value="">--Select--</option></select>
                                <span id="selOperatingConsultantError" class="error"></span>
                            </div>
                        </div><!--  form group-->
                    </div>
                </div>    
                <div class="row">
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="txtReason">Reason<span class="text-danger">*</span></label>                 
                            <div class="sixty_aligned">
                                <textarea id="txtReason" name="txtReason" rows="3" class="form-control ui-wizard-content"></textarea>
                                <span id="txtReasonError" class="error"></span>
                            </div>
                        </div><!--  form group-->
                    </div>
                </div>
                <div class="row alignCenter">
                    <input type="button" value="Request IPD" id="btnSaveIPDRequest" class="consultantDiagnosisButtons">
                </div>
            </div>
      </div>              
    </div>
</div>