<link rel="stylesheet" href="css/admin/customer_invoice.css">
<!--Data Table js-->  
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/customer_invoice.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Customer Invoice</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">            
            <!-- end table  --> 
            <div id="formCustomer">                
                <div class="col-md-12">
                    <form method="post" id="form_product" class="clearForm">
                        <div id="customerInvoicePopUPForm">
                            <div class="row text-center showCustomerTabs">
                                <ul class="customerTabs">
                                    <li>
                                        <input type="button" class="btn customerBtn" aria-hidden="true" value="Main" attr="mainScreen">
                                    </li>
                                    <li>
                                        <input type="button" class="btn customerBtn" aria-hidden="true" value="Line Items" attr="lineItem">
                                    </li>
                                    <li>
                                        <input type="button" class="btn customerBtn" aria-hidden="true" value="Recurrance Detail" attr="recurranceDetail">
                                    </li>                 
                                </ul>
                            </div>

                            <div class="tabScreen" id="mainCustomerScreen">
                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtCustomerId">Customer Id<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtCustomerId" name="txtCustomerId" class="form-control" maxlength="9">
                                                <span id="txtCustomerIdError" class="error"></span>
                                                <i id="searchCustomerId" class="fa fa-search"></i>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <input type="button" value="Show" class="btn_search" id="btnShowCustomerDetails">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label">First Name</label>
                                            <div class="control-label sixty_aligned">
                                                <label id="lblFirstName" class="control-label"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtBillingDate">Billing Date<span class="text-danger">*</span></label>
                                            <div class="sixty_aligned">
                                                <input type="text" id="txtBillingDate"  style="cursor: pointer;" name="txtNextDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
                                                <span id="txtBillingDateError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>  

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label">Last Name
                                            </label>
                                            <div class="control-label sixty_aligned">
                                               <label id="lblLastName" class="control-label"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtDueDate">Due date<span class="text-danger">*</span></label>
                                            <div class="sixty_aligned">
                                                <input type="text" id="txtDueDate"  style="cursor: pointer;" name="txtNextDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
                                                <span id="txtDueDateError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label">Email</label>
                                            <div class="control-label sixty_aligned">
                                                <label id="lblEmail" class="control-label"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="selARAccount">A/R Account<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <select id="selARAccount" name="selARAccount" class="form-control">
                                                    <option value="">--Select--</option>
                                                </select>
                                                <span id="selARAccountError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtCurrency">Currency<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtCurrency" name="txtCurrency" class="form-control" readonly="readonly">
                                                </select>
                                                <span id="selCurrencyError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="selSalesRepresentative">Sales Representative</label>
                                            <div class="control-label sixty_aligned">
                                                <select id="selSalesRepresentative" name="selSalesRepresentative" class="form-control">
                                                    <option value="">--Select--</option>
                                                </select>
                                                <span id="selSalesRepresentativeError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabScreen" id="lineItemScreen">
                                <input type="button" value="Add" class="btn_search" id="addProductDetails"> 
                                <div class="table-responsive">                                    
                                    <table id="lineItemTable" class="table table-vcenter table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                                <th class="text-center" width="10%">Code</th>
                                                <th class="text-center" width="20%">Products</th>
                                                <th class="text-center" width="10%">Quantity</th>
                                                <th class="text-center" width="10%">Unit Price</th>
                                                <th class="text-center" width="10%">Tax</th>
                                                <th class="text-center" width="10%">Discount</th>
                                                <th class="text-center" width="10%">Total</th>
                                                <th class="text-center" width="20%">GL Account</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center" width="10%"></th>
                                                <th class="text-center" width="20%"></th>
                                                <th class="text-center" width="10%"></th>
                                                <th class="text-center" width="10%"></th>
                                                <th class="text-center" width="10%"></th>
                                                <th class="text-center" width="10%"></th>
                                                <th class="text-center" width="10%"><span style="float:left;">Total Bill :</span><span class="amountPrefix"></span><span style="float:left;" id="totalBill">0</span></th>
                                                <th class="text-center" width="10%"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <input id="selectedRow" type="hidden" value="0" />
                                </div>
                            </div>

                            <div class="tabScreen" id="recurranceDetailScreen">  
                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="selReccurencePeriod">Recurrence Period<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <select id="selReccurencePeriod" name="selReccurencePeriod" class="form-control">
                                                    <option value="Does Not Recur">Does Not Recur</option>
                                                    <option value="Daily">Daily</option>
                                                    <option value="Weekly">Weekly</option>
                                                    <option value="Monthly">Monthly</option>
                                                    <option value="Quarterly">Quarterly</option>
                                                    <option value="Yearly">Yearly</option>
                                                </select>
                                                <span id="selReccurencePerodError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtNextDate">Next Date<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtNextDate" style="cursor: pointer;" name="txtNextDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
                                                <span id="txtNextDateError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtEndDate">End Date<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtEndDate" style="cursor: pointer;" name="txtEndDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
                                                <span id="txtEndDateError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" align="center">
                                <input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" align="center" />
                                <input type="button" value="Save" class="form-button btn_save" id="btnCustomerSave" name="submit" />
                                <input type="button" value="Reset" class="form-button btn_reset" id="btnCustomerReset" name="" />
                            </div>
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<div class="modal fade" id="messagemyModal" role="dialog">
    <div id="message_popup">
        <a href="#messagemyModal" id="mymessageModal" role="button" class="hidden" data-toggle="modal"></a>
        <div class="modal-dialog confirm-modal-style">          
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
                    <h4 id="messageMyModalLabel"></h4>
                </div>
                <div class="modal-body" id="messageBody">                   
                </div>
                <div class="modal-footer" style="">
                    <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  />
                </div>
          </div>              
        </div>
    </div>    
</div>

<div class="modal fade" id="mySearchModal" role="dialog">
    <a href="#mySearchModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="searchModalLabel">Serach Customer</h4>
            </div>
            <div class="modal-body" id="searchModalBody">               
            </div>
            <div class="modal-footer">
            </div> 
      </div>              
    </div>
</div>