<link rel="stylesheet" href="css/admin/ot_rooms.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/customer.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Customer</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divCustomer">
                <h2 id="tabCustomerList"><i class="fa fa-bars fa-fw"></i>Customer List</h2>
                <h2 id="tabCustomer" style="background:#fff; color:#000;">+Add Customer</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
                        <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
                    </div>
                    <table id="customerTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" width="10%">Id</th>                              
                                <th class="text-center" width="20%">Name</th>
                                <th class="text-center" width="20%">Email</th>
                                <th class="text-center" width="10%">Phone</th>
                                <th class="text-center" width="30%">Address</th>
                                <th class="text-center" width="10%"></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="formCustomer">
                
                <div class="col-md-12">
                    <form method="post" id="form_product" class="clearForm">
                        <div id="customerPopUPForm">

                            <div class="row text-center showCustomerTabs">
                                <ul class="customerTabs">
                                    <li>
                                        <input type="button" class="btn customerBtn" aria-hidden="true" value="Main" attr="mainScreen">
                                    </li>
                                    <li>
                                        <input type="button" class="btn customerBtn" aria-hidden="true" value="Pending Invoice" attr="pendingInvoiceScreen">
                                    </li>
                                    <li>
                                        <input type="button" class="btn customerBtn" aria-hidden="true" value="Payment History" attr="paymentHistoryScreen">
                                    </li>                 
                                </ul>
                            </div>

                            <div class="tabScreen hide" id="mainScreen">
                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtFirstName">First Name<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" >
                                                <span id="txtFirstNameError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtLastName">Last Name<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtLastName" name="txtLastName" class="form-control" >
                                                <span id="txtLastNameError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtAddress">Address<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <textarea id="txtAddress" name="txtAddress" rows="3" class="form-control ui-wizard-content"></textarea>
                                                <span id="txtAddressError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="selCountry">Country<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <select id="selCountry" name="selCountry" class="form-control val_Country" size="1" required="">
                                                    <option value="">--Select--</option>
                                                </select>
                                                <span id="selCountryError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>  

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="selState">State<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                               <select id="selState" name="selState" class="form-control val_Country" size="1" required="">
                                                    <option value="">--Select--</option>
                                                </select>
                                                <span id="selStateError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="selCity">City<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <select id="selCity" name="selCity" class="form-control val_Country" size="1" required="">
                                                    <option value="">--Select--</option>
                                                </select>
                                                <span id="selCityError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtPincode">Pincode<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtPincode" name="txtPincode" class="form-control" >
                                                <span id="txtPincodeError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="selCustomerType">Customer Type<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <select id="selCustomerType" name="selCountry" class="form-control val_Country" size="1" required="">                                  </select>
                                                <span id="selCustomerTypeError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtEmail">Email<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtEmail" name="txtEmail" class="form-control" >
                                                <span id="txtEmailError" class="error"></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtWebsite">Website</label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtWebsite" name="txtWebsite" class="form-control" >
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtPhone">Phone</label>
                                            <div class="control-label sixty_aligned">
                                                <input type="number" id="txtPhone" name="txtPhone" class="form-control" >
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabScreen hide" id="pendingInvoiceScreen">  
                                <div class="table-responsive">                                    
                                    <table id="pendingInvoiceTable" class="table table-vcenter table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                                <th class="text-center" width="10%"></th>                             
                                                <th class="text-center" width="15%">Invoice No.</th>                             
                                                <th class="text-center" width="25%">Description</th>
                                                <th class="text-center" width="10%">Total Amount</th>
                                                <th class="text-center" width="10%">Open Amount</th>
                                                <th class="text-center" width="15%">Bill Date</th>
                                                <th class="text-center" width="15%">Pay Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <input id="selectedRow" type="hidden" value="0" />
                                </div>
                            </div>

                            <div class="tabScreen  hide" id="paymentHistoryScreen">  
                                <div class="table-responsive">
                                    <table id="paymentHistoryTable" class="table table-vcenter table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                                <th class="text-center" width="20%">Receipt No.</th>                              
                                                <th class="text-center" width="20%">Invoice No.</th>
                                                <th class="text-center" width="20%">Description</th>
                                                <th class="text-center" width="10%">Paid Amount</th>
                                                <th class="text-center" width="20%">Paid Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <input id="selectedRow" type="hidden" value="0" />
                                </div>
                            </div>

                            <div class="row" align="center">
                                <input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" align="center" />
                                <input type="button" value="Save" class="form-button btn_save" id="btnSave" name="submit" />
                                <input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
                            </div>
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<div class="modal fade" id="messagemyModal" role="dialog">
    <div id="message_popup">
        <a href="#messagemyModal" id="mymessageModal" role="button" class="hidden" data-toggle="modal"></a>
        <div class="modal-dialog confirm-modal-style">          
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
                    <h4 id="messageMyModalLabel"></h4>
                </div>
                <div class="modal-body" id="messageBody">                   
                </div>
                <div class="modal-footer" style="">
                    <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  />
                </div>
          </div>              
        </div>
    </div>    
</div>
<style>
    .ten_aligned{
        width: 10%;
        float: left
    }
</style>