<div class="row block">
	<div class="block-title">
        <h2><strong>Customer Balances and statement</strong></h2>
    </div>
    <div id="customerBalanceTableWrapper">    
		<form class="form" method="post">
			<div class="row form-horizontal form-bordered" id="">
				<div class="form-group">				
					<div class="half_aligned">					
						<label class="forty_aligned control-label" for="fromDate">From Date</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" class="form-control input-datepicker" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" readonly="">
								<span id="txtFromDateError" class="error"></span>
							</div>
						</div>					
					</div>
					<div class="half_aligned">						
						<label class="forty_aligned control-label" for="toDate">To Date</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" name="toDate" id="toDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" readonly="">
								<span id="txtToDateError" class="error"></span>
							</div>
						</div>						
					</div>
					
				</div>	
			</div>		
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" style="text-align: center;">					
					<input type="button" value="View Report" id="viewReport" class="btn btn_save" />
				
					<input type="button" id="clear" value="Reset" class="btn btn_reset" />
				</div>
			</div>
		</form>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div style="margin-top:1%;" class="blackborder" >
				<div class="table-responsive" style="margin-top:20px;">
					<table id="customerBalanceTable" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="20%">Customer Id</th>
								<th class="text-center" width="40%">Customer Name</th>
								<th class="text-center" width="40%">Balance</th>
							</tr>
						</thead>					
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
		<div class="tabScreen hideDetails" id="pendingInvoiceScreen"> 
			<input type="button" value="Back To List" id="backCustomer" class="btn_save">
            <div class="table-responsive">                                    
                <table id="pendingInvoiceTable" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                        <tr>
                            <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                            <th class="text-center" width="10%"></th>                             
                            <th class="text-center" width="15%">Invoice No.</th>                             
                            <th class="text-center" width="30%">Description</th>
                            <th class="text-center" width="15%">Total Amount</th>
                            <th class="text-center" width="15%">Open Amount</th>
                            <th class="text-center" width="15%">Bill Date</th>
                        </tr>
                    </thead>
                </table>
                <input id="selectedRow" type="hidden" value="0" />
            </div>
        </div>
	</div>
</div>
<script type="text/javascript" src="script/admin/customer_balance_statement.js"></script>
<style type="text/css">
	.details-control{
		background: url('./images/details_open.png') no-repeat center center;
	    cursor: pointer;
	    width: 100%;
	    height: 20px;
	    display: inline-block;
	}
	.hide-details-control {
    background: url('./images/details_close.png') no-repeat center center;
	    width: 100%;
	    height: 20px;
	    display: inline-block;
	    cursor: pointer;
	}
	.hideDetails{
		display: none;
	}
	#backCustomer {
	    position: relative;
	    left: 89%;
	    margin: 20px 0;
	}
</style>