     
<script src="script/jQuery.print.min.js"></script>
<div class="row block">
	<div class="block-title">
        <h2><strong>Daily Sales Report</strong></h2>
    </div>
    <div style="text-align: center;">
		<button onclick="saveFile()" id="btnSaveExcel" class="center-block">Download Excel File</button>
		<button  id="btnSavePdf">Download Pdf</button>
	</div>
	<div id="printableArea">
		<div id="chart_div1" class="chartDiv"></div>
		<div id="chart_div" class="chartDiv"></div>
		<div id="chart_div2" class="chartDiv"></div>	
		<div id="chart_div3" class="chartDiv"></div>
		<div id="chart_div4" class="chartDiv"></div>
		<div id="chart_div5" class="chartDiv"></div>
		<div id="chart_div6" class="chartDiv"></div>
		<div id="chart_div7" class="chartDiv"></div>
		<div id="chart_div8" class="chartDiv"></div>
		<div id="chart_div9" class="chartDiv"></div>
		<div id="chart_div10" class="chartDiv"></div>
	</div>	
<script type="text/javascript" src="script/admin/daily_sales_report.js"></script>
</div>
<style type="text/css">
	input#radToFromDate,#radAllTime,#radLastThirtyDays,#radLastSevenDays,#radToday{
		margin: 0 auto;
	    display: table;
	    width: 20px;
	    height: 15px;
	    margin-top: 5px;
	}
	.width-19{width: 19% !important;}
	.width-81{width:81% !important;}
</style>