<link rel="stylesheet" href="css/admin/sub_type.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/department_budget.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Department Budget</strong></h2>
	</div>
	<div id="subTypeList">
		<h2 id="tabsubTypeList"><i class="fa fa-bars fa-fw"></i>Department Budget list</h2>
		<h2 id="tabAddsubType" style="background:#fff; color:#000;">+add Department Budget</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder" id="blackborderTable">
		<div class="table-responsive">			
			<table id="tblDepartmentBudget" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:30%; width:30% !important;">Budget Period</th>
						<th class="text-center td_cursor" style="max-width:30%; width:30% !important;">Department</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<div id="tebleContent" style="display:none">
		<input type="button" value="Back To List" class="add_dept btn_save" id="btnBack" style="left: 0;">
		<div id="mainTableContent"></div>
		<div class="form-group form-actions">			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSaveTableData">
		</div>
		
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selBudget">Budget<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selBudget" maxlength="50" 
								class="form-control" required>
									<option value="-1">--Select--</option>
								</select>
								<span id="selBudgetError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selDepartment">Department<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selDepartment"  multiple="multiple"  
								class="form-control" required>
									<option value="-1">--Select--</option>
								</select>
								<span id="selDepartmentError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>

<div class="modal fade" id="tableModal" role="dialog">
	<div id="message_popup">
		<a href="#tableModal" id="myTableModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog"  id="modal-dialog-style-2">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="tableMyModalLabel"></h4>
				</div>
				<div class="modal-body" id="tableBody">					
				</div>
				<div class="modal-footer" style="">
				</div>
		  </div>			  
		</div>
	</div>    
</div>	

<style>
#txtName {
	text-transform:capitalize;
}
</style>








	