<link rel="stylesheet" href="css/admin/department.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/department.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Departments</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="department_list">
                <h2 id="tab_dept"><i class="fa fa-bars fa-fw"></i>Department list</h2>
                <h2 id="tab_add_dept" style="background:#fff; color:#000;"> +add Department</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive">
                        <label for="inactive-checkbox-tick">Inactive </label>
                        <input type="checkbox" id="inactive-checkbox-tick" 
                            class="inactive-checkbox" name="">
                    </div>
                    <table id="example-datatable" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:35%; width:35% !important;">Department</th>
                                <th class="text-center" style="max-width:55%; width:55% !important;">Description</th>
                                <th class="text-center" style="max-width:10%; width:10%% !important;"></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept">
                        <div id="popUPForm">
							<div  id="uploadFile">
								<div class = "row">							
									<div class="half_aligned">
										<div class="form-group">
											<div class="control-group">
													<label class="forty_aligned  control-label">CSV/XLS File:</label>
												 <div class="control-label sixty_aligned">
													<input type="file" name="file" id="file" class="input-large" style="padding:0;">
													<span id="txtFileError" class="error"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="half_aligned" style="padding:0;">
										<div class="form-group">
											<div class="control-group">
												 <div class="forty_aligned">
													<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
												</div>
											</div>
										</div>
									</div>	
								</div>
								<div class = "row">
									<div class="text-center">
										<h3>- OR -</h3>
									</div>
								</div>
							</div>
                            <div class="row">
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="val_dept" > Department Name<span class="text-error">*</span></label>
                                        <div class="sixty_aligned control-label" style="float:left;">
                                            <input type="text" id="txtDepartmentName" maxlength="50" class="form-control">
                                            <span id="txtDepartmentNameError" class="error"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtDescription">Description</label>
                                        <div class="sixty_aligned control-label" style="float:left;">
                                            <textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
                                            <span id="txtDescriptionError" class="error"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" value="Update" class="add_dept btn_update" id="btnUpdateDepartment" style="display:none;" />
                        </div>
                        <input type="button" value="Save" class="add_dept btn_save" id="btnAddDepartment" name="submit" />
                        <input type="button" value="Reset" class="add_dept btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->