<script type="text/javascript" charset="utf8" src="script/jQuery.print.js"></script> 
<link rel="stylesheet" href="css/admin/voucher_cheque_printing.css"> 
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/department_budget_adjustment.js"></script> 
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>budget adjustment</strong></h2>
	</div>
	<form id="deptBudgetAdjustment" method="post">
		<div class="row"><!-- Vth Row --> 
			<div class="half_aligned">
	            <div class="form-group">
	                <label class="forty_aligned control-label" for="selDepartment">Department<span class="text-danger">*</span></label>                             
	                <div class="sixty_aligned">
	                    <div class="">
	                        <select id="selDepartment" name="selDepartment" class="form-control selDepartment" size="1"><option value="">-- Select --</option>
	                        </select>
	                        <span class="error" id="selDepartmentError"></span>
	                    </div>
	                </div>
	            </div><!--  form group-->
	        </div>	        
		</div>
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive">
				<table id="departmentBudgetTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center td_cursor" width="10%">Account Number</th>
							<th class="text-center td_cursor" width="15%">Account Name</th>
							<th class="text-center td_cursor" width="10%">Amount</th>
							<th class="text-center td_cursor" width="10%">Notes</th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<div class="row text-center">
			<input type="button" class="btn_save" value="Save" id="btnSave">
			<input type="button" class="btn_save" value="Reset" id="btnReset">
		</div>
	</form>
</div>
