<link rel="stylesheet" href="css/admin/designation.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/designation.js"></script>

<div class="block">
    <div class="block-title">
        <h1><strong>Designations</strong></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="designation_list">
                <h2 id="tab_dept">
                    designations list
                </h2>
                <h2 id="tab_add_dept" style="background:#fff; color:#000;">+add designation
                </h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive table-striped">
					<div class="chk-active_inactive">
                    <label for="inactive-checkbox-tick">Inactive</label>
                        <input type="checkbox" id="inactive-checkbox-tick" 
                        class="inactive-checkbox" name="">
					</div>
                    <table id="designation_table" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:40%; width:40% !important;">Designation</th>
                                <th class="text-center" style="max-width:50%; width:50% !important;">Description</th>
                                <th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post">
						<div id="desgPopUp">
							<div  id="uploadFile">
								<div class = "row">							
									<div class="half_aligned">
										<div class="form-group">
											<div class="control-group">
													<label class="forty_aligned  control-label">CSV/XLS File:</label>
												 <div class="control-label sixty_aligned">
													<input type="file" name="file" id="file" class="input-large" style="padding:0;">
													<span id="txtFileError" class="error"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="half_aligned" style="padding:0;">
										<div class="form-group">
											<div class="control-group">
												 <div class="forty_aligned">
													<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
												</div>
											</div>
										</div>
									</div>	
								</div>
								<div class = "row">
									<div class="text-center">
										<h3>- OR -</h3>
									</div>
								</div>
							</div>
                            <div class="row">
                                <div class="half_aligned">
        							<div class="form-group">
        								<label class="forty_aligned control-label" for="txtDesignation">Designation Name<span class="text-error">*</span></label>
        								<div class="sixty_aligned control-label">
        									<input type="text" id="txtDesignation" maxlength="50" class="form-control" /> <span id="txt_val_desg_err" class="error"></span>
        								</div>
        								<div class="clear"></div>
        							</div>
                                </div>
                                <div class="half_aligned">
        							<div class="form-group">
        								<label class="forty_aligned control-label" for="txtDescription"> Description</label>
        								<div class="sixty_aligned control-label">
        									<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
        								</div>
        								<div class="clear"></div>
        							</div>
                                </div>
                            </div>
							<input type="button" value="Update" class="add_dept btn_update" id="btnUpdateDesignation" style="display:none;"/>
						</div>
                        <div class="row">
                            <input type="button" value="Save" class="add_dept btn_save" id="btnAddDesignation"  name="btnAddDesignation" />
    						<input type="reset" value="Reset" id="btnReset" class="add_dept1 btn_reset" />
                        </div>
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->