<link rel="stylesheet" href="css/admin/diagnosis.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/diagnosis.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Diagnosis</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="diagnosisList">
                <h2 id="tabDiagnosis"><i class="fa fa-bars fa-fw"></i>diagnosis list</h2>
                <h2 id="tabAddDiagnosis" style="background:#fff; color:#000;">+add diagnosis</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" >
					<label for="inactive-checkbox-tick">Inactive</label>
							<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="diagnosisDataTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:15%; width:15% !important;">Code</th>
                                <th class="text-center" style="max-width:35%; width:35% !important;">Diagnosis</th>
								<th class="text-center" style="max-width:15%; width:15% !important;">Category</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_diseases">
                <div class="col-md-12">
                    <form method="post" id="form_submit_diseases">
					<div id="diagnosispopUPForm">
                        <div class="form-group" style="height: 7%;">
                            <label class="col-md-4 control-label" for="txtCode" style="width:23%; float:left;"> Code<span class="text-error">*</span></label>
                            <div class="input-group col-md-6" style="float:left;width:35%;">
                                <input type="text" id="txtCode" name="txtCode" class="form-control" maxlength="10">
                                <span id="txtCodeError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
						<div class="form-group" style="height: 7%;">
                            <label class="col-md-4 control-label" for="txtName" style="width:23%; float:left;"> Name<span class="text-error">*</span></label>
                            <div class="input-group col-md-6" style="float:left;width:35%;">
                                <input type="text" id="txtName" name="txtName" class="form-control" maxlength="255">
                                <span id="txtNameError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="width:23%;" for="txtCategory">Category<span class="text-error">*</span></label>
                            <div class="input-group col-md-6" style="float:left;width:35%;">
                                <select id="txtCategory" name="txtCategory" class="form-control txtCategory" size="1"  >
								</select>
                                <span id="txtCategoryError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
						<input type="button" value="Update" class="add_diagnosis btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="add_diagnosis btn_save" id="btnDiagnosis" name="submit" />
						<input type="button" value="Reset" class="add_diagnosis btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->