<link rel="stylesheet" href="css/admin/diagnosis_general.css">
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<script src="script/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/diagnosis_general.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="diagnosisRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
           <!--  <div class="row"><!- Iind row -->
				<!-- <div class="" style="width:90%; margin: 0 auto; margin-top:25px;">
					<div class="forty_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selDiagnosisCategory" id="diagnosisCategoryLbl">Diagnosis Category</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selDiagnosisCategory" name="selDiagnosisCategory" class="form-control" size="1"></select>
									<span class="error" id="selDiagnosisCategoryError"></span>
								</div>
							</div>
						</div><!--  form group-->
				<!-- 	</div>
					<div class="forty_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selDiagnosis" id="diagnosisLbl">Diagnosis</label>
							<div class="half_aligned"  style="position:relative;">
								<select id="selDiagnosis" name="selDiagnosis" class="form-control"></select>
								   <span class="error" id="selDiagnosisError"></span>
							</div>
						</div>
					</div>  --> 
					<div class="tenth_aligned">
						<div class="form-group">
							 <input type="button" id ="addDiagnosisRequest" class= "addValues" value="+Add">
							 <span class='error' id='noDataError' style="width: 134px; float: right; margin-top: 11px;"></span>
						</div>
					</div>
				<!--</div>
			<!--</div><!-- end row -->   
			
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					
					<table id="diagnosisRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="45%">Diagnosis</th>
								<th class="text-center" width="35%">Code</th> 
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>						
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="form-group form-actions buttons align-center">
                <input type="button" value="Save Diagnosis" class="opd_reg btn_save" id="btnSaveLabTestRequest">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetLabTestRequest">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myTriageModal" role="dialog">
	<a href="#myTriageModal" id="triageModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="triageModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="triageModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldTestModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldDiagnosisTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldDiagnosisTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldDiagnosisTestModalBody">	
			<table id="oldDiagnosisRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
				<thead>
					<tr>
						<th class="text-center" width="40%">Diagnosis Request Test</th>
						<th class="text-center" width="30%">Request date</th>
						<th class="text-center" width="30%">code </th>
					</tr>
				</thead>
			</table>			
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>



