<link rel="stylesheet" href="css/admin/diagnosis_category.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/diagnosis_category.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Diagnosis Category</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="diagnosisList">
                <h2 id="tabDiagnosis"><i class="fa fa-bars fa-fw"></i>diagnosis category list</h2>
                <h2 id="tabAddDiagnosis" style="background:#fff; color:#000;">+diagnosis category</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="diagnosisCategoryDataTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:40%; width:40% !important;">Diagnosis Categories</th>
                                <th class="text-center" style="max-width:45%; width:45% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_diseases">
                <div class="col-md-12">
                    <form method="post" id="form_submit_diseases">
					<div id="diagnosispopUPForm">
                        <div class="form-group" style="height: 7%;">
                            <label class="col-md-4 control-label" for="txtCategories" style="width:23%; float:left;"> Category<span class="text-error">*</span></label>
                            <div class="input-group col-md-6" style="float:left;width:35%;">
                                <input type="text" id="txtCategories" name="txtCategories" class="form-control" maxlength="255">
                                <span id="txtCategoryError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="width:23%;" for="txtDesc">Description</label>
                            <div class="input-group col-md-6" style="float:left;width:35%;">
                               
								<textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
                                <span id="txtDescriptionError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
						<input type="button" value="Update" class="btn_diagnosis btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="btn_diagnosis btn_save" id="btnAddCategory" name="submit" />
						<input type="button" value="Reset" class="btn_diagnosis btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->