<link rel="stylesheet" href="css/admin/bed_transfer.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/discharge_form.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Discharge Form</strong></h2>
		<input type="hidden" id="hdnDischarge" value="0" />
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="dischargeForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textIPDId">IPD id
                             <span class="text-danger">*</span></label>                                
                        <div class="sixty_aligned">
                            <div class="" style="position: relative;">
                                <i class="fa fa-search" id="serachIcon" style="cursor:pointer;"></i>
                                <input type="text" id="textIPDId" name="textIPDId"
                                class="form-control">
								<span id="textIPDIdError" class="error"></span>
                            </div>
                        </div>
                       <!--  <input type="button" value="Load" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button"
                      id="btnLoad"> -->
                    </div><!--  form group-->
                </div>
                <div class="">
		            <div class="form-group form-actions">
		                <input type="button" value="Load" class="btn_save" id="btnLoad">
		            </div>
	            </div>
            </div><!-- end row -->
				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientName">Patient Name 
							</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtPatientName" class="form-control" readonly="">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				   <div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtAge">Age</label>                                
							<div class="sixty_aligned">
								<div class="">
									<div class="thirty_aligned">
									<div class="">
										<input type="text" id="txt_year" name="get_yr" class="form-control" readonly=""><br>Years
									</div>
								</div>
								<div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
									<div class="">
										<input type="text" id="txt_month" name="get_mon" class="form-control" readonly=""><br>Month
									</div>
								</div>
								<div class="thirty_aligned">
									<div class="">
										<input type="text" id="txt_day" name="get_day" class="form-control" readonly=""><br>Days
									</div>
								</div>
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div>
				
				<div class="row"><!-- V th row -->		
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtReasonHospitalization">Reason of Hospitalization</label>             
							<div class="sixty_aligned">
								<div class="">
								   <textarea id="txtReasonHospitalization" readonly name="txtReasonHospitalization" rows="3" class="form-control ui-wizard-content"></textarea>
									<span id="txtReasonHospitalizationError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
						  
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtHospitalizationDate">Hospitalization Date
							</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtHospitalizationDate" name="txtHospitalizationDate" class="form-control" readonly="">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDischargeDate">Discharge Date <span class="text-danger">*</span></label>
							<div class="sixty_aligned">                                
								<input type="text" id="txtDischargeDate" class="form-control input-datepicker" name="txtDischargeDate" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" size="1">
								<span id="txtDischargeDateError" class="error"></span>
							</div>                        
						</div>                    
					</div>
				</div><!-- end row -->
				<div class="row"><!-- V th row -->		
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDischargeAdvice">Discharge Advice</label>             
							<div class="sixty_aligned">
								<div class="">
								   <textarea id="txtDischargeAdvice" name="txtDischargeAdvice" rows="3" class="form-control ui-wizard-content"></textarea>
									<span id="txtDischargeAdviceError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>						  
				</div><!-- end row -->
            <div class="form-group form-actions buttons">
                <input type="button" value="Save" class="opd_reg btn_save" id="saveDetails">
				<input type="button" value="Reset" class="opd_reg btn_save" id="btnResetDischargeDetails">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myBedTransferModal" role="dialog">
	<a href="#myBedTransferModal" id="BedTransferModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="BedTransferModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="BedTransferModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<style>
.closeModal{
    opacity: 1;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 18px;
    background: #000 !important;
	margin-top: 2px !important;
	padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
	text-shadow: none;
	float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
}
#myBedTransferModal{
	width: 87%;
	margin-left: 13%;
}
<style>





