<script type="text/javascript" charset="utf8" src="script/jQuery.print.js"></script>
<div class="row block">
	<div class="block-title">
        <h2><strong>Discharged Patient List</strong></h2>
    </div>
	<form class="form" id="reportForm" method="post">
	<div class="row form-horizontal form-bordered">
			<div class="form-group">
				<div class="col-lg-2">
					<input type="radio" id="radToday" name="select" class="changeRadio"></input>
				</div>
				<div class="col-md-10">
					<label for="radToday">Today</label>
				</div>
			</div>	
		</div>
		<div class="row form-horizontal form-bordered">
			<div class="form-group">
				<div class="col-lg-2">
					<input type="radio" id="radLastSevenDays" name="select" class="changeRadio"></input>
				</div>
				<div class="col-md-10">
					<label for="radLastSevenDays">Last 7 days</label>
				</div>
			</div>	
		</div>
		<div class="row form-horizontal form-bordered">
			<div class="form-group">
				<div class="col-lg-2">
					<input type="radio" id="radToFromDate" name="select" class="changeRadio"></input>
				</div>
				<div class="col-lg-10"><!-- Iind row -->
					<div class="half_aligned" style="padding-left: 0px;">					
						<label class="forty_aligned control-label" for="radToFromDate">From Date</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" class="form-control input-datepicker" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd">
								<span id="txtFromDateError" class="error"></span>
							</div>
						</div>					
					</div>
					<div class="half_aligned">						
						<label class="forty_aligned control-label" for="toDate">To Date</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" name="toDate" id="toDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd">
								<span id="txtToDateError" class="error"></span>
							</div>
						</div>						
					</div>
				</div><!-- end row -->
			</div>	
		</div>
		<div class="row form-horizontal form-bordered">
			<div class="form-group">
				<div class="col-lg-2">
					<input type="radio" id="radLastThirtyDays" name="select" class="changeRadio"></input>
				</div>
				<div class="col-md-10">
					<label for="radLastThirtyDays">Last 30 days</label>
				</div>
			</div>	
		</div>
		<div class="row form-horizontal form-bordered">
			<div class="form-group">
				<div class="col-lg-2">
					<input type="radio" id="radAllTime" name="select" class="changeRadio"></input>
				</div>
				<div class="col-md-10">
					<label for="radAllTime">All Time</label>
				</div>
			</div>	
		</div>
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" style="text-align: center;">					
				<input type="button" value="View Report" id="viewReport" class="btn btn_save" />
			
				<input type="reset" id="clear" value="Reset" class="btn btn_reset" />
			</div>
		</div>		
	</form>
	<div style="text-align: center;">
		<button onclick="saveFile()" id="btnSaveExcel" class="center-block">Download Excel File</button>
		<button  id="btnSavePdf">Download Pdf</button>
	</div>	
	<div id="chart_div"></div>
<script type="text/javascript" src="script/admin/discharged_patient_record.js"></script>
</div>
<style type="text/css">
	input#radToFromDate,#radAllTime,#radLastThirtyDays,#radLastSevenDays,#radToday{
		margin: 0 auto;
	    display: table;
	    width: 20px;
	    height: 15px;
	    margin-top: 5px;
	}
	.width-19{width: 19% !important;}
	.width-81{width:81% !important;}
	.chartDiv{width: 49%; display: inline-block;}	
</style>