<link rel="stylesheet" href="css/admin/diseases.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/diseases.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Diseases</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="diseases_list">
                <h2 id="tab_diseases"><i class="fa fa-bars fa-fw"></i>disease list</h2>
                <h2 id="tab_add_diseases" style="background:#fff; color:#000;">+add disease</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" >
					<label for="inactive-checkbox-tick">Inactive</label>
							<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="diseasesdatatable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:15%; width:15% !important;">Code</th>
                                <th class="text-center" style="max-width:25%; width:25% !important;">Diseases</th>
								<th class="text-center" style="max-width:25%; width:25% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>Gynecology</td>
								<td>Gynecology</td>
                                <td>Patients who visited the hospital for this unit totaled 43.785 persons among whom 4.925 were delivery cases.</td>
                            </tr>
                            
                        </tbody>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_diseases">
                <div class="col-md-12">
                    <form method="post" id="form_submit_diseases">
					<div id="popUPForm">
						<div id="uploadFile">
							<div class = "row">
								<div class="half_aligned">
									<div class="form-group">
										<div class="control-group">
												<label class="forty_aligned  control-label">CSV/XLS File:</label>
											 <div class="control-label sixty_aligned">
												<input type="file" name="file" id="file" class="input-large" style="padding: 0;">
												<span id="txtFileError" class="error"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="half_aligned" style="padding:0;">
									<div class="form-group">
										<div class="control-group">
											 <div class="forty_aligned">
												<button type="button" id="importData" name="Import" class="btn_save">Upload</button>
											</div>
										</div>
									</div>
								</div>
							 </div>
							<div class = "row">
								<div class="text-center">
									<h3>- OR -</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group" style="height: 7%;">
									<label class="forty_aligned control-label" for="txtCode" > Code<span class="text-error">*</span></label>
									<div class="sixty_aligned control-label">
										<input type="text" id="txtCode" name="txtCode" class="form-control" maxlength="10">
										<span id="txtCodeError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>    
							<div class="half_aligned">
								<div class="form-group" style="height: 7%;">
									<label class="forty_aligned control-label" for="txtName"> Name<span class="text-error">*</span></label>
									<div class="sixty_aligned control-label">
										<input type="text" id="txtName" name="txtName" class="form-control" maxlength="255">
										<span id="txtNameError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>    
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="control-label forty_aligned" for="txtDescription">Description</label>
									<div class="sixty_aligned control-label">
										<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
									</div>
									<div class="clear"></div>
								</div>
							</div>  
						</div>
						<input type="button" value="Update" class="add_diseases btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="add_diseases btn_save" id="btnAddDiseases" name="submit" />
						<input type="button" value="Reset" class="add_diseases btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->