<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>
<script>
debugger;
$('.datepicker').datepicker();
$('#viewReport').click(function(){
	var reportForm = $('#reportForm').serializeArray();
	$.post('./controllers/admin/patient_master_list_report.php',reportForm,function(data){
	  if(data != 0)
	  {
		alert(data);
	  }
	});
});
$('#clear').click(function(){
	$('.datepicker').val('');
	$('#ddlMaritalStatus').val('');
});

</script>
<style>
.half_aligned{
	padding-top: 15px;
}
</style>
<div class="row block">
	<div class="block-title">
        <h2><strong>Patient Master List Report</strong></h2>
    </div>
	<form class="form" id="reportForm" method="post">
	<div class="col-lg-1"></div>
	<div class="row col-lg-10"><!-- Iind row -->
		<div class="half_aligned">
			<div class="form-group">
				<label class="forty_aligned control-label" for="fromDate">From Date</label>             
				<div class="sixty_aligned">
					<div class="">
						<input type="text" class="form-control datepicker" id="toDate" name="fromDate">
					</div>
				</div>
			</div><!--  form group-->
		</div>
		<div class="half_aligned">
			<div class="form-group">
				<label class="forty_aligned control-label" for="toDate">To Date</label>             
				<div class="sixty_aligned">
					<div class="">
						<input type="text" name="toDate" id="toDate" class="form-control datepicker">
					</div>
				</div>
			</div><!--  form group-->
		</div>
		<div class="half_aligned">
			<div class="form-group">
				<label class="forty_aligned control-label" for="txtFirstName">Gender</label>             
				<div class="sixty_aligned">
					<div class="">
						<select class="form-control" name="ddlGender" id="ddlGender"  ><option value>--Select--</option></select>
					</div>
				</div>
			</div><!--  form group-->
		</div>
		<div class="half_aligned">
			<div class="form-group">
				<label class="forty_aligned control-label" for="txtLastName">Marital Status</label>           
				<div class="sixty_aligned">
					<div class="">
						<select class="form-control" name="ddlMaritalStatus" id="ddlMaritalStatus" ><option value>--Select--</option></select>
					</div>
				</div>
			</div><!--  form group-->
		</div>
		<div class="half_aligned">
			<div class="form-group" style="padding-top:20px">
					<div class="forty_aligned">
						<input type="button" value="View Report" id="viewReport" class="btn btn_save" />
					</div>
					<div class="forty_aligned">
						<input type="reset" id="clear" value="Reset" class="btn btn_reset" />
					</div>
			</div><!--  form group-->
		</div>
	</div><!-- end row -->
	
	<div class="col-lg-1"></div>
	</form>
</div>


