<link rel="stylesheet" href="css/admin/drug_dosage.css">

<!-- javascript code used only in this page for validation-->
<script src="script/admin/drug_dosage.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Drug</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDrugId">Drug</label>                                
                        <div class="forty_aligned" style="width:30%; margin-right:1%;">
                            <div class="">
                                <input type="text" id="txtDrugId" name="txtDrugId" class="form-control" ><i id="iconSearch" class="fa fa-search"></i>
								<span id="txtDrugIdError" class="error">
                            </div>
                        </div>
						<input type="button" value="Select" class="opd_btn"
                        id="btnSelect" style="margin: 0;padding: 1.5%; width: 13%;">
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned hf_align_center">
                    
                </div>
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDosage">Dosage</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtDosage" name="txtDosage" class="form-control">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDuration">Duration </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtDuration" name="txtDuration" class="form-control">
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->

                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtQuantity">Quantity</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtQuantity" name="txtQuantity" 
                                class="form-control">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtNotes">Notes </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtNotes" class="form-control">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->            
			<div class="row"><!-- IV th row -->
                
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAlternateName">Alternate Name
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtAlternateName" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAvailableStocks">Available Stocks
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtAvailableStocks" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>   
            </div><!-- end row -->
            <div class="row"><!-- Vth Row --> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtUnitMeasure">Unit Measure</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtUnitMeasure" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>    
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtUnitPrice">Unit Price
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtUnitPrice" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                  		
            </div><!-- end row -->  
			<div class="row"><!-- Vth Row --> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAmount">Amount</label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtAmount" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned"></label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="button" value="Add" class="btn_save" id="btnAddData">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div> 
			</div>
        </div>
    </form>


    <!-- Start datatable -->
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive" style="margin-top:20px;">
            <!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
            </div> -->
            <table id="drugPresecriptionTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">Drug</th>
                        <th class="text-center" width="5%" style="max-width:5%">Dosage</th>
                        <th class="text-center" width="10%">Duration</th>
                        <th class="text-center" width="10%">Quantity</th>
                        <th class="text-center" width="15%">Notes</th>
                        <th class="text-center" width="15%">Alternate Name</th>
                        <th class="text-center" width="5%">Available Stocks</th>
                        <th class="text-center" width="10%">Unit Measure</th>
                        <th class="text-center" width="5%">Unit Price</th>
                        <th class="text-center" width="10%">Amount</th>
                        <th class="text-center" width="5%"></th>


                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="text-center" width="10%"></th>
                        <th class="text-center" width="40%"></th>
                        <th class="text-center" width="20%">Total Amount: $<span id="totalAmount">0</span></th>                     
                        <th class="text-center" width="10%"></th>
                    </tr>
                </tfoot>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
    <!-- end table  -->
    <!-- Form Buttons -->
    <div class="form-group form-actions" style="display: inline-block; width: 100%;">
        <div class="" >
            <input type="button" value="Save" class="opd_reg btn_save" 
            id="btnDrugAdd">
            <input type="button" value="Reset" class="opd_reg btn_reset" 
            id="btnDrugreset">
        </div>
    </div>

</div>



<!-- Modal for search drug-->
<div class="modal fade" id="myDrugModal" role="dialog">
    <a href="#myDrugModal" id="drugModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" style="width:750px;">         
      <!-- Modal content-->
        <div class="modal-content modal-view" style="width:100%;">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="drugModalLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body" id="drugModalBody">             
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>

