<link rel="stylesheet" href="css/admin/drugs.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/drugs.js"></script>
<div class="block">
	<div class="block-title">
		<h2><strong>Drugs</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="drugs_list">
                <h2 id="tab_drugs"><i class="fa fa-bars fa-fw"></i>Drugs list</h2>
                <h2 id="tab_add_drugs">+Add Drug</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive">
					<label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" 
                        class="inactive-checkbox" name="">
					</div>
                    <table id="drugsTable" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:10%; width:10% !important;">Drug Code</th>
                                <th class="text-center" style="max-width:15%; width:10% !important;">Drug Name</th>                                
                                <th class="text-center" style="max-width:10%; width:10% !important;">Alternate Name</th>
                                <th class="text-center" style="max-width:20%; width:10% !important;">Category</th>
                                <th class="text-center" style="max-width:5%; width:10% !important;">Unit</th>
                                <th class="text-center" style="max-width:5%; width:10% !important;">Cost </th>
                                <th class="text-center" style="max-width:5%; width:10% !important;">Price </th>
                                <th class="text-center" style="max-width:14%; width:14% !important;">Alternate Drug Name </th>
                                <th class="text-center" style="max-width:6%; width:6% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept">
						<div id="popUPFormUnits">
							<div class="row">
								<div class="row">
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtDrugCode">Drug Id<span class="text-danger">*</span></label>
											<div class="control-label sixty_aligned">
												<input type="text" id="txtDrugCode" class="form-control" disabled="disabled">
												<span id="txtDrugCodeError" class="error"></span>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtDrugName">Drug Name<span class="text-danger">*</span></label>
											<div class="control-label sixty_aligned">
												<input type="text" id="txtDrugName" maxlength="50" class="form-control">
												<span id="txtDrugNameError" class="error"></span>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtAlternateName">Alternate Name</label>
											<div class="control-label sixty_aligned">
												<input type="text" id="txtAlternateName" maxlength="50" class="form-control">
												<span id="txtAlternateNameError" class="error"></span>
											</div>
										</div>
									</div>
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="selDrugCategory">Drug Category<span class="text-danger">*</span></label>
											<div class="sixty_aligned control-label">
												<div class="">
													<select id="selDrugCategory"class="form-control val_wrad" size="1" required>
														<option value="-1"></option>
													</select>
													<span id="selDrugCategoryError" class="error"></span>
												</div>
											</div>
										</div>
									</div>									
								</div>

								<div class="row">
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="selUnitMeasure">Unit Measure<span class="text-danger">*</span></label>
											<div class="sixty_aligned control-label">
												<div class="">
													<select id="selUnitMeasure" class="form-control val_wrad" size="1" required>
														<option value="-1"></option>
													</select>
													<span id="selUnitMeasureError" class="error"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtUnitCost">Unit Cost<span class="text-danger">*</span></label></label>
											<div class="control-label sixty_aligned">
												<input type="text" id="txtUnitCost" class="form-control">
												<span id="txtUnitCostError" class="error"></span>
											</div>
											<div class="clear"></div>
										</div>
									</div>									
								</div>

								<div class="row">
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtUnitprice">Unit price<span class="text-danger">*</span></label></label>
											<div class="control-label sixty_aligned">
												<input type="text" id="txtUnitprice" class="form-control">
												<span id="txtUnitpriceError" class="error"></span>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="selAlternateDrugName">Alternate Drug</label>                                
											<div class="sixty_aligned control-label">
												<div class="">
													<select id="selAlternateDrugName" class="form-control val_wrad" size="1" required>
														<option value="-1"></option>
													</select>
													<span id="selAlternateDrugNameError" class="error"></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="half_aligned">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtComposition">Composition</label>
											<div class="control-label sixty_aligned">
												<textarea id="txtComposition" name="txtComposition" rows="3" class="form-control ui-wizard-content"></textarea>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
							<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
						</div>
						<input type="button" value="Save" class="add_dept btn_save" id="btnSave" name="submit" />
						<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset" name="" />
                    </form>
					
				
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->