<link rel="stylesheet" href="css/admin/external_result.css">
<!-- javascript code used only in this page for validation-->
<script src="script/admin/external_result.js"></script>

<div class="block" style="display: none;">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>Upload external result</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="">
		<form id="externalResultUploadForm" method="post" class="form-horizontal form-bordered">

			<div class="table-responsive">
				<table id="uploadExternalResultTbl" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="10%">Service</th>
							<th class="text-center" width="20%">Name</th>
							<th class="text-center" width="60%">Upload Image</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
					<!-- <tbody>
						<tr>
							<td>Lab Test</td>
							<td class="text-left">
								<input type="file" name="pic[]" multiple="true" class ="uploadImage" id="uploadLab" accept="image/*"/>
								<label id="fileLabelLab">Choose file</label>
								<div id="labResultFile" class="uploadFilenames"></div>
							</td>
						</tr>

						<tr>
							<td>Radiology Test</td>
							<td class="text-left">
								<input type="file" name="pic[]" multiple="true" class ="uploadImage" id="uploadRadiology" accept="image/*"/>
								<label id="fileLabelRadiology">Choose file</label>
								<div id="radiologyResultFile" class="uploadFilenames"></div>
							</td>
						</tr>

						<tr>
							<td>Forensic Test</td>
							<td class="text-left">
								<input type="file" name="pic[]" multiple="true" class ="uploadImage" id="uploadForensic" accept="image/*"/>
								<label id="fileLabelForensic">Choose file</label>
								<div id="forensicResultFile" class="uploadFilenames"></div>
							</td>
						</tr>

						<tr>
							<td>Service Request</td>
							<td class="text-left">
								<input type="file" name="pic[]" multiple="true" class ="uploadImage" id="uploadService" accept="image/*"/>
								<label id="fileLabelService">Choose file</label>
								<div id="serviceResultFile" class="uploadFilenames"></div>
							</td>
						</tr>

						<tr>
							<td>Procedure Request</td>
							<td class="text-left">
								<input type="file" name="pic[]" multiple="true" class ="uploadImage" id="uploadProcedure" accept="image/*"/>
								<label id="fileLabelProcedure">Choose file</label>
								<div id="procedureResultFile" class="uploadFilenames"></div>
							</td>
						</tr>
					</tbody> -->
				</table>
			</div>
			<div class="row text-center">
				<input type="button" class="btn btn-primary btn_save" value="Save" id="btnSave">
				<input type="button" class="btn btn-primary btn_save" value="Reset" id="btnReset">
			</div>
		</form>
	</div>
</div>