<link rel="stylesheet" href="css/admin/lab_test_request.css">
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/forensic_test_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="labRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row" id="divDropDownForensicRequest"><!-- Iind row -->
				<div class="" style="width:90%; margin: 0 auto; margin-top:25px;">
					<div class="forty_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selForensicLabTest">Forensic Test </label>
							<div class="half_aligned">
								<select id="selForensicTest" name="selForensicTest" class="form-control"></select>
								<span id= "selForensicTestError" class="error"></span>
							</div>
						</div>
					</div>
					<div class="forty_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selRequestType" >Request Type</label>             
							<div class="half_aligned" style="position:relative;">
								<div class="">
									<select id="selRequestType" name="selRequestType" class="form-control" size="1">
										<option value="-1">--Select--</option>
										<option value="internal">Internal</option>
										<option value="external">External</option>
									</select>
									<span class="error" id="selRequestTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="tenth_aligned">
						<div class="form-group">
							 <input type="button" id ="addForensicLabRequest" class= "addValues" style="float:left;" value="+Add">
							 <span class='error' id='noForensicDataError' style="width: 134px; float: left; margin-top: 11px;"></span>
						</div>
					</div>
				</div>
			</div><!-- end row -->   
			
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div> -->
					<table id="forensicRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="40%">Forensic Name</th>
								<th class="text-center" width="10%">Paid Status</th>
								<th class="text-center" width="10%">Test Status</th>
								<th class="text-center" width="15%">Cost</th>
								<th class="text-center" width="15%">Revised Cost</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th class="text-center" width="40%"></th>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="15%"></th>	
								<th class="text-center" width="15%"><span style="float:left;">Total</span><span class="amountPrefix"></span><span style="float:left;" id="totalForensicBill">0</span></th>				
								<th class="text-center" width="10%"></th>
							</tr>
						</tfoot>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="row" align="center">
                <input type="button" value="Request Test" class="opd_reg btn_save" id="btnSaveForensicTestRequest">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetForensicTestRequest">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myTriageModal" role="dialog">
	<a href="#myTriageModal" id="triageModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="triageModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="triageModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldForensicTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldForensicTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldForensicTestModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>





