<link rel="stylesheet" href="css/admin/consultant.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/forensic_result.js"></script>
<style>
.searchSpecimen{
		 position: absolute;
		 right: 10px;
		 top: 10px;
		 transform: scale(1.2,1.2);
		 cursor: pointer;
}
</style>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Forensic Result</strong></h2>		
    </div>
    <!-- END Wizard with Validation Title -->
	<!-- Wizard with Validation Content -->
	<form id="forensicResultForm" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSpecimenId">Specimen No.<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned" style="width: 31% !important;">
							<div class="" style="position: relative;">
								<input type="text" id="txtSpecimenId" name="txtSpecimenId" class="form-control" />
								<i class="fa fa-search searchSpecimen" id="searchSpecimen" style="cursor:pointer;"></i>
								<span id="txtSpecimenIdError" style="width: 145%;" class="error"></span>
							</div>
						</div>
						<input type="button" value="Load" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_load" id="btnSpecimenLoad">
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSpecimenDescription">Specimen Description</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtSpecimenDescription" style="cursor:default;" name="txtSpecimenDescription" readonly class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div>
			<div class="row"><!-- Iind row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDrawnDate">Drawn Date & Time</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtDrawnDate" style="cursor:default;" name="txtDrawnDate" readonly class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtLabTest">Forensic Test</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtLabTest" style="cursor:default;" name="txtLabTest" readonly class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div><!-- end row -->  
			 <div class="row"><!-- IIIrd row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtNormalRange">Normal Range</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtNormalRange" style="cursor:default;" name="txtNormalRange" class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				 </div>
				 <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtResult">Result</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtResult" style="cursor:default;" name="txtResult" class="form-control">
							</div>
						</div>
					</div> <!--  form group-->
				</div>

			</div> <!-- end row -->  

			<div class="row"><!-- IVth row -->
				  <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="ddlResultFlag">Result Flag</label>
						<div class="sixty_aligned">
							<select id="ddlResultFlag" name="ddlResultFlag" class="form-control">
								<option value="N/A">N/A</option>
								<option value="Low">Low</option>
								<option value="Normal">Normal</option>
								<option value="High">High</option>
							</select>
							
						</div>
					</div>
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtReport">Report</label>             
						<div class="sixty_aligned">
							<div class="">
								<textarea rows="3" id="txtReport" style="cursor:default;" name="txtReport" class="form-control" />
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div><!-- end row -->  
			<div class="row"><!-- Vth row -->				
				
			</div><!-- end row -->  
			<div class="" style="margin:0 auto; display:table;"><!-- Vth row -->				
				
					<input type="button" class="btn btn-primary btn_save" value="Save" id="btnSubmit" />
					<input type="button" class="btn btn-primary btn_save" value="Reset" id="btnReset" />
					<input type="text" class="hidden" value="saveResult" name="operation" id="operation" />
				
			</div>
		</div>
		<div class="clear"></div>
	</form>
</div>
<div class="modal fade" id="mySpecimenModal" role="dialog">
	<input type="hidden" id="specimenID" value="2"/>
	<a href="#mySpecimenModal" id="specimenModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="specimenModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="specimenModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb;display:none; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
