<link rel="stylesheet" href="css/admin/department.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/holidays.js"></script> 
<div class="block">
    <div class="block-title" >
        <h2><strong>Holidays</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="department_list">
                <h2 id="tab_dept"><i class="fa fa-bars fa-fw"></i>Holidays list</h2>
                <h2 id="tab_add_dept" style="background:#fff; color:#000;"> +add holiday</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive">
                        <label for="inactive-checkbox-tick">Inactive </label>
                        <input type="checkbox" id="inactive-checkbox-tick" 
                            class="inactive-checkbox" name="">
                    </div>
                    <table id="holidayTable" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" width=20%>Name</th>
                                <th class="text-center" width=20%>Date</th>
                                <th class="text-center" width=50%>Description</th>
                                <th class="text-center" width=10%></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept" class="clearForm">
                        <div id="popUPForm">
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtHolidayName">Holiday Name<span class="text-danger">*</span></label>                                
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtHolidayName" maxlength="50" class="form-control" required="">
                                                <span id="txtHolidayNameError" class="error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  form group-->
                                </div>
                                
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtDate">Date<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtDate" style="    cursor: pointer;" name="txtDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
                                            </div>
                                            <span id="txtDateError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>              
                            </div><br>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtDescription">Description
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>   
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <input type="checkbox" id="checkBox" 
                                        style=" margin-left: 2%; margin-top: 2px; cursor: pointer;">
                                        <label for="checkBox" id="checkPointer" class="pointer">Repeat Annually</label>
                                    </div><!--  form group-->
                                </div>   
                            </div>
                            <input type="button" value="Update" class="add_dept btn_update" id="btnUpdateHoliday" style="display:none;" />
                        </div>
                        <div class="btnContainer">
                            <input type="button" value="Save" class="btn_save" id="btnSaveHoliday" name="submit" />
                            <input type="button" value="Reset" class="btn_reset" id="btnReset" name="" />
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<style type="text/css">
    #department_list{background: #fff;}
</style>