<link rel="stylesheet" href="css/admin/hospital_profile.css">
<!-- <script src="../script/vendor/jquery-1.11.0.min.js"></script> --> 
 <script src="./script/admin/hospital_profile.js"></script> 
<div class="block">
    <div class="block-title" >
        <h2><strong>Hospital Profile</strong></h2>
    </div>
    <div id="formHospitalProfile">
        <form method="post" id="form_submit_dept">
            <div class="row">
                <div class="form-group">
                   
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="margin-bottom:4%;">
                        <div class="" style="text-align:center;">
                            <div id="imgHospitalLogo" style="width: 100px; height:100px;border:1px solid #c0c0c0;background-position: center; background-size: 100% 100%;display: inline-block; cursor: pointer;">
                                <img id="imgHospital" style="position: relative;height: 97px;">
                                <div id="imagetext" style="text-align: center;POSITION: relative;top: -72%;padding: 2.5% 0 0 0;font-size: 15px;">
                                    Click to Upload logo
                                </div>
                            </div>
                            <input type="file" id="upload" name="upload" class="hidden" accept="image/*"> 
                        </div>
						<span id="errorimage" style="color:red;margin-top:8px;display:none;display: table;margin: 8px auto;"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="txtHospitalName">Hospital Name<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <input type="text" id="txtHospitalName" class="form-control">
                        <span id="txtHospitalNameError" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="txtHospitalName">Address<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <textarea id="txtAddress" name="txtAddress" rows="3" class="form-control ui-wizard-content"></textarea>
                        <span id="txtAddressError" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="selCountry">Country<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <select id="selCountry" name="selCountry" class="form-control val_Country" size="1" required=""></select>
                        <span id="selCountryError" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="selState">State<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <select id="selState" name="selState" class="form-control val_Country" size="1" required=""></select>
                        <span id="selStateError" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="selCity">City<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <select id="selCity" name="selCity" class="form-control val_Country" size="1" required=""></select>
                        <span id="selCityError" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="txtZipcode">Zipcode<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <input type="text" id="txtZipcode" 
                            class="form-control ui-wizard-content valid" maxlength="15">
                        <span id="txtZipcodeError" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="txtPhone">Phone<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <div class="input-group col-md-2 col-lg-2 col-xs-2 col-sm-2 PhoneCodeColumn">
                            <input type="text" id="txtPhoneCode" 
                                class="form-control ui-wizard-content valid" maxlength="15" disabled>
                        </div>
                        <div class="input-group col-md-10 col-lg-10 col-xs-10 col-sm-10 PhoneColumn">
                            <input type="text" id="txtPhone" 
                                class="form-control ui-wizard-content valid" maxlength="15">
                            <span id="txtPhoneError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-xs-3 col-sm-3 control-label" for="txtEmail">Email<span class="text-error">*</span></label>
                    <div class="input-group col-md-7 col-lg-7 col-xs-7 col-sm-7">
                        <input type="text" id="txtEmail" 
                            class="form-control ui-wizard-content valid" maxlength="50">
                        <span id="txtEmailError" class="error"></span>
                    </div>
                </div>
                <input type="button" value="Save" class="addHospitalProfile btn_save" id="btnSave" name="submit" />
				<input type="reset" value="Reset" class="addHospitalProfile btn_reset" id="reset" name="" />
            </div>
            <!-- End Row -->          
        </form>
    </div>
    <!-- end form_dept -->      
</div>
<!-- end block