<link rel="stylesheet" href="css/admin/bed.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/imprest_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Imprest Request</strong></h2>
    </div>
    <div id="bedList">
		<h2 id="tabBedList"><i class="fa fa-bars fa-fw"></i>Imprest Request list</h2>
		<h2 id="tabAddBed" style="background:#fff; color:#000;">+add Imprest Request</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox chk_cursor" name="" style="margin-bottom: 5px;">
            </div>
			<table id="tblImprestRequest" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="20%">Staff Name</th>
						<th class="text-center" width="20%">Nature Of duty</th>
						<th class="text-center" width="10%">Amount</th>
						<th class="text-center" width="10%">Est. Day</th>
						<th class="text-center" width="15%">Start Date</th>
						<th class="text-center" width="15%">End Date</th>
						<th class="text-center" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
    <form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step">
            <!-- Step Info -->
            <div id="bedModel">
            	<div class="row text-center showCustomerTabs">
                    <ul class="customerTabs">
                        <li>
                            <input type="button" class="btn customerBtn" aria-hidden="true" value="Detail" attr="detailScreen">
                        </li>
                        <li>
                            <input type="button" class="btn customerBtn" aria-hidden="true" value="Action Feedback" attr="actionFeedBackScreen">
                        </li>              
                    </ul>
                </div>
                <div class="tabScreen" id="detailScreen">
					<div class="row">
					   <div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selStaffType">Staff Type<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="selStaffType" class="form-control val_wrad" size="1" required>
											<option value="-1">--Select--</option>
										</select>
										<span id="selStaffTypeError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
						<!-- Ist row -->
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selStaffName">Staff Name<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="selStaffName" name="val_wrad" class="form-control val_wrad" size="1" required>
											<option value="-1">--Select--</option>
										</select>
										<span id="selStaffNameError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtImprestOutstanding">Imprest Outstanding</label>                                
								<div class="sixty_aligned">
									<div class="">
										<input type="number" id="txtImprestOutstanding" maxlength="30" class="form-control">
										<span id="txtImprestOutstandingError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtNatureOfDuty">Nature Of Duty<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<textarea id="txtNatureOfDuty"  class="form-control"></textarea>
										<span id="txtNatureOfDutyError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtAmount">Amount<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<input type="number" id="txtAmount" name="val_bednum" class="form-control">
										<span id="txtAmountError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtEstimationDay">Est. Day Away From The station<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<input type="number" id="txtEstimationDay" name="val_bednum" class="form-control">
										<span id="txtEstimationDayError" class="error"></span>
									</div>
								</div>
				            </div>
			            </div>
		            </div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtAssignmentStarts">Assignment Starts<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtAssignmentStarts" name="val_bednum" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="readonly">
										<span id="txtAssignmentStartsError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtAssignmentEnds">Assignment Ends<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtAssignmentEnds" name="val_bednum" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="readonly">
										<span id="txtAssignmentEndsError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>						
					</div>
					<input type="button" value="Update" class="add_bed btn_update" id="btnUpdateBed" style="display:none;" />				
				</div>
				<div class="tabScreen hide" id="actionFeedBackScreen">
					<input type="button" value="Create Imprest" class="add_bed btn_update" id="btnCreateImprest" />
				</div>
            </div>
            <!-- end row -->

        <!-- Form Buttons -->
	        <div class="form-group form-actions">
	            <input type="button" value="Save" class="add_bed btn_save" id="btnBedSubmit">
				<input type="button" value="Reset" class="add_bed btn_reset" id="btnReset">
	        </div>
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!--- start media query for responsive webs site--> 

<!--- End media query for responsive webs site-->