<link rel="stylesheet" href="css/admin/imprest_disbursement.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<script src="script/admin/imprest_disbursement.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Imprest Disbursement</strong></h2>
    </div>
    <div id="bedList">
		<h2 id="tabBedList"><i class="fa fa-bars fa-fw"></i>Imprest Disbursement list</h2>
		<h2 id="tabAddBed" style="background:#fff; color:#000;">+add Imprest Disbursement</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<!-- <div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox chk_cursor" name="" style="margin-bottom: 5px;">
            </div> -->
			<table id="tblImprestDisbursement" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="20%">Imprest Ref.</th>
						<th class="text-center" width="20%">Payment Mode</th>
						<th class="text-center" width="20%">Ledger</th>
						<th class="text-center" width="20%">Cheque No</th>
						<th class="text-center" width="10%">Amount</th>
						<!-- <th class="text-center" width="10%"></th> -->
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
    <form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step">
            <!-- Step Info -->
            <div id="bedModel">            	
               	 <div class="row"  style="text-align: -webkit-center;"><!-- Ist row --> 
						<fieldset class="fieldset-border" id="fieldsetBorder">
					    	<legend class="fieldset-border">Imprest Detail</legend>
							<div class="half_aligned">
						   		<div class="form-group">
									<label class="forty_aligned control-label" for="txtImprestRef">Imprest Ref.<span class="text-danger">*</span></label>
		                            <div class="sixty_aligned">
		                                <div class="">
		                                    <input type="text" id="txtImprestRef" name="txtImprestRef" class="form-control" readonly="readonly"><i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
		                                    <span id="txtImprestRefError" class="error"></span>
		                                </div>
		                            </div>
									<label class="forty_aligned control-label" for="txtApplicantName">Applicant Name</label>
		                            <div class="sixty_aligned">
		                                <div class="">
		                                    <input type="text" id="txtApplicantName" name="txtApplicantName" class="form-control" readonly="readonly">
		                                    <span id="txtApplicantNameError" class="error"></span>
		                                </div>
		                            </div>
	                            </div>
                            </div>
                            <div class="half_aligned">
						    	<div class="form-group">
									<label class="forty_aligned control-label" for="txtLedger">Ledger</label>
	                            	<div class="sixty_aligned">
		                                <div class="">
		                                    <input type="text" id="txtLedger" name="txtLedger" class="form-control" readonly="readonly">
		                                    <span id="txtLedgerError" class="error"></span>
		                                </div>
	                                </div>
									<label class="forty_aligned control-label" for="txtDescription">Description</label>
	                            	<div class="sixty_aligned">
		                                <div class="">
		                                    <textarea id="txtDescription" name="txtDescription" class="form-control" readonly="readonly"></textarea> 
		                                    <span id="txtDescriptionError" class="error"></span>
		                                </div>
	                                </div>
	                            </div>
                            </div>
                            <div class="half_aligned">
						    	<div class="form-group">
									<label class="forty_aligned control-label" for="txtAmount">Amount</label>
		                            <div class="sixty_aligned">
		                                <div class="">
		                                    <input type="text" id="txtAmount" name="txtAmount" class="form-control" readonly="readonly">
		                                    <span id="txtAmountError" class="error"></span>
		                                </div>
		                            </div>
									<label class="forty_aligned control-label" for="txtImprestDate">Imprest Date</label>
		                            <div class="sixty_aligned">
		                                <div class="">
		                                    <input type="text" id="txtImprestDate" name="txtImprestDate" class="form-control" readonly="readonly">
		                                    <span id="txtImprestDateError" class="error"></span>
		                                </div>
		                            </div>
	                            </div>
                            </div>
                            <div class="half_aligned">
						    	<div class="form-group">
									<label class="forty_aligned control-label" for="txtSurrenderDate">Surrender Date</label>
	                            	<div class="sixty_aligned">
	                                	<div class="">
	                                    	<input type="text" id="txtSurrenderDate" name="txtSurrenderDate" class="form-control" readonly="readonly">
	                                    	<span id="txtSurrenderDateError" class="error"></span>
	                                	</div>
	                            	</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div  class="row" style="text-align: -webkit-center;">
						<fieldset class="fieldset-border" id="fieldsetBorder">
						    <legend class="fieldset-border">Payment detail</legend>						    
                            <div class="half_aligned">
							    <div class="form-group">
									<label class="forty_aligned control-label" for="txtPaymentAmount">Amount<span class="text-danger">*</span></label>
		                            <div class="sixty_aligned">
		                                <div class="">
		                                    <input type="text" id="txtPaymentAmount" name="txtPaymentAmount" class="form-control">
		                                    <span id="txtPaymentAmountError" class="error"></span>
		                                </div>
		                            </div>
									<label class="forty_aligned control-label" for="selPaymentMode">Payment Mode<span class="text-danger">*</span></label>
		                            <div class="sixty_aligned">
		                                <div class="">
		                                    <select id="selPaymentMode" name="selPaymentMode" class="form-control">
		                                    	<option value="-1">--Select--</option>
		                                    </select>
		                                    <span id="selPaymentModeError" class="error"></span>
		                                </div>
		                            </div>
	                            </div>
                            </div>					    
                            <div class="half_aligned">
							    <div class="form-group">
									<label class="forty_aligned control-label" for="txtChequeNo">Cheque No.<span class="text-danger">*</span></label>
		                            <div class="sixty_aligned">
		                                <div class="">
		                                    <input type="text" id="txtChequeNo" name="txtChequeNo" class="form-control">
		                                    <span id="txtChequeNoError" class="error"></span>
		                                </div>
		                            </div>
									<div class="">
										<label class="chk_cursor" for="chkBankTransfer">Bank Transfer</label>
						                <input type="checkbox" id="chkBankTransfer" class="chk_cursor" name="" style="margin-bottom: 5px;">
						            </div>
					            </div>
							</div>
						</fieldset>
					</div>
					<input type="button" value="Update" class="add_bed btn_update" id="btnUpdateBed" style="display:none;" />				
				</div>
	        	<!-- Form Buttons -->
		        <div class="form-group form-actions">
		            <input type="button" value="Save" class="add_bed btn_save" id="btnBedSubmit">
					<input type="button" value="Reset" class="add_bed btn_reset" id="btnDisbursementReset">
		        </div>
            </div>
            <!-- end row -->
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>

<div class="print-body display-print no-border" id="chequeDiv">
	<div id="chequeDate"></div>
	<div id="chequePayeeName">
		<span id="chequePayeePrefix"></span>
		<span id="cheque-payee-name"></span>
		<span id="chequePayeeSuffix"></span>
	</div>
	<div id="chequeAmountFigures">
		<span id="chequeAmountFigurePrefix"></span>
		<span id="chequeAmount"></span>
		<span id="chequeAmountFigureSuffix"></span>
	</div>
	<div id="chequeAmountWords">
		<span id="nullAmountWordPrefix"></span>
		<span id="cheque-amount-word"></span>		
	</div>
</div>

<!--- start media query for responsive webs site--> 

<!--- End media query for responsive webs site-->
<!-- Modal for search patient-->
<div class="modal fade" id="myImprestModal" role="dialog">
	<a href="#myImprestModal" id="impresrtModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="imprestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="imprestModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<div class="modal fade" id="printDisbursementModal" role="dialog">
	<a href="#printDisbursementModal" id="disbursementModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog modal-dialog-style">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="disbursementModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="disbursementModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<style>
#myImprestModal{
	width: 87%;
    margin-left: 13%;
}
#printDisbursementModal{
	width: 87%;
    margin-left: 13%;
}
.modal-dialog-style{
	width: 29%;
}
</style>