<link rel="stylesheet" href="css/admin/imprest_warrant.css">
<!--Data Table js-->

<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/imprest_surrender.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Imprest Surrender</strong></h2>
	</div>
	
	<div style="margin-top:1%;" class="blackborder" id="tblImprestWarrant">
		<div class="table-responsive">
			
			<table id="tblImprestsurrender" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Imprest Ref.</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Staff Name</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Notes</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Start Date</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">End Date</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered main clearForm">
	<!-- First Step -->
			<div class="row">
				<div id="btnBackToList" style="display : none">
					<input type="button" name="button" value="Back To List" class="add_dept btn_save" id="BackToList">
				</div>
			</div>
			<div class="row" id="imprestWarrantButtons" style="display : none">
				<div class="half_aligned">
					<ul class="imprestWarrantButtons">
						<li>
							<input type="button" class="btn imprestbtn" data-dismiss="modal" aria-hidden="true" value="Main" id="mainPopUp">
						</li>
						<li>
							<input type="button" class="btn imprestbtn" data-dismiss="modal" aria-hidden="true" value="Line Items" id="lineItemsPopUp">
						</li>						
					</ul>
				</div>
					
			</div>
		<div id="advanced-first" class="updateMain"  style="display : none">
		<!-- Step Info -->
			
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtImprestNo">Imprest No.
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtImprestNo" maxlength="50" 
								class="form-control" disabled>
								<span id="txtImprestNoError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtStaffId">Staff Id
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtStaffId" maxlength="50" 
								class="form-control" disabled>
								<span id="txtStaffIdError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selLedger">Ledger
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selLedger" class="form-control" disabled>  
									<option>-- Select --</option>
								</select>
								<span id="selLedgerError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtStaffId">Name
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtName" maxlength="50" 
								class="form-control" disabled>
								<span id="txtNameError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAmount"> Imprest Amount
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtAmount" maxlength="50" 
								class="form-control" disabled>
								<span id="txtAmountError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAmountSpent"> Amount Spent
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtAmountSpent" maxlength="50" 
								class="form-control" disabled>
								<span id="txtAmountSpentError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtStartDate">Imprest Date
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtStartDate" maxlength="50" 
								class="form-control" disabled>
								<span id="txtStartDateError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSurrenderDate">Surrender Date
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtSurrenderDate" maxlength="50" 
								class="form-control" disabled>
								<span id="txtSurrenderDateError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="row"><!-- Ist row -->    
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtNatureOfDuty">Description 
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtNatureOfDuty" maxlength="50" 
								class="form-control" disabled>
								<span id="txtNatureOfDutyError" class="error"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- Form Buttons -->
		
		<!-- END Form Buttons -->
	</form>
	<div class="tblLineItems" style="display : none">
		<div style="margin-top:1%;"  id="tblLineItems">
		<div class="table-responsive" >
			<table id="tblSurrenderLineItem" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">GL Account</th>
						<th class="text-center td_cursor" style="max-width:30%; width:30% !important;">Description</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Initial Amount</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Amount Spent</th>
					</tr>
				</thead>
			</table>
			<input id="lineItemsRow" type="hidden" value="0" />
		</div>
	</div>
	<div class="row" align="center">
		<input type="button" name="button" value="Save" class="add_dept btn_save" id="btnSave">
	</div>
	
	</div>
	
</div>
<div class="modal fade" id="myImprestWarrantModel" role="dialog">
    <a href="#myImprestWarrantModel" id="imprestWarrantModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="imprestWarrantModelLabel"></h4>
            </div>
            <div class="" style="margin: 1% 5% 5% 5%;">
                <div class="">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Staff Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblStaffId" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblName" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>

					<div class="row">						
						
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Ledger :</label>
								<div class="sixty_aligned">
									<div class="">
										<label id="lblLedger" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Imprest No. :</label>        
								<div class="sixty_aligned">
									<div class="">
										<label id="lblImprestRequestId" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Nature Of Duty :</label>         
								<div class="sixty_aligned">
									<div class="">
										<label id="lblNatureOfDuty" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>						
					</div>

					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Est Day :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblEstDay" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Amount :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAmount" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>

					<!-- wfwerfw -->

					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Start Date :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblStartDate" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">End Date :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblEndDate" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>	
		</div><!--End modal-view -->            
    </div>
</div>
<style>
#myImprestWarrantModel {
    margin-left: 13%;
    width: 87%;
}
.fa{
    margin-right: 10%;
}
#selChartOfAccount{
	width: 100%;
}
#txtdescription{
	text-transform: capitalize;
}
</style>








	