<link href="css/jquery.dataTables.css" rel="stylesheet"> 
<link href="css/admin/insurance_payment.css"  rel="stylesheet">
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<script src="script/admin/insurance_payment.js"></script>
<input type="hidden" id="inurancePayment" value ="insurancePayment"></input>
<div class="block">
<!-- Hidden -->
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Insurance Payment</strong></h2>
    </div>
    <div class="hide">
    	<span id="checkCopayValue"></span>
    	<span id="checkTotalBill"></span>
    </div>
    <!-- END Wizard with Validation Title -->
	<div ><!-- search patient on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewInsuranceForm" method="post" class="form-horizontal form-bordered clearForm">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtVisit">Visit Id
								<span class="text-danger">*</span>
							</label>             
							<div class="forty_aligned">
								<div class="">
									<input type="text" id="txtVisit" name="txtVisit" class="form-control" maxlength="9" minlength="9">
									<i id="searchVisitIcon" class="fa fa-search" style="position: relative;"></i>
									<span class="error" id="txtVisitError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned" style="position:relative;">
						<input type="button" class="btn_save" id="btnSelect" value="Load">
					</div>
				</div><!-- end row -->  
				<div class="showOnClickLoad">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>
								<div class="sixty_aligned">
									<div class="">
								   		<input type="text" id="txtPatientId" name="txtPatientId" class="form-control" readonly>
									</div>
								</div>	
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtName">Patient Name</label>             
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtName" name="txtName" class="form-control" readonly>
									</div>
								</div>
							</div><!--  form group-->
						</div>
					</div>	
					<div class="row"><!-- Iind row -->
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtInsuranceNo">Insurance No.</label>
								<div class="sixty_aligned">
									<div class="">
									   <input type="text" id="txtInsuranceNo" name="txtInsuranceNo" class="form-control" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtInsuranceCompany">Insurance Company</label>             
								<div class="sixty_aligned" style="position:relative;">
									<div class="">
										<input type="text" id="txtInsuranceCompany" name="txtInsuranceCompany" class="form-control" readonly>
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div><!-- end row --> 
					<div class="row"><!-- Iind row -->
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtInsuranceScheme">Insurance Scheme</label>
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtInsuranceScheme" name="txtInsuranceScheme" class="form-control" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtInsurancePlan">Insurance Plan</label>             
								<div class="sixty_aligned" style="position:relative;">
									<div class="">
										<input type="text" id="txtInsurancePlan" name="txtInsurancePlan" class="form-control" readonly>
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div><!-- end row --> 
					<div class="row"><!-- Iind row -->
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtCopayType">Copay Type 
								</label>
								<div class="sixty_aligned">
									<div class="">
										<input type="text" value="" id="txtCopayType" class="form-control" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtCopayValue">Copay Value</label>
								<div class="sixty_aligned">
									<div class="">
										<span class="amountPrefix amountpre" id="amountPrefixCopayValue"></span>
										<input type="text" value="" id="txtCopayValue" class="form-control amountText eighty_aligned" readonly>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End onclick show class -->
			</div>
		</form>

		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive" style="margin-top:20px;">
				<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
					<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
				</div> -->
				<table id="insuranceServiceCost" class="table table-vcenter table-responsive table-condensed table-bordered display">
					<thead>
						<tr>
							<th class="text-center" width="50%">Name</th>
							<th class="text-center" width="25%">Revised Cost</th>
							<th class="text-center" width="25%">Actual Cost</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-center" width="50%"></th>
							<th class="text-center" width="50%" colspan="2" ><span class="alignBill">Total Cost:</span><span class="amountPrefix"></span><span id="totalCost">0</span></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>	
		<div class="form-group form-actions buttons align-center">
            <input type="button" value="Save" class="opd_reg btn_save" id="btnSaveInsurancePayment">
            <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetInsurancePayment">
        </div>
	</div><!-- End view visit -->
	<!-- show details on search modal -->
</div>
<!-- END Wizard with Validation Block -->

<div class="modal fade" id="myCashModal" role="dialog">
	<a href="#myCashModal" id="selfRequestModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4>Search Visit</h4>
			</div>
			<div class="modal-body" id="cashModalBody">				
			</div>
	  	</div>			  
	</div>
</div>
<style type="text/css">
	#confirmUpdateModal .modal-footer,#messagemyModal .modal-footer {
    	display: block !important; 
	}
	#myCashModal{
		width: 87%;
    	margin-left: 13%;
	}
	.amountpre{
		padding: 8px 12px;
		font-weight: 400;
		line-height: 1.3;
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 1.1px;
		width:20%;
	}
	.amountText{
		CURSOR: DEFAULT;
		float: left;
		width: 75%;
		position: relative;
	    margin-left: -2px;
	}
	.amountPrefix {
        float: left;
        margin-left: 0px;
        margin-right: 0px;
    }

</style>