<link href="css/jquery.dataTables.css" rel="stylesheet"> 
<link href="css/admin/self_request.css"  rel="stylesheet">
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<script src="script/admin/insurance_revised_cost.js"></script>

<div class="block">
<!-- Hidden -->
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Insurance Revised Cost</strong></h2>
		<input type="hidden" id="thing" name="thing" value="1" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchVisit"><!-- search patient on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewInsuranceRevisedCostForm" method="post" class="form-horizontal form-bordered viewInsuranceRevisedCostForm">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group" style="height: 7%;">
							<label class="forty_aligned control-label" for="selCompanyName"> Insurance Company<span class="text-danger">*</span></label>
							<div class="control-label sixty_aligned">
								<select id="selCompanyName" name="selCompanyName" class="form-control" size="1">
									<option value="">--Select--</option>
								</select>
								<span id="selCompanyNameError" class="error"></span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group" style="height: 7%;">
							<label class="forty_aligned control-label" for="selSchemeName"> Scheme Name<span class="text-danger">*</span></label>
							<div class="control-label sixty_aligned">
								<select id="selSchemeName" name="selSchemeName" class="form-control dependentSelect" size="1">
									<option value="">--Select--</option>
								</select>
								<span id="selSchemeNameError" class="error"></span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div><!-- end row -->  
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group" style="height: 7%;">
							<label class="forty_aligned control-label" for="selPlanName"> Plan Name<span class="text-danger">*</span></label>
							<div class="control-label sixty_aligned">
								<select id="selPlanName" name="selPlanName" class="form-control dependentSelect" size="1">
									<option value="">--Select--</option>
								</select>
								<span id="selPlanNameError" class="error"></span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div><!-- end row -->  
				
				<div class="row" style="margin: 0 auto;display: table;">
					<ul class="selfRequestButtons">
						<li>
							<input type="button" class="btn slfBtn" data-dismiss="modal" aria-hidden="true" value="Service" id="addServicePopUp">
						</li>
						<li>
							<input type="button" class="btn slfBtn" data-dismiss="modal" aria-hidden="true" value="Lab" id="addLabPopUp">
						</li>
						<li>
							<input type="button" class="btn slfBtn" data-dismiss="modal" aria-hidden="true" value="Radiology" id="addRadiologyPopUp">
						</li>
						<li>
							<input type="button" class="btn slfBtn" data-dismiss="modal" aria-hidden="true" value="Forensic" id="addForensicPopUp">
						</li>
						<li>
							<input type="button" class="btn slfBtn" data-dismiss="modal" aria-hidden="true" value="Procedure" id="addProcedurePopUp">
						</li>
						<li>
							<input type="button" class="btn slfBtn" data-dismiss="modal" aria-hidden="true" value="Pharmacy" id="addDrugsPopUp">
						</li>						
					</ul>
				</div>
				<span id ="testStatus" class="alertMessage"></span>
				<span id ="addedStatus" class="error"></span>
			</div><!-- End advanced-first -->	
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive" style="margin-top:20px;">
				<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
					<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
				</div> -->
				<table id="insuranceRevisedCostTable" class="table table-vcenter table-responsive table-condensed table-bordered display">
					<thead>
						<tr>
							<th class="text-center" width="30%">Name</th>
							<th class="text-center" width="30%">Actual Cost</th>
							<th class="text-center" width="30%">Revised Cost</th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	

		<input type="button" class="btn_save" value="Save" id="btnSave">  
		<input type="button" class="btn_reset" value="Reset" id="btnReset"> 
		
	</div><!-- End view visit -->
	<!-- show details on search modal -->
</div>
<!-- END Wizard with Validation Block -->