<link rel="stylesheet" href="css/admin/department.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/insurance_type.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Insurance Type</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="department_list">
                <h2 id="tab_dept"><i class="fa fa-bars fa-fw"></i>Insurance Type list</h2>
                <h2 id="tab_add_dept" style="background:#fff; color:#000;"> +add Insurance Type</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive">
                        <label for="inactive-checkbox-tick">Inactive </label>
                        <input type="checkbox" id="inactive-checkbox-tick" 
                            class="inactive-checkbox" name="">
                    </div>
                    <table id="tblInsuranceType" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:35%; width:35% !important;">Name</th>
                                <th class="text-center" style="max-width:55%; width:55% !important;">Description</th>
                                <th class="text-center" style="max-width:10%; width:10%% !important;"></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept">
                        <div id="popUPForm">
                        <div class="row">
                                <div class="half_aligned">
                                    <div class="form-group" style="height: 7%;">
                                        <label class="forty_aligned control-label" for="txtName">Name<span class="text-error">*</span></label>
                                        <div class="sixty_aligned control-label" style="float:left;">
                                            <input type="text" id="txtName" maxlength="50" class="form-control">
                                            <span id="txtNameError" class="error"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                               <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtDescription">Description</label>
                                        <div class="sixty_aligned control-label" style="float:left;">
                                            <textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
                                            <span id="txtDescriptionError" class="error"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" value="Update" class="add_dept btn_update" id="btnUpdateInsurance" style="display:none;" />
                        </div>
                        <input type="button" value="Save" class="add_dept btn_save" id="btnAddInsurance" name="submit" />
                        <input type="button" value="Reset" class="add_dept btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->