<link rel="stylesheet" href="css/admin/insurance.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/insurance.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Insurance Member list</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="insurance_list">
                <h2 id="tabInsurance"><i class="fa fa-bars fa-fw"></i>Insurance Member list</h2>
                <h2 id="tabAddInsurance" style="background:#fff; color:#000;"> +add Insurance Member</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive">
                        <label for="inactive-checkbox-tick">Inactive </label>
                        <input type="checkbox" id="inactive-checkbox-tick" 
                            class="inactive-checkbox" name="">
                    </div>
                    <table id="tblInsurance" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:15%; width:11% !important;">Patient Id</th>
                                <th class="text-center" style="max-width:15%; width:11% !important;">Insurance Number</th>
                                <th class="text-center" style="max-width:15%; width:11% !important;">Company</th>
                                <th class="text-center" style="max-width:15%; width:11% !important;">Scheme</th>
                                <th class="text-center" style="max-width:15%; width:11% !important;">Plan Name</th>
                                <th class="text-center" style="max-width:15%; width:11% !important;">Mem. Since</th>
                                <th class="text-center" style="max-width:15%; width:12% !important;">Exp. Date</th>
                                <th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept">
                        <div id="popUPForm">
                            <div class="row">
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtPatientId">Patient Id<span class="text-danger">*</span>
                                        </label>             
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtPatientId" name="txtPatientId" class="form-control">
                                                <i id="searchPatientIcon" class="fa fa-search" style="position: relative;"></i>
                                                <span class="error" id="txtPatientIdError"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>
								<div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtInsuranceNumber">Insurance Number<span class="text-danger">*</span>
                                        </label>             
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtInsuranceNumber" name="txtInsuranceNumber" maxlength = '11' class="form-control">
                                                <span class="error" id="txtInsuranceNumberError"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>                                                          
                            </div>
                            <div class="row">								     
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selInsuranceCompany">Insurance Company<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <select id="selInsuranceCompany" class="form-control val_wrad" size="1">
                                                    <option value="-1">--Select--</option>
                                                </select>
                                                <span id="selInsuranceCompanyError" class="error text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  form group-->
                                </div>
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selInsurancePlan">Insurance Scheme<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <select id="selInsurancePlan" class="form-control val_wrad" size="1">
                                                    <option value="-1">--Select--</option>
                                                </select>
                                                <span id="selInsurancePlanError" class="error text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  form group-->
                                </div> 
                                                         
                            </div>
                            <div class="row">								  
								<div class="half_aligned">
									<div class="form-group" style="height: 7%;">
										<label class="forty_aligned control-label" for="selPlanName"> Plan Name<span class="text-danger">*</span></label>
										<div class="control-label sixty_aligned">
											<select id="selPlanName" name="selPlanName" class="form-control" size="1">
												<option value="">--Select--</option>
											</select>
											<span id="selPlanNameError" class="error"></span>
										</div>
										<div class="clear"></div>
									</div>
								</div> 
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtMemberSince">Member Since<span class="text-danger">*</span>
                                        </label>             
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtMemberSince" name="txtMemberSince" class="form-control input-datepicker" data-date-format="yyyy-mm-dd">
                                                <span class="error" id="txtMemberSinceError"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>                          
                            </div>
                            <div class="row">
								
								<div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtExpirationDate">Expiry Date<span class="text-danger">*</span>
                                        </label>             
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtExpirationDate" name="txtExpirationDate"  class="form-control input-datepicker" data-date-format="yyyy-mm-dd">
                                                <span class="error" id="txtExpirationDateError"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div> 
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtExtraInfo">Remark
                                        </label>             
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <textarea id="txtExtraInfo" name="txtExtraInfo" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>                                                          
                            </div>							
                            <input type="button" value="Update" class="add_dept btn_update" id="btnUpdateInsurance" style="display:none;" />
                        </div>
                        <input type="button" value="Save" class="add_dept btn_save" id="btnAddInsurance" name="submit" />
                        <input type="button" value="Reset" class="add_dept btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<!-- Modal for search patient-->
<div class="modal fade" id="myInsuranceModal" role="dialog">
    <input type="hidden" id="hdnInsurance" value="">
    <a href="#myInsuranceModal" id="InsuranceModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="InsuranceModalLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body" id="InsuranceModalBody">              
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>
<style>
#myInsuranceModal{
    width: 87%;
    margin-left: 13%;
}
.row{
    margin-top: 1%;
}
</style>