<link rel="stylesheet" href="css/admin/insurance_plan.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/insurance_plan.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Insurance Scheme</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divInsurancePlan">
                <h2 id="tabInsurancePlanList"><i class="fa fa-bars fa-fw"></i>Insurance Scheme List</h2>
                <h2 id="tabInsurancePlan" style="background:#fff; color:#000;">+Add Insurance Scheme</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="insurancePlanTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:40%; width:40% !important;">Company Name</th>
                                <th class="text-center" style="max-width:30%; width:30% !important;">Scheme Name</th>
								<th class="text-center" style="max-width:20%; width:20% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="formInsurancePlan">
                <div class="col-md-12">
                    <form method="post" id="form_insurance_plan">
					<div id="insurancePlanPopUPForm">
					<div class="row">
                        <div class="half_aligned">
                            <div class="form-group" style="height: 7%;">
                                <label class="forty_aligned control-label" for="selCompanyName"> Company Name<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                                    <select id="selCompanyName" name="selCompanyName" class="form-control selCompanyName" size="1"	></select>
                                    <span id="selCompanyNameError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
						<div class="half_aligned">
                            <div class="form-group" style="height: 7%;">
                                <label class="forty_aligned control-label" for="txtPlanName">Scheme Name<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                                    <input type="text" id="txtPlanName" name="txtPlanName" class="form-control">
                                    <span id="txtPlanNameError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
					</div>
					<div class="row">
						<div class="half_aligned">    
                            <div class="form-group">
                                <label class="control-label forty_aligned" for="txtDesc">Description</label>
                                <div class="control-label sixty_aligned">
                                   
    								<textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
                                    <span id="txtDescriptionError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
					</div>
						<input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="form-button btn_save" id="btnAddInsurancePlan" name="submit" />
						<input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->