<link rel="stylesheet" href="css/admin/insurance_plan.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/insurance_companies.js"></script>
<div class="block">
   <div class="block-title" >
      <h2><strong>Insurance Companies</strong></h2>
   </div>
   <div class="row" >
      <div class="col-md-12">
         <div id="divInsurancePlan">
            <h2 id="tabInsurancePlanList"><i class="fa fa-bars fa-fw"></i>Insurance Companies List</h2>
            <h2 id="tabInsurancePlan" style="background:#fff; color:#000;">+Add Insurance Company</h2>
            <div class="clear"></div>
         </div>
         <div style="margin-top:1%;" class="blackborder">
            <div class="table-responsive">
               <div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
                  <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
               </div>
               <table id="insuranceCompaniesTable" class="table table-vcenter table-condensed table-bordered">
                  <thead>
                     <tr>
                        <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                        <th class="text-center" style="max-width:30%; width:30% !important;">Name</th>
                        <th class="text-center" style="max-width:30%; width:30% !important;">Address</th>
                        <th class="text-center" style="max-width:30%; width:30% !important;">phone</th>
                        <th class="text-center" style="max-width:10%; width:10% !important;"></th>
                     </tr>
                  </thead>
               </table>
               <input id="selectedRow" type="hidden" value="0" />
            </div>
         </div>
         <!-- end table  -->	
         <div id="formInsurancePlan">
            <div class="col-md-12">
               <form method="post" id="form_insurance_company" class="form_insurance_company">
                  <div id="insuranceComapnyPopUPForm">
                     <div class="row">
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="txtName">Name<span class="text-danger">*</span></label>
                              <div class="control-label sixty_aligned">
                                 <input type="text" id="txtName" name="txtName" class="form-control">
                                 <span id="txtNameError" class="error"></span>
                              </div>
                              <div class="clear"></div>
                           </div>
                        </div>
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="val_Email">Email<span class="text-danger">*</span>
                              </label>                                
                              <div class="sixty_aligned">
                                 <div class="">
                                    <input type="text" id="val_Email" name="val_Email" class="form-control" maxlength="50" required="">
                                    <span id="erroremail" class="error"></span>
                                 </div>
                              </div>
                           </div>                                             
                        </div>
                     </div>
                     <div class="row">
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="txtWebsite">Website
                              </label>                                
                              <div class="sixty_aligned">
                                 <div class="">
                                    <input type="text" id="txtWebsite" name="txtWebsite" class="form-control" maxlength="50" required="">
                                    <span id="txtWebsiteError" class="error"></span>
                                 </div>
                              </div>
                           </div>                                             
                        </div>
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="txtFax">Fax
                              </label>                                
                              <div class="sixty_aligned">
                                 <div class="">
                                    <input type="text" id="txtFax" class="form-control" maxlength="50" required="">
                                    <span id="txtFaxError" class="error"></span>
                                 </div>
                              </div>
                           </div>                                             
                        </div>
                     </div>
                     <div class="row">
                         <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="txtContactPerson">Contact Person
                              </label>                                
                              <div class="sixty_aligned">
                                 <div class="">
                                    <input type="text" id="txtContactPerson" class="form-control" maxlength="50" required="">
                                    <span id="txtContactPersonError" class="error"></span>
                                 </div>
                              </div>
                           </div>                                             
                        </div>
                     </div>
                     <div class="row">
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="val_Country">Country<span class="text-danger">*</span></label>                                
                              <div class="sixty_aligned">
                                 <div class="">
                                    <select id="sel_val_Country" name="val_Country" class="form-control val_Country" size="1" required>
                                       <option value="-1">--select--</option>
                                    </select>
                                    <span id="errorcountry" class="error"></span>
                                 </div>
                              </div>
                           </div>
                           <!--  form group-->
                        </div>
					         <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="val_State">State<span class="text-danger">*</span></label>
                              <div class="sixty_aligned">
                                 <div class="">
                                    <select id="sel_val_State" name="val_State" class="form-control val_State" size="1" required>
                                       <option value="-1">--Select--</option>
                                    </select>
                                    <span id="errorstate" class="error"></span>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                     <!-- end row -->
                     <div class="row">
                        <!-- VII th row -->
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="val_City">City<span class="text-danger">*</span></label>                                
                              <div class="sixty_aligned">
                                 <div class="">
                                    <select id="sel_val_City" name="val_City" class="form-control val_City" size="1" required>
                                       <option value="-1">--Select--</option>
                                    </select>
                                    <span id="errorcity" class="error"></span>
                                 </div>
                              </div>
                           </div>
                           <!--  form group-->
                        </div>
						      <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="val_zipcode">Zipcode<span class="text-danger">*</span></label>
                              <div class="sixty_aligned">
                                 <div class="">
                                    <input type="text" id="val_zipcode" name="reg_zipcode"  maxlength="15" class="form-control">
                                    <span id="errorcode" class="error"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                      <div class="row">
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="masked_phone_ext">Phone<span class="text-danger">*</span></label>
                              <div class="fifteen_aligned">
                                 <div class="">
                                    <input type="text" id="mobileCode" name="val_addMobileCode" max="15" class="form-control ui-wizard-content valid" disabled>
                                 </div>
                              </div> 
                              <div class="thirty_five_aligned">
                                 <div class="">
                                    <input type="number" id="masked_phone_ext" name="masked_phone_ext" class="form-control ui-wizard-content valid" maxlength="15">
                                    <span id="errorPhone" class="error"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="half_aligned">
                           <div class="form-group" style="height: 7%;">
                              <label class="forty_aligned control-label" for="txtTelephone">Telephone
                              </label>                                
                              <div class="sixty_aligned">
                                 <div class="">
                                    <input type="number" id="txtTelephone" name="txtTelephone" class="form-control" maxlength="50" required="">
                                    <span id="txtTelephoneError" class="error"></span>
                                 </div>
                              </div>
                           </div>                                             
                        </div>
                     </div>
                     <div class='row'>                        
                        <div class="half_aligned">
                           <div class="form-group"  style="height: 7%;">
                              <label class="control-label" for="chkPreauthorization" id="checkPreauthorization">Preauthorization For IP</label>                                
                              <div class="sixty_aligned" style="    padding: 0 0 0 10px;">
                                 <div class="">
                                    <input type="checkbox" id="chkPreauthorization" class="" name="" style="cursor:pointer;">
                                    <span id="chkPreauthorizationError" class="error"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="half_aligned" >
                           <div class="form-group" style="height: 7%;" id="hideField">
                              <label class="forty_aligned control-label" for="txtPreAuthorization">PreAuthorization Period(days)<span class="text-danger">*</span></label>
                              <div class="sixty_aligned">
                                 <div class="">
                                    <input type="number" id="txtPreAuthorization" name="txtPreAuthorization"  maxlength="15" class="form-control">
                                    <span id="txtPreAuthorizationError" class="error"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <!-- VI th row -->
                        <div class="half_aligned">
                           <div class="form-group" style="height: 12%;">
                              <label class="forty_aligned control-label" for="txtPostalAddress">Postal Address<span class="text-danger">*</span></label>
                              <div class="control-label sixty_aligned">
                                 <textarea id="txtPostalAddress" name="txtAddress" rows="3" class="form-control ui-wizard-content"></textarea>
                                 <span id="txtPostalAddressError" class="error"></span>
                              </div>
                              <div class="clear"></div>
                           </div>
                        </div>
                        <div class="half_aligned">
                           <div class="form-group" style="height: 12%;">
                              <label class="forty_aligned control-label" for="txtAddress">Physical Address<span class="text-danger">*</span></label>
                              <div class="control-label sixty_aligned">
                                 <textarea id="txtAddress" name="txtAddress" rows="3" class="form-control ui-wizard-content"></textarea>
                                 <span id="txtAddressError" class="error"></span>
                              </div>
                              <div class="clear"></div>
                           </div>
                        </div>
                     </div>
                     <!-- end row -->
                     <div class='row'>                        
                        <div class="half_aligned">
                           <div class="form-group"  style="height: 7%;">
                              <label class="control-label forty_aligned" for="txtDesc">Description</label>
                              <div class="control-label sixty_aligned">
                                 <textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
                                 <span id="txtDescriptionError" class="error"></span>
                              </div>
                              <div class="clear"></div>
                           </div>
                        </div>
                     </div>
                     <input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" />
                  </div>
                  <input type="button" value="Save" class="form-button btn_save" id="btnAddInsuranceCompanies" name="submit" />
                  <input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
               </form>
         </div>
         <!-- end col md-12 -->
      </div>
      <!-- end form_dept -->			
   </div>
   <!--end col md-12 -->
</div>
<!-- end row -->
</div>
<!-- end block -->
<style type="text/css">
.fifteen_aligned{
   width: 15% !important;
   float: left;
}
.thirty_five_aligned{
   width: 35% !important;
   float: left;
}
</style>