<link href="css/admin/investigations.css"  rel="stylesheet">
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<script src="script/admin/investigations.js"></script>

<div class="block">
<!-- Hidden -->
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Investigations</strong></h2>
		<input type="hidden" id="thing" name="thing" value="1" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchVisit"><!-- search patient on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewPatientForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtIPDId">IPD Id<span class="text-danger">*</span>
							</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtIPDId" name="txtPatientId" class="form-control">
									<i id="searchPatientIcon" class="fa fa-search" style="position: relative;"></i>
									<span class="error" id="txtIPDIdError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned" style="position:relative;">
						<input type="button" class="btn_save" id="btnLoadPatientId" value="Load">
					</div>
				</div><!-- end row -->  
				<div class="showOnClickLoad">
					<div class="row"><!-- Iind row -->
						<div class="half_aligned">
							<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientFirstName">First Name</label>
							<div class="sixty_aligned">
								<div class="">
								   <input type="text" id="txtPatientFirstName" tabindex="-1" name="txtPatientFirstName" class="form-control" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientLastName">Last Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPatientLastName" tabindex="-1" name="txtPatientLastName" class="form-control" readonly>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					</div><!-- end row --> 
					<div class="row"><!-- Iind row -->
						 <div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtPatientMobile">Mobile</label>
								<div class="sixty_aligned">
									<div class="">
									   <input type="text" id="txtPatientMobile" tabindex="-1" name="txtPatientMobile" class="form-control" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtPatientEmail">Email</label>             
								<div class="sixty_aligned" style="position:relative;">
									<div class="">
										<input type="text" id="txtPatientEmail" tabindex="-1" name="txtPatientEmail" class="form-control" readonly>
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div><!-- end row --> 
					<div class="row">						
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtPatientId">Patient Id<span class="text-danger">*</span>
								</label>             
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtPatientId" name="txtPatientId" class="form-control" readonly>
										<span class="error" id="txtPatientIdError"></span>
									</div>
								</div>
							</div><!--  form group-->
						</div>
					</div>
				</div><!-- End onclick show class -->
				<div class="row" style="margin: 0 auto;display: table;">
					<ul class="selfRequestButtons">
						<li>
							<input type="button" class="btn slfBtn" data-dismiss="modal" aria-hidden="true" value="Lab" id="addLabPopUp">
						</li>					
					</ul>
				</div>

				 

				<div class="row myLabClass myHideClass"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selLabType">Lab Type<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selLabType" name="selLabType" class="form-control" size="1"></select>
									<span class="error" id="selLabTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selLabTest">Lab Test<span class="text-danger">*</span></label>
							<div class="sixty_aligned"  style="position:relative;">
								<div class="">
								   <select id="selLabTest" name="selLabTest" class="form-control" size="1"></select>
								   <span class="error" id="selLabTestError"></span>
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->  
				<div class="row myLabClass myHideClass"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selLabTestComponent">Lab Test Component<span class="text-danger">*</span></label>
							<div class="sixty_aligned"  style="position:relative;">
								<div class="">
								   <select id="selLabTestComponent" name="selLabTestComponent" class="form-control" size="1"></select>
								   <span class="error" id="selLabTestComponentError"></span>
								   <input type="button" id ="addLabService" class= "addValues" value="+Add">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->   

				
				<span id ="testStatus" class="alertMessage"></span>
				<span id ="addedStatus" class="error"></span>
			</div><!-- End advanced-first -->
			
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive" style="margin-top:20px;">
				<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
					<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
				</div> -->
				<table id="viewPrice" class="table table-vcenter table-responsive table-condensed table-bordered display">
					<thead>
						<tr>
							<th class="text-center" width="10%">Type</th>
							<th class="text-center" width="20%">Name</th>
							<th class="text-center" width="10%">Unit Price</th>
							<th class="text-center" width="10%">Quantity</th>
							<th class="text-center" width="10%">Total Price</th>
							<th class="text-center" width="10%">Options</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-center" width="10%"></th>
							<th class="text-center" width="20%"></th>
							<th class="text-center" width="10%"></th>
							<th class="text-center" width="10%"></th>
							<th class="text-center" width="10%"><span class="alignBill">Total Bill:</span> <span class="amountPrefix"></span><span id="totalBill">0</span></th>
							<th class="text-center" width="10%"></th>

						</tr>
					</tfoot>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	

		<input type="button" class="btn_save" value="Save" id="btnSave">  
		<input type="button" class="btn_reset" value="Reset" id="btnReset"> 
		
	</div><!-- End view visit -->
	<!-- show details on search modal -->
</div>
<!-- END Wizard with Validation Block -->
<div class="modal fade" id="mySelfModal" role="dialog">
	<a href="#mySelfModal" id="selfModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content" style="width:100% !important;margin:0 auto;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="selfModalLabel" style="color:white;"></h4>
			</div>
			<div class="" style="padding:15px;">
				<div class="row">
					<div class="" style="margin:0 auto;display:table;font-size:15px;">
						<div class="form-group">								        
							<div class="">
								<label id="success" class="control-label"></label>
							</div>
						</div><!--  form group-->
					</div> 
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Patient Id :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblPatientId" class="control-label">
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Visit Id :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblVisitId" class="control-label">
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Name :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblName" class="control-label">
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Test Name :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblTestName" class="control-label">
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Drug Name :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblDrugName" class="control-label">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;display:block;">				
			</div> 
	  </div>			  
	</div>
</div>

<div class="modal fade" id="myInvestigationModal" role="dialog">
	<input type="hidden" id="hdnInvestigation" value="" />
	<a href="#myInvestigationModal" id="InvestigationModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="InvestigationModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="InvestigationModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<div class="modal fade" id="mySelfRequestErrorModal" role="dialog">
	<input type="hidden" id="hdnSelfRequest" value="" />
	<a href="#mySelfRequestErrorModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="selfRequestErrorModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="selfRequestErrorModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<div class="modal fade" id="mySelfRequestButtonModal" role="dialog">	
	<a href="#mySelfRequestButtonModal" id="selfRequestModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="selfRequestButtonModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="selfRequestButtonModalBody">

				


			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">		
			</div> 
	  </div>			  
	</div>
</div>
<style>
#myInvestigationModal{
	width: 87%;
	margin-left: 13%;
}
</style>
