<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/inventory_response.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Inventory Response</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
	<div class="row">
		<div class="half_aligned">
			<div class="form-group">
				<label class="forty_aligned control-label" for="selInventoryType">Inventory Type<span class="text-danger">*</span></label>                                
				<div class="sixty_aligned">
					<div class="">
						<select id="selInventoryType" class="form-control val_wrad" size="1" required="">
							<option value="">--Select--</option>
						</select>
						<span id="selInventoryTypeError" class="error"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="text-align:center;margin-bottom:2%;">
		<input type="button" class="btn btn_save" value="Show" id="btnShow" />
		<input type="button" class="btn btn_reset" value="Reset" id="btnReset" />
	</div>
    <!-- Wizard with Validation Content -->            
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<table id="inventoryResponseProcessTbl" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="20%">Item Name</th>
						<th class="text-center" width="10%">Stock</th>
						<th class="text-center" width="10%">Quantity</th>
						<th class="text-center" width="25%">Order Date</th>
						<th class="text-center" width="25%">Order By</th>
						<th class="text-center" width="10%"></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>					
	 <div class="row" style="text-align:center;margin-bottom:2%;">
		<input type="button" class="btn btn-primary subprocess" value="Proceed" id="btnSubmit" />
	</div>
	<!-- end table  -->	
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myInventoryResponseModal" role="dialog">
	<a href="#myInventoryResponseModal" id="inventoryResponseModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="inventoryResponseModalLabel" style="color:white;">Item Proceed</h4>
			</div>

			<div class="modal-body" id="inventoryResponseModalBody">	
				<div style="margin-top:1%;" class="blackborder">
					<div class="table-responsive">
						<table id="inventoryResponseProceedTbl" class="table table-vcenter table-responsive table-condensed table-bordered">
							<thead>
								<tr>
									<th class="text-center" width="10%">Sr No.</th>
									<th class="text-center" width="50%">Item Name</th>
									<th class="text-center" width="30%">Quantity</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>						
				 <div class="row" style="text-align:center;margin-bottom:2%;">
					<input type="button" class="btn btn-primary subprocess" value="Proceed" id="btnSubmit" />
				</div>
			</div>
		</div>			
	  </div>	
</div>
<!-- message pop up -->
<div class="modal fade" id="messageMyResponseModal" role="dialog">
	<div id="message_popup">
		<a href="#messageMyResponseModal" id="mymessageResponseModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog confirm-modal-style">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="mymessageResponseModalLabel"></h4>
				</div>
				<div class="modal-cash-body" style="padding: 4px 0 0 10px;">
					<h5 id="paymentMsg"></h5>
					<label>Receipt No.</label><h5 id="reciptNoMsg"></h5>
				</div>
				<div class="modal-footer" style="">
					<input type="button" class="btn btn_save" value="Print" id="btn_print" />
					<!--<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  /> -->
				</div>
		  </div>			  
		</div>
	</div>    
</div>

<div class="print-body display-print" id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Receipt No :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintReceipt"></label>
			</div>
		</div><div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Date :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintDate"></label>
			</div>
		</div>
		
	</div>
	
	<table id="codexpl" width="100%; height: 450px;">
		<tbody id="codexplBody">
			<tr>
				<th style="padding: 0px;" width="10%">S.No</th>
				<th style="padding:0px;" width="30%">Item Name</th>
	  
				<th style="padding:0px;" width="20%">Quantity</th>
				<th style="padding:0px;" width="20%">Unit Cost</th>
				<th style="padding:0px;" width="20%">Amount</th>
			</tr>		
			<tfoot>
				<tr>
					<th style="padding: 0px;" width="10%"></th>
					<th style="padding:0px;" width="30%"></th>		  
					<th style="padding:0px;" width="20%"></th>
					<th style="padding:0px;" width="20%"></th>
					<th style="padding:0px;" width="20%"><span style="float:left;">Total :</span> <span id="printTotalBill" style="float:left;"></span></th>
				</tr>
			</tfoot>
		</tbody>
	</table>
</div>

<style type="text/css">
 .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned control-label{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned control-label{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 2%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

#print{
    float: right;
    margin-right: 2%;
}
.fa-search{
	float: right;
    margin-top: -11%;
    margin-right: 3%;
    cursor: pointer;
}
.modal-view {
    width: initial !important;
}
.center {
	margin: 0;
    display: table;
    position: initial;
}
.search-modal-header {
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
	}
#myLabModal{
	width: 87%;
    margin-left: 13%;
}
table#codexpl td ,#tblCashPayment td{text-transform: capitalize;}
#lblPrintPatient{text-transform: uppercase;}
#printCashDetailss{
	color: #fff;
	padding: 4px 12px;
	background: #0C71C8;
	border: none;
	border-radius: 3px;	    
}
#print{float: right;margin-right: 2%;}
.fa-search{float: right;margin-top: -16%;margin-right: 3%;cursor: pointer;}
.modal-view {width: 800px !important;left: 2%;}
.center {margin: 0;display: table; position: initial;}
.search-modal-header {border-bottom: 1px solid #eee; border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 18px 10px;
	background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
	color: #FFF;
}
.amountpre{
	padding: 8px 12px;
	font-weight: 400;
	line-height: 1.3;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 1.1px;
	width:20%;
}
.amountText{
	CURSOR: DEFAULT;
	float: left;
	width: 75%;
	position: relative;
	left: -6px;
}

.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   .block-title { visibility: hidden; }
   .blackborder { visibility: hidden; }
   #message_popup{ visibility: hidden;}
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    #messageMyResponseModal { overflow: hidden; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​
</style>