<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/inventory_payment.js"></script>
<div class="block">
	<input type="hidden" id="hdnFanId" value="">
    <input type="hidden" id="inventoryPaymentHdnId" value="1">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Inventory Payment</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="inventoryPayment" method="post" class="form-horizontal form-bordered inventoryPayment">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
            <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selSellerId">Seller Name<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <select id="selSellerId" name="selSellerId" class="form-control" size="1" required>
                                </select>
								<span id="selSellerIdError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtReceiveOrderId">Order Id<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtReceiveOrderId" class="form-control"><i id="searchorderIcon" class="fa fa-search" style="position: relative;"></i>
								<span id="txtReceiveOrderIdError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
              </div><!-- end row -->
            <div class="row" align="center">
            	<input type="button" value="Show" class="opd_reg btn_save" 
				id="btnShow">
            </div>
            <div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblInventoryPayment" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="30%">item Name</th>
							<th class="text-center" width="20%">Unit Cost</th>
							<th class="text-center" width="20%">Quantity</th>
							<th class="text-center" width="20%">Amount</th>
							<th class="text-center" width="10%">Exclude</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-center" width="30%"></th>
							<th class="text-center" width="20%"></th>
							<th class="text-center" width="20%"></th>
							<th class="text-center" width="20%"><span class="alignBill">Total Bill:</span> <span class="amountPrefix">$</span><span id="totalBill" style="float:left;">0</span></th>
							<th class="text-center" width="10%"></th>
						</tr>
					</tfoot>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
		<div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="SelPaymentMode">Payment Mode<span class="text-danger">*</span></label>
                        <div class="">
                            <div class="sixty_aligned">
                                <select id="SelPaymentMode" name="SelPaymentMode" class="form-control" size="1" required>
                                	<option value="">--Select--</option>
                                	<option value="1">Cash</option>
                                	<option value="2">Cheque</option>
                                </select>
								<span id="SelPaymentModeError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAmount">Amount<span class="text-danger">*</span></label>
                        <div class="">
                            <div class="sixty_aligned">
                                <input type="number" class="form-control" id="txtAmount">
								<span id="txtAmountError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div>
		<!-- Form Buttons -->
			<div class="row" align="center">
				<input type="button" value="Submit" class="opd_reg btn_save" 
				id="btnSave">
				<input type="button" value="Reset" class="opd_reg btn_reset" 
				id="btnReset">
			</div>
   		</div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->
<div class="modal fade" id="receiveOrderDetails" role="dialog">
    <a href="#receiveOrderDetails" id="" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="">Order Details</h4>
            </div>
            
                <div class="myModaldata modal-body">
					
				</div>
						
		</div><!--End modal-view -->           
    </div>
</div>
<style>
i#searchorderIcon {
    cursor: pointer;
    bottom: 25px;
    float: right;
    right: 8px;
}
#receiveOrderDetails{
	width: 87%;
	margin-left: 13%;
}
#receiveOrderDetails #viewOrdersForm{
	display: none;
}
#receiveOrderDetails .block{
	padding: 0px;
	border: none;
}
</style>