<!-- javascript code used only in this page for validation-->
<script src="script/admin/ipd_registration.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>IPD Registration </strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textHrn">HRN</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="textHrn" name="textHrn" class="form-control">
								<span id="txthrnError" class="error"span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned hf_align_center">
                    <input type="button" value="Select" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button"
                      id="btnSelect">
                </div>
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtLastName">Last Name </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtLastName" name="register_lastname"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->

               <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Age</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_year" name="get_yr" 
                                    class="form-control" readonly><br>Years
                                </div>
                            </div>
                            <div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
                                <div class="">
                                    <input type="text" id="txt_month" name="get_mon" 
                                    class="form-control" readonly><br>Month
                                </div>
                            </div>
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_day" name="get_day" 
                                    class="form-control" readonly><br>Days
                                </div>
                            </div>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtMobile">Mobile </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtMobile" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->

            <div class="row"><!-- IV th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selDepartment">Department
                             <span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <select id="selDepartment" name="selDepartment" class="form-control selDepartment" size="1" required>
                                    <option value="-1"></option>
                                </select>
                            </div>
                            <span id="selDepartmentError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selWard">Ward
                            <span class="text-danger">*</span>
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selWard" name="selWard" class="form-control selWard" size="1" required>
                                    <option value="-1"></option>
                                 </select>
                            </div>
                            <span id="selWardError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- Vth Row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selRoomNo">Room No.
                             <span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selRoomNo" name="selRoomNo" class="form-control selRoomNo" size="1" required>
                                    <option value="-1"></option>

                                </select>
                            </div>
                            <span id="selRoomNoError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>     
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selBed">Bed
                             <span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selBed" name="selBed" class="form-control selBed" size="1" required>
                                    <option value="-1"></option>
                                </select>
                            </div>
                            <span id="selBedError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>     
            </div><!-- end row -->                
        </div>
        <!-- Form Buttons -->
        <div class="form-group form-actions" style="display: inline-block; width: 100%;">
            <div class="" style="text-align: center;">
                <input type="button" value="Save" class="btn btn-sm btn-info ui-wizard-content ui-formwizard-button" 
                id="btnBookIpd">
				 <input type="reset" value="Reset" class="btn btn-sm btn-info ui-wizard-content ui-formwizard-button" 
                id="">
            </div>
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->

<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 45%;} 
    input#btnSelect { margin-top: 4%;}
    .control-label{margin-top: 10px;}

    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;} 
        input#btnSelect { margin-top: 5%;}  
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
        .hf_align_center{text-align: center;}
    }     
</style>



