<!-- javascript code used only in this page for validation-->
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<script src="script/jquery-ui.min.js"></script>
<script src="script/admin/issuance.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>Issuance</strong></h2>
			<input type="hidden" id="itemCost" name="itemCost" value="" />
			<input type="hidden" id="itemPrice" name="itemPrice" value="" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="">
		<!-- Wizard with Validation Content -->
		<form id="viewIssuanceForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtReceiver">Receiver<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtReceiver" name="txtReceiver" autocomplete ="off" class="form-control txtCategory" />
									<span id="txtReceiverError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDateIssue">Date of Issue<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtDateIssue" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
									<span id="txtDateIssueError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtItem">Item<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtItem" name="txtItem" class="form-control" readonly>
									<i id="iconStaffSearch" class="fa fa-search"></i>
									<span id="txtItemError" class="error"></span>
									<input type="hidden" id="itemID" name="thing" value="" />
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtQuantity">Quantity<span class="text-danger">*</span> </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="number" id="txtQuantity"  class="form-control">
									<span id="txtQuantityError" class="error"></span>
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row --> 
				
				<div class="row"><!-- IV th row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtExpiryDate">Expiry Date</label>                                
							<div class="sixty_aligned">
								<div class="">
									<span class="forty_aligned control-label" id="txtExpiryDate">N/A</span>                                
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="+ Add Items" class="btn_save" 
					id="btnAddItem">
				</div>
			</div>
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblIssuance" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="20%">Item</th>
							<th class="text-center" width="10%">Quantity</th>
							<th class="text-center" width="15%">Expiry Date</th>
							<th class="text-center" width="20%">Cost</th>
							<th class="text-center" width="25%">Price</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-center" width="20%"></th>
							<th class="text-center" width="10%"></th>
							<th class="text-center" width="15%" > </th>
							<th class="text-center" width="20%"></th>
							<th class="text-center" width="25%"><span class="alignBill">Total Price:</span><span class="amountPrefix"></span><span id="totalCost" style="float:left;">0</span></th>
							<th class="text-center" width="10%"></th>
						</tr>
					</tfoot>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" >
				<input type="button" value="Save" class="opd_reg btn_save" 
				id="btnSave">
				<input type="button" value="Reset" class="opd_reg btn_save" 
				id="btnReset">
			</div>
		</div>
		<!-- end table  -->	
	</div>
</div>	
<!-- Modal for search item-->
<div class="modal fade" id="myItemissuanceModal" role="dialog">
	<input type="hidden" id="itemValue"/>
	<a href="#myItemissuanceModal" id="itemModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="itemModalLabel"></h4>
			</div>
			<div class="modal-body" id="itemModalBody">				
			</div> 
	  	</div>			  
	</div>
</div>
<!-- End modal -->
<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
.fa-search {
	float: right;
    margin-top: -24px;
    margin-right: 10px;
    cursor: pointer;
	}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
#myItemissuanceModal{
	width: 87%;
	margin-left: 13%;
}
</style>