<link rel="stylesheet" href="css/admin/lab_test_request.css">
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/lab_test_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="labRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row" id="divDropDownLabRequest"><!-- Iind row -->
				<div class="" style="width:90%; margin: 0 auto; margin-top:25px;">
					<div class="half_aligned">
						<div class="form-group">
							<label class="thirty_aligned control-label" for="selLabType" id="labTypeLbl">Lab Type<span class="text-error">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selLabType" name="selLabType" class="form-control" size="1"></select>
									<span class="error" id="selLabTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="forty_aligned">
						<div class="form-group">
							<label class="thirty_aligned control-label" for="selLabTest" >Lab Test <span class="text-error">*</span></label>
							<div class="sixty_aligned" style="width: 60% !important;">
								<select id="selLabTest" name="selLabTest" class="form-control">
									<option value="-1">-- Select --</option>
								</select>
								   <span class="error" id="selLabTestError"></span>
							</div>
						</div>
					</div> 
				</div>
			</div><!-- end row -->  

			<div class="row hideInPopUp" style="margin: 0 auto; width: 93%;">
				<div class="">
					<div class="half_aligned">
						<div class="form-group">
							<label class="thirty_aligned control-label" for="selLabComponent">Lab component
							<span class="text-error">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selLabComponent" name="selLabComponent" class="form-control" size="1">
										<option value="-1">--Select--</option>
									</select>
									<span class="error" id="selLabComponentError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="forty_aligned">
						<div class="form-group">
							<label class="thirty_aligned control-label" for="selRequestType" id="reqTypeLbl">Request Type<span class="text-error">*</span></label>             
							<div class="sixty_aligned" style="width: 60% !important;">
								<div class="">
									<select id="selRequestType" name="selRequestType" class="form-control" size="1">
										<option value="-1">--Select--</option>
										<option value="internal">Internal</option>
										<option value="external">External</option>
									</select>
									<span class="error" id="selRequestTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>	
					<div class="tenth_aligned" style="display: inline-block;">
						<div class="form-group">
							 <input type="button" id ="addLabRequest" class= "addValues" value="+Add">
							 <span class='error' id='noDataError'></span>
						</div>
					</div>					
				</div>					
			</div><!-- end row --> 
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div> -->
					<table id="labRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="20%">Test Name</th>
								<th class="text-center" width="20%">Component Name</th>
								<th class="text-center" width="10%">Paid Status</th>
								<th class="text-center" width="10%">Test Status</th>
								<th class="text-center" width="15%">Cost</th>
								<th class="text-center" width="15%">Revised Cost</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th class="text-center" width="20%"></th>
								<th class="text-center" width="20%"></th>	
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="15%"></th>	
								<th class="text-center" width="15%"><span style="float:left;">Total</span><span class="amountPrefix"></span><span style="float:left;" id="totalBill">0</span></th>				
								<th class="text-center" width="10%"></th>
							</tr>
						</tfoot>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="form-group form-actions buttons align-center">
                <input type="button" value="Request Test" class="opd_reg btn_save" id="btnSaveLabTestRequest">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetLabTestRequest">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myTriageModal" role="dialog">
	<a href="#myTriageModal" id="triageModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="triageModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="triageModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldTestModalLabel"></h4>
			</div>
			<div class="modal-body" id="oldTestModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>