<link rel="stylesheet" href="css/admin/lab_test.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/lab_test.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Lab Tests</strong></h2>
    </div>
    <div id="labTestList">
		<h2 id="tabLabTestList"><i class="fa fa-bars fa-fw"></i>Lab Test list</h2>
		<h2 id="tabAddLabTest" style="background:#fff; color:#000;">+Add Lab Test</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive">
			<label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="labTestDataTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="20%">Name</th>
						<th class="text-center" width="10%">Test Code</th>						
						<th class="text-center" width="20%">Lab Type</th>
						<th class="text-center" width="10%">Specimen</th>
						<th class="text-center" width="30%;">Description</th>
						<th class="text-center" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
    <form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step">
            <!-- Step Info -->
            <div id="bedModel">
				<div class="row" style="margin-bottom:4%;">
					<!-- Ist row -->
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtTestName">Test Name<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtTestName" maxlength="50" class="form-control">
										<span id="txtTestNameError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtTestCode">Test Code<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtTestCode" maxlength="50" class="form-control">
										<span id="txtTestCodeError" class="error"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selLabType">Lab Type<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="selLabType" class="form-control val_wrad" size="1" required>
											<option value="-1"></option>
										</select>
										<span id="selLabTypeError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selSpecimenType">Specimen Type<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="selSpecimenType" class="form-control val_wrad" size="1" required>
											<option value="-1"></option>
										</select>
										<span id="selSpecimenTypeError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>		
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selLedger" name="selLedger" class="form-control"><option value="">-- Select --</option></select>
										<span class="error" id="selLedgerError"></span>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selAccountPayable">Account Receivable<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selAccountPayable" name="selAccountPayable" class="form-control"><option value="">-- Select --</option></select>
										<span class="error" id="selAccountPayableError"></span>
									</div>
								</div>
							</div>
						</div>	
					</div>

					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selGLAccount">GL Account<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selGLAccount" name="selGLAccount" class="form-control">
										<option value="">-- Select --</option></select>
										<span class="error" id="selGLAccountError"></span>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtDescription">Description</label>                                
								<div class="sixty_aligned">
									<div class="">
										<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
					</div>

					<div class="row">
						<div class="half_aligned">
							<div class="form-group">						
								<input type="button" value="Add Component" class="add_bed btn_save" id="btnAddComponent">
							</div>
						</div>
					</div>
				</div>
				<div style="margin-top:1%; display:none;" id="divUpdateLabComponent" >
					<div class="table-responsive">
						<table id="tblUpdateLabTestComponent" class="table table-vcenter table-responsive table-condensed table-bordered">
							<thead>
								<tr>
									<th class="text-center" style="max-width:30%; width:30% !important;">Name</th>
									<th class="text-center" width="20%">Normal Range</th>
									<th class="text-center" style="max-width:20%; width:20% !important;">Unit</th>
									<th class="text-center" style="max-width:20%; width:20% !important;">Fee</th>
									<th class="text-center" style="max-width:10%; width:10% !important;"></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- end table  -->
				<input type="button" value="Update" class="add_bed btn_update" id="btnUpdate" style="display:none;" />
            </div>
            <!-- end row -->
        </div>
			<div style="margin-top:1%;" id="divLabComponent">
				<div class="table-responsive">
					<table id="tblLabTestComponent" class="table table-vcenter table-responsive table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center" style="max-width:30%; width:30% !important;">Name</th>
								<th class="text-center" width="20%">Normal Range</th>
								<th class="text-center" style="max-width:20%; width:20% !important;">Unit</th>
								<th class="text-center" style="max-width:20%; width:20% !important;">Fee</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- end table  -->
        <!-- Form Buttons -->
        <div class="form-group form-actions">
            <input type="button" value="Save" class="add_bed btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_bed btn_reset" id="btnReset" name="" />
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>