<script src="script/admin/leave_period.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<link rel="stylesheet" href="css/admin/department.css">
<div class="block">
    <div class="block-title" >
        <h2><strong>Fiscal Year</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12"> 
        <div id="department_list">
                <h2 id="tab_dept"><i class="fa fa-bars fa-fw"></i>Fiscal Year list</h2>
                <h2 id="tab_add_dept" style="background:#fff; color:#000;"> +add Fiscal Year</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive">
                        <label for="inactive-checkbox-tick">Inactive </label>
                        <input type="checkbox" id="inactive-checkbox-tick" 
                            class="inactive-checkbox" name="">
                    </div>
                    <table id="leavePeriodTable" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" width=40%>Fiscal Year</th>
                                <th class="text-center" width=50%>Description</th>
                                <th class="text-center" width=10%></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 

            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept" class="clearForm">
                        <div id="popUPForm">
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtStartDate">Start Date<span class="text-danger">*</span></label>                                
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtStartDate" style="cursor: pointer;" name="txtStartDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
                                            </div>
                                            <span id="txtStartDateError" class="error"></span>
                                        </div>
                                    </div>
                                    <!--  form group-->
                                </div>
                                
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtEndDate">End Date<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtEndDate" style="    cursor: pointer;" name="txtEndDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
                                            </div>
                                            <span id="txtEndDateError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>              
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtDescription">Description
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div> 
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="control-label" style="cursor:pointer;" for="chkActive" id='lblActive'>Active</label>                                
                                        <div class="sixty_aligned" style="    padding: 5px 0 0 10px;">
                                            <div class="">
                                                <input type="checkbox" id="chkActive" class="" name="" style="cursor:pointer;">
                                                <span id="chkActiveError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>    
                            </div>
                            <div style="text-align: center;">
                                <input type="button" value="Update" class="btn_update btn_save" id="btnUpdateLeavePeriod" style="display:none;" />
                            </div>
                        </div>
                        <div class="btnContainer">
                            <input type="button" value="Save" class="btn_save" id="btnSaveLeavePeriod" name="submit" />
                            <input type="button" value="Reset" class="btn_reset" id="btnReset" name="" />
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->