<link rel="stylesheet" href="css/admin/consultant.css">
<script src="script/admin/leave_apply.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Apply Leave</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
    <!-- Wizard with Validation Content -->
    <form id="leaveApplyForm" method="post" class="form-horizontal form-bordered leaveApplyForm">
        <!-- First Step -->
        <div id="advanced-first" class="step advanced-first">
            <div class="row">
                <!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selLeaveType">Leave Type<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                               <select id="selLeaveType" name="selLeaveType" class="form-control" size="1">
									<option value="">-- Select --</option>
							   </select>
							   <span id="selLeaveTypeError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="lblLeaveBalance">Leave Balance</label>             
                        <div class="sixty_aligned">
                            <div class="">
                               <label class="control-label" id="lblLeaveBalance" style="width:100%;">N/A</label>	
								<span id="lblLeaveBalanceError" class="error"></span>
                            </div>							
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            <div class="row">
                <!-- IIIrd row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFromDate">From Date<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
								<span id="txtFromDateError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtToDate">To Date<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtToDate" name="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd"/>
								<span id="txtToDateError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            <div class="row">
                <!-- IVth row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtReport">Report</label>
                        <div class="sixty_aligned">
                            <div class="">
                               <textarea id="txtReport" name="txtReport" rows="3" class="form-control ui-wizard-content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <div class="forty_aligned control-label">
                            <label class="pointer" for="chkIncludeWeekend">Include Weekend</label>
                            <input type="checkbox" id="chkIncludeWeekend" class="inactive-checkbox form-control" name="">
                        </div>
                    </div>
                </div>
            </div>          
            <!-- end row -->
            <div class="row">
                <!-- VIth row -->
                <div class="" style="width: 17%; margin: 0 auto;">
                    <input type="button" value = "Apply" id="btnApply" class="btn_save">
                    <input type="button" value = "Reset" id="btnReset" class="btn_save">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Tab Buttons -->
        <!-- END Tab Buttons -->
    </form>
</div>
<style>
input#chkIncludeWeekend {
    margin-top: 0px !important;
}
</style>