<link rel="stylesheet" href="css/admin/diseases.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/ledger.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Ledger</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="diseases_list">
                <h2 id="tab_diseases"><i class="fa fa-bars fa-fw"></i>Ledger list</h2>
                <h2 id="tab_add_diseases" style="background:#fff; color:#000;">+add Ledger</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<!-- <div class="chk-active_inactive" >
					<label for="inactive-checkbox-tick">Inactive</label>
							<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div> -->
                    <table id="tblLedger" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:15%; width:15% !important;">Code</th>
                                <th class="text-center" style="max-width:15%; width:15% !important;">Name</th>
                                <th class="text-center" style="max-width:15%; width:15% !important;">Parent Group</th>
                                <th class="text-center" style="max-width:10%; width:10% !important;">Type</th>
                                <th class="text-center" style="max-width:10%; width:10% !important;">Cr. Balance</th>
                                <th class="text-center" style="max-width:10%; width:10% !important;">Db. Balance</th>
								<th class="text-center" style="max-width:15%; width:15% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_diseases">
                <div class="col-md-12">
                    <form method="post" id="form_submit_diseases">
					<div id="popUPForm">
                        <div class="row">
                            <div class="half_aligned">
                                <div class="form-group" style="height: 7%;">
                                    <label class="forty_aligned control-label" for="txtCode" > Code<span class="text-error">*</span></label>
                                    <div class="control-label sixty_aligned">
                                        <input type="text" id="txtCode" name="txtCode" class="form-control" maxlength="10">
                                        <span id="txtCodeError" class="error"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>    
                            <div class="half_aligned">
        						<div class="form-group" style="height: 7%;">
                                    <label class="forty_aligned control-label" for="txtName"> Name<span class="text-error">*</span></label>
                                    <div class="control-label sixty_aligned">
                                        <input type="text" id="txtName" name="txtName" class="form-control" maxlength="255">
                                        <span id="txtNameError" class="error"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>    
                        </div> 
                        <div class="row">
                            <div class="half_aligned">
                                <div class="form-group" style="height: 7%;">
                                    <label class="forty_aligned control-label" for="selParentGroup" > Parent Group</label>
                                    <div class="control-label sixty_aligned">
                                        <select id="selParentGroup" name="selParentGroup" class="form-control">
                                            <option value="-1">-- Select --</option>
                                        </select>  
                                        <span id="selParentGroupError" class="error"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div> 
                            <div class="half_aligned">
                                <div class="form-group" style="height: 7%;">
                                    <label class="forty_aligned control-label" for="selType" >Type<span class="text-error">*</span></label>
                                    <div class="control-label sixty_aligned">
                                        <select id="selType" name="selType" class="form-control">
                                            <option value="-1">-- Select --</option>
                                            <option value="1">Ledger</option>
                                            <option value="2">Group</option>
                                        </select>  
                                        <span id="selTypeError" class="error"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>    
                        </div> 
                        <div class="row">  
                            <div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="txtBalance">Balance<span class="text-danger">*</span></label></label>                     
                                    <div class="sixty_aligned">                     
                                        <div class="">
                                            <div class="">
                                            <div class="thirty_aligned">
                                                <select id="selUnit" name="selUnit" 
                                                class="form-control" size="1">
                                                    <option value="1">Db</option>
                                                    <option value="2">Cr</option>
                                                </select>
                                            </div>
                                            </div>
                                            <div class="seventy_aligned" style="margin-left: 4px;">
                                                <div class="">
                                                    <input type="text" id="txtBalance" name="txtBalance" 
                                                    class="form-control">
                                                    <span id="txtBalanceError" class="error">
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="clear"></div>
                                </div><!--  form group-->
                            </div>  
                            <div class="half_aligned">
                                <div class="form-group">
                                    <label class="control-label forty_aligned" for="txtDescription">Description</label>
                                    <div class="control-label sixty_aligned">
                                        <textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>   
						<input type="button" value="Update" class="add_diseases btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="add_diseases btn_save" id="btnAddDiseases" name="submit" />
						<input type="button" value="Reset" class="add_diseases btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->