<link rel="stylesheet" href="css/admin/location_screen.css">
<!-- <script src="../script/vendor/jquery-1.11.0.min.js"></script> --> 
 <script src="./script/admin/location_screen.js"></script> 
<div class="block">
    <div class="block-title" >
        <h2><strong>Location </strong></h2>
    </div>
    <div id="formHospitalProfile">
        <form method="post" id="form_submit_dept">
            <div class="row">

                <!-- For Ist Box -->
                <div style="margin-bottom:5%;width: 100%; display: inline-block;">
                <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5 admin-edit-country" style="background: #E9E9E9;">
                    <div class="row">
                        <div class="heading_location">
                            <p id="save_country_click">save</p>
                            <p id="edit_country_click">edit</p>
                        </div>
                        <div>
                            <div class="save-country">
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" 
                                    for="txtCountry">Country<span class="text-danger">*</span></label>
                                    <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                        <input type="text" id="txtCountry" 
                                            class="form-control">
                                        <span id="txtCountryError" class="error"></span>
                                    </div>  
                                    <div class="btnHolder">                      
                                        <input type="button" value="Save" class="addLocation" id="btnSaveCountry" name="submit" />
                                    </div>    
                                </div>
                            </div>
                            <div class="edit-country">
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" for="selCountry">Country<span class="text-danger">*</span></label>
                                    <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                        <select id="selCountry" name="selCountry" class="form-control" size="1" required=""></select>
                                        <span id="selCountryNewError" class="error"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" 
                                    for="txtNewCountry">New Country<span class="text-danger">*</span></label>
                                    <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                        <input type="text" id="txtNewCountry" 
                                            class="form-control">
                                        <span id="txtNewCountryError" class="error"></span>
                                    </div>
                                    <div class="btnHolder">
                                        <input type="button" value="Update" class="addLocation" id="btnEditCountry" name="submit" />
                                        <input type="button" value="Delete" class="addLocation" id="btnDeleteCountry" name="submit" />
                                    </div>    
                                </div>
                            </div>                            
                        </div>    
                    </div>
                </div><!-- End Ist Box -->

                <!-- For IInd Box -->
                <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5 admin-edit-state" style="background: #E9E9E9;">
                    <div class="row">
                        <div class="heading_location">
                            <p id="save_state_click">save</p>
                            <p id="edit_state_click">edit</p>
                        </div>

                        <div class="">

                            <div class="form-group">
                                <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" for="selNewCountry">Country<span class="text-danger">*</span></label>
                                <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                    <select id="selNewCountry" name="selCountry" class="form-control val_Country" size="1" required=""></select>
                                    <span id="selNewCountryError" class="error"></span>
                                </div>
                            </div>                           
                            <div class="form-group save-state">
                                <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" 
                                for="txtState">State<span class="text-danger">*</span></label>
                                <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                    <input type="text" id="txtState" class="form-control">
                                    <span id="txtStateError" class="error"></span>
                                </div>
                                <div class="btnHolder">
                                    <input type="button" value="Save" class="addLocation" id="btnSaveState" name="submit" />
                                </div>    
                            </div> 
                            <div class="edit-state">
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" for="selState">State<span class="text-danger">*</span></label>
                                    <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                        <select id="selState" name="selState" class="form-control val_Country" size="1" required=""></select>
                                        <span id="selStateError" class="error"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" 
                                    for="txtNewState">New State<span class="text-danger">*</span></label>
                                    <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                        <input type="text" id="txtNewState" 
                                            class="form-control">
                                        <span id="txtNewStateError" class="error"></span>
                                    </div>
                                    <div class="btnHolder">
                                        <input type="button" value="Update" class="addLocation" id="btnEditState">
                                        <input type="button" value="Delete" class="addLocation" id="btnDeleteState">
                                    </div>                            
                                </div>
                            </div>                             
                        </div>          
                    </div>
                </div><!-- End IInd Box -->
                </div><!-- to hold country and state -->
                
                <!-- For IIIrd Box -->
                <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5 admin-edit-city" style="background: #E9E9E9;">
                    <div class="row">
                        <div class="heading_location">
                            <p id="save_city_click">save</p>
                            <p id="edit_city_click">edit</p>
                        </div>

                        <div class="">
                            <div class="form-group">
                                <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" for="selNewNewCountry">Country<span class="text-danger">*</span></label>
                                <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                    <select id="selNewNewCountry" name="selNewNewCountry" class="form-control val_Country" size="1" required=""></select>
                                    <span id="selNewNewCountryError" class="error"></span>
                                </div>
                            </div>   
                            <div class="form-group">
                                <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" for="selNewState">State<span class="text-danger">*</span></label>
                                <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                    <select id="selNewState" name="selState" class="form-control val_Country" size="1" required=""></select>
                                    <span id="selNewStateError" class="error"></span>
                                </div>
                            </div>
                            <div class=" save-city">
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" 
                                    for="txtCity">City<span class="text-danger">*</span></label>
                                    <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                        <input type="text" id="txtCity" class="form-control">
                                        <span id="txtCityError" class="error"></span>
                                    </div>  
                                    <div class="btnHolder">                      
                                        <input type="button" value="Save" class="addLocation" id="btnSaveCity">
                                    </div>    
                                </div>
                            </div> 
                            <div class="edit-city">
                                <div class="form-group">
                                <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" for="selNewCity">City<span class="text-danger">*</span></label>
                                <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                    <select id="selNewCity" name="selNewCity" class="form-control" size="1" required=""></select>
                                    <span id="selNewCityError" class="error"></span>
                                </div>
                            </div>                            
                            <div class="form-group ">
                                <label class="col-md-4 col-lg-4 col-xs-4 col-sm-4 control-label" 
                                for="txtNewCity">New City<span class="text-danger">*</span></label>
                                <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                                    <input type="text" id="txtNewCity" 
                                        class="form-control">
                                    <span id="txtNewCityError" class="error"></span>
                                </div>
                                <div class="btnHolder">
                                    <input type="button" value="Update" class="addLocation" id="btnEditCity">  
                                    <input type="button" value="Delete" class="addLocation" id="btnDeleteCity">                     
                                </div>
                            </div>
                            </div>
                                
                        </div>    
                        
                        <div class=""> 
                                                        
                                
                                                  
                        </div><!-- End edit city -->      
                    </div>
                </div><!-- End IIIrd Box -->

            </div>
            <!-- End Row -->          
        </form>
    </div>
    <!-- end form_dept -->      
</div>
<!-- end block