<!-- <link rel="stylesheet" href="css/admin/main_budget.css"> -->
<!--Data Table js-->

<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/main_budget.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Main Budget</strong></h2>
	</div>
	
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			
			<table id="mainBudgetTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Account No.</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Account Name</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Department Name</th>
						<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Total Amount</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
</div>