<link rel="stylesheet" href="css/admin/insurance.css">
<script src="script/admin/modal_insurance.js"></script>
<div class="block">
    <div class="row" >
        <!-- end table  --> 
        <div id="form_dept">
            <div class="col-md-12">
                <form method="post" id="form_submit_dept">
                    <div id="popUPForm">
                        <div class="row">
                            <div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="txtModalPatientId">Patient Id<span class="text-danger">*</span>
                                    </label>             
                                    <div class="sixty_aligned">
                                        <div class="">
                                            <input type="text" id="txtModalPatientId" name="txtModalPatientId" class="form-control">
                                            <i id="searchModalPatientIcon" class="fa fa-search" style="position: relative;"></i>
                                            <span class="error" id="txtModalPatientIdError"></span>
                                        </div>
                                    </div>
                                </div><!--  form group-->
                            </div>
							<div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="txtInsuranceNumber">Insurance Number<span class="text-danger">*</span>
                                    </label>             
                                    <div class="sixty_aligned">
                                        <div class="">
                                            <input type="text" id="txtInsuranceNumber" name="txtInsuranceNumber" class="form-control">
                                            <span class="error" id="txtInsuranceNumberError"></span>
                                        </div>
                                    </div>
                                </div><!--  form group-->
                            </div>                                                          
                        </div>
                        <div class="row">							      
                            <div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="selInsuranceCompany">Insurance Company<span class="text-danger">*</span></label>
                                    <div class="sixty_aligned">
                                        <div class="">
                                            <select id="selInsuranceCompany" class="form-control val_wrad" size="1">
                                                <option value="-1">--Select--</option>
                                            </select>
                                            <span id="selInsuranceCompanyError" class="error text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  form group-->
                            </div> 
                             <div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="selInsurancePlan">Insurance Scheme<span class="text-danger">*</span></label>
                                    <div class="sixty_aligned">
                                        <div class="">
                                            <select id="selInsurancePlan" class="form-control val_wrad" size="1">
                                                <option value="-1">--Select--</option>
                                            </select>
                                            <span id="selInsurancePlanError" class="error text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  form group-->
                            </div> 
                                                     
                        </div>
                        <div class="row">
							<div class="half_aligned">
								<div class="form-group" style="height: 7%;">
									<label class="forty_aligned control-label" for="selPlanName"> Plan Name<span class="text-danger">*</span></label>
									<div class="control-label sixty_aligned">
										<select id="selPlanName" name="selPlanName" class="form-control" size="1">
											<option value="">--Select--</option>
										</select>
										<span id="selPlanNameError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div> 
                            <div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="txtMemberSince">Member Since<span class="text-danger">*</span>
                                    </label>             
                                    <div class="sixty_aligned">
                                        <div class="">
                                            <input type="text" id="txtMemberSince" name="txtMemberSince" class="form-control input-datepicker" data-date-format="yyyy-mm-dd">
                                            <span class="error" id="txtMemberSinceError"></span>
                                        </div>
                                    </div>
                                </div><!--  form group-->
                            </div>                          
                        </div>
                        <div class="row">
							<div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="txtExpirationDate">Expiry Date<span class="text-danger">*</span>
                                    </label>             
                                    <div class="sixty_aligned">
                                        <div class="">
                                            <input type="text" id="txtExpirationDate" name="txtExpirationDate"  class="form-control input-datepicker" data-date-format="yyyy-mm-dd">
                                            <span class="error" id="txtExpirationDateError"></span>
                                        </div>
                                    </div>
                                </div><!--  form group-->
                            </div>
                             <div class="half_aligned">
                                <div class="form-group">
                                    <label class="forty_aligned control-label" for="txtExtraInfo">Remark
                                    </label>             
                                    <div class="sixty_aligned">
                                        <div class="">
                                            <textarea id="txtExtraInfo" name="txtExtraInfo" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div><!--  form group-->
                            </div>                                                           
                        </div>
                        <input type="button" value="Update" class="add_dept btn_update" id="btnUpdateInsurance" style="display:none;" />
                    </div>
                    <input type="button" value="Save" class="add_dept btn_save" id="btnAddInsurance" name="submit" />
                    <input type="button" value="Reset" class="add_dept btn_reset" id="btnReset" name="" />
                </form>
            </div>
            <!-- end col md-12 -->
        </div>
        <!-- end form_dept -->          
    </div>
    <!-- end row -->
</div>