<script type="text/javascript" src="script/admin/month_wise_collection_comparision.js"></script>
<script type="text/javascript" charset="utf8" src="script/jQuery.print.js"></script>
<div class="block">
    <div class="page-header">
        <h1>Patient Dashboard</h1>
    </div>
    <div class="row">
	    <div class="half_aligned">
	        <div class="form-group">
	            <label class="forty_aligned control-label" for="selYear">Year<span class="text-danger">*</span>
	            </label>                             
	            <div class="sixty_aligned">
	                <div class="">
	                    <select id="selYear" name="selYear" class="form-control">
	                    </select>
	                </div>
	                <span id="selYearError" class="error"></span>
	            </div>
	        </div><!--  form group-->
	    </div>
	</div> 
	<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" style="text-align: center;">					
				<input type="button" value="View Report" id="viewReport" class="btn btn_save" />
			
				<input type="reset" id="clear" value="Reset" class="btn btn_reset" />
			</div>
		</div>
	</form>
	<div style="text-align: center;">
		<button onclick="saveFile()" id="btnSaveExcel" class="center-block">Download Excel File</button>
		<button  id="btnSavePdf">Download Pdf</button>
	</div>   
    <div class="row" id="printableArea">
        <div id="chart_div" class="chartDiv"></div>        
    </div>
</div>