<table id="oldForensicRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
	<thead>
		<tr>
			<th class="text-center" width="45%">Radiology Test Name</th>
			<th class="text-center" width="20%">Request Date</th>
			<th class="text-center" width="15%">Paid Status</th>
			<th class="text-center" width="10%">Test Status</th>
			<th class="text-center" width="10%">Cost</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="text-center" width="45%"></th>	
			<th class="text-center" width="20%"></th>
			<th class="text-center" width="15%"></th>
			<th class="text-center" width="10%"></th>	
			<th class="text-center" width="10%"><!-- Total: $<span id="totalBill">0</span> --></th>	
		</tr>
	</tfoot>
</table>

<script>
	
	$(document).ready(function(){
	
		debugger;
		var postData = {
			"operation":"forensic_search",
			"visit_id": $('#textvisitId').val()
		}
	
		$.ajax(
			{					
				type: "POST",
				cache: false,
				url: "controllers/admin/old_test_requests.php",
				datatype:"json",
				data: postData,
				
				success: function(dataSet) {
					dataSet = JSON.parse(dataSet);
					oldReqTbl = $('#oldForensicRequestsTbl').DataTable({
						"bPaginate": false,
						"bFilter": false,
						"aaData": dataSet,
						"aoColumns": [
							{ "mData": "name"},
							{ "mData": function(o){
								var dbDateTimestamp = o;
								var dateObj = new Date(dbDateTimestamp["request_date"]*1000);
								var yyyy = dateObj.getFullYear().toString();
								var mm = (dateObj.getMonth()+1).toString(); // getMonth() is zero-based
								var dd  = dateObj.getDate().toString();
								return yyyy +"-"+ (mm[1]?mm:"0"+mm[0]) +"-"+ (dd[1]?dd:"0"+dd[0]); // padding
								} 
							},
							{ "mData": "pay_status" },
							{ "mData": "test_status" },
							{ "mData": "cost" }
							]
					});
				}
			
			});
		
	});
	
</script>