<script type="text/javascript" src="script/admin/opd_dashboard.js"></script>
<div class="block">
    <div class="page-header">
        <h1>OPD Booking Dashboard</h1>
    </div>
    <div class="row">
        <div id="chart_div" class="chartDiv"></div>   
        <div id="chart_div_2" class="chartDiv"></div> 
        <div id="chart_div_3" class="chartDiv"></div> 
        <div id="chart_div_4" class="chartDiv"></div> 
    </div>
    <div style="clear:both;"></div>
</div>