<link rel="stylesheet" href="css/admin/opd_consultants.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<script src="script/admin/opd_consultants.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>OPD Consultants</strong></h2>
    </div>
    <div id="OPDConsultantsList">
		<h2 id="tabOPDConsultantsList"><i class="fa fa-bars fa-fw"></i>OPD Consultant list</h2>
		<h2 id="tabAddOPDConsultants" style="background:#fff; color:#000;">+Add OPD Consultant</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive">
			<label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="" style="margin-bottom: 5px;">
            </div>
			<table id="OPDConsultantsTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="45%">OPD Rooms</th>
						<th class="text-center" width="45%">Consultants</th>
						<th class="text-center" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
    <form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step">
            <!-- Step Info -->
            <div id="opdConsultantModel">
				<div class="row">
					<!-- Ist row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selOPDRooms">OPD Rooms<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selOPDRooms" class="form-control val_wrad" size="1" required>
										<option value="-1"></option>
									</select>
									<span id="selOPDRoomsError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selConsultant">Consultant<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selConsultant" class="form-control val_wrad" size="1" required>
										<option value="-1"></option>
									</select>
									<span id="selConsultantError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
				</div>			
				<input type="button" value="Update" class="add_opd_Consultants btn_update" id="btnUpdate" style="display:none;" />
            </div>
            <!-- end row -->
        </div>
        <!-- Form Buttons -->
        <div class="form-group form-actions">
            <input type="button" value="Save" class="add_opd_Consultants btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_opd_Consultants btn_reset" id="btnReset">
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!--- start media query for responsive webs site--> 

<!--- End media query for responsive webs site-->