<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
	.opd_reg {
		color: #fff;
		padding: 8px 15px;
		background: #0C71C8;
		border: none;
		border-radius: 3px;
		margin-top: 40px;
		margin:0 auto;
		position:relative;
		left:44%;
	}

	.opd_btn {
		color: #fff;
		padding: 8px 15px;
		background: #0C71C8;
		border: none;
		border-radius: 3px;
		margin-top: 40px;
	}
	.fa-search{
		float: right;
		margin-top: -16%;
		margin-right: 3%;
		cursor: pointer;
	}
	.modal-view {
		width: initial !important;
	}
	.center {
		margin: 0;
		display: table;
		position: initial;
	}
	.print_modal_body{
		padding: 20px 15px;
		position: relative;
	}
	.search-modal-header {
		border-bottom: 1px solid #eee;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 18px 10px;
		background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
		color: #FFF;
	}
	#mySearchModal {
		width: 87%;
    	margin-left: 13%;
	}
    .showRemainigAmount{display: none;}
	#codexpl td{border-bottom: none;}
	#codexpl th{border-top: 1px solid #000;}
	table#codexpl{border-bottom: 1px solid #000;}
	div#insuranceModal .block-title{display: none;}
	div#insuranceModal .insurance_list{display: none;}
    #insuranceModal{
        margin-left: 13%;
        width: 87%;
    }
    #modal-dialog-style-3{
        width: 75%
    }
    #confirmInsuranceModal{
        margin-left: 13%;
        width: 87%; 
    }
    #myRegModal{
        margin-left: 13%;
        width: 87%;
    }
   .display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   .block-title { visibility: hidden; }
   .blackborder { visibility: hidden; }
  #myRegModal{ visibility: hidden;}
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​

</style>
<div class="block" id="opdRegContainer">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>OPD Booking</strong></h2>
		<input type="hidden" id="thing" name="thing" value="11" />
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtHrn">Patient Id</label>                                
                        <div class="forty_aligned" style="width:36%; margin-right:1%;">
                            <div class="">
                                <input type="text" id="txtHrn" name="txtHrn" class="form-control" ><i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
								<span id="txtHrnError" class="error">
                            </div>
                        </div>
						<input type="button" value="Select" class="opd_btn"
                        id="btnSelect" style="margin: 0;padding: 1.5%; width: 13%;">
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned hf_align_center">
                    
                </div>
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtLastName">Last Name </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtLastName" name="register_lastname"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->

                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Age</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_year" name="get_yr" 
                                    class="form-control" readonly>Years
                                </div>
                            </div>
                            <div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
                                <div class="">
                                    <input type="text" id="txt_month" name="get_mon" 
                                    class="form-control" readonly>Month
                                </div>
                            </div>
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_day" name="get_day" 
                                    class="form-control" readonly>Days
                                </div>
                            </div>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtMobile">Mobile </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtMobile" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->            
			<div class="row"><!-- IV th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selPaymentMode">Payment Mode<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <select id="selPaymentMode" name="selPaymentMode" class="form-control selDepartment" size="1" required>
                                    <option value="-1">-- Select --</option>
                                    <option value="cash">Cash</option>
                                    <option value="insurance">Insurance</option>
                                </select>
                            </div>
                            <span id="selPaymentModeError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned insurance">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selInsuranceCompany">Insurance Company<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selInsuranceCompany" name="selInsuranceCompany" class="form-control selRoomNo dependentSelect" size="1">
                                    <option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selInsuranceCompanyError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                   
            </div><!-- end row -->    
			<div class="row insurance"><!-- IV th row -->                             
                <div class="half_aligned ">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selInsurancePlan">Insurance Scheme<span class="text-danger">*</span></label>                              
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selInsurancePlan" name="selInsurancePlan" class="form-control selRoomNo dependentSelect" size="1">
									<option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selInsurancePlanError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selInsuranceScheme">Scheme Plan<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <select id="selInsuranceScheme" name="selInsuranceScheme" class="form-control selDepartment dependentSelect" size="1">
                                    <option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selInsuranceSchemeError" class="error"></span>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
            <div class="row insurance"><!-- Vth Row --> 
                <div class="half_aligned insurance">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selInsuranceNo">Insurance No.<span class="text-danger">*</span></label>                 
                        <div class="sixty_aligned">
                            <div class="">  
                                <select id="selInsuranceNo" name="selInsuranceNo" class="form-control selDepartment dependentSelect" size="1">
                                    <option value="-1">-- Select --</option> 
                                </select>    
                                <span id="selInsuranceNoError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row --> 
			<div class="row"><!-- IV th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selServiceType">Service Type<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <select id="selServiceType" name="selServiceType" class="form-control selDepartment" size="1" required>
                                    <option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selServiceTypeError" class="error"></span>
                        </div>
                    </div>
                </div>  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selServices">Services<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selServices" name="selServices" class="form-control selRoomNo" size="1" required>
									<option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selServicesError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>  
            </div><!-- end row -->
            <div class="row"><!-- Vth Row -->                
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtServiceFee">Service Fee</label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtServiceFee" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>   
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selVisitType">Visit Type<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selVisitType" name="selVisitType" class="form-control selRoomNo" size="1" required>
									<option value="-1">-- Select --</option>
                                </select>
                            </div>
                            <span id="selVisitTypeError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div> 	                 		
            </div><!-- end row -->  
			<div class="row"><!-- Vth Row --> 
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selVisitType">Department</label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selDepartment" name="selDepartment" class="form-control selDepartment" size="1">
									<option value="-1">-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div> 	
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtRemarks">Remarks</label>                 
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtRemarks" name="txtRemarks" rows="3" class="form-control ui-wizard-content"></textarea>
							</div>
						</div>
					</div><!--  form group-->
				</div>                  
			</div>
        </div>
        <!-- Form Buttons -->
        <div class="form-group form-actions" style="display: inline-block; width: 100%;">
            <div class="" >
                <input type="button" value="Save" class="opd_reg btn_save" 
                id="btnBookIpd">
				<input type="button" value="Reset" class="opd_reg btn_reset" 
                id="btnRegReset">
            </div>
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- Div for Print the opd card -->
<div class="print-body display-print " id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;" >Phone:&nbsp </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	 <div class="row" style="text-align: center;">
        <h2 id="printHospitalName"></h2>
    </div>	
	 <div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp </label>
		<label class="forty_aligned control-label" id="lblPrintAddress"></label>
		<label class="control-label" style="margin-left:29%;" >Date:&nbsp </label>
		<label class="control-label" id="lblPrintDate"></label>
    </div>
    <hr>
	<div class="row">
		<div class="sixty_aligned">
			<div class="">
					<label class="forty_aligned control-label">Visit Id :<label>
			</div>
			<div class="">
				<label class="forty_aligned control-label" id="lblPrintVisitId"> <label>
			</div>
		</div>
		<div class="sixty_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Id:</label>
			</div>
			<div>
				<label class="forty_aligned control-label" id="lblPrintPatientId"></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="sixty_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Name :</label>
			</div>
			<div>
				<label class="forty_aligned control-label" id="lblPrintPatient"></label>
			</div>
		</div>
		<div class="sixty_aligned">
			<div class="">
				<label class="forty_aligned control-label">Age :</label>
			</div>
			<div>
				<label class="forty_aligned control-label" id="lblPrintAge"></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="sixty_aligned">
			<div class="">
				<label class="forty_aligned control-label">Gender :</label>
			</div>
			<div>
				<label class="forty_aligned control-label" id="lblPrintGender"></label>
			</div>
		</div>
		<div class="sixty_aligned">
			<div class="">
				<label class="forty_aligned control-label">Department :</label>
			</div>
			<div>
				<label class="forty_aligned control-label" id="lblPrintDepartment"></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="sixty_aligned">
			<div class="">
				<label class="forty_aligned control-label">Visit Type :</label>
			</div>
			<div>
				<label class="forty_aligned control-label" id="lblPrintVisitType"></label>
			</div>
		</div>
	</div>
	<table id="codexpl" width="100%">
		<tbody id="codexplBody">
			<tr>
				<th width="10%">Sr No.</th>
				<th width="35%">Service Type</th>
				<th width="35%">Service</th>
				<th width="20%">Service Fee</th>
			</tr>
			<tfoot>
				<tr id="">
					<th></th>
					<th></th>
					<th>Total</th>
					<th><span class="amountPrefix"></span><span style="float:left;" id="printTotalBill"></span></th>
				</tr>
			</tfoot>
		</tbody>
	</table>
</div>


<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myRegModal" role="dialog">
	<a href="#myRegModal" id="regModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-confirm center">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="regModalLabel"></h4>
			</div>
			<div class="print_modal_body" id="printModalBody">
				<div class="">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Patient Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Patient Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientName" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Visit Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblOPDRegistrationId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Age :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAge" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Gender :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblGender" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Department :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblDepartment" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div>
					</div>
                    <div class="row showRemainigAmount">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Remaining Amount :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblRemainingAmount" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div>
                    </div>
					<div class="row">
						<input type="button" value="Print" id="btnPrint" class="opd_reg">
					</div>
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen; height: 15%;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="mySearchModal" role="dialog">
	<input type="hidden" id="hdnOpdReg" value="" />
	<a href="#mySearchModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="searchModalLabel"></h4>
			</div>
			<div class="modal-body" id="searchModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myPatientModal" role="dialog">
	<a href="#myPatientModal" id="patientModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<div class="modal fade" id="insuranceModal" role="dialog">
	<input type="hidden" id="hdnInsurance" value="" />
	<input type="hidden" id="hdnPatientId" value="" />
	<a href="#insuranceModal" id="myInsuranceModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-3">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="insuranceModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="insuranceBody">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<!--Confirm  Modal -->
<div class="modal fade" id="confirmInsuranceModal" role="dialog">
	<div id="confirm_popup">
		<a href="#confirmInsuranceModal" id="myConfirmInsuranceModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog confirm-modal-style">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close-confirm" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="confirmInsuranceModalLabel"></h4>
				</div>
				<div class="modal-body" id="confirmInsuranceBody"><!-- Add one extra class to clear div for another modal -->					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Ok" id="btnOk" />
					<input type="button" class="btn" style="margin-bottom: 2px !important;" data-dismiss="modal" aria-hidden="true" value="Cancel" id="cancel" />
				</div>
		  </div>			  
		</div>
	</div>    
</div>	

<!-- javascript code used only in this page for validation--> 
<script src="script/admin/opd_registration.js"></script>     