<link rel='stylesheet' type='text/css' href='script/admin/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='script/admin/fullcalendar/fullcalendar.print.css' media='print' />
<link rel="stylesheet" href="css/admin/ot_rooms_availablity.css">
<!-- <script type='text/javascript' src='script/admin/fullcalendar/jquery-1.8.1.min.js'></script>
<script type='text/javascript' src='script/admin/fullcalendar/jquery-ui-1.8.23.custom.min.js'></script> -->
<script type='text/javascript' src='script/admin/fullcalendar/fullcalendar.min.js'></script>
<script src="script/admin/ot_rooms_availablity.js"></script>
<div class="block">
	<input type="hidden" value="1" id="bookCalendar">
    <div id='calendar'></div>
</div>
<div class="modal fade" id="patientOTReg" role="dialog" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <a href="#patientOTReg" id="" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-3">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" onclick="dismissOTRg();"><div id="pop_up_close">X</div></button>
                <h4 id="">Patient OT Registration</h4>
            </div>
            
                <div class="myModaldata modal-body" id="modalRegOT">
					
				</div>
						
		</div><!--End modal-view -->           
    </div>
</div>
<script type="text/javascript">
function dismissOTRg(){
    $("#patientOTReg").modal('hide');
}   
</script>