<link rel="stylesheet" href="css/admin/ot_rooms.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/ot_rooms.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>OT Room</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divOtRooms">
                <h2 id="tabOtRoomsList"><i class="fa fa-bars fa-fw"></i>OT Rooms List</h2>
                <h2 id="tabOtRooms" style="background:#fff; color:#000;">+Add OT Room</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
                        <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
                    </div>
                    <table id="otRoomsTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:30%; width:30% !important;">Room No.</th>
                                <th class="text-center" style="max-width:50%; width:50% !important;">Description</th>
                                <th class="text-center" style="max-width:20%; width:20% !important;"></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="formOtRooms">
                <div class="col-md-12">
                    <form method="post" id="form_Ot_rooms" class="clearForm">
                    <div id="otRoomsPopUPForm">
                    <div class="row">
                    <div class="half_aligned">
                            <div class="form-group" style="height: 7%;">
                                <label class="forty_aligned control-label" for="txtOtRooms">Room No.<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                                    <input type="text" id="txtOtRooms" name="txtOtRooms" class="form-control" >
                                    <span id="txtOtRoomsError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                    </div>
                    <div class="half_aligned">
                        <div class="form-group" style="height: 7%;">
                            <label class="forty_aligned control-label" for="txtDesc">Description</label>
                            <div class="control-label sixty_aligned">
                                <textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="row" align="center">
                        <input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" align="center" />
                        <input type="button" value="Save" class="form-button btn_save" id="btnSave" name="submit" />
                        <input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
                    </div>
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<div class="modal fade" id="messagemyModal" role="dialog">
            <div id="message_popup">
                <a href="#messagemyModal" id="mymessageModal" role="button" class="hidden" data-toggle="modal"></a>
                <div class="modal-dialog confirm-modal-style">          
                  <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
                            <h4 id="messageMyModalLabel"></h4>
                        </div>
                        <div class="modal-body" id="messageBody">                   
                        </div>
                        <div class="modal-footer" style="">
                            <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  />
                        </div>
                  </div>              
                </div>
            </div>    
        </div>
<style>
    .ten_aligned{
        width: 10%;
        float: left
    }
</style>