<!-- javascript code used only in this page for validation-->
<script src="script/admin/party_ledger.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
	 <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Party Ledger</strong></h2>
    </div>
	<input type="hidden" id="thing" name="thing" value="" />
    <!-- END Wizard with Validation Title -->
	<div id="searchLedger">
		<!-- Wizard with Validation Content -->
		<form id="searchLedgerForm" method="post" class="form-horizontal form-bordered searchLedgerForm">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
			<div class="row">
				<!-- IIIrd row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selSeller">Seller<span class="text-danger">*</span></label>
						<div class="sixty_aligned control-label">
							<select id="selSeller" name="selSeller" class="form-control selSeller" size="1">
								<option value="">--Select--</option>
							</select>
							<span id="selSellerError" class="error"></span>
						</div>
					</div>
				</div>
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<i class='fa fa-print Print' id ="printLedgerDetails" title='Print' style="text-align: right !important;width: 99%;"></i>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:5%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblPartyLedger" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="10%">Order Id</th>
							<th class="text-center" width="22%">Date</th>
							<th class="text-center" width="22%">Credit</th>
							<th class="text-center" width="22%">Debit</th>
							<th class="text-center" width="24%">Total</th>
						</tr>
					</thead>
					<tfoot>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span class="alignBill">Total:</span><span class="amountPrefix"></span><span id="totalCostBill" style="float:left;">0</span></td>
					</tfoot>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
</div>
<!-- Print code -->

<div class="print-body display-print" id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label" id="lblAddress">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label" id="lblDate">Date :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintDate"></label>
			</div>
		</div>
				<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label" id="lblSeller">Seller Name:</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblSellerName"></label>
			</div>
		</div>
	</div>

	<table id="codexpl" width="100%; height: 450px;">
		<tbody id="codexplBody">
			<tr>
				<th style="padding: 0px;" width="12%">Order Id</th>
				<th style="padding:0px;" width="22%">Date</th>	  
				<th style="padding:0px;" width="22%">Credit</th>
				<th style="padding:0px;" width="22%">Debit</th>
				<th style="padding:0px;" width="22%">Total</th>
			</tr>		
			<tfoot>
				<tr>
					<th style="padding: 0px;" width="12%"></th>
					<th style="padding:0px;" width="22%"></th>		  
					<th style="padding:0px;" width="22%"></th>
					<th style="padding:0px;" width="22%"></th>
					<th style="padding:0px;" width="22%"><span style="float:left;">Total</span> <span class="amountPrefix"></span><span id="printTotalBill" style="float:left;"></span></th>
				</tr>
			</tfoot>
		</tbody>
	</table>
</div>
<!-- End modal -->
<style type="text/css">
   input[type="checkbox"]{margin: 5px 14px 0 9px;};
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
	table#codexpl td ,#tblCashPayment td{text-transform: capitalize;}
    #lblPrintPatient{text-transform: uppercase;}
	#print{float: right;margin-right: 2%;}
    #printCashDetailss{
	    color: #fff;
	    padding: 4px 12px;
	    background: #0C71C8;
	    border: none;
	    border-radius: 3px;	    
	}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}

#lblDate{
    width: 14%;
}
#lblSeller{
	width: 30%;	
}
#lblAddress{
	width: 10%;
    text-align: left;
}
#lblPrintAddress{
	width: 80%;
    text-align: left;
}
 .display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   .block-title { visibility: hidden; }
   .blackborder { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​
</style>