<script type="text/javascript" src="script/admin/patient_mangament_dashboard.js"></script>
<div class="block">
    <div class="page-header">
        <h1>Patient Dashboard</h1>
    </div>
    <div class="row">
        <div id="chart_div" class="chartDiv"></div>        
    </div>
</div>