<script src="script/jquery.timepicker.min.js"></script>
<script src="script/admin/patient_ot_reg.js"></script>
<script src="script/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<link rel="stylesheet" href="css/jquery.timepicker.css">
<link rel="stylesheet" href="css/admin/department.css">

<div class="block">
<input type="hidden" id="patientOTReg" value="1">
    <div class="block-title" >
        <h2><strong>Patient OT Registration</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12"> 
        <div id="department_list">
                <h2 id="tab_dept"><i class="fa fa-bars fa-fw"></i>Patient OT Registration List</h2>
                <h2 id="tab_add_dept" style="background:#fff; color:#000;"> +add Patient OT Registration</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive">
                        <label for="inactive-checkbox-tick">Inactive </label>
                        <input type="checkbox" id="inactive-checkbox-tick" 
                            class="inactive-checkbox" name="">
                    </div>
                    <table id="patientOTTable" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" width=10%>Patient Id</th>
                                <th class="text-center" width=8%>Operation Date</th>
                                <th class="text-center" width=10%>Surgery</th>
                                <th class="text-center" width=8%>Surgery Type</th>
                                <th class="text-center" width=10%>Surgeon</th>
                                <th class="text-center" width=10%>Anesthesian</th>
                                <th class="text-center" width=10%>Nurse</th>
                                <th class="text-center" width=8%>OT Room</th>
                                <th class="text-center" width=8%>From Time</th>
                                <th class="text-center" width=8%>To Time</th>
                                <th class="text-center" width=10%></th>
                            </tr>
                        </thead>
                    </table>
                    <input class="patientOtPatientHdn" id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 

            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept" class="clearForm">
                        <div id="popUPForm">
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtPatientid">Patient Id<span class="text-danger">*</span></label>                                
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtPatientid" name="txtPatientid" class="form-control" maxlength="9" minlength="9">
                                                <span id="txtPatientidError" class="error"></span>
                                                <i id="searchPatientIcon" class="fa fa-search" style="position: relative;"></i>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--  form group-->
                                </div>
                                
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtOperationDate">Operation Date<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtOperationDate" name="txtOperationDate" class="form-control input-datepicker pointer" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="" maxlength="0" onclick="openCalendar()" onchange="checkDate()">
                                                <span id="txtOperationDateError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>              
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selSurgery">Surgery<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <select id="selSurgery" name="selSurgery" class="form-control" size="1" >
                                                    <option value="">-- Select --</option>
                                                </select>
                                                <span id="selSurgeryError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div> 
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selSurgeryType">Surgery Type<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <select id="selSurgeryType" name="selSurgeryType" class="form-control" size="1" >
                                                    <option value="">-- Select --</option>
                                                    <option value="major">Major</option>
                                                    <option value="minor">Minor</option>
                                                </select>
                                                <span id="selSurgeryTypeError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div> 
                            </div>
                            <div class="row rowGap">                                 
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtSurgeon">Surgeon<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtSurgeon" name="txtSurgeon" class="form-control">
                                                <span id="txtSurgeonError" class="error"></span>
                                                <i id="searchSurgeonIcon" class="fa fa-search serachStaff"></i>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                                <div class="half_aligned" id="appendSurgeon"></div>
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtAnesthesian">Anesthesian<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtAnesthesian" name="txtAnesthesian" class="form-control ui-autocomplete-input" autocomplete="off">
                                                <span id="txtAnesthesianError" class="error"></span>
                                                <i id="searchAnesthesianIcon" class="fa fa-search serachStaff"></i>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                                <div class="half_aligned" id="appendAnesthesian"></div>
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtNurse">Nurse<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtNurse" name="txtNurse" class="form-control ui-autocomplete-input" autocomplete="off">
                                                <span id="txtNurseError" class="error"></span>
                                                <i id="searchNurseIcon" class="fa fa-search serachStaff"></i>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                                <div class="half_aligned" id="appendNurse"></div>
                            </div>
                            <div class="row">    
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="selOTRoom">OT Room<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <select id="selOTRoom" name="selOTRoom" class="form-control" size="1" >
                                                    <option value="">-- Select --</option>
                                                </select>
                                                <span id="selOTRoomError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>
                            <div class="row rowGap">    
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtFromTime">From Time<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" class="time fromTime ui-timepicker-input
                                                form-control" id="txtFromTime" autocomplete="off">
                                                <span id="txtFromTimeError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div> 
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtToTime">To Time<span class="text-danger">*</span>
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" class="time toTime ui-timepicker-input form-control" id="txtToTime" autocomplete="off">
                                                <span id="txtToTimeError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>     
                            </div>
                            <div style="text-align: center;">
                                <input type="button" value="Update" class="btn_update btn_save" id="btnUpdate" style="display:none;" />
                            </div>
                        </div>
                        <div class="btnContainer">
                            <input type="button" value="Save" class="btn_save" id="btnSavePatientOperation" name="submit" />
                            <input type="button" value="Reset" class="btn_reset" id="btnReset" name="" />
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<div class="modal fade" id="mySelfRequestModal" role="dialog">
<input type="hidden" id="hdnSelfRequest" value="1">
    <a href="#mySelfRequestModal" id="selfRequestModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="patientRegClose close" onclick="closeMyModal()"><div id="pop_up_close">X</div></button>
                <h4 id="selfRequestModalLabel"></h4>
            </div>
            <div class="modal-body" id="selfRequestModalBody">              
            </div>
      </div>              
    </div>
</div>
<div class="modal fade" id="serachStaff" role="dialog" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <a href="#serachStaff" id="" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-3">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" onclick="dismissSearchStaff();"><div id="pop_up_close">X</div></button>
                <h4 id="serachStaffLabel"></h4>
            </div>
            
                <div class="myModaldata modal-body" id="serachStaffBody">
                    
                </div>
                        
        </div><!--End modal-view -->           
    </div>
</div>
<style type="text/css">
    i#searchPatientIcon {
        float: right;
        bottom: 40px;
        right: 10px;
        cursor: pointer;
    }
    .serachStaff {position: relative;float: right;bottom: 39px;cursor: pointer;right: 4%;}
    #mySelfRequestModal .editPatient,#myModal #searchPatientIcon{display: none;}
    #mySelfRequestModal{
        width: 87%;
        margin-left: 13%;
    }
    .userContainer {display: inline-block; margin: 0 5px;}
    .remove{
        display: inline-block;
        padding: 0px 6px;
        background: #394263;
        border-radius: 50%;
        font-size: 11px;
        font-weight: 600;
        margin-left: 4px;
        cursor: pointer;
        color: #fff;
        text-align: center;
    }
    span.srNo {
        margin-right: 2%;
        font-size: 15px;
        font-weight: 600;
    }
    label.staffName {
        float: none;
        margin-left: 1%;
        text-transform: capitalize;
        cursor: pointer;
    }
    #serachStaff{
        z-index: 2000;
    }
    .userContainer label {text-transform: capitalize;}
    #appendAnesthesian{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .ui-autocomplete{
        z-index: 99999;
    }
    .delete{    margin-top: -2% !important;    border-width: 0px !important; -webkit-box-shadow: none !important; 
     box-shadow: none !important; }
    .update{margin-top: -2% !important;   margin-left: -3% !important; border-width: 0px !important; -webkit-box-shadow: none !important; 
     box-shadow: none !important;}
     .rowGap{
        margin-top: 1%;
     }

</style>
<script type="text/javascript">
    function closeMyModal(){
        $("#mySelfRequestModal").modal('hide');
    }
    function dismissSearchStaff(){
        $("#serachStaff").modal('hide');        
    }
</script>