<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/patient_appointment_status.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Patient Appointment Status</strong></h2>
	</div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->            
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<table id="patientAppointmentStatusTbl" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="20%">Patient Id</th>
						<th class="text-center" width="20%">Patient Name</th>
						<th class="text-center" width="20%">Consultant Name</th>
						<th class="text-center" width="30%">Time Duration</th>
						<th class="text-center" width="10%">Status</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
</div>