<div class="block">
    <input type="hidden" id="hdnFanId" value="">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Patient OT Registration</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="patientOtRegistration" method="post" class="form-horizontal form-bordered patientOtRegistration">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientId">Patient Id<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtPatientId" class="form-control">
                                <span id="txtPatientIdError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtOperationDate">Operation Date<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtOperationDate" class="form-control">
                                <span id="txtOperationDateError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtSurgeryId">Surgery Id<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtSurgeryId" class="form-control">
                                <span id="txtSurgeryIdError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtSurgeonId">Surgeon Id<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtSurgeonId" class="form-control">
                                <span id="txtSurgeonIdError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAnesthetistId">Anesthetist Id<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtAnesthetistId" class="form-control">
                                <span id="txtAnesthetistIdError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selOtType">OT Type<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <select id="selOtType" name="selOtType" class="form-control" size="1" required>
                                    <option value = "">-- Select --</option>
                                    <option value="1">Major</option>
                                    <option value="1">Minor</option>
                                </select>
                                <span id="selOtTypeError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtOtRoomId">OT Room Id<span class="text-danger">*</span></label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtOtRoomId" class="form-control">
                                <span id="txtOtRoomIdError" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFromDate">From Date</label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtFromDate" class="form-control">
                                <span id="txtFromDate" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtToDate">To Date</label>
                         <div class="">
                            <div class="sixty_aligned">
                                <input type="text" id="txtToDate" class="form-control">
                                <span id="txtToDate" class="error"></span>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
                
            <div class="row" align="center">
                <input type="button" value="Submit" class="opd_reg btn_save" 
                id="btnSave">
                <input type="button" value="Reset" class="opd_reg btn_reset" 
                id="btnReset">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>