<script src="./script/admin/patient_reg.js"></script>
<!-- End user validation -->
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Patient Registration</strong></h2>
	</div>
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="patientregisform" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row -->
				<div class="half_aligned" style="margin-top: 5%;">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Salutation">Salutation<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned" >
							<div class="">
								<select id="val_Salutation" name="val_Salutation" class="form-control val_Salutation" size="1"  style="max-width:38%;" autofocus>	
									<option value="Mr.">Mr.</option>									
									<option value="Mrs.">Mrs.</option>

									<option value="Ms.">Ms.</option>

									<option value="Dr.">Dr.</option>
								</select>
								<span id="errorsalutation" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Patient Identity" >	</label>
						<div class="sixty_aligned">
							<div class="" >
								<div id="image-box" style="width: 100px; height:100px; border: 1px solid #C0C0C0;background-position: center; background-size: 100% 100%;display: inline-block; cursor: pointer;">
									<img id="user_reg_image" src="./img/default.jpg" alt="Default" style="position: relative;height: 98px;">
									<div id="imagetext" style="text-align: center;POSITION: relative; top: -37%;" >
										Click to Upload Image
									</div>                          
								</div>  
								<input type="file" id="upload" name="upload" class="hidden" accept="image/*"> 
							</div>
							<span id="errorimage" class="error"></span>
						</div>
					</div>
				</div> 
			</div>
			<div class="row"><!-- Ist row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtFirstName">First Name<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtFirstName" name="txtFirstName" class="form-control" maxlength="50"
								required>
								<span id="errorfname" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtLastName">Last Name<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtLastName" name="txtLastName" maxlength="50"
								class="form-control" required>
								<span id="errorlname" class="error"></span>
							</div>
						</div>
					</div>
				</div>  
			</div><!-- end row -->

			<div class="row"><!-- Ist row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtMiddleName">Middle Name	</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtMiddleName" name="txtMiddleName" maxlength="50"
								class="form-control" required>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtGender">Gender<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="txtGender" name="txtGender" class="form-control" size="1">
									<option value="">Please select</option>
									<option value="1">Male</option>
									<option value="2">Female</option>
								</select>
								<span id="errorgender" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				
			</div><!-- end row -->
			<div class="row"><!-- IInd Row  -->

				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDOB">Date Of Birth<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtDOB" style="cursor: pointer;" name="txtDOB" class="form-control input-datepicker"  data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly>
								 <span id="errordob" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAge">Age 
						</label>
						<div class="sixty_aligned">
							<div class="thirty_aligned">
								<div class="">
									<input type="text" id="txt_year" tabindex="-1" name="get_yr" 
									class="form-control" readonly>Years
								</div>
							</div>
							<div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
								<div class="">
									<input type="text" id="txt_month" tabindex="-1" name="get_mon" 
									class="form-control" readonly>Month
								</div>
							</div>
							<div class="thirty_aligned">
								<div class="">
									<input type="text" id="txt_day" tabindex="-1" name="get_day" 
									class="form-control" readonly>Days
								</div>
							</div>
						</div>
					</div>
				</div>    
			</div><!-- end row -->
			
			
			<fieldset>		<!-- field set -->
				<legend>Physical Address:</legend>
				<div class="row"><!-- IVth Row -->  
					<div class="half_aligned" style="width: 100%;">
						<div class="form-group">
							<label class="forty_aligned control-label reslabel" style="width: 18%;" for="txtAddress">Address</label>
							<div class="sixty_aligned restext" style="width: 73%;">
								<div class="">
								   <input type="text" id="txtAddress" name="txtAddress" class="form-control ">
								   <span id="erroraddress" class="error"></span>
								</div>
							</div>
						</div>
					</div>                              
				</div><!-- end row -->
				<div class="row"><!-- V th row -->
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtCountry">Country<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="txtCountry" name="txtCountry" class="form-control val_Country" size="1" required>
											<option value=''>--Select--</option>
										</select>
										<span id="errorcountry" class="error"></span>
									</div>
								</div>
							</div><!--  form group-->
						</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtState">State<span class="text-danger">*</span></label>
							<div class="sixty_aligned">
								<div class="">
									<select id="txtState" name="txtState" class="form-control val_State" size="1" required>
										<option value=''>--Select--</option>
									</select>
									<span id="errorstate" class="error"></span>
								</div>
							</div>
						</div>
					</div>    
				</div><!-- end row -->

				<div class="row"><!-- VI th row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtCity">City<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
								   <select id="txtCity" name="txtCity" class="form-control val_City" size="1" required>
										<option value=''>--Select--</option>
									</select>
									<span id="errorcity" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					 <div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtzipcode">Zipcode<span class="text-danger">*</span></label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtzipcode" name="txtzipcode" class="form-control" maxlength="20" required>
									<span id="errorcode" class="error"></span>
								</div>
							</div>
						</div>
					</div>                         
				 </div><!-- end row -->
			</fieldset>		<!-- end field set -->
			<div class="row"><!-- III rd row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtEmail">Email
							
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtEmail" name="txtEmail" class="form-control" maxlength="50">
								
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtmob">Mobile<span class="text-danger">*</span>
						</label>   
						<div class="fifteen_aligned">
	                        <div class="">
	                           <input type="text" id="mobileCode" name="val_addMobileCode" max="15" class="form-control ui-wizard-content valid" disabled>
	                        </div>
	                    </div>                              
						<div class="thirty_five_aligned">
							<div class="">
								<input type="number" id="txtmob" name="txtmob" 
								class="form-control" maxlength="15">
								<span id="errormob" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div><!-- end row -->
			<div class="row"><!-- VII th row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtphone">Telephone</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="txtphone" name="txtphone" maxlength="15" 
								class="form-control ui-wizard-content valid" >
							</div>
						</div>
					</div>
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_CO">Next of Kin</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_CO" name="val_CO" class="form-control" maxlength="50" >
							</div>
						</div>
					</div><!--  form group-->
				</div>
				
			</div><!-- end row -->
			<div class="row"><!-- VIII th row -->				
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_COPhoneNo">Kin Phone No.</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="val_COPhoneNo" name="val_COPhoneNo" class="form-control" maxlength="20" >
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtFamilyAccount">Family Account No.</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtFamilyAccount"  class="form-control" maxlength="50" >
								<i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
								<span id="txtFamilyAccountError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>  
			</div><!-- end row -->
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions" style="text-align:center;">
			
			<input type="button" value="Register" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_save" 
			id="submit">
			<input type="reset" value="Reset" name="reset" id="reset" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_reset"/>
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myPatientRegModal" role="dialog">
	<a href="#myPatientRegModal" id="regPatientModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="regPatientModalLabel" style="color:white;"></h4>
			</div>
			<div class="print_modal_body" id="printModalBody">
				<div class="" style="padding:10px;">
					<div class="row">
						<div class="" style="margin:0 auto;display:table;font-size:15px;">
							<div class="form-group">								        
								<div class="">
									<label id="success" class="control-label"></label>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Patient Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientName" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Gender :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblGender" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Age :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAge" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div>
					</div>
					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Mobile Number :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblMobile" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;display:block;">
				<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  />
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myAccountNoModal" role="dialog">
	<input type="hidden" id="hdnAccountNo" value="">
	<a href="#myAccountNoModal" id="accountNoModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:800px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss=""><div id="pop_up_close">X</div></button>
				<h4 id="accountNoModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="accountNoModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!--- start media query for responsive webs site--> 
<style type="text/css">
	fieldset{padding: 0.35em 0.625em 0.75em;margin: 0 auto; border: 1px solid #eeeeee;width:98%;display:block;}
	fieldset legend{width: initial;border: none !important;font-size: 14px;font-weight: bold;padding: 0 !important;}
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%;} 

    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}   
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	@media screen and (max-width: 480px) {
        .restext { max-width:50%; }
		.reslabel { min-width:39%; float: left;}
    }
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:38%;}
    }
	.fa-search{
		float: right;
		margin-top: -11%;
		margin-right: 3%;
		cursor: pointer;
	}
	#txtFirstName{
		text-transform: capitalize;
	}
	#txtLastName{
		text-transform: capitalize;
	}
	#txtMiddleName{
		text-transform: capitalize;
	}
	#myPatientRegModal{
		margin-left: 13%;
    	width: 87%;
	}
	.fifteen_aligned{
	   width: 15% !important;
	   float: left;
	}
	.thirty_five_aligned{
	   width: 35% !important;
	   float: left;
	}
</style>
<!--- End media query for responsive webs site--> 

<!-- start user validation -->



	