<style>
div#myPatientHospitalizationModal .block-title {
    display: none;
}
#myPatientHospitalizationModal{
	width: 87%;
	margin-left: 13%;
}
</style>
<link rel="stylesheet" href="css/admin/patient_hospitalization.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/patient_hospitalization.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Patient Hospitalization</strong></h2>

    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="patientHospitalizationForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textPatientId">Patient Id<span class="text-danger">*</span></label>                                
                        <div class="sixty_aligned">
                            <div class="" style="position: relative;">
                                <i class="fa fa-search" id="serachIcon" style="cursor:pointer;"></i>
                                <input type="text" id="textPatientId" name="textPatientId"
                                class="form-control" readonly>
								<span id="textPatientIdError" class="error"></span>
                            </div>
                        </div>
                       <!--  <input type="button" value="Load" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button"
                      id="btnLoad"> -->
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAdmissionDate">Admission Date<span class="text-danger">*</span></label>
                        <div class="sixty_aligned">                                
                            <input type="text" id="txtAdmissionDate" class="form-control input-datepicker" name="txtAdmissionDate" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" class="form-control" size="1">
							<span id="txtAdmissionDateError" class="error"></span>
						</div>                        
                    </div>                    
                </div>
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
               <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selDepartment">Department<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selDepartment" class="form-control val_wrad" size="1" required>
									<option value="-1">--Select--</option>
								</select>
								<span id="selDepartmentError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selWard">Ward<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selWard" class="form-control selWard" size="1" required>
									<option value="-1">--Select--</option>
								</select>
								<span id="selWardError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selRoomType">Room Type<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selRoomType" class="form-control selRoomType" size="1" required>
									<option value="-1">--Select--</option>
								</select>
								<span id="selRoomTypeError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div> 
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtRoomNo">Room No</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtRoomNo" name="txtRoomNo" class="form-control" readonly="">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->

            <div class="row"><!-- IV th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBedNo">Bed No</label>                                 <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtBedNo" name="txtBedNo" class="form-control" readonly="">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPrice">Price</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPrice" name="txtPrice" class="form-control" readonly="">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- V th row -->
                <div class="half_aligned">
					<div class="form-group">
						<label class="control-label" for="checkICU">ICU</label>                                
						<div class="sixty_aligned" style="    padding: 5px 0 0 16px;cursor:pointer;">
							<div class="">
								<input type="checkbox" id="checkICU" class="" name=""  style="cursor:pointer;">
								<span id="checkICUError" class="error"></span>
							</div>
						</div>
					</div>
				</div>
                      
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
               <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAttendingConsultant">Attending Consultant </label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selAttendingConsultantValue" class="form-control selAttendingConsultant" size="1">
									<option value="-1">--Select--</option>
								</select>
								<span id="selAttendingConsultantError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selOperatingConsultant">Operating Consultant </label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selOperatingConsultantValue" class="form-control selOperatingConsultant" size="1" required>
									<option value="-1">--Select--</option>
								</select>
								<span id="selOperatingConsultantError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAdmissionType">Admission Type<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selAdmissionType" class="form-control selAdmissionType" size="1" required>
									<option value="-1">--Select--</option>
									<option value="Routine">Routine</option>
									<option value="Maternity">Maternity</option>
									<option value="Elective">Elective</option>
									<option value="Urgent">Urgent</option>
									<option value="Emergency">Emergency</option>
								</select>
								<span id="selAdmissionTypeError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div> 
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtReasonAdmission">Reason of Admission</label>             
                        <div class="sixty_aligned">
                            <div class="">
                               <textarea id="txtReasonAdmission" name="txtReasonAdmission" rows="3" class="form-control ui-wizard-content"></textarea>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
			<div class = "row">
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtNotes">Notes</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
			</div>
			
            <div class="form-group form-actions buttons">
                <input type="button" value="Save" class="opd_reg btn_save" id="btnSave">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnReset">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myPatientHospitalizationModal" role="dialog">
	<input type="hidden" id="hdnPatientHospitalization" name="thing" value="" />
	<a href="#myPatientHospitalizationModal" id="patientHospitalizationModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="patientHospitalizationLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="patientHospitalizationBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myBedAvailability" role="dialog">
	<input type="hidden" id="hdnBedAvailability" name="hdnBedAvailability" />
	<a href="#myBedAvailability" id="bedAvailability" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:800px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="bedAvailabilityLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="bedAvailabilityBody">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>





