<link rel="stylesheet" href="css/admin/payment_voucher.css">
<link rel="stylesheet" href="css/admin/chart_of_account.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<script src="script/jquery-ui.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/payment_voucher.js"></script> 

<div class="block row">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Payment Voucher</strong></h2>
	</div>

	<div id="chartOfAccountList">
		<h2 id="tabChartOfAccountList"><i class="fa fa-bars fa-fw"></i>Voucher List</h2>
		<h2 id="tabAddChartOfAccount" style="background:#fff; color:#000;">+Add Voucher</h2>
		<div class="clear"></div>
	</div>

	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="vocherTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" width="10%">Voucher No.</th>
						<th class="text-center td_cursor" width="15%">Payee Name</th>
						<th class="text-center td_cursor" width="10%">Ledger</th>
						<th class="text-center td_cursor" width="20%">Amount</th>
						<th class="text-center td_cursor" width="15%">Payment Mode</th>
						<th class="text-center td_cursor" width="20%">Cheque No.</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
		<div id="advanced-first" class="step">
			<div class="row">
				<ul class="voucherTabs">
	                <li>
	                    <input type="button" class="btn  tab" aria-hidden="true" value="Main" id="mainScreen">
	                </li>
	                <li>
	                    <input type="button" class="btn tab" aria-hidden="true" value="Line Item" id="lineItemScreen">
	                </li>                
	            </ul>
			</div>

		
			<div class="firstLegendcontainer col-lg-12 no-padding">
				<fieldset class="fieldset-border" id="firstFieldSet">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<legend><ul class="registerTabs">
			                <li>
			                    <input type="button" class="btn  tab" aria-hidden="true" value="Register Payee" id="registerPayee">	                    
			                </li>
			                <li>
			                    <input type="button" class="btn tab" aria-hidden="true" value="Non Register Payee" id="nonRegisterPayee">
			                </li>                
			            </ul></legend>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12 ol-xs-12 registerPayee">
						<fieldset class="fieldset-border row" id="secondFieldSet">
							<ul class="registerTabs supplierCustomerTab">
				            	<li>
				                    <input type="button" class="btn tab" aria-hidden="true" value="Supplier" id="supplier">
				                </li>
				                <li>
				                    <input type="button" class="btn tab" aria-hidden="true" value="Customer" id="customer">
				                </li>
				            </ul>

							<div class="supplier">
								<div class="">
									<div class="">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtSupplier">Supplier<span class="text-danger">*</span>
											</label>
											<div class="sixty_aligned">
												<div class="">
													<input type="text" id="txtSupplier" class="form-control" placeholder="Type to serach" required autocomplete="off">
													<span id="txtSupplierError" class="error"></span>
													<i id="searchSupplier" class="fa fa-search serachPerson"></i>
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="">
									<div class="">
										<div class="form-group">
											<label class="forty_aligned control-label" >Firm Name</label>
											<div class="sixty_aligned">
												<div class="">
													<input type="text" class="form-control" id="txtFirmName" readonly>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="">	
									<div class="">
										<div class="form-group">
											<label class="forty_aligned control-label" >Email</label>
											<div class="sixty_aligned">
												<div class="">
													<input type="text" class="form-control" id="txtSupplierEmail" readonly>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>				
							
							<div class="customer hide">
								<div class="">
									<div class="">
										<div class="form-group">
											<label class="forty_aligned control-label" for="txtCustomer">Customer<span class="text-danger">*</span>
											</label>
											<div class="sixty_aligned">
												<div class="">
													<input type="text" id="txtCustomer" maxlength="50" 
													class="form-control" required>
													<span id="txtCustomerError" class="error"></span>
													<i id="searchCustomer" class="fa fa-search serachPerson"></i>
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="">
									<div class="">
										<div class="form-group">
											<label class="forty_aligned control-label" >Name</label>
											<div class="sixty_aligned">
												<div class="">
													<input type="text" class=" form-control" id="txtCustomerName" readonly>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="">	
									<div class="">
										<div class="form-group">
											<label class="forty_aligned control-label" >Email</label>
											<div class="sixty_aligned">
												<div class="">
													<input type="text" class=" form-control" id="txtCustomerEmail" readonly>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</fieldset>	
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 ol-xs-12 nonRegisterPayee hide">
						<div class="">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtPayeeName">Payee Name<span class="text-danger">*</span>
								</label>
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtPayeeName" class="form-control">
										<span id="txtPayeeNameError" class="error"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>	
		</div>

		<div class="lineItem col-lg-12 col-md-12 col-sm-12 col-xs-12 hide">
			<div class="row main">
			<!-- Step Info -->
				<div class="col-lg-12 col-md-12 col-sm-12 ol-xs-12"><!-- Ist row --> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<select id="selLedger" name="selLedger" class="form-control" size="1">
										<option value="-1">--Select--</option>
									</select>
									<span id="selLedgerError" class="error"></span>
								</div>
							</div>
						</div>
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selPaymentMode">Payment Mode<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<select id="selPaymentMode" name="selPaymentMode" class="form-control" size="1">
										<option value="-1">--Select--</option>
									</select>
									<span id="selPaymentModeError" class="error"></span>
								</div>
							</div>
						</div>
					</div> 		
				</div>	<!-- end row -->
				<div class="col-lg-12 col-md-12 col-sm-12 ol-xs-12" style="display:none;" id="hdnAccountPayable"><!-- Ist row --> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selAccountPayable">Account Payable<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<select id="selAccountPayable" name="selAccountPayable" class="form-control" size="1">
										<option value="-1">--Select--</option>
									</select>
									<span id="selAccountPayableError" class="error"></span>
								</div>
							</div>
						</div>
					</div> 
				</div>	<!-- end row -->
				<div class="col-lg-12 col-md-12">
					<i class="fa fa-plus" aria-hidden="true" id="btnAddPayee"></i>
				</div>
				<div style="margin-top:1%;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <div class="table-responsive">
	                    <input type="hidden" id="hdnGlAccountId">
	                    <table id="receiptNumberTable" class="table table-vcenter table-condensed table-bordered">
	                        <thead>
	                            <tr>
	                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
	                                <th class="text-center" width="8%"></th>                      
	                                <th class="text-center" width="10%">Invoice No.</th> 
	                                <th class="text-center" width="15%">Item</th>
	                                <th class="text-center" width="10%">Unit Price</th>
	                                <th class="text-center" width="10%">Quantity</th>
	                                <th class="text-center" width="10%">Discount</th>
	                                <th class="text-center" width="10%">Tax Amount</th>
	                                <th class="text-center" width="15%">Total</th>
	                                <th class="text-center" width="12%">Net Amount</th>
	                                <th class="hidden" id="hdnGlAccount" width="12%"></th>
	                                <th class="hidden" id="hdnAccPay" width="12%"></th>
	                            </tr>
	                        </thead>
	                    </table>

	                    <table id="nonRegisteredPayeeTable" class="table table-vcenter table-condensed table-bordered">
	                        <thead>
	                            <tr>                   
	                                <th class="text-center" width="8%">GL Account</th>
	                                <th class="text-center" width="20%">Tax Name</th>
	                                <th class="text-center" width="8%">Tax Amount</th>
	                                <th class="text-center" width="5%">Discount</th> 
	                                <th class="text-center" width="15%">Gross Amount</th>
	                                <th class="text-center" width="14%">Net Amount</th>
	                                <th class="text-center" width="20%">Remarks</th>
	                                <th class="text-center" width="10%"></th> 
	                            </tr>
	                        </thead>
	                    </table>

	                    <table id="updateReceiptNumberTable" class="table table-vcenter table-condensed table-bordered hide">
	                        <thead>
	                            <tr>
	                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
	                                <th class="text-center" width="8%"></th>                      
	                                <th class="text-center" width="10%">Invoice No.</th> 
	                                <th class="text-center" width="15%">Item</th>
	                                <th class="text-center" width="10%">Unit Price</th>
	                                <th class="text-center" width="10%">Quantity</th>
	                                <th class="text-center" width="10%">Discount</th>
	                                <th class="text-center" width="10%">Tax Amount</th>
	                                <th class="text-center" width="15%">Total</th>
	                                <th class="text-center" width="12%">Net Amount</th>
	                                <th class="hidden" id="hdnUpdateGlAccount" width="12%"></th>
	                                <th class="hidden" id="hdnUpdateAccPay" width="12%"></th>
	                            </tr>
	                        </thead>
	                    </table>

	                    <table id="updateNonRegisteredPayeeTable" class="table table-vcenter table-condensed table-bordered hide">
	                        <thead>
	                            <tr>                   
	                                <th class="text-center" width="8%">GL Account</th>
	                                <th class="text-center" width="20%">Tax Name</th>
	                                <th class="text-center" width="8%">Tax Amount</th>
	                                <th class="text-center" width="5%">Discount</th> 
	                                <th class="text-center" width="15%">Gross Amount</th>
	                                <th class="text-center" width="14%">Net Amount</th>
	                                <th class="text-center" width="20%">Remarks</th>
	                                <th class="text-center" width="10%"></th> 
	                            </tr>
	                        </thead>
	                    </table>

	                    <input id="selectedRow" type="hidden" value="0" />
	                </div>
	            </div>
	            
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtGrossAmount">Gross Amount</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtGrossAmount" class="form-control" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDiscount">Discount</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtDiscount" class="form-control" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtTaxAmount">Tax Amount</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtTaxAmount" class="form-control" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtNetAmount">Net Amount</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtNetAmount" class="form-control" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtCheque">Cheque No.<span class="text-danger">*</span></label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtCheque" class="form-control">
									<span id="txtChequeError" class="error"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDescription">Description<span class="text-danger">*</span></label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
									<span id="txtDescriptionError" class="error"></span>
								</div>
							</div>
						</div>
					</div>				
				</div>			 	
			</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions saveUpdateButton">			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
		</div>
	</form>
	<!-- END Wizard with Validation Content -->
	<div class="row" id="updateScreen">
	<div class="col-lg-12 updateText">Update Details</div><div class="backtext">Back To List</div>
	<div id="updateScreenBody"></div>
</div>

<div class="print-body display-print" id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center">
        <label class="control-label ten_aligned">Address :&nbsp; </label>
		<label class="control-label ninety_aligned" id="lblPrintAddress"></label>
    </div>
    <hr />

    <div class="printVoucher">
    	<div class="row">
	    	<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Payee Name :</label>
				</div>
				<div>
					<span class="half_aligned control-label" id="lblPayeeName"></span>
				</div>
			</div>
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">VOUCHER NO. :</label>
				</div>
				<div>
					<span class="half_aligned control-label" id="lblVoucherId"></span>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">LEDGER :</label>
				</div>
				<div>
					<span class="half_aligned control-label" id="lblLedgerName"></span>
				</div>
			</div>
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">DATE :</label>
				</div>
				<div>
					<span class="half_aligned control-label" id="lblDate"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<table class="voucherDescription">
				<thead>
					<tr>
						<th class="text-center">DESCRIPTION</th>
						<th class="text-center">AMOUNT</th>
					</tr>	
				</thead>
				<tbody>
					<tr>
						<td><label class="control-label" id="lblDescription"></label></td>
						<td><span class="control-label lblTotalAmount" style="margin-left: 4px;"></span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="text-center"><label class="control-label" style="width: 100%">Total</label></td>
						<td class="text-center"><span id="amountPrefix" style="float: left; margin-top: 9px; margin-left: 4px;"></span><label class="control-label lblTotalAmount" style="margin-left: 0px;"></label></td>
					</tr>
				</tfoot>
			</table>

		</div>	

		<table class="row bottom-dooted-border">
			<thead>
				<tr>
					<td>					
						<label class="control-label">VOTE-HEAD (ACCOUNT):</label>					
					</td>
					<td>
						<label class="control-label">Amount:</label>
					</td>
				</tr>	
			</thead>
			<tbody id="GLAccountDesc"></tbody>	
		</table>
		</div>
    </div>
</div>

<div class="modal fade" id="mySellerModal" role="dialog">
    <a href="#mySellerModal" id="SellerModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="SellerModalLabel">Search Supplier</h4>
            </div>
            <div class="modal-body" id="SellerModalBody">             
            </div>
      	</div>              
    </div>
</div>

<div class="modal fade" id="mySearchModal" role="dialog">
    <a href="#mySearchModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="searchModalLabel">Serach Customer</h4>
            </div>
            <div class="modal-body" id="searchModalBody">               
            </div>
            <div class="modal-footer">
            </div> 
      </div>              
    </div>
</div>

<div class="modal fade" id="nonRegisteredPayeeModal" role="dialog">
    <a href="#nonRegisteredPayeeModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="searchModalLabel">Add Item</h4>
            </div>
            <div class="modal-body" id="nonRegisteredPayeeModalBody"> 
            	<div class="row no-margin">
            		<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selGLAccount">GL Account </label>
							<div class="sixty_aligned">
								<div class="">
									<select id="selLedger" name="selGLAccount" class="form-control" size="1">
										<option value="">--Select--</option>
									</select>
									<span id="selGLAccountError" class="error"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtNRGrossAmount">Gross Amount</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="number" id="txtNRGrossAmount" class="form-control">
	                                <span id="txtNRGrossAmountError" class="error"></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div> 
	            <div class="row no-margin">
					<div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="txtTax">Tax</label>
                            <div class="control-label sixty_aligned" id="appendTaxes"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtNRTaxAmount">Tax Amount</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtNRTaxAmount" class="form-control" readonly>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
				<div class="row no-margin">
					<div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtNRDiscount">Discount in(%)</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="number" id="txtNRDiscount" class="form-control" onchange="handleChange(this);" />
	                                <span id="txtNRDiscountError" class="error"></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtNRNetAmount">Net Amount</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtNRNetAmount" class="form-control" readonly>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
				<div class="row no-margin">
					<div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtNRRemarks">Remarks</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <textarea id="txtNRRemarks" rows="3" class="form-control ui-wizard-content"></textarea>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
				<div class="row text-center">
					<input type="button" value="Add" class="btn_save" id="addItems">
				</div>
            </div>
      </div>              
    </div>
</div>
<div class="modal fade" id="printMyModal" role="dialog">
    <a href="#printMyModal" id="printModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-3">
        <!-- Modal content-->
        <div class="modal-content modal-confirm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <div id="pop_up_close" class="close-modal">X</div>
                </button>
                <h4 id="printMyModalLabel"></h4>
            </div>
            <div class="modal-body" id="printMessageBody"></div>
            <div class="modal-footer" id="printModalFooter" style=""></div>
        </div>
    </div>
</div>





<script>
  function handleChange(input) {
    if (input.value < 0) input.value = 0;
    if (input.value > 100) input.value = 100;
  }
</script>
<style type="text/css">
.hidden{
	display: none;
}
#mySearchModal{
	width: 87%;
    margin-left: 13%;
}
</style>