<link rel="stylesheet" href="css/admin/payment_mode.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/payment_mode.js"></script> 
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Payment Mode</strong></h2>
	</div>
	<div id="paymentModeList">
		<h2 id="tabPaymentModeList"><i class="fa fa-bars fa-fw"></i>Payment Mode List</h2>
		<h2 id="tabAddPaymentMode" style="background:#fff; color:#000;">+Add Payment Mode</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="paymentModeTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Name</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Ledger</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Account Number</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Starting Balance</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Asset Account</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Payee Name</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtName">Name(s)<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtName" maxlength="50" 
								class="form-control" required>
								<span id="txtNameError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selLedger" class="form-control">
									<!-- <option>--Select--</option> -->
								</select>
								<span id="selLedgerError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	<!-- end row -->

			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAccountNumber">Account Number<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtAccountNumber" maxlength="50" 
									class="form-control" required>
								<span id="txtAccountNumberError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtStartingBalance">Starting Balance<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="txtStartingBalance" maxlength="50" 
									class="form-control" required>
								<span id="txtStartingBalanceError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>	<!-- end row -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selAssetAccount">Asset Account<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selAssetAccount" class="form-control">
									<!-- <option>--Select--</option> -->
								</select>
								<span id="selAssetAccountError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtPayeeName"> Bank Transfer(Payee Name)<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtPayeeName" maxlength="50" 
									class="form-control" required>
								<span id="txtPayeeNameError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>	<!-- end row -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSoapUserName">Soap User Name<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtSoapUserName" maxlength="50" 
									class="form-control" required>
								<span id="txtSoapUserNameError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>	
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSoapPassword">Soap Password<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="password" id="txtSoapPassword" maxlength="50" 
									class="form-control" required>
								<span id="txtSoapPasswordError" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>			
			</div>	<!-- end row -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="chkDefaultPayMode">Do you want to make it default payment mode for selected ledger?
						</label>                                
						<div class="sixty_aligned">
							<input type="checkBox" id="chkDefaultPayMode" class="form-control" disabled>
						</div>
					</div><!--  form group-->
				</div>		
			</div>	<!-- end row -->
			<div class="row">
				<div class="half_aligned">
					<div class="row"><!-- Ist row --> 
						<label class="forty_aligned "></label>
						<div class="sixty_aligned">
							<label class="control-label"><input type="checkbox" id="chkReceivedPayment" class="chk-box"> This account is used to recieve payments
							</label>
						</div>	
					</div>
								
					<div class="row">
						<label class="forty_aligned "></label>
						<div class="sixty_aligned">
							<label class="control-label"><input type="checkbox" id="chkMakePayment" class="chk-box"> This account is used to make payments</label>	
						</div>		
					</div>	<!-- end row -->

					<div class="row"><!-- Ist row -->
						<label class="forty_aligned "></label>
						<div class="sixty_aligned">
							<label class="control-label"><input type="checkbox" id="chkAlnumMode" class="chk-box"> Allow alphanumeric mode numbers</label> 
						</div>	
					</div>	

					<div class="row">
						<label class="forty_aligned "></label>
						<div class="sixty_aligned">
							<label class="control-label"><input type="checkbox" id="chkAccountActive" class="chk-box"> Account Closed</label>	
						</div>		
					</div>	<!-- end row -->

					<div class="row"><!-- Ist row -->
						<label class="forty_aligned "></label>
						<div class="sixty_aligned">
							<label class="control-label"><input type="checkbox" id="chkAvailableForBanking" class="chk-box"> Available for banking</label>
						</div>	
					</div>	<!-- end row -->
				</div>
				<div class="half_aligned">
					<div class="row"><!-- Ist row --> 
						<label class="forty_aligned "></label>
						<div class="sixty_aligned">
							<label class="control-label"><input type="radio" name="radioBtn" id="radioAsSource"> Available as source
							</label>
						</div>	
					</div>
					<div class="row"><!-- Ist row --> 
						<label class="forty_aligned "></label>
						<div class="sixty_aligned">
							<label class="control-label"><input type="radio" name="radioBtn" id="radioAsBank"> Available as bank
							</label>
						</div>	
					</div>
				</div>	
			</div>
					

			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			
			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>
<style>
#chkBoxChild{
	margin-right: 5%;
}
.hiddenn{
	display: none;
}

</style>







	