<div class="row block">
	<div class="block-title">
        <h2><strong>Petty Cash Report</strong></h2>
    </div>
	<form class="form" id="reportForm" method="post">
		<div class="row form-horizontal form-bordered ">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="selPettyCashType">Types</label>             
					<div class="sixty_aligned">
						<div class="">
							<select id="selPettyCashType" name="selPettyCashType" class="form-control">
								<option value="">--Select--</option>
								<option value="1">Petty cash listing</option>
								<option value="2">Pending petty cash</option>
								<option value="3">Petty cash balances</option>
							</select>
							<span class="error" id="selPettyCashTypeError"></span>
						</div>
					</div>
				</div><!--  form group-->
			</div>
		</div>
		<div class="row form-horizontal form-bordered">
			<div class="form-group">				
				<div class="half_aligned">					
					<label class="forty_aligned control-label" for="fromDate">From Date</label>             
					<div class="sixty_aligned">
						<div class="">
							<input type="text" class="form-control input-datepicker" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" readonly="">
							<span id="txtFromDateError" class="error"></span>
						</div>
					</div>					
				</div>
				<div class="half_aligned">						
					<label class="forty_aligned control-label" for="toDate">To Date</label>             
					<div class="sixty_aligned">
						<div class="">
							<input type="text" name="toDate" id="toDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" readonly="">
							<span id="txtToDateError" class="error"></span>
						</div>
					</div>						
				</div>
				
			</div>	
		</div>		
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" style="text-align: center;">					
				<input type="button" value="View Report" id="viewReport" class="btn btn_save" />
			
				<input type="button" id="clear" value="Reset" class="btn btn_reset" />
			</div>
		</div>
	</form>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive" style="margin-top:20px;">
				<table id="pettyCashTable" class="table table-vcenter table-responsive table-condensed table-bordered display">
					<thead>
						<tr>
							<th class="text-center" width="15%">Date</th>
							<th class="text-center" width="15%">P.C. Ref.</th>
							<th class="text-center" width="15%">Payee</th>
							<th class="text-center" width="25%">Description</th>
							<th class="text-center" width="15%">Amount</th>
						</tr>
					</thead>					
				</table>
			</div>
		</div>	
	</div>
</div>
<script type="text/javascript" src="script/admin/petty_cash_report.js"></script>