<link rel="stylesheet" href="css/admin/petty_cash.css">
<!--Data Table js-->

<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/petty_cash.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Petty Cash</strong></h2>
	</div>

	<div id="pettyCashList">
		<h2 id="tabpettyCashList"><i class="fa fa-bars fa-fw"></i>Petty Cash list</h2>
		<h2 id="tabAddpettyCash" style="background:#fff; color:#000;">+add Petty Cash</h2>
		<div class="clear"></div>
	</div>

	<div style="margin-top:1%;" class="blackborder" id="tblImprestWarrant">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="pettyCashTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Staff Name</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Ledger</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Gl Account</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Amount</th>
						<th class="text-center td_cursor" style="max-width:20%; width:20% !important;">Description</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<form id="advanced-wizard-2" action="" method="post" class="form-horizontal form-bordered clearForm employeePopUp">
	<!-- Step Info -->
		<div class="row" id="btnMain" style="display : none">
			<div class="half_aligned">
				<ul class="pettyCashButtons">
					<li>
						<input type="button" class="btn pettyCashBtn" value="Main" id="mainPopUp">
					</li>
					<li>
						<input type="button" class="btn pettyCashBtn" value="Line Items" id="lineItemsPopUp">
					</li>						
				</ul>
			</div>	
		</div>
		
		<div id="mainUpdateEmployee">
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selStaffType">Staff Type<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selStaffType" class="form-control"> 
									<option>-- Select --</option>
								</select>
								<span id="selStaffTypeError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selStaffName">Staff Name<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selStaffName" class="form-control"> 
									<option value="">-- Select --</option>
								</select>
								<span id="selStaffNameError" class="error"></span>
							</div>
						</div>
					</div>
				</div>				
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selLedger" class="form-control"> 
									<option>-- Select --</option>
								</select>
								<span id="selLedgerError" class="error"></span>
							</div>
						</div>
					</div>
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selGLAccount">GL Account<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<select id="selGLAccount" class="form-control"> 
									<option>-- Select --</option>
								</select>
								<span id="selGLAccountError" class="error"></span>
							</div>
						</div>
					</div>
				</div> 				
			</div>
            <div class="row"><!-- Ist row -->			
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selPaymentMode">Payment Mode<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selPaymentMode" name="selPaymentMode" class="form-control" size="1">
                                    <option value="-1">--Select--</option>
                                </select>
                                <span id="selPaymentModeError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtReference">Reference<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtReference" class="form-control">
                                <span id="txtReferenceError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
			<div class="row"><!-- Ist row -->    
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAmount">Amount<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="txtAmount" maxlength="50" 
								class="form-control">
								<span id="txtAmountError" class="error"></span>
							</div>
						</div>
					</div>
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDescription">Description
						</label>
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
								<span id="txtDescriptionError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   				
			</div>
		</div>
		<div id="updateLineItemEmployee" class="hide">
			<div class="row btnAddDetail">
				<input type="button" value="+Add" class="btn_save" id="btnAddEmployeeDetail">
			</div>
			<div style="margin-top:1%;" id="tblpettyCashLineItem">
				<div class="table-responsive">
					<table id="pettyCashLineItemTable" class="table table-vcenter table-responsive table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">GL Account</th>
								<th class="text-center td_cursor" style="max-width:25%; width:25% !important;">Amount</th>
								<th class="text-center td_cursor" style="max-width:30%; width:30% !important;">Remarks</th>
								<th class="text-center td_cursor" width="20%"></th>
							</tr>
						</thead>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		</div>
		<div class="row">
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- Form Buttons -->
		<div class="row btnUpdateEmployee" id="btnUpdateEmployee" style="display:none">
			<input type="button" value="Update" class="add_dept btn_save" id="btnUpdate">
		</div>
	</form>
</div>




<style>
.fa{
    margin-right: 10%;
}
#selChartOfAccount{
	width: 100%;
}
#txtdescription{
	text-transform: capitalize;
}
</style>








	