<link rel="stylesheet" href="css/jquery-ui.min.css" /> 
<script src="script/jquery-ui.min.js"></script>
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/pharmacy_dispense.js"></script>

<div class="block">
	<input type="hidden" id="hdnFamilyMemberId" value="">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Pharmacy Dispense</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="pharmacyDispenseForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtVisitId">Visit Id<span class="text-danger">*</span></label>                                
                        <div class="sixty_aligned" style="width:31%; margin-right:1%;">
                            <div class="">
                                <input type="text" id="txtVisitId" name="txtVisitId" class="form-control" ><i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
								<span id="txtVisitIdError" class="error">
                            </div>
                        </div>
					 </div><!--  form group-->
                </div>
                 <div class="half_aligned">
                	<div class="form-group"> 
	                    <input type="button" value="Select" class="opd_btn"
	                        id="btnSelect" style="margin: 0;padding: 8px 18px !important;width: 14%;margin-left: -18%;">
	                </div>
                </div>
            </div><!-- end row -->
            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtName">Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtName" name="txtName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPatientId" name="txtPatientId"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IV th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtGender">Gender
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtGender" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtVisitDate">Visit Date
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtVisitDate" name="txtVisitDate" class="form-control"  readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->
            <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Age</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_year" name="get_yr" 
                                    class="form-control" readonly>Years
                                </div>
                            </div>
                            <div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
                                <div class="">
                                    <input type="text" id="txt_month" name="get_mon" 
                                    class="form-control" readonly>Month
                                </div>
                            </div>
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_day" name="get_day" 
                                    class="form-control" readonly>Days
                                </div>
                            </div>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPaymentStatus">Payment Status
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPaymentStatus" name="txtPaymentStatus" class="form-control"  readonly>
                            </div>
                            <span id="txtPaymentStatusError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div> 
			</div>
			<div class="row form-group form-actions buttons">
				<input type="button" class="btn_save" id="btnAddExtra" value="Add Extra" style="left:0%;"></button>
			</div>
		</div>
		<div id="divAddExtra" hidden style="border: 1px solid #ccc;" >
		<!-- Step Info -->
			<div class="row" hidden><!-- Ist row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDrugId">Drug Id</label>                                
						<div class="forty_aligned" style="width:42%; margin-right:1%;">
							<div class="">
								<input type="text" id="txtDrugId" name="txtDrugId" class="form-control" >
								<span id="txtDrugIdError" class="error">
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div><!-- end row -->            
			<div class="row"><!-- IV th row -->				
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDrugName">Drug Name
						</label>
						<div class="sixty_aligned">
							<div class="">                                
								<input type="text" id="txtDrugName" class="form-control"><i id="drugIconSearch" class="fa fa-search" style="position: relative;"></i>
							</div>
						</div>
					</div>
				</div>  
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtAvailableStocks">Available Stocks
						</label>                             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtAvailableStocks" class="form-control" readonly>
							</div>
						</div>
					</div><!--  form group-->
				</div>   
			</div><!-- end row -->
			<div class="row"><!-- Vth Row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtUnitMeasure">Unit Measure</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtUnitMeasure" class="form-control" readonly>
							</div>
						</div>
					</div><!--  form group-->
				</div>    
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtUnitPrice">Unit Price
						</label>                             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtUnitPrice" class="form-control" readonly>
							</div>
						</div>
					</div><!--  form group-->
				</div>                          
			</div><!-- end row -->
			<div class="form-group form-actions buttons">
				<input type="button" value="Add" class="btn_save" id="btnAdd">
			</div>
		</div>
	</form>
	<!-- END Wizard with Validation Content -->
	<div id="divtbl">
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive" style="margin-top:20px;">
				<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
					<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
				</div> -->
				<table id="pharmacydispenseTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="5%"></th>
							<th class="text-center" style="max-width:30%; width:30% !important;">Medicine Name</th>
							<th class="text-center" style="max-width:15%; width:15% !important;">Stock</th>
							<th class="text-center" style="max-width:15%; width:15% !important;">Quantity</th>
							<th class="text-center" style="max-width:15%; width:15% !important;">Unit Cost</th>
							<th class="text-center" style="max-width:15%; width:15% !important;">Total</th>
							<th class="text-center" width="5%"></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-center" width="5%"></th>
							<th class="text-center" style="max-width:30%; width:30% !important;"></th>
							<th class="text-center" style="max-width:15%; width:15% !important;"></th>
							<th class="text-center" style="max-width:15%; width:15% !important;"></th>
							<th class="text-center" style="max-width:15%; width:15% !important;"></th>
							<th class="text-center" style="max-width:15%; width:15% !important;"><span style="float:left;">Total Bill :</span><span class="amountPrefix"></span><span style="float:left;" id="totalBill">0</span></th>
							<th class="text-center" width="5%"></th>
						</tr>
					</tfoot>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->
		
		<!-- <div class="row">
			<div class="half_aligned" id="divTotalAmount">
				<div class="form-group">
					<label class="forty_aligned control-label" for="txtTotalAmount">Total Amount</label>             
					<div class="sixty_aligned">
						<div class="">
							<input type="text" id="txtTotalAmount" name="txtTotalAmount" class="form-control" readonly maxlength="0">
						</div>
					</div>
				</div>  form group
			</div>  
			<div class="half_aligned" id="divOutstandingBalance">
				<div class="form-group">
					<label class="forty_aligned control-label" for="txtOutstandingBalance">Outstanding Balance</label>                                
					<div class="sixty_aligned">                            
						<div class="">
							<input type="text" id="txtOutstandingBalance" name="txtOutstandingBalance" 
							class="form-control" readonly maxlength="0">
							<span id="txtOutstandingBalanceError" class="error"></span>
						</div>                            
					</div>
				</div> form group
			</div>
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="txtDiscount">Discount %</label>
					<div class="sixty_aligned">
						<div class="">
							<input type="text" id="txtDiscount" name="txtNetAmount" placeholder="0" 
							class="form-control">
							<span id="txtDiscountError" class="error">
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="txtNetAmount">Net Amount</label>
					<div class="sixty_aligned">
						<div class="">
							<input type="text" id="txtNetAmount" name="txtNetAmount"
							class="form-control" readonly maxlength="0">
						</div>
					</div>
				</div>
			</div> 
		</div> -->
		<div class="form-group form-actions buttons" style="margin-top: 5%;">
			<input type="button" value="Save" class="btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="btn_reset" id="btnReset">
		</div>
	</div>
<div>

<!-- Modal for search patient-->
<div class="modal fade" id="myPharmacyModal" role="dialog">
	<a href="#myPharmacyModal" id="pharmacyModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="pharmacyModalLabel"></h4>
			</div>
			<div class="modal-body" id="pharmacyModalBody">				
			</div>
			<div class="modal-footer  modal-footer-visit">
			</div> 
	  </div>			  
	</div>
</div>
<!-- Modal for search drug-->
<div class="modal fade" id="myDrugModal" role="dialog">
    <a href="#myDrugModal" id="drugModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view" style="width:100%;">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="drugModalLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body" id="drugModalBody">             
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>

<div class="modal fade in" id="msgmyModal" role="dialog" aria-hidden="false">
	<div id="message_popup">
		<a href="#msgmyModal" id="mymsgModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog" style="width: 33%;">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="msgMyModalLabel"></h4>
				</div>
				<div class="modal-cash-body" style="padding: 4px 0 0 10px;">
				<h5 id="paymentMsg"></h5>
				<label>Recipt No.</label><h5 id="reciptNoMsg"></h5>
				</div>
				<div class="modal-footer">
					<!-- <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"> -->
					<input type="button" class="btn" id="printCashDetailss" value="Print">
				</div>
		  </div>			  
		</div>
	</div>    
</div>
<!-- Print code -->

<div class="print-body display-print" id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">			
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
		
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Receipt No :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintReceipt"></label>
			</div>
		</div><div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Date :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintDate"></label>
			</div>
		</div>
		
	</div><div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Visit Id :</label>
			</div>
			<div class="">
				<label class="half_aligned control-label" id="lblPrintVisitId"> <label>
				</label></label>
			</div>
		</div>
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Id :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintPatientId"></label>
			</div>
		</div>
	</div>	
	<div class="row margin-bottom-4">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Name :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintPatient"></label>
			</div>
		</div>		
	</div>	
	
	<table id="codexpl" width="100%; height: 450px;">
		<tbody id="codexplBody">
			<tr>
				<th style="padding: 0px;" width="10%">S.No</th>
				<th style="padding:0px;" width="30%">Drug Name</th>	  
				<th style="padding:0px;" width="10%">Quantity</th>
				<th style="padding:0px;" width="20%">Unit Cost</th>
				<th style="padding:0px;" width="30%">Amount</th>
			</tr>		
			<tfoot>
				<tr>
					<th style="padding: 0px;" width="10%"></th>
					<th style="padding:0px;" width="30%"></th>		  
					<th style="padding:0px;" width="10%"></th>
					<th style="padding:0px;" width="20%"></th>
					<th style="padding:0px;" width="30%"><span style="float:left;">Total :</span> <span class="amountPrefix"></span><span id="printTotalBill" style="float:left;"></span></th>
				</tr>
			</tfoot>
		</tbody>
	</table>
</div>

<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 42%;} 
    .control-label{margin-top: 10px;}
    .chk-active_inactive{width: 15%;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
.btn_save,.btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
	margin-right: 10px;
}
.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}
.fa-search{
	float: right;
    margin-top: -9%;
    margin-right: 3%;
    cursor: pointer;
}
#print{
    float: right;
    margin-right: 2%;
}
div#myPharmacyModal .block-title {
    display: none;
}
table#codexpl td ,#tblCashPayment td{text-transform: capitalize;}
#lblPrintPatient{text-transform: uppercase;}
#printCashDetailss{
	color: #fff;
	padding: 4px 12px;
	background: #0C71C8;
	border: none;
	border-radius: 3px;	    
}
#print{float: right;margin-right: 2%;}
.fa-search{float: right;margin-top: -9%;margin-right: 3%;cursor: pointer;}
.modal-view {width: initial !important;}
.center {margin: 0;display: table; position: initial;}
.search-modal-header {border-bottom: 1px solid #eee; border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
#pharmacydispenseTable .cellEditing input[type=text]{ 
	width:100%; 
	border:0; 
	background-color:rgb(255,253,210); 
}
#myPharmacyModal{
	width: 87%;
    margin-left: 13%;
}
#myDrugModal{
	width: 87%;
	margin-left: 13%;
}
#msgmyModal{
	width: 87%;
	margin-left: 13%;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
    #printMyModal{visibility: hidden;}
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   .block-title { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​

</style>
