<link rel="stylesheet" href="css/jquery-ui.min.css" />
<script src="script/jquery-ui.min.js"></script>
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/pharmacy_inventory.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Pharmacy Inventory</strong></h2>
		<input type="hidden" id="hidDrugId">
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="pharmacyInventoryForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDrug">Drug<span class="text-danger">*</span></label>                                                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtDrug" name="txtDrug" class="form-control"><i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
								<span id="txtDrugError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtQuantity">Quantity<span class="text-danger">*</span></label>                              
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="number" id="txtQuantity" name="txtQuantity" class="form-control">
								<span id="txtQuantityError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtManufactureName">Manufacture Name</label>                                                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtManufactureName" name="txtManufactureName" class="form-control" >
								<span id="txtManufactureNameError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtUnitVol">Unit Vol.<span class="text-danger">*</span></label></label>						
                        <div class="sixty_aligned">						
                            <div class="">
                                <div class="" style="width: 60%; float:left;">
                                <div class="">
                                    <input type="text" id="txtUnitVol" name="txtUnitVol" 
                                    class="form-control">
                                </div>
								</div>
								<div class="thirty_aligned" style="width: 36%; margin: 0 2%;">
									<div class="">
										<select id="selUnit" name="selUnit" 
										class="form-control" size="1"></select>
									</div>
								</div>
                            </div>
							<span id="txtUnitVolError" class="error">
                        </div>
						<div class="clear"></div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtManufactureDate">Manufacture Date</label>                                                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtManufactureDate" name="txtManufactureDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" >
								<span id="txtManufactureDateError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtExpiryDate">Expiry Date</label>                                                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtExpiryDate" name="txtExpiryDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" >
								<span id="txtExpiryDateError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
			</div>
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Composition</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblComposition" class="control-label">N/A</label>
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Drug Code</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblDrugCode" class="control-label">N/A</label>
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
		</div>
		<!-- Form Buttons -->
        <div class="form-group form-actions" style="display: inline-block; width: 100%;">
            <div class="" >
                <input type="button" value="Save" class="opd_reg btn_save" 
                id="btnSave">
				<input type="button" value="Reset" class="opd_reg btn_reset" 
                id="btnReset">
            </div>
        </div>
	</form>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
		<!--	<div class="chk-active_inactive">
			<label for="inactive-checkbox-tick">Inactive</label>
				<input type="checkbox" id="inactive-checkbox-tick" 
				class="inactive-checkbox" name="">
			</div> -->
			<table id="pharmacyInventoryTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<!-- <th class="text-center" width="5%">#</th>
						 --><th class="text-center" width="20%">Drug</th>
						<th class="text-center" width="10%">Quantity</th>
						<th class="text-center" width="20%">Mfd. Name</th>
						<th class="text-center" width="14%">Unit Vol.</th>
						<th class="text-center" width="13%">Mfd. Date</th>
						<th class="text-center" width="13%">Exp. Date</th>
						<th class="text-center" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myDrugModal" role="dialog">
	<a href="#myDrugModal" id="drugModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="drugModalLabel"></h4>
			</div>
			<div class="modal-body" id="drugModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

#print{
    float: right;
    margin-right: 2%;
}
.fa-search{
	float: right;
    margin-top: -11%;
    margin-right: 3%;
    cursor: pointer;
}
.modal-view {
    width: initial !important;
}
.center {
	margin: 0;
    display: table;
    position: initial;
}
.search-modal-header {
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
#myDrugModal {
    width: 87%;
    margin-left: 13%;
}
</style>