<link rel="stylesheet" href="css/admin/drug_prescription.css">
<link rel="stylesheet" href="css/jquery-ui.min.css" />      
<script src="script/jQuery.print.min.js"></script>
<script src="script/jquery-ui.min.js"></script>
<style>
.noPrint{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
   .sidebar-scroll { visibility: hidden; }
   .tabConsultantLst { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   .block-title { visibility: hidden; }
   .blackborder { visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .noPrint { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .noPrint { position: absolute; top: 40px; left: 0px; }
 }​

</style>

<!-- javascript code used only in this page for validation-->
<script src="script/admin/drug_prescription.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Drug</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDrugName">Drug<span class="text-danger">*</span></label>                                
                        <div class="forty_aligned" style="width:35%; margin-right:1%;">
                            <div class="">
                                <input type="text" id="txtDrugName" name="txtDrugName" class="form-control" autocomplete='off'><i id="iconSearch" class="fa fa-search"></i>
                                <span id="txtDrugNameError" class="error">
                            </div>
                        </div>
                        <input type="button" value="Select" class="opd_btn"
                        id="btnSelect" style="margin: 0;padding: 1.5%; width: 13%;">
                    </div><!--  form group-->
                </div>

                <!-- This is a hidden fielsd that hold drug id -->
                <div class="half_aligned">
                    <div class="form-group">                                
                        <div class="forty_aligned" style="width:35%; margin-right:1%;">
                            <div class="">
                                <input type="hidden" id="txtDrugId" name="" class="form-control" >
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                 <div class="half_aligned hf_align_center">
                    
                </div>
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDosage">Dosage <span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtDosage" name="txtDosage" class="form-control">
                                <span id="txtDosageError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDuration">Duration <span class="text-danger">*</span></label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtDuration" name="txtDuration" class="form-control">
                                <span id="txtDurationError" class="error">
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->

                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtQuantity">Quantity <span class="text-danger">*</span></label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtQuantity" name="txtQuantity" 
                                class="form-control">
                                <span id="txtQuantityError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtNotes">Notes </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtNotes" class="form-control">
                                <span id="txtNotesError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->            
            <div class="row"><!-- IV th row -->
                
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAlternateName">Alternate Name
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtAlternateName" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAvailableStocks">Available Stocks
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtAvailableStocks" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>   
            </div><!-- end row -->
            <div class="row"><!-- Vth Row --> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtUnitMeasure">Unit Measure</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtUnitMeasure" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>    
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtUnitPrice">Unit Price
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtUnitPrice" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                          
            </div><!-- end row -->  
            <div class="row"><!-- Vth Row --> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAmount">Amount</label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtAmount" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned"></label>                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="button" value="Add" class="btn_save" id="btnAddData">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div> 
            </div>
        </div>
    </form>


    <!-- Start datatable -->
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive" style="margin-top:20px;">
            <!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
            </div> -->
            <table id="drugPresecriptionTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
                <thead>
                    <tr>
                        <th class="text-center" width="15%">Drug</th>
                        <th class="text-center" width="5%">Dosage</th>
                        <th class="text-center" width="10%">Duration</th>
                        <th class="text-center" width="5%">Qty</th>
                        <th class="text-center" width="12%">Notes</th>
                        <th class="text-center" width="12%">Alternate Name</th>
                        <th class="text-center" width="5%">Stock</th>
                        <th class="text-center" width="10%">Unit Measure</th>
                        <th class="text-center" width="8%">Unit Price</th>
                        <th class="text-center" width="8%">Revised Cost</th>
                        <th class="text-center" width="8%">Amount</th>
                        <th class="text-center" width="7%"></th>


                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="text-center" width="15%"></th>
                        <th class="text-center" width="5%"></th>
                        <th class="text-center" width="10%"></th>
                        <th class="text-center" width="5%"></th>
                        <th class="text-center" width="5%"></th>
                        <th class="text-center" width="10%"></th>
                        <th class="text-center" width="8%" colspan="2">Total Amount:</th>
                        <th class="text-center" width="7%" colspan="3"><span class="amountPrefix"></span><span style="float:left;" id="totalAmount">0</span></th>                     
                        <th class="text-center" width="5%"></th>                        
                    </tr>
                </tfoot>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
    <!-- end table  -->
    <!-- Form Buttons -->
    <div class="form-group form-actions row" style="display: inline-block; width: 100%;text-align: center;">
        <div class="" align="center">
            <input type="button" value="Save" class="opd_reg btn_save" 
            id="btnDrugAdd">
            <input type="button" value="Print Details" class="opd_reg btn_reset" 
            id="btnPrintDrug">
            <input type="button" value="Reset" class="opd_reg btn_reset" 
            id="btnDrugreset">
        </div>
    </div>

</div>



<!-- Modal for search drug-->
<div class="modal fade" id="myDrugModal" role="dialog">
    <a href="#myDrugModal" id="drugModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="drugModalLabel"></h4>
            </div>
            <div class="modal-body" id="drugModalBody">             
            </div>
            <div class="modal-footer">
            </div> 
      </div>              
    </div>
</div>
<div class="print-body noPrint" id="PrintPrescription" >
    <div class="row">
        <div class="half_aligned">
            <label class="control-label">Email:&nbsp; </label>
            <label class="forty_aligned control-label" id="lblPrintEmail"></label>
        </div>
        <div class="half_aligned"> 
            <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
            <label class="control-label" id="lblPrintPhone"></label>
        </div> 
    </div>
    <div class="row" style="text-align:center;">
        <div class="">
            
            <div class="">
                <div class="" >
                    <div id="image-box">
                        <img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
                    </div>  
                </div>
            </div>          
        </div> 
    </div>
    <div class="row">
        <h2 id="printHospitalName"> </h2>
    </div>
    <div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
        <label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
    <div class="printTitle centerAlign">
         <div class="row">
            <h2>Lab Test Result</h2>
        </div>
    </div>
    <div class="row">
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Visit Id :</label>
            </div>
            <div class="">
                <label class="half_aligned control-label" id="lblPrintVisitId"> <label>
                </label></label>
            </div>
        </div>
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Patient Id:</label>
            </div>
            <div>
                <label class="forty_aligned control-label" id="lblPrintPatientId"></label>
            </div>
        </div>
    </div>  
    <div class="row margin-bottom-4">
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Patient Name :</label>
            </div>
            <div>
                <label class="half_aligned control-label" id="lblPrintPatient"></label>
            </div>
        </div>  
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Visit Date :<label>
            </div>
            <div class="">
                <label class="half_aligned control-label" id="lblPrintVisitDate"><label>
            </div>
        </div>          
    </div>
    <div id="printContainerTable">
        
    </div>
</div>