<link rel="stylesheet" href="css/admin/lab_test_request.css">
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/procedures_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="labRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row" id="divDropDownProcedureRequest"><!-- Iind row -->
				<div class="" style="width:90%; margin: 0 auto; margin-top:25px;">
					<div class="forty_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selProcedureType" >Procedure</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selProcedureType" name="selProcedureType" class="form-control" size="1"></select>
									<span class="error" id="selProcedureTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="forty_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selRequestType" >Request Type</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selRequestType" name="selRequestType" class="form-control" size="1">
										<option value="-1">--Select--</option>
										<option value="internal">Internal</option>
										<option value="external">External</option>
									</select>
									<span class="error" id="selRequestTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="tenth_aligned">
						<div class="form-group">
							 <input type="button" id ="addProcedureRequest" class= "addValues" value="+Add">
							 <span class='error' id='noProcedureDataError' style="width: 134px; float: right; margin-top: 11px;"></span>
						</div>
					</div>
				</div>
			</div><!-- end row -->   
			
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<table id="procedureTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="40%">Procedure Name</th>
								<th class="text-center" width="10%">Paid Status</th>
								<th class="text-center" width="10%">Test Status</th>
								<th class="text-center" width="15%">Cost</th>
								<th class="text-center" width="15%">Revised Cost</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th class="text-center" width="40%"></th>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="15%"></th>	
								<th class="text-center" width="15%"><span style="float:left;">Total</span><span class="amountPrefix"></span><span style="float:left;" id="totalProcedureBill">0</span></th>				
								<th class="text-center" width="10%"></th>
							</tr>
						</tfoot>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="form-group form-actions buttons">
                <input type="button" value="Request Procedure" class="opd_reg btn_save" id="btnSaveProcedureTestRequest">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetProcedureTestRequest">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldProcedureTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldProcedureTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldProcedureTestModalBody">	
			<table id="oldPocedureRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
				<thead>
					<tr>
						<th class="text-center" width="40%">Servive Request Name</th>
						<th class="text-center" width="15%">Request date</th>
						<th class="text-center" width="15%">Paid Status </th>
						<th class="text-center" width="15%">test status</th>
						<th class="text-center" width="15%">Cost</th>
					</tr>
				</thead>
			</table>			
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>


