<link rel="stylesheet" href="css/admin/procedures.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/procedures.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Procedures</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="procedures_list">
                <h2 id="tab_procedures"><i class="fa fa-bars fa-fw"></i>Procedures list</h2>
                <h2 id="tab_add_procedures" style="background:#fff; color:#000;">+Add Procedure</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" > 
					<label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
					</div>
                    <table id="proceduresDataTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" width="12%">CPT Code</th>
                                <th class="text-center" width="25%">Name</th>
								<th class="text-center" width="25%">Short Name</th>
								<th class="text-center" width="5%">Unit Price</th>
								<th class="text-center" width="25%">Description</th>
								<th class="text-center" width="8%"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_services">
                <div class="col-md-12">
                    <form method="post" id="form_submit_services">
					<div id="proceduresPopUPForm">
						<div  id="uploadFile">
							<div class = "row">							
								<div class="half_aligned">
									<div class="form-group">
										<div class="control-group">
												<label class="forty_aligned  control-label">CSV/XLS File:</label>
											 <div class="control-label sixty_aligned">
												<input type="file" name="file" id="file" class="input-large">
												<span id="txtFileError" class="error"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="half_aligned" style="padding:0;">
									<div class="form-group">
										<div class="control-group">
											 <div class="forty_aligned">
												<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class = "row">
								<div class="text-center">
									<h3>- OR -</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtCode">CPT Code<span class="text-danger">*</span></label>
									<div class="control-label sixty_aligned">
										<input type="text" id="txtCode" name="txtCode" class="form-control" maxlength="20">
										<span id="txtCodeError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtName"> Name<span class="text-danger">*</span></label>
									<div class="control-label sixty_aligned">
										<input type="text" id="txtName" name="txtName" class="form-control" maxlength="50">
										<span id="txtNameError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtShortName"> Short Name</label>
									<div class="control-label sixty_aligned">
										<input type="text" id="txtShortName" class="form-control">
										<span id="txtShortNameError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="half_aligned">	
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtUnitPrice"> Unit Price<span class="text-danger">*</span></label>
									<div class="control-label sixty_aligned">
										<input type="text" id="txtUnitPrice" name="txtUnitCost" class="form-control">
										<span id="txtUnitPriceError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span></label>
									<div class="sixty_aligned">
										<div class="">
											<select id="selLedger" name="selLedger" class="form-control"><option value="">-- Select --</option></select>
											<span class="error" id="selLedgerError"></span>
										</div>
									</div>
								</div>
							</div>	
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="selAccountPayable">Account Receivable<span class="text-danger">*</span></label>
									<div class="sixty_aligned">
										<div class="">
											<select id="selAccountPayable" name="selAccountPayable" class="form-control"><option value="">-- Select --</option></select>
											<span class="error" id="selAccountPayableError"></span>
										</div>
									</div>
								</div>
							</div>	
						</div>

						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="selGLAccount">GL Account<span class="text-danger">*</span></label>
									<div class="sixty_aligned">
										<div class="">
											<select id="selGLAccount" name="selGLAccount" class="form-control">
											<option value="">-- Select --</option></select>
											<span class="error" id="selGLAccountError"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="half_aligned">
								<div class="form-group" >
									<label class="forty_aligned  control-label"> Description</label>
									<div class="control-label sixty_aligned">
										
										<textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
									</div>
									<div class="clear"></div>
								</div>
							</div> 
						</div>    
						<input type="button" value="Update" class="add_Services btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="add_services btn_save" id="btnSubmit" name="submit" />
						<input type="button" value="Reset" class="add_services btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->