<link rel="stylesheet" href="css/admin/ot_rooms.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/products.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Products</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divProducts">
                <h2 id="tabProductsList"><i class="fa fa-bars fa-fw"></i>Product List</h2>
                <h2 id="tabProduct" style="background:#fff; color:#000;">+Add Product</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
                        <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
                    </div>
                    <table id="productTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" width="20%">Name</th>
                                <th class="text-center" width="20%">Cost Price</th>
                                <th class="text-center" width="20%">Taxes</th>
                                <th class="text-center" width="10%">Unit</th>
                                <th class="text-center" width="10%"></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="formProducts">
                <div class="col-md-12">
                    <form method="post" id="form_product" class="clearForm">
                        <div id="productPopUPForm">
                            <div class="row">
                                <div class="half_aligned">
                                    <div class="form-group" style="height: 7%;">
                                        <label class="forty_aligned control-label" for="txtProductName">Product Name<span class="text-danger">*</span></label>
                                        <div class="control-label sixty_aligned">
                                            <input type="text" id="txtProductName" name="txtProductName" class="form-control" >
                                            <span id="txtProductNameError" class="error"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="half_aligned">
                                    <div class="form-group" style="height: 7%;">
                                        <label class="forty_aligned control-label" for="txtCostPrice">Cost Price<span class="text-danger">*</span></label>
                                        <div class="control-label sixty_aligned">
                                            <input type="number" id="txtCostPrice" name="txtCostPrice" class="form-control" >
                                            <span id="txtCostPriceError" class="error"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="half_aligned">
                                    <div class="form-group" style="height: 7%;">
                                        <label class="forty_aligned control-label" for="selUnit">Unit<span class="text-danger">*</span></label>
                                        <div class="control-label sixty_aligned">
                                            <select id="selUnit" class="form-control val_wrad" size="1" required="">
                                                <option value="-1">-- Select --</option>
                                            </select>    
                                            <span id="selUnitError" class="error"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="half_aligned">
                                    <div class="form-group" style="height: 7%;">
                                        <label class="forty_aligned control-label" for="txtTax">Tax</label>
                                        <div class="control-label sixty_aligned" id="appendTaxes">
                                            
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>  

                            <div class="row" align="center">
                                <input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" align="center" />
                                <input type="button" value="Save" class="form-button btn_save" id="btnSave" name="submit" />
                                <input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
                            </div>
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<div class="modal fade" id="messagemyModal" role="dialog">
    <div id="message_popup">
        <a href="#messagemyModal" id="mymessageModal" role="button" class="hidden" data-toggle="modal"></a>
        <div class="modal-dialog confirm-modal-style">          
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
                    <h4 id="messageMyModalLabel"></h4>
                </div>
                <div class="modal-body" id="messageBody">                   
                </div>
                <div class="modal-footer" style="">
                    <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  />
                </div>
          </div>              
        </div>
    </div>    
</div>
<style>
    .ten_aligned{
        width: 10%;
        float: left
    }
</style>