<link rel="stylesheet" href="css/admin/drug_prescription.css">
<link rel="stylesheet" href="css/jquery-ui.min.css" />      
<script src="script/jquery-ui.min.js"></script>

<!-- javascript code used only in this page for validation-->
<script src="script/admin/put_orders.js"></script>

<div class="block">
	<input type="hidden" id="hdnSellerId" name="" class="form-control" >
    <input type="hidden" id="txtSellerEmailId">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Place Orders</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtSeller">Seller<span class="text-danger">*</span></label>                                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtSeller" name="txtSeller" class="form-control" autocomplete="off"><i id="iconSellerSearch" class="fa fa-search searchIcon"></i>
                                <span id="txtSellerError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDate">Date<span class="text-danger">*</span></label>              
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtDate" name="txtDate" class="form-control" data-date-format="yyyy-mm-dd" maxlength="0">
                                <span id="txtDateError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                     
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtItem">Item<span class="text-danger">*</span></label>  
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtItem" name="txtItem" class="form-control" autocomplete="off"><i id="iconItemSearch" class="fa fa-search searchIcon"></i>
                                <span id="txtItemError" class="error">
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtQuantity">Quantity<span class="text-danger">*</span></label>                                 
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="number" id="txtQuantity" name="txtQuantity" 
                                class="form-control">
                                <span id="txtQuantityError" class="error">
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
        </div> 
		<div class="row"><!-- IIIrd Row  -->
            <div class="half_aligned">
                <div class="form-group">
                    <label class="forty_aligned"></label>                 
                    <div class="sixty_aligned">
                        <div class="">
                            <input type="button" value="Add" class="btn_save" id="btnAddData">
                        </div>
                    </div>
                </div><!--  form group-->
            </div> 
        </div>
    </form>


    <!-- Start datatable -->
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive" style="margin-top:20px;">
            <table id="tblPutOrders" class="table table-vcenter table-responsive table-condensed table-bordered display">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">S.No.</th>
                        <th class="text-center" width="30%">Items</th>
                        <th class="text-center" width="10%">Quantity</th>
                        <th class="text-center" width="10%"></th>
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div> 
		<div class="row"><!-- IIIrd Row  -->
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned" for="txtNotes">Notes</label>                 
					<div class="sixty_aligned">
						<div class="">
							<textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
						</div>
					</div>
				</div><!--  form group-->
			</div> 
		</div>
    </div>
    <!-- end table  -->
    <!-- Form Buttons -->
    <div class="form-group form-actions" style="text-align: center; width: 100%;margin-top: 5%;">
        <div class="" >
            <input type="button" value="Save" class="opd_reg btn_save" 
            id="btnDrugAdd">
            <input type="button" value="Reset" class="opd_reg btn_reset" 
            id="btnDrugreset">
        </div>
    </div>
</div>


<!-- Modal for search drug-->
<div class="modal fade" id="mySellerModal" role="dialog">
    <a href="#mySellerModal" id="SellerModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view" style="width:100%;">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="SellerModalLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body" id="SellerModalBody">             
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>

<!-- Modal for search drug-->
<div class="modal fade" id="myOrderItemModal" role="dialog">
	<input type="hidden" id="hdnItemId" name="" class="form-control" >
    <a href="#myOrderItemModal" id="ItemModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view" style="width:100%;">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="ItemModalLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body" id="ItemModalBody">             
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>

<div class="modal fade" id="myPutOrderModal" role="dialog">
	<a href="#myPutOrderModal" id="putOrderModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:400px;">			
	  <!-- Modal content-->
		<div class="modal-content" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="putOrderModalLabel" style="color:white;"></h4>
			</div>
				<div class="" style="padding: 13px 0 15px 33px;">
					<div class="row">
						<div class="" style="margin:0 auto;display:table;font-size:15px;">
							<div class="form-group">								        
								<div class="">
									<label id="success" class="control-label"></label>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Order Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblOrderId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
				</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;display:block;">
				<input type="button" class="btn_save" value="Print" id="print"  />
			</div> 
	  </div>			  
	</div>
</div>

<div class="print-body display-print" id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Order Id :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintOrderId"></label>
			</div>
		</div>
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Seller Name :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblSellerName"></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Date :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintDate"></label>
			</div>
		</div>
	</div>
	
	<table id="codexpl" width="100%; height: 450px;">
		<tbody id="codexplBody">
			<tr>
				<th style="padding: 0px;" width="5%">S.No</th>
				<th style="padding:0px;" width="50%">Item</th>
				<th style="padding:0px;" width="20%">Quantity</th>
			</tr>		
			<tfoot>
				<tr>
					<th style="padding: 0px;" width="5%"></th>
					<th style="padding: 0px;" width="50%"></th>
					<th style="padding:0px;" width="20%"></th>
					
					</th>
				</tr>
			</tfoot>
		</tbody>
	</table>
</div>

<style>
.searchIcon{
	margin-top: -11%;
	float: right;
	margin-right: 3%;
	cursor: pointer;
	position: relative;
}
.opd_reg{left: initial !important;}
#lblPrintPatient{text-transform: uppercase;}
#printCashDetailss{
	    color: #fff;
	    padding: 4px 12px;
	    background: #0C71C8;
	    border: none;
	    border-radius: 3px;	    
}
#print{float: right;margin-right: 2%;}
.modal-view {width: initial !important;}
.center {margin: 0;display: table; position: initial;}
.search-modal-header {border-bottom: 1px solid #eee; border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 18px 10px;
	background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
	color: #FFF;
}
#tblPutOrders tbody td:first-child,#tblPutOrders tbody td:nth-child(3) {
    text-align: center;
}
#mySellerModal{
    width: 87%;
    margin-left: 13%;
}
#myOrderItemModal{
    width: 87%;
    margin-left: 13%; 
}
#myPutOrderModal{
    width: 87%;
    margin-left: 13%;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
    #printMyModal{visibility: hidden;}
   .sidebar-scroll { visibility: hidden; }
   #myPutOrderModal{visibility: hidden;}
   .advanced-first { visibility: hidden; }
   .block-title { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​

</style>