<link rel="stylesheet" href="css/admin/diagnosis_general.css">
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/questionnaire.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="questionnaireForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
			<div class="tenth_aligned">
				<div class="form-group">
					 <input type="button" id ="addQuestion" class= "addValues" value="+Add">
					 <span class='error' id='noDataError' style="width: 134px; float: right; margin-top: 11px;"></span>
				</div>
			</div>			
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<table id="questionnaireTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="5%">#</th>
								<th class="text-center" width="40%">Question</th>
								<th class="text-center" width="40%">Answer</th>
								<th class="text-center" width="15%"></th>
							</tr>
						</thead>						
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="row" align="center">
                <input type="button" value="Save" class="opd_reg btn_save" id="btnSaveQuestionnaire">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetQuestionnaire">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myTriageModal" role="dialog">
	<a href="#myTriageModal" id="triageModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="triageModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="triageModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldTestModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="oldDiagnosisTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldDiagnosisTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldDiagnosisTestModalBody">	
			<table id="oldDiagnosisRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
				<thead>
					<tr>
						<th class="text-center" width="40%">Diagnosis Request Test</th>
						<th class="text-center" width="30%">Request date</th>
						<th class="text-center" width="30%">code </th>
					</tr>
				</thead>
			</table>			
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<style type="text/css">
	.currentTextBox{width: 100%;}
</style>