<link rel="stylesheet" href="css/admin/designation.css">
<link rel="stylesheet" href="css/jquery-ui.min.css" />     
<script src="script/jQuery.print.min.js"></script>
<script src="script/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/radiology_item_request.js"></script>
<div class="block">
    <div class="block-title">
        <h1><strong>Radiology Item Request</strong></h1>
    </div>
    <!-- Wizard with Validation Content -->
    <form id="pharmacyRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtItem">Item<span class="text-error">*</span></label>
						<div class="sixty_aligned control-label">
							<input type="text" id="txtItem" maxlength="50" class="form-control" /> 
							<span id="txtItemError" class="error"></span>
						</div>
						<div class="clear"></div>
					</div>
                </div>
                <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtStock">Stock<span class="text-error"></span></label>
						<div class="sixty_aligned control-label">
							<input type="text" id="txtStock" maxlength="50" class="form-control" disabled="disabled"/> 
							<span id="txtStockError" class="error"></span>
						</div>
						<div class="clear"></div>
					</div>
                </div>
			</div><!-- end row --> 
            <div class="row"><!-- Iind row --> 
                <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtQuantity">Quantity<span class="text-error">*</span></label>
						<div class="sixty_aligned control-label">
							<input type="number" id="txtQuantity" maxlength="50" class="form-control" /> 
							<span id="txtQuantityError" class="error"></span>
						</div>
						<div class="clear"></div>
					</div>
                </div>
				<div class="half_aligned">
					<div class="form-group">
						 <input type="button" id ="btnAdd" class= "btn_save" value="+Add">
					</div>
				</div>
			</div><!-- end row -->    
			
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div> -->
					<table id="tblRadiologyItemRequest" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="60%">Item Name</th>
								<th class="text-center" width="20%">Quantity</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="form-group form-actions buttons" align="center">
                <input type="button" value="Request" class="opd_reg btn_save" id="btnSaveRequest">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnReset">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->

