<link rel="stylesheet" href="css/admin/consultant.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/radiology_result.js"></script>
<style>
.searchSpecimen{
		 position: absolute;
		 right: 10px;
		 top: 10px;
		 transform: scale(1.2,1.2);
		 cursor: pointer;
}
.txtImage{
	float: left;width: 62%;margin-right: 10px;
}
#upload{
	width:90px;
	color:transparent;
	display: inline;
}
#fileLabel{
	float:none;
}
#mySpecimenModal{
	width: 87%;
    margin-left: 13%;
}
</style>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Radiology Result</strong></h2>		
    </div>
    <!-- END Wizard with Validation Title -->
	<!-- Wizard with Validation Content -->
	<form id="radiologyResultForm" method="post" class="form-horizontal form-bordered" enctype="multipart/form-data">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtSpecimenId">Request Id.<span class="text-error">*</span></label>                                
						<div class="sixty_aligned" style="width: 31% !important;">
							<div class="" style="position: relative;">
								<input type="text" id="txtSpecimenId" name="txtSpecimenId" class="form-control" />
								<i class="fa fa-search searchSpecimen" id="searchSpecimen" style="cursor:pointer;"></i>
								<span id="txtSpecimenIdError"  style="width: 145%;" class="error"></span>
							</div>
						</div>
						<input type="button" value="Load" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_load" id="btnSpecimenLoad">
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDrawnDate">Taken Date & Time</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtDrawnDate" style="cursor:default;" name="txtDrawnDate" readonly class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div>
			<div class="row"><!-- Iind row -->
				
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtLabTest">Test Name</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtLabTest" style="cursor:default;" name="txtLabTest" readonly class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtReport">Report</label>             
						<div class="sixty_aligned">
							<div class="">
								<textarea rows="3" id="txtReport" style="cursor:default;" name="txtReport" class="form-control" />
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div><!-- end row -->  
			

			<div class="row"><!-- IVth row -->
				<div class="half_aligned" style="width: 100%;">
					<div class="form-group" >
						<label class="forty_aligned control-label" style="width: 19%;" for="txtimage">Upload Images</label>  
						<div class="sixty_aligned">
							<div class="appentImageTag" id="">
								<div id="appentTag">
								  <input type="file" name="pic[]" multiple="true" class ="uploadImage" id="upload" accept="image/*"/>
								 <label id="fileLabel">Choose file</label
								</div>
								<div id="imageNumber"></div>
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div><!-- end row -->  
			<div style="clear:both;"></div>
			<div class="row">
				<div class="" style="margin:0 auto; display:table;"><!-- Vth row -->				
					
						<input type="button" class="btn btn-primary btn_save" value="Save" id="btnSubmit" />
						<input type="button" class="btn btn-primary btn_save" value="Reset" id="btnReset" />
						<input type="text" class="hidden" value="saveResult" name="operation" id="operation" />
					
				</div>
			</div>
	
		
	</form>
</div>
<div class="modal fade" id="mySpecimenModal" role="dialog">
	<input type="hidden" id="specimenID" value="3"/>
	<a href="#mySpecimenModal" id="specimenModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="specimenModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="specimenModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb;display:none; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
