<link rel="stylesheet" href="css/admin/radiology_test.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/radiology_test.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Radiology Test</strong></h2>
    </div>
    <div id="radiologyTestList">
        <h2 id="tabRadiologyTestList"><i class="fa fa-bars fa-fw"></i>Radiology Test List</h2>
        <h2 id="tabAddRadiologyTest" style="background:#fff; color:#000;">+add radiology Test</h2>
        <div class="clear"></div>
    </div>
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive">
            <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" 
                name="">
            </div>
            <table id="tblRadiology" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>                      
						<th class="text-center" style="width:30%">Test Name</th>
                      <!--  <th class="text-center" style="width:25%">Type</th>
                         <th class="text-center" style="width:15%">Normal range</th>
                        <th class="text-center" style="width:15%">Unit Measure</th> -->
                        <th class="text-center" style="width:20%">Fee</th>
                        <th class="text-center" style="width:40%">Description</th>
                        <th class="text-center" style="width:10%"></th>
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
    <!-- end table  --> 
    <form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step">
            <!-- Step Info -->
            <div class="row" id="subLabTestModel">
                <!-- Ist row -->
				<div  id="uploadFile">
					<div class = "row">							
						<div class="half_aligned">
							<div class="form-group">
								<div class="control-group">
										<label class="forty_aligned  control-label">CSV/XLS File:</label>
									 <div class="control-label sixty_aligned">
										<input type="file" name="file" id="file" class="input-large" style="padding:0;">
										<span id="txtFileError" class="error"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned" style="padding:0;">
							<div class="form-group">
								<div class="control-group">
									 <div class="forty_aligned">
										<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class = "row">
						<div class="text-center">
							<h3>- OR -</h3>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="txtRadiologyTestName">Test Name<span class="text-danger">*</span>
                            </label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtRadiologyTestName" name="txtRadiologyTestName" class="form-control">                                
                                    <span id="txtRadiologyTestNameError" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="txtTestfee">Test fee<span class="text-danger">*</span></label>                                
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtTestfee" class="form-control">
                                    <span id="txtTestfeeError" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <!--  form group-->
                    </div>
                    <!-- <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="selSpecimenType">Specimen Type<span class="text-danger">*</span></label>                                
                            <div class="sixty_aligned">
                                <div class="">
                                    <select id="selSpecimenType" class="form-control val_wrad" size="1" required>
                                        <option value="-1"></option>
                                    </select>
                                    <span id="selSpecimenTypeError" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <!--  form group-->
                    <!-- </div> --> 
                </div>

                <!-- <div class="row">                    
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="txtNormalRange">Normal Range    </label>                                
                            <div class="sixty_aligned">
                                <div class="">
                                    <input type="text" id="txtNormalRange" name="txtNormalRange" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!--  form group-->
                    <!-- </div> -->
                    <!-- <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="selUnitMeasure">Unit Measure <span class="text-danger">*</span>
                            </label>                                
                            <div class="sixty_aligned">
                                <div class="">
                                    <select id="selUnitMeasure" name="selUnitMeasure" class="form-control val_wrad" size="1" required>
                                    </select>
                                    <span id="selUnitMeasureError" class="error"></span>
                                </div>
                            </div>
                        </div> -->
                        <!--  form group-->
                  <!--   </div>                    
                </div> --> 

                <div class="row">
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <select id="selLedger" name="selLedger" class="form-control"><option value="">-- Select --</option></select>
                                    <span class="error" id="selLedgerError"></span>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="selAccountPayable">Account Receivable<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <select id="selAccountPayable" name="selAccountPayable" class="form-control"><option value="">-- Select --</option></select>
                                    <span class="error" id="selAccountPayableError"></span>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="row">
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="selGLAccount">GL Account<span class="text-danger">*</span></label>
                            <div class="sixty_aligned">
                                <div class="">
                                    <select id="selGLAccount" name="selGLAccount" class="form-control">
                                    <option value="">-- Select --</option></select>
                                    <span class="error" id="selGLAccountError"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="half_aligned">
                        <div class="form-group">
                            <label class="forty_aligned control-label" for="txtDescription">Description </label>                                
                            <div class="sixty_aligned">
                                <div class="">
                                    <textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>             
                                </div>
                            </div>
                        </div>
                        <!--  form group-->
                    </div>
                </div>
                <input type="button" value="Update" class="add_Radiology" id="btnUpdateRadiology" style="display:none;"/>
            </div>
            <!-- end row -->
        </div>
        <!-- Form Buttons -->
        <div class="form-group form-actions" style="text-align:center;">
            <input type="button" value="Save" class="btn_save" id="btnSubmit">
			<input type="reset" value="Reset" class="btn_reset" id="btnReset" >
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>