<link rel="stylesheet" href="css/admin/customer_invoice.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/receipt_number.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Receipt Book</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="formCustomer">
                <div class="col-md-12">
                    <form method="post" id="form_receiptNumber" class="clearForm">
                        <div id="receiptNumberPopUPForm">                        
                            <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label" for="txtCustomerId">Customer Id<span class="text-danger">*</span></label>
                                            <div class="control-label sixty_aligned">
                                                <input type="text" id="txtCustomerId" name="txtCustomerId" class="form-control" maxlength="9">
                                                <span id="txtCustomerIdError" class="error"></span>
                                                <i id="searchCustomerId" class="fa fa-search"></i>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <input type="button" value="Show" class="btn_search" id="btnShowCustomerDetails">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label">First Name</label>
                                            <div class="control-label sixty_aligned">
                                                <label id="lblFirstName" class="control-label"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label">Last Name
                                            </label>
                                            <div class="control-label sixty_aligned">
                                               <label id="lblLastName" class="control-label"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>  

                                <div class="row">
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label">Email</label>
                                            <div class="control-label sixty_aligned">
                                                <label id="lblEmail" class="control-label"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="half_aligned">
                                        <div class="form-group" style="height: 7%;">
                                            <label class="forty_aligned control-label">Phone</label>
                                            <div class="control-label sixty_aligned">
                                                <label id="lblPhone" class="control-label"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>                            
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->  
            <div style="margin-top:1%;" class="blackborder col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    
                    <table id="receiptNumberTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" width="10%"></th>                      
                                <th class="text-center" width="20%">Invoice No.</th>                      
                                <th class="text-center" width="20%">Description</th>
                                <th class="text-center" width="20%">Invoice Amount</th>
                                <th class="text-center" width="15%">Open Amount</th>
                                <th class="text-center" width="15%">Bill Date</th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAmount">Invoice
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtAmount" class="form-control" readonly="readonly" />
                                <span id="txtAmountError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBalance">Balance
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtBalance" class="form-control" readonly="readonly" />
                                <span id="txtBalanceError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtCredit">Credit
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtCredit" class="form-control"   readonly="readonly" />
                                <span id="txtCreditError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtCreditAmount">Amount<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtCreditAmount" class="form-control">
                                <span id="txtCreditAmountError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selLedger" class="form-control" required>
                                    <option value="-1">--Select--</option>
                                </select>
                                <span id="selLedgerError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selPaymentMode">Payment Mode<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selPaymentMode" name="selPaymentMode" class="form-control" size="1">
                                    <option value="-1">--Select--</option>
                                </select>
                                <span id="selPaymentModeError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>          
            </div> 
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtReference">Reference<span class="text-danger">*</span>
                        </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtReference" class="form-control">
                                <span id="txtReferenceError" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>      
        </div>
        <div class="row" align="center">
            <input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" align="center" />
            <input type="button" value="Save" class="form-button btn_save" id="btnSaveReceipt" name="submit" />
            <input type="button" value="Reset" class="form-button btn_reset" id="btnReceiptReset" name="" />
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<div class="modal fade" id="messagemyModal" role="dialog">
    <div id="message_popup">
        <a href="#messagemyModal" id="mymessageModal" role="button" class="hidden" data-toggle="modal"></a>
        <div class="modal-dialog confirm-modal-style">          
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="pop_up_close" data-dismiss="modal">×</button>
                    <h4 id="messageMyModalLabel"></h4>
                </div>
                <div class="modal-body" id="messageBody">                   
                </div>
                <div class="modal-footer" style="">
                    <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  />
                </div>
          </div>              
        </div>
    </div>    
</div>
<div class="modal fade" id="mySearchModal" role="dialog">
    <a href="#mySearchModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="searchModalLabel">Serach Customer</h4>
            </div>
            <div class="modal-body" id="searchModalBody">               
            </div>
            <div class="modal-footer">
            </div> 
      </div>              
    </div>
</div>
<div class="modal fade" id="myCustomerModal" role="dialog">
    <a href="#myCustomerModel" id="CustomerModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="bankingScheduleModelLabel"></h4>
            </div>
            <div class="" style="margin: 1% 5% 5% 5%;">
                <div class="">
                    <div style="margin-top:1%;" class="blackborder col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            
                            <table id="receiptNumberTable" class="table table-vcenter table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                        <th class="text-center" width="10%"></th>                      
                                        <th class="text-center" width="20%">Invoice No.</th>                      
                                        <th class="text-center" width="20%">Description</th>
                                        <th class="text-center" width="20%">Invoice Amount</th>
                                        <th class="text-center" width="15%">Open Amount</th>
                                        <th class="text-center" width="15%">Bill Date</th>
                                    </tr>
                                </thead>
                            </table>
                            <input id="selectedRow" type="hidden" value="0" />
                        </div>
                    </div>
                </div>
            </div>  
        </div><!--End modal-view -->            
    </div>
</div>
<style>
.control-label {
    margin-top: 0px !important;
}
#mySearchModal{
    width: 87%;
    margin-left: 13%;
}
</stylle>