 <link rel="stylesheet" href="css/admin/receive_order.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!--Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>

<script src="script/admin/receive_order.js"></script>

<div class="block">
	<input type="hidden" id="hdnFieldReceiveOrder" value="1">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Receive Order</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="receiveOrders"><!-- search staff on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewOrdersForm" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first1" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Ist row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtReceiveOrderId">Order Id<span class="text-danger">*</span></label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtReceiveOrderId" name="txtReceiveOrderId" class="form-control">
									<span class="error" id="txtReceiveOrderIdError"></span>
									<i id="searchorderIcon" class="fa fa-search" style="position: relative;"></i>
									<input type="button" value="Show" class="btn_search" 
									id="btnShowOrderDetails">
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>				
				</div><!-- end row -->
				<div class="showOnClick">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selItemName">Item name<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selItemName" name="selItemName" class="form-control"><option value="">-- Select --</option></select>
										<span class="error" id="selItemNameError"></span>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtQuantity">Quantity<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<input type="number" id="txtQuantity" name="txtQuantity" class="form-control">
										<span class="error" id="txtQuantityError"></span>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtDiscount">Discount (%)</label>
								<div class="sixty_aligned">
									<div class="">
										<input type="number" id="txtDiscount" name="txtDiscount" class="form-control">
										<span id="txtDiscountError" class="error"></span>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtUnitCost">Unit Cost<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<input type="number" id="txtUnitCost" name="txtUnitCost" class="form-control">
										<span class="error" id="txtUnitCostError"></span>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtBatchNo">Batch No.<span class="text-danger"> *</span></label>
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtBatchNo" name="txtBatchNo" class="form-control">
										<span class="error" id="txtBatchNoError"></span>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtInvoiceNo">Invoice No<span class="text-danger"> *</span></label>
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtInvoiceNo" name="txtInvoiceNo" class="form-control">
										<span class="error" id="txtInvoiceNoError"></span>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtMfgDate">Mfg. Date</label>
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtMfgDate" style="cursor: pointer;" name="txtMfgDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtExpDate">Exp. Date</label>
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtExpDate" 
										style="cursor: pointer;" name="txtExpDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly="">
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selGLAccount">GL Account<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selGLAccount" name="selGLAccount" class="form-control"><option value="">-- Select --</option></select>
										<span class="error" id="selGLAccountError"></span>
									</div>
								</div>
							</div>
						</div>	
					</div>	
					<div class="">
						<input type="button" value="Add" class="btn" id="btnAdd">
					</div>
				</div>
			</div>			
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="chk-active_inactive" style=" display:none;">
				<label for="inactive-checkbox-tick" id="checklabel">Inactive</label>
					<input type="checkbox" id="inactive-checkbox-tick" 
					class="inactive-checkbox" name="">
			</div>					
			<div class="table-responsive" style="margin-top:20px;">				
				<table id="viewOrderDetailsTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="15%">Item</th>
							<th class="text-center" width="10%">Quantity</th>
							<th class="text-center" width="8%">Unit Cost</th>
							<th class="text-center" width="15%">Batch No.</th>
							<th class="text-center" width="10%">Mfg. date</th>
							<th class="text-center" width="10%">Exp. date</th>
							<th class="text-center" width="8%">Discount</th>
							<th class="text-center" width="20%">Total Cost</th>
							<th class="text-center" width="10%">GL Account</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-center" width="15%"></th>
							<th class="text-center" width="10%"></th>
							<th class="text-center" width="8%"></th>
							<th class="text-center" width="15%"></th>
							<th class="text-center" width="15%"></th>
							<th class="text-center" width="15%"></th>
							<th class="text-center" colspan="3"><span class="alignBill">Total: </span>
							<span class="amountPrefix"></span><span class="alignBill" id="totalBill">0</span></th>
							<th class="text-center" width="10%"></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span></label>
					<div class="sixty_aligned">
						<div class="">
							<select id="selLedger" name="selLedger" class="form-control"><option value="">-- Select --</option></select>
							<span class="error" id="selLedgerError"></span>
						</div>
					</div>
				</div>
			</div>	
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="selAccountPayable">Account Payable<span class="text-danger">*</span></label>
					<div class="sixty_aligned">
						<div class="">
							<select id="selAccountPayable" name="selAccountPayable" class="form-control"><option value="">-- Select --</option></select>
							<span class="error" id="selAccountPayableError"></span>
						</div>
					</div>
				</div>
			</div>	
		</div>

	<!-- Form Buttons -->
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" >
				<input type="button" value="Receive" class="btn_search" 
				id="btnReceived">
				<input type="button" value="Reset" class="btn_reset" 
				id="btnReset">
			</div>
		</div>	
	</div><!-- End view visit -->
</div>

<!-- Modal -->
<div class="modal fade" id="receiveOrderDetails" role="dialog">
    <a href="#receiveOrderDetails" id="" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="">Order Details</h4>
            </div>
            
                <div class="myModaldata modal-body">
					
				</div>
						
		</div><!--End modal-view -->           
    </div>
</div>


<div class="modal fade" id="myReceiveOrderModal" role="dialog">
	<a href="#myReceiveOrderModal" id="putOrderModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog confirm-modal-style" >			
	  <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="putReceiveModalLabel">Success</h4>
			</div>
			<div class="modal-body text-center ">
					Order Received successfully!!!
			</div><!--  form group-->
			<div class="modal-footer">
				<input type="button" class="btn_save" value="Print" id="print"  />
			</div> 
	  </div>			  
	</div>
</div>


<div class="print-body display-print" id="PrintDiv">
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center">
        <label class="control-label ten_aligned">Address :&nbsp; </label>
		<label class="control-label ninety_aligned" id="lblPrintAddress"></label>
    </div>
    <hr />
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Order Id :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintOrderId"></label>
			</div>
		</div>
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Invoice Number :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblInvoiceNumber"></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Date :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintDate"></label>
			</div>
		</div>
	</div>
	
	<table id="codexpl" width="100%; height: 450px;">
		<tbody id="codexplBody">
			<tr>
				<th class="text-center" width="5%">S.No</th>
				<th class="text-center" width="15%">Item</th>
				<th class="text-center" width="12%">Quantity</th>
				<th class="text-center" width="8%">Unit Cost</th>
				<th class="text-center" width="10%">Batch No.</th>
				<th class="text-center" width="10%">Mfg. date</th>
				<th class="text-center" width="10%">Exp. date</th>
				<th class="text-center" width="10%">Ledger</th>
				<th class="text-center" width="8%">Discount</th>
				<th class="text-center" width="17%">Total Cost</th>
				<th class="text-center" width="10%"></th>
			</tr>		
			<tfoot>
				<tr>
					<th class="text-center" width="5%"></th>
					<th class="text-center" width="15%"></th>
					<th class="text-center" width="12%"></th>
					<th class="text-center" width="8%"></th>
					<th class="text-center" width="10%"></th>
					<th class="text-center" width="15%"></th>
					<th class="text-center" width="15%"></th>
					<th class="text-center" colspan="3"><span class="alignBill">Total: </span>
					<span class="amountPrefix"></span><span class="alignBill" id="printTotalBill">0</span></th>
				</tr>
			</tfoot>
		</tbody>
	</table>
	<div class="row signContainer">
		<div class="half_aligned">
			<label class="signOrder">Receiver Sign</label>
		</div>			
		<div class="half_aligned">
			<label class="signOrder sellerSign">Seller Sign</label>
		</div>
	</div>
</div>
<style>
#myReceiveOrderModal{
	width: 87%;
	margin-left: 13%;
}
</style>