<link rel="stylesheet" href="css/admin/sub_type.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/recurrence_period.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Recurrence Period</strong></h2>
	</div>
	<div id="subTypeList">
		<h2 id="tabsubTypeList"><i class="fa fa-bars fa-fw"></i>Recurrence Period list</h2>
		<h2 id="tabAddsubType" style="background:#fff; color:#000;">+add Recurrence Period</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="recurrencePeriodTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:30%; width:80% !important;">Recurrence Period</th>
						<th class="text-center td_cursor" width="20%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtRecurrencePeriod">Recurrence Period<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtRecurrencePeriod" maxlength="50" 
								class="form-control" required>
								<span id="txtRecurrencePeriodError" class="error"></span>
							</div>
						</div>
					</div>			
				</div>	
				<div class="half_aligned">
					<div class="form-group">
						<label id="lblRecurrencePeriod">(Like : doesn't recurr,daily,monthly,yearly,quarterly")</label>
					</div>			
				</div>	
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" align="center" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			
			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>
<style>
#lblRecurrencePeriod{
	margin-left: -18%;
    margin-top: 1%;
}
#myModal .add_dept{
	position: relative;
    left: 0%;
</style>








	