<link rel="stylesheet" href="css/admin/consultant.css">
<script src="script/admin/return_item.js"></script>
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<script src="script/jquery-ui.min.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Return Item</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
    <!-- Wizard with Validation Content -->
    <form id="returnItem" method="post" class="form-horizontal form-bordered returnItem">
        <!-- First Step -->
        <div id="advanced-first" class="step advanced-first">
        <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtItemName">Item Name<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                               <input type="text" id="txtItemName" name="txtItemName" class="form-control">
                                <span id="txtItemNameError" class="error" autosearch="off"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBatchNo">Batch No.<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtBatchNo" name="txtBatchNo" class="form-control">
                                <span id="txtBatchNoError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
           <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtSellerName">Seller Name<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" class="form-control" id="txtSellerName" readonly="readonly">
								<span id="txtSellerNameError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtQuantity">Quantity<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtQuantity" name="txtQuantity" class="form-control"/>
								<span id="txtQuantityError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtMfgDate">Mfg Date<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtMfgDate" name="txtMfgDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
                                <span id="txtMfgDateError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtExpDate">Exp Date<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtExpDate" name="txtExpDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
                                <span id="txtExpDateError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
             <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtRecievedBy">Recieved By<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtRecievedBy" name="txtRecievedBy" class="form-control">
                                <span id="txtRecievedByError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtExpDate">Date</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtDate" name="txtDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
                                <span id="txtDateError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <div class="row">
                <!-- VIth row -->
                <div class="" style="width: 17%; margin: 0 auto;">
                    <input type="button" value = "Save" id="btnSearch" class="btn_save">
                    <input type="button" value = "Reset" id="btnReset" class="btn_save">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Tab Buttons -->
        <!-- END Tab Buttons -->
    </form>
    
</div>