<link rel="stylesheet" href="css/admin/department.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload --> 
<script src="script/admin/review_staff.js"></script> 
<div class="block">
    <input type="hidden" id="reviewStaffHiddenId" value="1">
    <div class="block-title" >
        <h2><strong>Review staff</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12"> 
            <!-- end table  --> 
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept" class="clearForm">
                        <div id="popUPForm">
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtStaffIdtxtStaffId">Staff Id<span class="text-danger">*</span></label>                                
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtStaffId" 
                                                name="txtStaffId" class="form-control" maxlength="9">
                                                <span id="txtStaffIdError" class="error">
                                                </span>
                                                <i id="iconStaffSearch" class="fa fa-search" style="position: relative;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  form group-->
                                </div>
                                
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtStaffName">Staff Name
                                        </label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <input type="text" id="txtStaffName" name="txtStaffName" class="form-control" readonly>
                                                <span id="txtStaffNameError" class="error"></span>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>              
                            </div>
                            <div class="row" style="margin-top: 3%;"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="starRating">Dependability</label>
                                        <div class="sixty_aligned">
                                            <div class="countStar countStarDependablity">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </div>
                                            <span id="starRatingDependablityError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="starRating">Cooperativeness<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="countStar countStarCooperativeness">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </div>
                                            <span id="starRatingCooperativenessError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="starRating">Adaptability<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="countStar countStarAdaptability">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </div>
                                            <span id="starRatingAdaptabilityError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="starRating">Service to Clients/Public<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="countStar countStarSerive">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </div>
                                            <span id="starRatingSerciceError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="starRating">Attedance<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="countStar countStarAttedance">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </div>
                                            <span id="starRatingAttedanceError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>
                            <div class="row"><!-- Ist row -->
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="starRating">Communication<span class="text-danger">*</span></label>
                                        <div class="sixty_aligned">
                                            <div class="countStar countStarCommunication">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </div>
                                            <span id="starRatingCommunicationError" class="error"></span>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="half_aligned">
                                    <div class="form-group">
                                        <label class="forty_aligned control-label" for="txtComments">Comments</label>
                                        <div class="sixty_aligned">
                                            <div class="">
                                                <textarea id="txtComments" name="txtComments" rows="3" class="form-control ui-wizard-content"></textarea>
                                            </div>
                                        </div>
                                    </div><!--  form group-->
                                </div>
                            </div>                           
                        </div>
                        <div class="btnContainer">
                            <input type="button" value="Save" class="btn_save" id="btnSaveEntitlement" name="submit" />
                            <input type="button" value="Reset" class="btn_reset" id="btnReset" name="" />
                        </div>    
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
    <div style="margin-top:1%;" class="blackborder">
        <div class="table-responsive">                    
            <table id="reviewStaffTable" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width=10%>Staff Id</th>
                        <th class="text-center" width=25%>Staff Name</th>
                        <th class="text-center" width=10%>Rating</th>
                        <th class="text-center" width=25%>Review By</th>
                        <th class="text-center" width=20%>Review Date</th>
                        <th class="text-center" width=10%></th>                        
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
</div>
<!-- end block -->
<div class="modal fade in" id="myReviewStaffModal" role="dialog" aria-hidden="false">
    <a href="#myReviewStaffModal" id="staffModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="staffModelLabel">Staff Review Details</h4>
            </div>
            <div class="" style="margin: 1% 5% 5% 5%;">
                <div class="">                    
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Staff Id :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblStaffId" class="control-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Staff Name :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblStaffName" class="control-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Reviewed By :</label>        
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblReviewBy" class="control-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Review Date :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblReviewDate" class="control-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="row">
                         
                                                                   
                    </div>
                    <div class="row starMargin">
                        <div class="form-group ">
                            <label class="thirtyfive_aligned control-label">Dependablity Rating :</label>
                            <div class="sixty_aligned">
                                <div class="generateDependedRating">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row starMargin">
                        <div class="form-group">
                            <label class="thirtyfive_aligned control-label">Cooperativeness Rating :</label>
                            <div class="sixty_aligned">
                                <div class="generateCooperativenessRating">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row starMargin">
                        <div class="form-group">
                            <label class="thirtyfive_aligned control-label">Adaptability Rating :</label>
                            <div class="sixty_aligned">
                                <div class="generateAdaptabilityRating">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row starMargin">
                        <div class="form-group">
                            <label class="thirtyfive_aligned control-label">Sercice to Clients/Public Rating :</label>
                            <div class="sixty_aligned">
                                <div class="generateSerciceRating">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row starMargin">
                        <div class="form-group">
                            <label class="thirtyfive_aligned control-label">Attedance Rating :</label>
                            <div class="sixty_aligned">
                                <div class="generateAttedanceRating">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row starMargin">
                        <div class="form-group">
                            <label class="thirtyfive_aligned control-label">Communication Rating :</label>
                            <div class="sixty_aligned">
                                <div class="generateCommunicationRating">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="thirtyfive_aligned control-label">Comments :</label>         
                            <div class="sixty_aligned">
                                <label id="lblComments" class="control-label"></label>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>  
        </div><!--End modal-view -->            
    </div>
</div>

<div class="modal fade in" id="myViewStaffModal" role="dialog" aria-hidden="false">
    <a href="#myViewStaffModal" id="staffModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="staffModelLabel">Staff Details</h4>
            </div>
            <div class="modal-body" id="viewStaffModalBody">               
            </div>  
        </div><!--End modal-view -->            
    </div>
</div>
<style type="text/css">
    i.fa.fa-star {
        font-size: 23px;
        margin: 0 4%;
    }
    #iconStaffSearch{
        position: relative;
        bottom: 40px;
        float: right;
        right: 13px;
        font-size: 15px;
        cursor: pointer;
    }
    .countStar{text-align: center;}
    .activeStar{color :#FF9948;}
    #myReviewStaffModal,#myViewStaffModal {
        width: 87%;
        margin-left: 13%;
    }
    .thirtyfive_aligned {padding-left: 3%;width: 35%;}
    #myReviewStaffModal i.fa.fa-star {
        font-size: 24px;
        margin: 0 2%;
    }
    #myReviewStaffModal .starMargin{margin-top: 7px; margin-bottom: 7px;}
    #myReviewStaffModal .starMargin .sixty_aligned{margin-top: 5px;}
    #myViewStaffModal i#iconEditStaff {
    display: none;
    }
    #myViewStaffModal i.deleteStaffDetails {
    display: none;
    }
</style>