<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/roster_management.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Roster Management</strong></h2>

    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="rosterManagementForm" method="post" class="form-horizontal form-bordered rosterManagementForm">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
			<div class="row"><!-- Iind row -->
               <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selStaffType">Staff Type<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selStaffType" class="form-control val_wrad" size="1" required>
									<option value="">--Select--</option>
								</select>
								<span id="selStaffTypeError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div>
			   <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selStaffName">Staff Name<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selStaffName" class="form-control val_wrad" size="1" required>
									<option value="">--Select--</option>
								</select>
								<span id="selStaffNameError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div>
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
					<div class="form-group">
						<label class="control-label" for="checkFieldWork">Field Work</label>                                
						<div class="sixty_aligned" style="    padding: 5px 0 0 16px;cursor:pointer;">
							<div class="">
								<input type="checkbox" id="checkFieldWork" class="" name=""  style="cursor:pointer;">
								<span id="checkFieldWorkError" class="error"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtDate">Date<span class="text-danger">*</span></label>
                        <div class="sixty_aligned">                                
                            <input type="text" id="txtDate" class="form-control input-datepicker" name="txtAdmissionDate" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" class="form-control" size="1">
							<span id="txtDateError" class="error"></span>
						</div>                        
                    </div>                    
                </div>
			</div>
			 <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
					<div class="form-group">
						<label class="control-label" for="checkAssigneDutyTo">Assign Duty To</label>                                
						<div class="sixty_aligned" style="    padding: 5px 0 0 16px;cursor:pointer;">
							<div class="">
								<input type="checkbox" id="checkAssigneDutyTo" style="cursor:pointer;">
								<span id="checkAssigneDutyToError" class="error"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row assigneStaff" style="display:none;"><!-- Iind row -->
               <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selStaffTypeAssigne">Staff Type<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selStaffTypeAssigne" class="form-control val_wrad" size="1" required>
									<option value="">--Select--</option>
								</select>
								<span id="selStaffTypeAssigneError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div>
			   <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selStaffNameAssigne">Staff Name<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selStaffNameAssigne" class="form-control val_wrad" size="1" required>
									<option value="">--Select--</option>
								</select>
								<span id="selStaffNameAssigneError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div>
            </div><!-- end row -->
            <div class="form-group form-actions buttons" style="text-align: center;">
                <input type="button" value="Save" class="opd_reg btn_save" id="btnSave">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnReset">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->





