<link rel="stylesheet" href="css/jquery.timepicker.css">
<link href='css/fullcalendar.css' rel='stylesheet' />
<link rel="stylesheet" href="css/admin/schedule_staff.css">
<script src="script/jquery.timepicker.min.js"></script>
<script src='script/moment.min.js'></script>
<script src='script/fullcalendar.min.js'></script>
<script src="script/admin/schedule_staff.js"></script>
<div class="block">
	<input type="hidden" id="hdnScheduleStaff" value="" />
	<div class="block-title" >
		<h2><strong>Staff Scheduling</strong></h2>
	</div>
    <!-- Wizard with Validation Content -->
    <form id="" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->        
		<div class="row">
			<!-- Ist row -->
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="selStaffType">Staff Type<span class="text-danger">*</span></label>                                
					<div class="sixty_aligned">
						<div class="">
							<select id="selStaffType" class="form-control val_wrad" size="1" >
								<option value="-1">--Select--</option>
							</select>
							<span id="selStaffTypeError" class="error"></span>
						</div>
					</div>
				</div>
				<!--  form group-->
			</div>
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="selStaffName">Staff Name<span class="text-danger">*</span></label>                                
					<div class="sixty_aligned">
						<div class="">
							<select id="selStaffName" class="form-control val_wrad" size="1" >
								<option value="-1">--Select--</option>
							</select>
							<span id="selStaffNameError" class="error"></span>
						</div>
					</div>
				</div>
				<!--  form group-->
			</div>
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label" for="selTimeDuration">Time Duration<span class="text-danger">*</span></label>                                
					<div class="sixty_aligned">
						<div class="">
							<select id="selTimeDuration" class="form-control val_wrad" size="1" >
								<option value="-1">--Select--</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="25">25</option>
								<option value="30">30</option>
							</select>
							<span id="selTimeDurationError" class="error"></span>
						</div>
					</div>
				</div>
				<!--  form group-->
			</div>
		</div>
		<div id="divInformation">		
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="lblDesignation">Designation</label>                                
						<div class="sixty_aligned">
							<label class=" control-label" id="lblDesignation">N/A</label>
						</div>
					</div>
					<!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="lblEmailId">Email Id</label>                                
						<div class="sixty_aligned">
							<label class=" control-label" id="lblEmailId">N/A</label>
						</div>
					</div>
					<!--  form group-->
				</div>			    
			</div>  
			 
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="lblPhoneNo">Phone No</label>                                
						<div class="sixty_aligned">
							<label class=" control-label" id="lblPhoneNo">N/A</label>
						</div>
					</div>
					<!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="lblAddress">Address</label>                                
						<div class="sixty_aligned">
							<label class=" control-label" id="lblAddress">N/A</label>
						</div>
					</div>
					<!--  form group-->
				</div>			    
			</div> 		
		</div> 		
		<div class="row  div-scheduler" id="divSchedular">
			<div class="row">
				<div class="half_aligned">
					<input type="radio" name="Schedule" id = "radRepetitive" value="Repetitive" checked="checked"><strong> Repetitive Weekly Schedule</strong><br>
					<input type="radio" name="Schedule" id="radParticular" value="Particular"> <strong>Particular Date Schedule</strong><br>
				</div>       
			</div>          
			<div class="row" id="divRepetitiveSchedule">		
				<div id="scheduler">
					<div class="block-scheduler" style="margin-top: 2%; text-align: center;" >
						<h3><strong>Repetitive Weekly Schedule</strong></h3>
					</div>
					<div class="schedule-container">        
						<div class="row main-div">
							<div class="container div-border divMonday">
								<div class="block-scheduler" >
									<input type="checkbox" class="chkAvailable" id="chkMonday" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkMonday"><strong>Monday</strong></label></h5>
									<i class="fa fa-plus scheduler plusIcon" id="btnAddSlotsMonday"></i>
								</div>
								<div class="day-container"  id="divContainer">
									
								</div>
							</div>
						</div> 	       
						<div class="row main-div">					
							<div class="container div-border divTuesday">					
								<div class="block-scheduler" >
									<input type="checkbox" class="chkAvailable" id="chkTuesday" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkTuesday"><strong>Tuesday</strong></label></h5>
									<i class="fa fa-plus scheduler plusIcon" id="btnAddSlotsTuesday"></i>
								</div>
								<div class="day-container" id="divContainer">
									
								</div>
							</div>        
						</div>        
						<div class="row main-div">					
							<div class="container div-border divWednesday">					
								<div class="block-scheduler" >
									<input type="checkbox" class="chkAvailable" id="chkWednesday" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkWednesday"><strong>Wednesday</strong></label></h5>
									<i class="fa fa-plus scheduler plusIcon" id="btnAddSlotsWednesday"></i>
								</div>
								<div class="day-container"  id="divContainer">
									
								</div>
							</div>        
						</div>        
						<div class="row main-div">					
							<div class="container div-border divThursday">					
								<div class="block-scheduler" >
									<input type="checkbox" class="chkAvailable" id="chkThursday" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkThursday"><strong>Thursday</strong></label></h5>
									<i class="fa fa-plus scheduler plusIcon" id="btnAddSlotsThursday"></i>
								</div>
								<div class="day-container"  id="divContainer">
									
								</div>
							</div>        
						</div>        
						<div class="row main-div">					
							<div class="container div-border divFriday">					
								<div class="block-scheduler" >
									<input type="checkbox" class="chkAvailable" id="chkFriday" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkFriday"><strong>Friday</strong></label></h5>
									<i class="fa fa-plus scheduler plusIcon" id="btnAddSlotsFriday"></i>
								</div>
								<div class="day-container"  id="divContainer">
									
								</div>
							</div>        
						</div>        
						<div class="row main-div">					
							<div class="container div-border divSaturday">					
								<div class="block-scheduler">
									<input type="checkbox" class="chkAvailable" id="chkSaturday" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkSaturday"><strong>Saturday</strong></label></h5>
									<i class="fa fa-plus scheduler plusIcon" id="btnAddSlotsSaturday"></i>
								</div>
								<div class="day-container"  id="divContainer">
									
								</div>
							</div> 				
						</div> 	        
						<div class="row main-div">					
							<div class="container div-border divSunday">					
								<div class="block-scheduler">
									<input type="checkbox" class="chkAvailable" id="chkSunday" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkSunday"><strong>Sunday</strong></label></h5>
									<i class="fa fa-plus scheduler plusIcon" id="btnAddSlotsSunday"></i>
								</div>
								<div class="day-container"  id="divContainer">
									
								</div>
							</div> 				
						</div> 			
					</div>	
				</div>
			</div>
			<div id="divParticularSchedule">			
				<div class="block-scheduler" style="margin-top: 2%; text-align: center; border-bottom: 1px solid #aaa;  margin-bottom: 6px" >
					<h3><strong>Particular Date Schedule</strong></h3>
				</div>
				<div class="schedule-container"> 
					<div class="row" id="divParticular">
					
					</div>
					<div class="row">
						<div class="container div-border divDaily">
							<div class="block-scheduler" >
								<input type="checkbox" class="chkAvailable" id="chkAvailable" checked="checked">&nbsp;<h5 class="heading"><label class="chkfor" for="chkAvailable"><strong>Available</strong></label></h5>
								<i class="fa fa-plus scheduler plusIcon" id="btnAddSlots"></i>
							</div>
							<div class="day-container"  id="divContainer">
								
							</div>
						</div>
					</div> 
				</div> 
			</div>
			<input type="button" id="btnSaveRepetitive" class="btn-scheduler btn_save"
			style="margin-left: 40%; display: inline; margin-top: 20px;" value="Save Schedule">
		</div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>