<link rel="stylesheet" href="css/admin/scheme_plan.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/scheme_plan.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Scheme Plans</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divSchemePlan">
                <h2 id="tabSchemePlanList"><i class="fa fa-bars fa-fw"></i>Scheme Plan List</h2>
                <h2 id="tabSchemePlan" style="background:#fff; color:#000;">+Add Scheme Plan</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="schemePlanTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" style="max-width:40%; width:20% !important;">Company Name</th>
                                <th class="text-center" style="max-width:30%; width:10% !important;">Scheme Name</th>
								<th class="text-center" style="max-width:20%; width:10% !important;">Plan Name</th>
                                <th class="text-center" style="max-width:20%; width:10% !important;">Start Date</th>
                                <th class="text-center" style="max-width:20%; width:10% !important;">End Date</th>
                                <th class="text-center" style="max-width:20%; width:10% !important;">Copay Value</th>
                                <th class="text-center" style="max-width:20%; width:20% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="formSchemePlan">
                <div class="col-md-12">
                    <form method="post" id="form_Scheme_plan" class="clearForm">
					<div id="schemePlanPopUPForm">
					<div class="row">
                    <div class="half_aligned">
                        <div class="form-group" >
                            <label class="forty_aligned control-label" for="selInsuaracnceCompany"> Insurance Company<span class="text-danger">*</span></label>
                            <div class="control-label sixty_aligned">
                                <select id="selInsuaracnceCompany" name="selInsuaracnceCompany" class="form-control selInsuaracnceCompany" size="1"  ></select>
                                <span id="selInsuaracnceCompanyError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                     <div class="half_aligned">
                            <div class="form-group" >
                                <label class="forty_aligned control-label" for="selSchemeName">Scheme Name<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                                    <select id="selSchemeName" name="selSchemeName" class="form-control selSchemeName" size="1"	>
                                        <option value="">--Select--</option>
                                    </select>
                                    <span id="selSchemeNameError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
					</div>
					<div class="row">
                        <div class="half_aligned">
                            <div class="form-group" >
                                <label class="forty_aligned control-label" for="txtPlanName">Plan Name<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                                    <input type="text" id="txtPlanName" name="txtPlanName" class="form-control">
                                    <span id="txtPlanNameError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
					</div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group" >
                                <label class="forty_aligned control-label" for="txtStartDate">Start Date<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                            <div class="">
                                <input type="text" id="txtStartDate" name="txtStartDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd" readonly>
                                <span id="txtStartDateError" class="error"></span>
                            </div>
                        </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="half_aligned">    
                            <div class="form-group" >
                                <label class="control-label forty_aligned" for="txtEndDate">End Date<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                            <div class="">
                                <input type="text" id="txtEndDate" name="txtEndDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd" readonly>
                                <span id="txtEndDateError" class="error"></span>
                            </div>
                        </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group" >
                                <label class="forty_aligned control-label" for="selCopay">Copay<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                                    <div class="">
                                        <select id="selCopay" name="selCopay" class="form-control selCopay" size="1" >
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                    <span id="selCopayError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="half_aligned">    
                            <div class="form-group" >
                                <label class="control-label forty_aligned" for="txtValue">Value<span class="text-danger">*</span></label>
                                <div class="control-label ten_aligned">
                                   <input type="text" id="txtValueBox" name="txtValueBox" class="form-control" style="text-align: center;">
                                </div>
                                <div class="control-label forty_aligned">
                                   <input type="number" id="txtValue" name="txtValue" class="form-control">
                                    <span id="txtValueError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="half_aligned">    
                            <div class="form-group" >
                                <label class="control-label forty_aligned" for="txtDesc">Description</label>
                                <div class="control-label sixty_aligned">
                                   
                                    <textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
                                    <span id="txtDescriptionError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
						<input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="form-button btn_save" id="btnAddSchemePlan" name="submit" />
						<input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->
<style>
    .ten_aligned{
        width: 10%;
        float: left
    }
</style>