<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/search_visit_cash_payment.js"></script>

<div class="block">
    <!-- END Wizard with Validation Title -->
	<div id="searchVisit"><!-- search patient on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewPatientForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFirstName" name="txtFirstName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtLastName">Last Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtLastName" name="txtLastName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->  

				<div class="row"><!-- Iind row -->
					 <div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtMobile">Mobile</label>
							<div class="sixty_aligned">
								<div class="">
								   <input type="text" id="txtMobile" name="txtMobile" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPatientId" name="txtPatientId" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div><!-- end row -->  

				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFromDate">From Date</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFromDate" name="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtToDate">To Date </label>
							<div class="sixty_aligned">
								<div class="">
								   <input type="text" id="txtToDate" name="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->                  
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive setTable" style="margin-top:20px;">
				<table id="tblCashPaymentVisit" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="15%">Visit Id</th>
							<th class="text-center" width="30%">Visit Type</th>
							<th class="text-center" width="30%">Name</th>
							<th class="text-center" width="20%">Visit Date</th>
							<th class="text-center" width="5%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
	</div><!-- End view visit -->
	<!-- show details on search modal -->
	<div id="viewDetails" style="display: none;">
		<div class="row">
			<input type="button" value="Back To List" class="btn_back_list" id="btnBackToList">
		</div>
		<div class="">
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Visit Id :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblVisitId" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Visit Type :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblDepartementType" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Name :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblName" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Visit Date :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblVisitDate" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div>
			<div class="row hideAtInsurance">				
				<div class="half_aligned ">
					<div class="form-group">
						<label class="forty_aligned control-label">Service Name :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblServiceName" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned ">
					<div class="form-group">
						<label class="forty_aligned control-label">Triage/Assessment Status :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblTriageStatus" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
			
			<div class="row hideAtInsurance">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Service Payment Status :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblServiceStatus" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 	
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Forensic Payment Status :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblForensicStatus" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
			<div class="row hideAtInsurance">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Lab Payment Status :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblLabStatus" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 	
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Pharmacy Payment Status :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblPharmacyStatus" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
			<div class="row hideAtInsurance">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Procedure Payment Status :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblProcedureStatus" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 	
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Radiology Payment Status :</label>                 
						<div class="sixty_aligned" style="margin-left: 5%;">
							<div class="">
								<label id="lblRadiologyStatus" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
		</div>
	</div>
</div>
<!-- END Wizard with Validation Block -->



<!-- show modal -->
<div class="modal fade" id="myVisitModel" role="dialog">
    <a href="#myVisitModel" id="visitModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" style="width:750px;">         
      <!-- Modal content-->
        <div class="modal-content modal-view" style="width:100%;">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="visitModelLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Visit Id :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblVisitId" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Visit Type :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblDepartementType" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Name:</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblName" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Service Name :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblServiceName" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Visit Date:</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblVisitDate" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Triage/Assessment Status:</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblTriageStatus" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                    
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Payment Status :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblPaymentStatus" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div>                          
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>

<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    .chk-active_inactive{width: 15%;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
.btn_search,.btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
	margin-right: 10px;
}
.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}

#print{
    float: right;
    margin-right: 2%;
}
.modal-content {
    border-radius: 3px;
     width: 100% !important;
}
.modal-footer{
    display: none;
}

div#myTriageModal .block-title {
    display: none;
}
	
div#myCashModal .block-title {
    display: none;
	}
</style>




