<script src="script/admin/search_drug.js"></script>
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<div class="block">
    <!-- END Wizard with Validation Title -->
	<div id="searchDrug">
		<!-- Wizard with Validation Content -->
		<form id="viewPatientForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDrugCode">Drug Code</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtDrugCode" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDrugName">Drug Name </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtDrugName" name="txtDrugName"
									class="form-control">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->

					
				</div><!-- end row -->
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="">
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="searchDrugTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>							
							<th class="text-center" style="max-width:10%; width:20% !important;">Drug Name</th>
							<th class="text-center" style="max-width:10%; width:10% !important;">Drug Code</th>
							<th class="text-center" style="max-width:10%; width:10% !important;">Category</th>
							<th class="text-center" style="max-width:10%; width:10% !important;">Unit</th>
							<th class="text-center" style="max-width:10%; width:10% !important;">Cost </th>
							<th class="text-center" style="max-width:10%; width:10% !important;">Price </th>
							<th class="text-center" style="max-width:6%; width:6% !important;"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
	<div class="" id="viewDrugDetail" style="display:none;" >
		<div class="row">
			<input type="button" value="Back To List" class="btn_back_list" id="btnBackToList">
		</div>
		<div class="row">			
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Drug Name :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblDrugName" class="control-label">
						</div>
					</div>
				</div>
			</div> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Drug Code :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblDrugCode" class="control-label">
						</div>
					</div>
				</div> 
			</div> 
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Alternate Name :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblAlterNateName" class="control-label">
						</div>
					</div>
				</div>
			</div> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Category :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblCategory" class="control-label">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Unit :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblUnit" class="control-label">
						</div>
					</div>
				</div>
			</div>
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Cost :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblCost" class="control-label">
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Price :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblPrice" class="control-label">
						</div>
					</div>
				</div>
			</div>
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Alt. Drug :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblAltDrugName" class="control-label">
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Composition :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblComposition" class="control-label">
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div> 
</div>
<!-- END Wizard with Validation Block -->




<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 42%;} 
    .control-label{margin-top: 10px;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}

#print{
    float: right;
    margin-right: 2%;
}
.modal-view {
    width: 100% !important;
}

div#mySearchModal .block-title {
    display: none;
	}
</style>




