<link rel="stylesheet" href="css/admin/bed.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/search_imprest_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<table id="tblSearchImprestRequest" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="20%">Staff Name</th>
						<th class="text-center" width="30%">Nature Of duty</th>
						<th class="text-center" width="10%">Amount</th>
						<th class="text-center" width="10%">Est. Day</th>
						<th class="text-center" width="15%">Start Date</th>
						<th class="text-center" width="15%">End Date</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
    <!-- END Wizard with Validation Content -->
</div>
<!--- start media query for responsive webs site--> 

<!--- End media query for responsive webs site-->