<link rel="stylesheet" href="css/admin/drug_categories.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/seller.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Vendor</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="drug_list">
                <h2 id="tab_drug"><i class="fa fa-bars fa-fw"></i>Vendor list</h2>
                <h2 id="tab_add_drug" style="background:#fff; color:#000;">+Add Vendor</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive">
                    <label for="inactive-checkbox-tick">Inactive</label>
                    <input type="checkbox" id="inactive-checkbox-tick" 
                        class="inactive-checkbox" name="">
					</div>
                    <table id="tblSeller" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" width ="20%">Vendor Name</th>
                                <th class="text-center" width ="20%">Email</th>
                                <th class="text-center" width ="20%">Firm Name</th>
                                <th class="text-center" width ="30%">Description</th>
                                <th class="text-center" width="10%"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept" class="clearForm">

						<div id="popUPFormDrug">
                            <div id="customerPopUPForm">

                                <div class="row text-center showCustomerTabs">
                                    <ul class="customerTabs">
                                        <li>
                                            <input type="button" class="btn customerBtn" aria-hidden="true" value="Main" attr="mainScreen">
                                        </li>
                                        <li>
                                            <input type="button" class="btn customerBtn" aria-hidden="true" value="Pending Invoice" attr="pendingInvoiceScreen">
                                        </li>
                                        <li>
                                            <input type="button" class="btn customerBtn" aria-hidden="true" value="Payment History" attr="paymentHistoryScreen">
                                        </li>                                          
                                        <li>
                                            <input type="button" class="btn customerBtn" aria-hidden="true" value="Order History" attr="orderHistoryScreen">
                                        </li>               
                                    </ul>
                                </div>
                                <div class="tabScreen" id="mainScreen">
        							<div  id="uploadFile">
        								<div class = "row">							
        									<div class="half_aligned">
        										<div class="form-group">
        											<div class="control-group">
        													<label class="forty_aligned  control-label">CSV/XLS File:</label>
        												 <div class="control-label sixty_aligned">
        													<input type="file" name="file" id="file" class="input-large" style="padding:0;">
        													<span id="txtFileError" class="error"></span>
        												</div>
        											</div>
        										</div>
        									</div>
        									<div class="half_aligned" style="padding:0;">
        										<div class="form-group">
        											<div class="control-group">
        												 <div class="forty_aligned">
        													<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
        												</div>
        											</div>
        										</div>
        									</div>	
        								</div>
        								<div class = "row">
        									<div class="text-center">
        										<h3>- OR -</h3>
        									</div>
        								</div>
        							</div>
                                    <div class="row">
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtVendorName">Vendor Name<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <input type="text" id="txtVendorName" maxlength="255" class="form-control">
                                                    <span id="txtVendorNameError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="selVendorType">Vendor Type<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <select id="selVendorType" class="form-control">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                    <span id="selVendorTypeError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="half_aligned">
                							<div class="form-group" style="height:7%;">
                								<label class="forty_aligned control-label" for="txtFirmName">Firm Name<span class="text-danger">*</span></label>
                								<div class="sixty_aligned control-label">
                									<input type="text" id="txtFirmName" class="form-control">
                									<span id="txtFirmNameError" class="error"></span>
                								</div>
                								<div class="clear"></div>
                							</div>
                                        </div>
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtSellerEmail">Vendor Email<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <input type="text" id="txtSellerEmail" class="form-control">
                                                    <span id="txtSellerEmailError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtPhone">Phone<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <input type="text" id="txtPhone" class="form-control">
                                                    <span id="txtPhoneError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtAddress">Address<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <textarea id="txtAddress" name="txtAddress" rows="3" class="form-control ui-wizard-content"></textarea>
                                                    <span id="txtAddressError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtDescription">Description</label>
                                                <div class="sixty_aligned control-label">
                                                    <textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
                                                    <span id="txtDescriptionError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div class="text-center">
                                            <h3>- Bank Detail -</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtCode">IFSC Code<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <input type="text" id="txtCode" class="form-control">
                                                    <span id="txtCodeError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtBankName">Bank Name<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <input type="text" id="txtBankName" class="form-control">
                                                    <span id="txtBankNameError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="half_aligned">
                                            <div class="form-group" style="height:7%;">
                                                <label class="forty_aligned control-label" for="txtAccountNo">A/C No.<span class="text-danger">*</span></label>
                                                <div class="sixty_aligned control-label">
                                                    <input type="text" id="txtAccountNo" class="form-control">
                                                    <span id="txtAccountNoError" class="error"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
        							<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
                                </div>

                                <div class="tabScreen hide" id="pendingInvoiceScreen">  
                                    <div class="table-responsive">                                    
                                        <table id="pendingInvoiceTable" class="table table-vcenter table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                                    <th class="text-center" width="10%">Invoice No.</th>                         
                                                    <th class="text-center" width="10%">Invoice No.</th>                         
                                                    <th class="text-center" width="20%">Description</th>
                                                    <th class="text-center" width="10%">Total Amount</th>
                                                    <th class="text-center" width="10%">Open Amount</th>
                                                    <th class="text-center" width="20%">Bill Date</th>
                                                    <th class="text-center" width="20%">Pay Date</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <input id="selectedRow" type="hidden" value="0" />
                                    </div>
                                </div>

                                <div class="tabScreen  hide" id="paymentHistoryScreen">  
                                    <div class="table-responsive">
                                        <table id="paymentHistoryTable" class="table table-vcenter table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                                    <th class="text-center" width="20%">Receipt No.</th>                              
                                                    <th class="text-center" width="20%">Invoice No.</th>
                                                    <th class="text-center" width="20%">Description</th>
                                                    <th class="text-center" width="10%">Paid Amount</th>
                                                    <th class="text-center" width="20%">Paid Date</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <input id="selectedRow" type="hidden" value="0" />
                                    </div>
                                </div>

                                <div class="tabScreen  hide" id="orderHistoryScreen">  
                                    <div class="table-responsive">
                                        <table id="orderHistoryTable" class="table table-vcenter table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                                    <th class="text-center" width="20%">Receipt No.</th>                              
                                                    <th class="text-center" width="20%">Invoice No.</th>
                                                    <th class="text-center" width="20%">Description</th>
                                                    <th class="text-center" width="10%">Paid Amount</th>
                                                    <th class="text-center" width="20%">Paid Date</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <input id="selectedRow" type="hidden" value="0" />
                                    </div>
                                </div>

    						</div>
                        </div>
						<input type="button" value="Save" class="add_dept btn_save" id="btnSave" name="submit" />
						<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset" name="" />
                    </form>
				
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->