<link rel="stylesheet" href="css/admin/services.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/services.js"></script>

<div class="block">
	<div class="block-title" >
		<h2><strong>Services</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="services_list">
                <h2 id="tab_services"><i class="fa fa-bars fa-fw"></i>services list</h2>
                <h2 id="tab_add_services" style="background:#fff; color:#000;">+add service</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="tblServices" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
								 <th class="text-center" style="max-width:7.5%; width:7.5% !important;">Code</th>
								<th class="text-center" style="max-width:15%; width:15% !important;">Service type</th>                               
                                <th class="text-center" style="max-width:20%; width:18% !important;">Name</th>
								<th class="text-center" style="max-width:10%; width:10% !important;">Unit price</th>
								<th class="text-center" style="max-width:25%; width:25% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_services">
                <div class="col-md-12">
                    <form method="post" id="form_submit_services">
					<div id="popUPForm">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="control-label forty_aligned" for="txtService">Service type<span class="text-danger">*</span></label>
								<div class="control-label sixty_aligned">
									<select id="txtService" name="txtService" class="form-control txtService" size="1"  >
										<option value="">--Select--</option>
									</select>
									<span id="txtServiceError" class="error"></span>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group" style="height: 7%;">
								<label class="control-label forty_aligned" for="txtCode"> Code<span class="text-danger">*</span></label>
								<div class="control-label sixty_aligned">
									<input type="text" id="txtCode" name="txtCode" class="form-control" maxlength="20">
									<span id="txtCodeError" class="error"></span>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group" style="height: 7%;">
								<label class="control-label forty_aligned" for="txtName"> Name<span class="text-danger">*</span></label>
								<div class="control-label sixty_aligned">
									<input type="text" id="txtName" name="txtName" class="form-control" maxlength="50">
									<span id="txtNameError" class="error"></span>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group" style="height: 7%;">
								<label class="control-label forty_aligned" for="txtUnitCost"> Unit price<span class="text-danger">*</span></label>
								<div class="control-label sixty_aligned" >
									<input type="text" id="txtUnitCost" name="txtUnitCost" class="form-control">
									<span id="txtUnitCostError" class="error"></span>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selLedger">Ledger<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selLedger" name="selLedger" class="form-control"><option value="">-- Select --</option></select>
										<span class="error" id="selLedgerError"></span>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selAccountPayable">Account Receivable<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selAccountPayable" name="selAccountPayable" class="form-control"><option value="">-- Select --</option></select>
										<span class="error" id="selAccountPayableError"></span>
									</div>
								</div>
							</div>
						</div>	
					</div>

					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="selGLAccount">GL Account<span class="text-danger">*</span></label>
								<div class="sixty_aligned">
									<div class="">
										<select id="selGLAccount" name="selGLAccount" class="form-control">
										<option value="">-- Select --</option></select>
										<span class="error" id="selGLAccountError"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group" style="height: 7%;">
								<label class="control-label forty_aligned" for="txtDesc" > Description</label>
								<div class="control-label sixty_aligned" style="float:left;" >
									
									<textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>	
						<input type="button" value="Update" class="add_Services btn_update" id="btnUpdate" style="display:none;" />
					</div>
					<div>
                        <input type="button" value="Save" class="add_services btn_save" id="btnAddServices" name="submit" />
						<input type="reset" value="Reset" class="add_services btn_reset" id="reset" name="submit" />
					</div>
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->