<link rel="stylesheet" href="css/admin/lab_test_request.css">
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->
<script src="script/admin/services_request.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="labRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row" id="divDropDownServiceRequest"><!-- Iind row -->
				<div class="" style="width:90%; margin: 0 auto; margin-top:25px;">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selServiceLabType" >Service Type</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selServiceLabType" name="selServiceLabType" class="form-control" size="1"></select>
									<span class="error" id="selServiceLabTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selServiceLabTest">Service </label>
							<div class="half_aligned"  style="position:relative;">
								<select id="selServiceTest" name="selServiceTest" class="form-control">
									<option value="-1">--Select--</option>
								</select>
								<span id="selServiceTestError" class="error"></span>
							</div>
						</div>
					</div> 
				</div>
			</div><!-- end row --> 

			<div class="row"><!-- Iind row -->
				<div class="" style="width:90%; margin: 0 auto; margin-top:25px;">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selRequestType" >Request Type</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selRequestType" name="selRequestType" class="form-control" size="1">
										<option value="-1">--Select--</option>
										<option value="internal">Internal</option>
										<option value="external">External</option>
									</select>
									<span class="error" id="selRequestTypeError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="tenth_aligned">
						<div class="form-group">
							 <input type="button" id ="addServiceRequest" class= "addValues" value="+Add">
							 <span class='error' id='noServiceDataError' style="width: 134px; float: right; margin-top: 11px;"></span>
						</div>
					</div>
				</div>
			</div><!-- end row -->   
			
			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div> -->
					<table id="serviceRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="40%">Service Name</th>
								<th class="text-center" width="10%">Paid Status</th>
								<th class="text-center" width="10%">Test Status</th>
								<th class="text-center" width="15%">Cost</th>
								<th class="text-center" width="15%">Revised Cost</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th class="text-center" width="40%"></th>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="10%"></th>
								<th class="text-center" width="15%"></th>	
								<th class="text-center" width="15%"><span style="float:left;">Total</span><span class="amountPrefix"></span><span style="float:left;" id="totalServiceBill">0</span></th>				
								<th class="text-center" width="10%"></th>
							</tr>
						</tfoot>
					</table>
					<input id="selectedRow" type="hidden" value="0" />
				</div>
			</div>
		<!-- end table  -->	
			
            <div class="row" align="center">
                <input type="button" value="Request Service" class="opd_reg btn_save" id="btnSaveServiceTestRequest">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetServiceTestRequest">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->

<!-- Patient Modal-->
<!-- Modal for search patient-->
<div class="modal fade" id="oldServiceRequestModal" role="dialog">
	<a href="#myoldServiceRequestModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldServiceRequestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldServiceRequestModalBody">
			
			<table id="oldServiceRequestsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
				<thead>
					<tr>
						<th class="text-center" width="40%">Servive Request Name</th>
						<th class="text-center" width="15%">Request date</th>
						<th class="text-center" width="15%">Paid Status </th>
						<th class="text-center" width="15%">test status</th>
						<th class="text-center" width="15%">Cost</th>
					</tr>
				</thead>
			</table>								
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>


<!-- Modal for search patient-->
<div class="modal fade" id="oldServiceTestModal" role="dialog">
	<a href="#myTriageModal" id="" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="oldServiceTestModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="oldServiceTestModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>