<link rel="stylesheet" href="css/admin/servicetype.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/servicetype.js"></script>

<div class="block">
	<div class="block-title" >
		<h2><strong>Service Types</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="service_list">
                <h2 id="tab_service"><i class="fa fa-bars fa-fw"></i>service type list</h2>
                <h2 id="tab_add_service" style="background:#fff; color:#000;">+add service type</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive"><div class="header"></div>
					<div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="tblServiceType" style="width:100% !important;" class="table table-vcenter table-condensed table-bordered ">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:35%; width:35% !important;">Service type</th>
                                <th class="text-center" style="max-width:50%; width:50% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_service">
                <div class="col-md-12">
                    <form method="post" id="form_submit_service">
					<div id="popUPForm">
						<div  id="uploadFile">
							<div class = "row">							
								<div class="half_aligned">
									<div class="form-group">
										<div class="control-group">
												<label class="forty_aligned  control-label">CSV/XLS File:</label>
											 <div class="control-label sixty_aligned">
												<input type="file" name="file" id="file" class="input-large" style="padding:0;">
												<span id="txtFileError" class="error"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="half_aligned" style="padding:0;">
									<div class="form-group">
										<div class="control-group">
											 <div class="forty_aligned">
												<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class = "row">
								<div class="text-center">
									<h3>- OR -</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group" style="height: 7%;">
									<label class="forty_aligned control-label" for="txtServiceType"> Service Type<span class="text-danger">*</span></label>
									<div class="sixty_aligned control-label">
										<input type="text" id="txtServiceType" name="txtServiceType" class="form-control" maxlength="50">
										<span id="txtServiceNameError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div>    
							<div class="half_aligned">    
								<div class="form-group">
									<label class="control-label forty_aligned" for="txtServiceDesc">Description</label>
									<div class="sixty_aligned control-label">
										<textarea id="txtServiceDesc" name="txtServiceDesc" rows="3" class="form-control ui-wizard-content"></textarea>
										<span id="txtDescriptionError" class="error"></span>
									</div>
									<div class="clear"></div>
								</div>
							</div> 
						</div>
						<input type="button" value="Update" class="add_service btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="add_service btn_save" id="btnAddService" name="submit" />
						<input type="button" value="Reset" class="add_service btn_reset" id="btnReset" name="submit" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->