<link rel="stylesheet" href="css/admin/consultant.css">
<script src="script/admin/show_expire.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Show Expire Time</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
    <!-- Wizard with Validation Content -->
    <form id="showExpire" method="post" class="form-horizontal form-bordered showExpire">
        <!-- First Step -->
        <div id="advanced-first" class="step advanced-first">
        <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="SelInventoryType">Inventory Type<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                               <select id="SelInventoryType" name="SelInventoryType" class="form-control">
                                    <option value="-1">-- Select --</option>
                                </select>
                                <span id="SelInventoryTypeError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                
            </div>
           
            <div class="row">
                <!-- VIth row -->
                <div class="" style="width: 17%; margin: 0 auto;">
                    <input type="button" value = "Show" id="btnShow" class="btn_save">
                    <input type="button" value = "Reset" id="btnReset" class="btn_save">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Tab Buttons -->
        <!-- END Tab Buttons -->
    </form>
    <div style="margin-top:5%;" class="blackborder" id="expireItemList">
        <div class="table-responsive">
            <table id="tblShowExpire" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="25%">Item Name</th>
                        <th class="text-center" width="25%">Seller Name</th>
                        <th class="text-center" width="25%">Mfg Date</th>
                        <th class="text-center" width="25%">Exp Date</th>
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
     
</div>