<link rel="stylesheet" href="css/admin/sms_email.css">
<!-- Wizard with Validation Title -->
<script src="script/admin/sms_email.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong> Sms/Email </strong></h2>
	</div>
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Patient OT Registration</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblPatientOTRegistration">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left" id="PatientOTRegistrationSmscheckBox">
							<label class="forty_aligned control-label" for="txtPatientOtRegSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtPatientOtRegSms" name="txtPatientOtRegSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtPatientOtRegSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div> 
				</div>									
			</div>		
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">New Appointment</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblAppointment">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left" id="AppointmentSmscheckBox">
							<label class="forty_aligned control-label" for="txtAppointmentSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtAppointmentSms" name="txtAppointmentSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtAppointmentSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-right"  id="AppointmentcheckBoxEmail">
							<label class="forty_aligned control-label" for="txtAppointmentEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtAppointmentEmail" name="txtAppointmentEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtAppointmentEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>									
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Appointment Cancel</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblAppointmentCancel">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left" id="AppointmentCancelSmscheckBox">
							<label class="forty_aligned control-label" for="txtAppointmentCancelSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtAppointmentCancelSms" name="txtAppointmentCancelSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtAppointmentCancelSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-right"  id="AppointmentCancelcheckBoxEmail">
							<label class="forty_aligned control-label" for="txtAppointmentCancelEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtAppointmentCancelEmail" name="txtAppointmentCancelEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtAppointmentCancelEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>									
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Appointment Scheduled</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblAppointmentScheduled">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left" id="AppointmentScheduledSmscheckBox">
							<label class="forty_aligned control-label" for="txtAppointmentScheduledSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtAppointmentScheduledSms" name="txtAppointmentScheduledSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtAppointmentScheduledSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-right"  id="AppointmentCancelcheckBoxEmail">
							<label class="forty_aligned control-label" for="txtAppointmentCancelEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtAppointmentScheduledEmail" name="txtAppointmentScheduledEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtAppointmentScheduledEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>									
			</div>
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">OPD Booking</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblOpdBooking">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left"  id="OpdBookingSmscheckBox">
							<label class="forty_aligned control-label" for="txtOpdBookingSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtOpdBookingSms" name="txtOpdBookingSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtOpdBookingSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>  
				</div>									
			</div>		
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Patient Registration</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblPatientRegistration">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left"  id="PatientRegistrationSmscheckBox">
							<label class="forty_aligned control-label" for="txtPatientRegistrationSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtPatientRegistrationSms" name="txtPatientRegistrationSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtPatientRegistrationSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
				</div>									
			</div>		
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Apply Leave</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblApplyLeave">
					<div class="half_aligned">
						<div class="form-group">
						<input type='checkBox' class="checkBox-left"  id="ApplyLeaveEmailcheckBox">
							<label class="forty_aligned control-label" for="txtApplyLeaveEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtApplyLeaveEmail" name="txtApplyLeaveEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtApplyLeaveEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>									
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Leave Cancel</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblLeaveCancel">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left" id="LeaveCancelSmscheckBox">
							<label class="forty_aligned control-label" for="txtLeaveCancelSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtLeaveCancelSms" name="txtLeaveCancelSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtLeaveCancelSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
					<div class="half_aligned">
						<div class="form-group">
						<input type='checkBox' class="checkBox-right"  id="LeaveCancelEmailcheckBox">
							<label class="forty_aligned control-label" for="txtLeaveCancelEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtLeaveCancelEmail" name="txtLeaveCancelEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtLeaveCancelEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>									
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Leave Approved</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblLeaveApproved">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left"  id="LeaveApprovedSmscheckBox">
							<label class="forty_aligned control-label" for="txtLeaveApprovedSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtLeaveApprovedSms" name="txtLeaveApprovedSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtLeaveApprovedSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
					<div class="half_aligned">
						<div class="form-group">
						<input type='checkBox' class="checkBox-right"  id="LeaveApprovedEmailcheckBox">
							<label class="forty_aligned control-label" for="txtLeaveApprovedEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtLeaveApprovedEmail" name="txtLeaveApprovedEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtLeaveApprovedEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>								
			</div>
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Roster Management</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblRosterManagement">
					
					<div class="half_aligned">
						<div class="form-group">
						<input type='checkBox' class="checkBox-left" id="RosterManagementEmailcheckBox">
							<label class="forty_aligned control-label" for="txtRosterManagementEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtRosterManagementEmail" name="txtRosterManagementEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtRosterManagementEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>								
			</div>
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">Billing</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblBilling">
					
					<div class="half_aligned">
						<div class="form-group">
						<input type='checkBox' class="checkBox-left" id="BillingEmailCheckBox">
							<label class="forty_aligned control-label" for="txtBillingEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtBillingEmail" name="txtBillingEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtBillingEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>								
			</div>
			<div class="row"><!-- Ist row --> 
				<div class='col-lg-12'>
					<i class="fa fa-plus-square plusIcon" aria-hidden="true"></i>
					<i class="fa fa-minus-square minusIcon" aria-hidden="true"></i>
					<div class="form-group">
						<label class="forty_aligned control-label heading">OT Bookings</label>
					</div>
				</div>
				<div class='col-lg-12 toggle hide' id="lblOTBookings">
					<div class="half_aligned">
						<div class="form-group">
							<input type='checkBox' class="checkBox-left" id="OTBookingsSmsCheckBox">
							<label class="forty_aligned control-label" for="txtOTBookingsSms">SMS<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtOTBookingsSms" name="txtOTBookingsSms" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtOTBookingsSmsError" class="error"></span>
								</div>
							</div>
						</div>
					</div>   
					<div class="half_aligned">
						<div class="form-group">
						<input type='checkBox' class="checkBox-right" id="OTBookingsEmailCheckBox">
							<label class="forty_aligned control-label" for="txtOTBookingsEmail">Email<span class="text-danger">*</span>
							</label>
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtOTBookingsEmail" name="txtOTBookingsEmail" rows="3" class="form-control ui-wizard-content" disabled></textarea>
									<span id="txtOTBookingsEmailError" class="error"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>									
			</div>	
			<div class="form-group form-actions" align="center">
				<input type="button" value="Submit" class="add_dept btn_save" id="btnSubmit">
			</div>
		</div>		
	</form>
	<!-- END Wizard with Validation Content -->
</div>







	