<link rel="stylesheet" href="css/admin/consultant.css">
<script src="script/admin/staff_attendance.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong> View Staff Attendance</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
    <!-- Wizard with Validation Content -->
    <form id="leaveApplyForm" method="post" class="form-horizontal form-bordered leaveApplyForm">
        <!-- First Step -->
        <div id="advanced-first" class="step advanced-first">
        <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="SelStaffType">Staff Type<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                               <select id="SelStaffType" name="SelStaffType" class="form-control">
                                            <option value="-1">-- Select --</option>
                                        </select>
                                <span id="SelStaffTypeError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selStaffId">Staff Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <select class="form-control" id="selStaffId" name="selStaffId">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
           <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFromDate">From Date</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
								<span id="txtFromDateError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtToDate">To Date</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtToDate" name="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd"/>
								<span id="txtToDateError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selAttendance">Attendance</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selAttendance" name="selAttendance" class="form-control">
                                    <option value="present">-- Present --</option>
                                    <option value="absent">-- Absent --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>    
            <div class="row">
                <!-- VIth row -->
                <div class="row" align="center">
                    <input type="button" value = "Search" id="btnSearch" class="btn_save">
                    <input type="button" value = "Reset" id="btnReset" class="btn_save">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Tab Buttons -->
        <!-- END Tab Buttons -->
    </form>
    <div class="row align-center">
        <h3 id="todayAbsentStaff">Today's absent list</h3>
    </div>
    <div style="margin-top:5%;" class="blackborder" id="attendanceList">
        <div class="table-responsive">
            <table id="tblSearchAttendanceList" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="20%">Satff Name</th>
                        <th class="text-center" width="10%">Date</th>
                        <th class="text-center" width="20%">Punch In</th>
                        <th class="text-center" width="20%">Punch Out</th>
                        <th class="text-center" width="10%">Duration</th>
                        <th class="text-center" width="20%">Remarks</th>
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
     <div style="margin-top:5%;" class="blackborder" id="absentList">
        <div class="table-responsive">
            <table id="tblAbsentList" class="table table-vcenter table-responsive table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="25%">Satff ID</th>
                        <th class="text-center" width="25%">Staff Name</th>
                        <th class="text-center" width="25%">Date</th>
                        <th class="text-center" width="25%">Status</th>
                    </tr>
                </thead>
            </table>
            <input id="selectedRow" type="hidden" value="0" />
        </div>
    </div>
</div>