<link rel="stylesheet" href="css/admin/stafftype.css">
<link href="css/jquery.dataTables.css" rel="stylesheet">
<link href="css/dataTables.jqueryui.css" rel="stylesheet">

 
<script src="script/admin/stafftype.js"></script>
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>	
<div class="block">
	<div class="block-title" >
		<h2><strong>Staff Type</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="staff_list">
                <h2 id="tab_staff"><i class="fa fa-bars fa-fw"></i>staff type list</h2>
                <h2 id="tab_add_staff" style="background:#fff; color:#000;">+add staff type</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive"><div class="header"></div>
					<div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div>
                    <table id="example-datatable" style="width:100% !important;" class="table table-vcenter table-condensed table-bordered ">
                        <thead>
                            <tr>
                               <!--  <th class="text-center" style="max-width:5%; width:5% !important;"/> -->
                                <th class="text-center" style="max-width:35%; width:35% !important;">Staff Type</th>
                                <th class="text-center" style="max-width:50%; width:50% !important;">Description</th>
								<th class="text-center" style="max-width:10%; width:10% !important;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>Gynecology</td>
                                <td>Patients who visited the hospital for this unit totaled 43.785 persons among whom 4.925 were delivery cases.</td>
                            </tr>
                            <tr>
                                <td>Gynecology</td>
                                <td>Pediatrics</td>
                                <td>Patients who visited the hospital for this unit totaled 32.190 persons.</td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Dentistry</td>
                                <td>Patients who visited the hospital for this unit totaled 29.565 persons</td>
								<td>
		                            <div class="btn-group">
		                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
		                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
		                            </div>
		                        </td>
                            </tr>
                        </tbody>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_staff">
                <div class="col-md-12">
                    <form method="post" id="form_submit_staff">
					<div id="popUPForm">
                        <div class="form-group" style="height: 7%;">
                            <label class="col-md-4 control-label" for="txtStaffType" style="width:33.33%; float:left;"> Staff Type<span class="text-danger">*</span></label>
                            <div class="input-group col-md-6" style="float:left;width:35%;">
                                <input type="text" id="txtStaffType" name="txtStaffType" class="form-control" maxlength="50">
                                <span id="txtStaffNameError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="txtStaffDesc">Description</label>
                            <div class="input-group col-md-6" style="float:left;width:35%;">
                               		<textarea id="txtStaffDesc" name="txtStaffDesc" rows="3" class="form-control ui-wizard-content"></textarea>
                                <span id="txtDescriptionError" class="error"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
						<input type="button" value="Update" class="add_staff btn_update" id="btnUpdate" style="display:none;" />
					</div>
                        <input type="button" value="Save" class="add_staff btn_save" id="btnAddStaff" name="submit" />
						<input type="reset" value="Reset" class="add_staff btn_reset" id="reset" name="submit" />
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->