<script src="./script/admin/userregis.js"></script>

<div class="block">
	<!-- Wizard with Validation Title -->
	<input type="hidden" id="getValueToChangeJs" value="0">

	<div class="block-title">
		<h2><strong>Staff &nbsp;Registration</strong></h2>
	</div>
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="userregisform" method="post" class="form-horizontal form-bordered" enctype='multipart/form-data'>
		<!-- First Step -->
		<div id="advanced-first" class="step">
			<div class="row"><!-- Ist row -->
				<div class="half_aligned" style="margin-top: 5%;">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Salutation">Salutation<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned" >
							<div class="">
								<select id="val_Salutation" name="val_Salutation" class="form-control val_Salutation" size="1"  style="max-width:38%;" autofocus>
									<option value="Mr.">Mr.</option>
									<option value="Mrs.">Mrs.</option>
									<option value="Ms.">Ms.</option>
									<option value="Dr.">Dr.</option>							
								</select>
								<span id="errorsalutation" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Patient Identity" >	</label>
						<div class="sixty_aligned">
							<div class="" >
								<div id="image-box" style="width: 100px; height:100px; border: 1px solid #C0C0C0;background-position: center; background-size: 100% 100%;display: inline-block; cursor: pointer;">
									<img id="user_reg_image" src="./img/default.jpg" alt="Default" style="position: relative;height: 98px;">
									<div id="imagetext" style="text-align: center;POSITION: relative; top: -37%;" >
										Click to Upload Image
									</div>                          
								</div>  
								<input type="file" id="upload" name="upload" class="hidden" accept="image/*"> 
							</div>
							<span id="errorimage" class="error"></span>
						</div>
					</div>
				</div>   
				
			</div><!-- end row -->

			<div class="row"><!-- Iind row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_FirstName">First Name<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_FirstName" name="val_FirstName" class="form-control" maxlength="50" required>
								<span id="errorfname" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>  
				 <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_LastName">Last Name<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_LastName" name="val_LastName" class="form-control" maxlength="50" required>
								<span id="errorlname" class="error"></span>
						   </div>
						</div>
					</div>
				</div>  				
			</div><!-- end row -->

			<div class="row"><!-- IIIrd Row  -->
			   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_DOB">Date Of Birth<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_DOB" style="    cursor: pointer;" name="val_DOB" class="form-control input-datepicker"  data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly>
								<span id="errordob" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Gender">Gender<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="val_Gender" name="val_gender" class="form-control val_gender" size="1" required>
									<option value="">--select--</option>
									<option value="M">Male</option>
									<option value="F">Female</option>
								</select>
								<span id="errorgender" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div><!-- end row -->

			<div class="row"><!-- IV th row -->
				
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="sel_val_martial">Marital Status
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="sel_val_martial" name="val_Martial" class="form-control val_martial" size="1" >
									<option value="">--select--</option>
									<option value="M">Married</option>
									<option value="U">Unmarried</option>
								</select>
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_join_date">Joining Date<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_join_date" name="val_join_date" style="    cursor: pointer;" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly>
								<span id="errorjoindate" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
			</div><!-- end row -->

			<div class="row"><!-- Vth Row -->
				
				<div class="half_aligned" style="width: 100%;">
					<div class="form-group">
						<label class="forty_aligned control-label reslabel" style="width: 18%;" for="val_Address">Address<span class="text-danger">*</span></label>
						<div class="sixty_aligned restext" style="width: 74%;">
							<div class="">
							   <input type="text" id="val_Address" name="val_address" class="form-control " required>
								<span id="erroraddress" class="error"></span>
							</div>
						</div>
					</div>
				</div>                              
			</div><!-- end row -->

			<div class="row"><!-- VI th row -->
			   
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="val_Country">Country<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="sel_val_Country" name="val_Country" class="form-control val_Country" size="1" required>
									<option value="">--select--</option>
									
									</select>
									<span id="errorcountry" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_State">State<span class="text-danger">*</span></label>
						<div class="sixty_aligned">
							<div class="">
								<select id="sel_val_State" name="val_State" class="form-control val_State" size="1" required>
									<option value="">--select--</option>
									
								</select>
								<span id="errorstate" class="error"></span>
							</div>
						</div>
					</div>
				</div>    
			</div><!-- end row -->

			<div class="row"><!-- VII th row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_City">City<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
							   <select id="sel_val_City" name="val_City" class="form-control val_City" size="1" required>
									<option value="">--select--</option>
								</select>
								<span id="errorcity" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				 <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_zipcode">Zipcode<span class="text-danger">*</span></label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_zipcode" name="reg_zipcode"  maxlength="15" class="form-control">
								<span id="errorcode" class="error"></span>
							</div>
							
						</div>
					</div>
				</div>                         
			 </div><!-- end row -->

			<div class="row"><!-- VIII th row -->
				 <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Email">Email<span class="text-danger">*</span>
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_Email" name="val_Email" class="form-control" maxlength="50"required>
								<span id="erroremail" class="error"></span>
							</div>
							
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="masked_phone">Mobile<span class="text-danger">*</span>
						</label>       
						<div class="fifteen_aligned">
							<div class="">
								<input type="text" id="mobileCode" name="val_addMobileCode" max="15" class="form-control ui-wizard-content valid" disabled>
							</div>
						</div>                         
						<div class="thirty_five_aligned">
							<div class="">
								<input type="number" id="masked_phone" name="val_addMobile" max="15" class="form-control ui-wizard-content valid val_moble">
								<span id="errormob" class="error"></span>
							</div>
							
						</div>
					</div><!--  form group-->
				</div>
				
			</div><!-- end row -->

			<div class="row"><!-- IX th row -->
			   <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="masked_phone_ext">Phone</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="masked_phone_ext" name="masked_phone_ext" 
								class="form-control ui-wizard-content valid" maxlength="15">
							</div>
						</div>
					</div>
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_referred">Referred By 
							
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_referred" name="val_referred" class="form-control" >
							</div>
						</div>
					</div>
				</div> 
				 
			</div><!-- end row -->

	   

		 
			<div class="form-group form-actions">
				<div class="col-md-8 col-md-offset-5">
					
					
					<input type="button" value="Next" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_next" id="next1"/>
					<input type="button" value="Reset" style="margin-right:10px;" id="reset" name="reset" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_reset"/>
					
				</div>
			</div>
		</div> <!-- End Fisrt block-->   
		
		<div id="advanced-Second" class="step"><!-- Start Second block--> 
			<div class="row"><!-- Ist row -->
				<div class="half_aligned" >
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_stafftype">Staff Type<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned" >
							<div class="">
								<select id="val_stafftype" name="val_stafftype" class="form-control val_stafftype" size="1"   autofocus>
									<option value=""></option>
									
								</select>
								<span id="errortype" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned" >
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_desig">Designation<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned" >
							<div class="">
								<select id="val_desig" name="val_desig" class="form-control val_desig" size="1"   required>
									<option value=""></option>
									
								</select>
								<span id="errordesignation" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
						
			</div><!-- end row -->

			<div class="row"><!-- Iind row -->
				
				<div class="half_aligned" >
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_dept">Department<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned" >
							<div class="">
								<select id="val_dept" name="val_dept" class="form-control val_dept" size="1"   required>
									<option value=""></option>
									
								</select>
								<span id="errordepartment" class="error"></span>
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Degree">Degree Held</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_Degree" name="val_Degree" class="form-control ">
							</div>
							<strong>E.g-  MD,MS </strong>
						</div>
						
					</div><!--  form group-->
				</div>  

			</div><!-- end row -->

			<div class="row"><!-- IV th row -->
				
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_username1"> Emergency Contact Person</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="val_username1" name="val_username" class="form-control" maxlength="15">
							</div>
						</div>
					</div>
				</div>  
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_emg_contct">Emergency Contact No.</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="number" id="val_emg_contct" name="val_emg_contct" 
								class="form-control ui-wizard-content valid" maxlength="15">
							</div>
						</div>
					</div>
				</div>
			</div><!-- end row -->
			<div class="row"><!-- XI th row -->
				
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_remarks">Remarks</label>
						<div class="sixty_aligned">
							<div class="">
								<textarea id="val_remarks" name="val_remarks" rows="3" class="form-control ui-wizard-content"></textarea>
							</div>
						</div>
					</div>
				</div>        
			</div><!-- end row -->                   
			<div class="form-group form-actions">
				<div class="col-md-8 col-md-offset-5">
					<input type="button" value="Back" style="margin-right:10px;" id="back" name="back" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_back"/>
					<input type="button" value="Register" name="submit" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_save" id="next2">
					<!-- Show this button when this going to open as pop in view staff -->
					<input type="button" value="Update" id="updateStaffInfo" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_save" style="display:none">
					<input type="button" value="Reset" name="reset" style="margin-right:10px;" id="reset1" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_reset"/>
				</div>
			</div>
		</div>   <!-- End Second block-->  
		
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
	<!-- END Wizard with Validation Block -->
	<div class="modal fade" id="myStaffRegModal" role="dialog">
		<a href="#myStaffRegModal" id="regStaffModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog" style="width:750px;">			
		  <!-- Modal content-->
			<div class="modal-content" style="width:100% !important;">
				<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
					<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
					<h4 id="regStaffModalLabel" style="color:white;"></h4>
				</div>
					<div class="" style="padding:10px;">
						<div class="row">
							<div class="" style="margin:0 auto;display:table;font-size:15px;">
								<div class="form-group">								        
									<div class="">
										<label id="success" class="control-label"></label>
									</div>
								</div><!--  form group-->
							</div> 
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label">Staff Id :</label>                 
									<div class="sixty_aligned">
										<div class="">
											<label id="lblUserId" class="control-label">
										</div>
									</div>
								</div><!--  form group-->
							</div> 
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label">Name :</label>                 
									<div class="sixty_aligned">
										<div class="">
											<label id="lblUserName" class="control-label">
										</div>
									</div>
								</div><!--  form group-->
							</div> 
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label">Email :</label>                 
									<div class="sixty_aligned">
										<div class="">
											<label id="lblEmail" class="control-label">
										</div>
									</div>
								</div><!--  form group-->
							</div> 
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label">Password :</label>                 
									<div class="sixty_aligned">
										<div class="">
											<label id="lblPassword" class="control-label">
										</div>
									</div>
								</div><!--  form group-->
							</div> 
						</div>
					</div>
				<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;display:block;">
					<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="OK" id="ok"  />
				</div> 
		  </div>			  
		</div>
	</div>
</div>
<!-- END Wizard with Validation Block -->

<!--Confirm  Modal -->
<div class="modal fade" id="confirmStaffModal" role="dialog">
	<div id="confirm_popup">
		<a href="#confirmStaffModal" id="myConfirmStaffModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog confirm-modal-style">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close-confirm" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="confirmStaffModalLabel"></h4>
				</div>
				<div class="modal-body" id="confirmStaffBody"><!-- Add one extra class to clear div for another modal -->					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn" data-dismiss="modal" aria-hidden="true"  value="Confirm" id="staffConfirm"  />
					<input type="button" class="btn" style="margin-bottom: 2px !important;" data-dismiss="modal" aria-hidden="true" value="Cancel" id="cancel" />
				</div>
		  </div>			  
		</div>
	</div>  
</div>


<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 49%;} 

    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}   
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	@media screen and (max-width: 480px) {
        .restext { max-width:50%; }
		.reslabel { min-width:39%; float: left;}
    }
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:38%;}
    }
	
	div#myUpdateStaffModel .block-title {
    display: none;
	}

	#val_FirstName{
		text-transform: capitalize;
	}
	#val_LastName{
		text-transform: capitalize;
	}
	.fifteen_aligned{
		width: 15% !important;
    	float: left;
	}
	.thirty_five_aligned{
		width: 35% !important;
    	float: left;
	}

</style>






