<!-- javascript code used only in this page for validation-->
<script src="script/admin/stocking.js"></script>
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<script src="script/jquery-ui.min.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>Stocking</strong></h2>
		<input type="hidden" id="itemId" name="thing" value="" />
		<input type="hidden" id="hdnFieldStockOrder" value="1">
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchPatient">
		<!-- Wizard with Validation Content -->
		<form id="viewPatientForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
					
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtItem">Item<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtItem" name="txtItem" class="form-control" autocomplete="off">
									<i id="iconStaffSearch" class="fa fa-search"></i>
									<span id="txtItemError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtQuantity">Quantity<span class="text-danger">*</span> </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="number" id="txtQuantity"  class="form-control" readonly maxlength="0">
									<span id="txtQuantityError" class="error"></span>
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->

					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtExpireDate">Expire Date<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtExpireDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd"maxlength="0" readonly="">
									<span id="txtExpireDateError" class="error"></span>
								</div>
								<label class="control-label" for="checkNA">N/A</label>                                
								<div class="sixty_aligned" style="padding: 10px 0 0 10px;}">
									<div class="">
										<input type="checkbox" id="checkNA" class="" name="" style="margin: 0;">
										<span id="checkNAError" class="error"></span>
									</div>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtShelfNo">Shelf No<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtShelfNo" class="form-control">
									<span id="txtShelfNoError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row --> 
				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtStockingDate">Stocking Date<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtStockingDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" maxlength="0">
									<span id="txtStockingDateError" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtNotes">Notes </label>                                
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
								</div>
							</div>
						</div><!--  form group-->
					</div>				
				</div><!-- end row -->   				
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Reset" class="opd_reg btn_save" 
					id="btnReset">
					<input type="button" value="Save" class="opd_reg btn_save" 
					id="btnSave">					
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">

				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblStocking" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="20%">Item</th>
							<th class="text-center" width="10%">Quantity</th>
							<th class="text-center" width="15%">Expire Date</th>
							<th class="text-center" width="15%">Shelf No</th>							
							<th class="text-center" width="20%">Stocking Date</th>
							<th class="text-center" width="20%">Notes</th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
</div>	
<!-- Modal for search item-->
<div class="modal fade" id="myItemModal" role="dialog">
	<input type="hidden" id="itemValue"/>
	<a href="#myItemModal" id="itemModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="itemModalLabel"></h4>
			</div>
			<div class="modal-body" id="itemModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<!--Confirm  Modal -->
<div class="modal fade" id="confirmCashModal" role="dialog">
	<div id="confirm_popup">
		<a href="#confirmCashModal" id="cashConfirmModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog" id="modal-dialog-style-3">			
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close-confirm" id="pop_up_close" data-dismiss="modal">×</button>
					<h4 id="confirmCashModalLabel"></h4>
				</div>
				<div class="modal-body">					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Confirm" id="btnconfirm" />
					<input type="button" class="btn" style="margin-bottom: 2px !important;" data-dismiss="modal" aria-hidden="true" value="Cancel" id="cancel" />
				</div>
		  </div>			  
		</div>
	</div>    
</div>	
<div class="modal fade" id="stockOrderDetails" role="dialog">
    <a href="#stockOrderDetails" id="" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="">Order Details</h4>
            </div>            
            <div class="myModaldata modal-body"></div>						
		</div><!--End modal-view -->           
    </div>
</div>
<!-- End modal -->
<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
.fa-search {
	float: right;
    margin-top: -24px;
    margin-right: 10px;
    cursor: pointer;
	}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}/*
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}*/
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
#myItemModal{
	width: 87%;
	margin-left: 13%;
}
#stockOrderDetails .block-title,#stockOrderDetails #searchsellerIcon{display: none;}
#confirmCashModal{
	width: 87%;
	margin-left: 13%;
}
#modal-dialog-style-3{
	width: 27%;
}
</style>