<div class="row block">
	<div class="block-title">
        <h2><strong>Summarized Expense</strong></h2>
    </div>
	<form class="form" id="reportForm" method="post">
		<div class="row form-horizontal form-bordered">
			<div class="form-group">				
				<div class="half_aligned">					
					<label class="forty_aligned control-label" for="fromDate">From Date</label>             
					<div class="sixty_aligned">
						<div class="">
							<input type="text" class="form-control input-datepicker" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" readonly="">
							<span id="txtFromDateError" class="error"></span>
						</div>
					</div>					
				</div>
				<div class="half_aligned">						
					<label class="forty_aligned control-label" for="toDate">To Date</label>             
					<div class="sixty_aligned">
						<div class="">
							<input type="text" name="toDate" id="toDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" readonly="">
							<span id="txtToDateError" class="error"></span>
						</div>
					</div>						
				</div>
				
			</div>	
		</div>		
		<div class="form-group form-actions" style="display: inline-block; width: 100%;">
			<div class="" style="text-align: center;">					
				<input type="button" value="View Report" id="viewReport" class="btn btn_save" />
			
				<input type="button" id="clear" value="Reset" class="btn btn_reset" />
			</div>
		</div>
	</form>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive" style="margin-top:20px;">
				<table id="summarizedExpenseTable" class="table table-vcenter table-responsive table-condensed table-bordered display">
					<thead>
						<tr>
							<th class="text-center" width="50%">Account/Vote Head</th>
							<th class="text-center" width="50%">Amount</th>
						</tr>
					</thead>					
				</table>
			</div>
		</div>
		<div class="col-lg-12 anlayseTransaction">
			<h2>Cash Analysis & Total</h2>
			<div class="cashAnalysis"></div>
		</div>	
</div>
<script type="text/javascript" src="script/admin/summarized_expense.js"></script>
<style type="text/css">
	.cashAnalysis tfoot {
	    border-top: 1px solid;
	    border-bottom: 2px solid;
	}
	.analysis-total{margin-top: 30px;border-top: 1px solid;border-bottom: 1px solid;}
	.analysis-total th {
	    margin: 0 10px;
	    display: inline-block;
	}
	table.main-anlysis {
	    margin: 30px 0;
	}
	.anlayseTransaction{display: none;margin-top: 50px;}
</style>