<div class="block">
    <div class="page-header">
        <h1>Supply Chain Management Dashboard</h1>
    </div>
    <div class="row">
        <!-- for visits -->
        <div class="control-group top-box">
            <div class="widget-header">
                <h4>Visits</h4>
            </div>
            <div style="clear:both;"></div>
            <div class="row">
                <div class="control-group middle-box">
                    <label class="control-label">Total Visits:</label>
                </div>
                <div class="control-group middle-box">
                    <label class="control-label" id="lblTotalVisits">0</label>
                </div>
            </div>
            <div class="row">
                <div class="control-group middle-box">
                    <label class="control-label">Today:</label>
                </div>
                <div class="control-group middle-box">
                    <label class="control-label" id="lblTodayVisits">0</label>
                </div>
            </div>
            <div class="row">
                <div class="control-group middle-box">
                    <label class="control-label">This Week:</label>
                </div>
                <div class="control-group middle-box">
                    <label class="control-label" id="lblWeekVisits">0</label>
                </div>
            </div>
            <div class="row">
                <div class="control-group middle-box">
                    <label class="control-label">This Month:</label>
                </div>
                <div class="control-group middle-box">
                    <label class="control-label" id="lblMonthVisits">0</label>
                </div>
            </div>
            <div class="row">
                <div class="control-group middle-box">
                    <label class="control-label">This Year:</label>
                </div>
                <div class="control-group middle-box">
                    <label class="control-label" id="lblYearVisits">0</label>
                </div>
            </div>
        </div>
        <!-- for bill paid -->
        <div class="control-group top-box">
            <div class="widget-header">
                <h4>Bill Paid</h4>
            </div>
            <div style="clear:both;"></div>
            <div class="row">
                <div class="control-group middle-box">
                    <label class="control-label">Total Bill Paid:</label>
                </div>
                <div class="control-group middle-box">
                    <label class="control-label" id="lblTotalBillPaid">0</label>
                </div>
            </div>

        </div>
        <!-- for unbill paid -->
        <div class="control-group top-box">
            <div class="widget-header">
                <h4>Unpaid Bill</h4>
            </div>
            <div style="clear:both;"></div>
            <div class="row">
                <div class="control-group middle-box">
                    <label class="control-label">Total Unpaid Bill:</label>
                </div>
                <div class="control-group middle-box">
                    <label class="control-label" id="lblTotalUnpaidBill">0</label>
                </div>
            </div>

        </div>
    </div>
    <div style="clear:both;"></div>
</div>
</div>
</div>