<link rel="stylesheet" href="css/admin/surgery.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 
<script src="script/admin/surgery.js"></script>
<div class="block">
    <div class="block-title" >
        <h2><strong>Surgery</strong></h2>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div id="divSurgery">
                <h2 id="tabSurgeryList"><i class="fa fa-bars fa-fw"></i>Surgery List</h2>
                <h2 id="tabSurgery" style="background:#fff; color:#000;">+Add Surgery</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
                    <div class="chk-active_inactive" ><label for="inactive-checkbox-tick">Inactive</label>
                        <input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
                    </div>
                    <table id="surgeryTable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <!-- <th class="text-center" style="max-width:5%; width:5% !important;">#</th> -->
                                <th class="text-center" width=30%>Name</th>
                                <th class="text-center" width=20%>Cost</th>
                                <th class="text-center" width="40%">Description</th>
                                <th class="text-center" width="10%"></th>
                            </tr>
                        </thead>
                    </table>
                    <input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  --> 
            <div id="formSurgery">
                <div class="col-md-12">
                    <form method="post" id="form_Ot_rooms" class="clearForm">
                    <div id="SurgeryPopUPForm">
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group" style="height: 7%;">
                                <label class="forty_aligned control-label" for="txtName">Name<span class="text-danger">*</span></label>
                                <div class="control-label sixty_aligned">
                                    <input type="text" id="txtName" name="txtName" class="form-control" >
                                    <span id="txtNameError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="half_aligned">    
                            <div class="form-group" style="height: 7%;">
                                <label class="control-label forty_aligned" for="txtCost">Cost<span class="text-danger">*</span></label>
                                <div class="control-label ten_aligned">
                                   <input type="text" id="txtValueBox" name="txtValueBox" class="form-control" style="text-align: center;">
                                </div>
                                <div class="control-label forty_aligned">
                                   <input type="number" id="txtCost" name="txtCost" class="form-control">
                                    <span id="txtCostError" class="error"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group" style="height: 7%;">
                                <label class="forty_aligned control-label" for="txtDesc">Description</label>
                                <div class="control-label sixty_aligned">
                                    <textarea id="txtDesc" name="txtDesc" rows="3" class="form-control ui-wizard-content"></textarea>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                    </div>

                    <div class="row" align="center">
                        <input type="button" value="Update" class="form-button btn_update" id="btnUpdate" style="display:none;" align="center" />
                        <input type="button" value="Save" class="form-button btn_save" id="btnSave" name="submit" />
                        <input type="button" value="Reset" class="form-button btn_reset" id="btnReset" name="" />
                    </div>
                    </form>
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->          
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->

<style>
    .ten_aligned{
        width: 10%;
        float: left
    }
</style>
