<!-- javascript code used only in this page for validation-->     
<script src="script/jQuery.print.min.js"></script>
<script src="script/admin/transaction_statement.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>Transaction Statement</strong></h2>
		<input type="hidden" id="thing" name="thing" value="" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchTransactionStatement">
		<!-- Wizard with Validation Content -->
		<input type="hidden" id="hdnId" value="" />
		<form id="searchTransactionStatementForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientId">Patient Id<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPatientId" name="txtPatientId" class="form-control"><i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
									<span id="errorPatientId" class="error"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFromDate">From Date</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtToDate">To Date</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->            
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Show" class="opd_reg btn_save" 
					id="btnShow">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="viewTransactionTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<!-- <th class="text-center" width="5%">#</th>
							 --><th class="text-center" width="20%">Patient Id</th>
							<th class="text-center" width="20%">Date</th>
							<th class="text-center" width="30%">Transaction Type</th>
							<th class="text-center" width="10%">Receipt No</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div> 
		<!-- end table  -->	
	</div>
</div>
<!-- modal for patient update-->
<div class="modal fade" id="myTransactionDetails" role="dialog">
	<a href="#myTransactionDetails" id="transactionDetails" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="transactionDetailsLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				<div class="print-body" id="PrintDiv">
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
				<input type="button" class="btn_save" id="printTransactionDetails" value="print"/>
			</div>
		</div>
		
	</div>
</div>
<div class="modal fade" id="myTransactionModal" role="dialog">
	<input type="hidden" id="hdnTransaction" value="1" />
	<a href="#myTransactionModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="searchModalLabel"></h4>
			</div>
			<div class="modal-body" id="searchModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<!-- End modal -->
<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
	#lblPrintPatient{text-transform: uppercase;}
    #printCashDetailss{
	    color: #fff;
	    padding: 4px 12px;
	    background: #0C71C8;
	    border: none;
	    border-radius: 3px;	    
	}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}
div#myAppointmentPatientModal .block-title { display: none;}
div#myInsuranceModal .block-title { display: none;}
div#myInvestigationModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
#print{float: right;margin-right: 2%;}
.fa-search{float: right;margin-top: -16%;margin-right: 3%;cursor: pointer;}
.modal-view {width: 800px !important;}
.center {margin: 0;display: table; position: initial;}
.search-modal-header {border-bottom: 1px solid #eee; border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
.fa-search {
    float: right;
    margin-top: -11% !important;
    margin-right: 3%;
    cursor: pointer;
}
#myTransactionModal{
	margin-left: 13%;
	width: 87%;
}
#myTransactionModal #viewPatientTable i.ui-tooltip.fa.fa-pencil.editPatient {
    display: none;
}
#myTransactionDetails{
	margin-left: 13%;
	width: 87%;
}
#myTransactionDetails #printTransactionDetails{
	display: none;
}
#searchModalBody #title{
	display: none;
}
</style>
 



