<link rel="stylesheet" href="css/admin/lab_type.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  	
<script src="script/admin/treatments.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Treatments</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="lab_type_list">
                <h2 id="tab_lab_type"><i class="fa fa-bars fa-fw"></i>Treatments list</h2>
                <h2 id="tab_add_lab_type" style="background:#fff; color:#000;">+Add Treatment</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder treatment">
                <div class="table-responsive">
					<div class="chk-active_inactive">
					<label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
					</div>
                    <table id="tblTreatments" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:45%; width:45% !important;">Price</th>
                                <th class="text-center" style="max-width:45%; width:45% !important;">Treatments</th>
                                <th class="text-center" width="10%"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <input type="button" value="Add" class="add_dept btn_save" id="btnAdd" style="display:none;" />
            <!-- end table  -->	
            <div id="form_dept">
                <div class="">
                    <form method="post" id="form_submit_dept">
						<div id="popUPFormLabType">
                            <div class="row">
                                <div class="half_aligned">
        							<div class="form-group" style="height: 7%;">
        								<label class="forty_aligned  control-label" for="txtPrice">Price<span class="text-danger">*</span></label>
        								<div class="sixty_aligned control-label" >
        									<input type="number" id="txtPrice" maxlength="50" class="form-control">
        									<span id="txtPriceError" class="error"></span>
        								</div>
        								<div class="clear"></div>
        							</div>
                                </div>
                                <div class="half_aligned">    
        							<div class="form-group">
        								<label class="control-label forty_aligned " for="txtTreatments">Treatment<span class="text-danger">*</span></label>
        								<div class="sixty_aligned control-label" style="float:left;">
        								
        									<textarea id="txtTreatments" name="txtTreatments" rows="2" class="form-control ui-wizard-content"></textarea>
        									<span id="txtTreatmentsError" class="error"></span>
        								</div>
        								<div class="clear"></div>
        							</div>
                                </div> 
                            </div>   
							<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
						</div>
						<input type="button" value="Save" class="add_dept btn_save" id="btnSave" name="submit" />
						<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset" name="" />
                    </form>
				
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->