<link rel="stylesheet" href="css/admin/triage.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/triage.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Nurse Station</strong></h2>
		<input type="hidden" id="thing" name="thing" value="0" />
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="triageForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textVisitId">Visit id<span class="text-danger">*</span></label>                                
                        <div class="sixty_aligned" style="width:28% !important;">
                            <div class="" style="position: relative;">
                                <i class="fa fa-search" id="serachIcon" style="cursor:pointer;"></i>
                                <input type="text" id="textVisitId" name="textVisitId"
                                class="form-control">
								<span id="textVisitIdError" class="error"></span>
                            </div>
                        </div>
                        <input type="button" value="Load" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button"
                      id="btnLoad">
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="imgPatientLogo">Patient Image </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <div id="imgPatientLogo" style="width: 100px; height:100px; border: 1px solid #C0C0C0;background-position: center;background-size:cover;display: inline-block; cursor: pointer;">
                                    <img id="imgPatient" src="./img/default.jpg" alt="Default" style="position: relative;height: 97px;">
                                </div>
                                <input type="file" id="upload" name="upload" class="hidden" accept="image/*"> 
                            </div>
                        </div>
                    </div>
                </div>  
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPatientId" name="txtPatientId" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selPatientType">Visit Type</label>
                        <div class="sixty_aligned">                                
                            <input type="text" id="selPatientType" name="selPatientType" class="form-control" size="1" disabled="disabled" readonly>
                        </div>                        
                    </div>                    
                </div>
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientName">Patient Name 
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtPatientName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
               <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Age</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_year" name="get_yr" 
                                    class="form-control" readonly placeholder="Years">
                                </div>
                            </div>
                            <div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
                                <div class="">
                                    <input type="text" id="txt_month" name="get_mon" 
                                    class="form-control" readonly placeholder="Month">
                                </div>
                            </div>
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_day" name="get_day" 
                                    class="form-control" readonly placeholder="Days">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->

            <div class="row"><!-- IV th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtGender">Gender
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtGender" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtVisitDate">Visit Date
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtVisitDate" name="txtVisitDate" class="form-control"  readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- V th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtWeight">Weight(kg)
                             
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="number" id="txtWeight" class="form-control">
                            </div>
                            <span id="txtWeightError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtTemprature">Temprature(&#8451)
                       
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="number" id="txtTemprature" name="txtTemprature" class="form-control">
                            </div>
                            <span id="txtTempratureError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VI th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtHeight">Height(cm)
                            
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="number" id="txtHeight" class="form-control">
                            </div>
                            <span id="txtHeightError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPulse">Pulse(B/min)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="number" id="txtPulse" name="txtPulse" class="form-control">
                            </div>
                            <span id="txtPulseError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VII th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBloodPressure">Blood Pressure(mm Hg)
                           
                        </label>
                       <div class="sixty_aligned">         
								<div class="input-group bloodPressure">
									<input type="number" id="txtSystolic" name="txtSystolic" placeholder="Systolic" class="form-control"/>
								</div>
								<div class="divideBloodGroup"><span>/</span></div>
								<div class="input-group bloodPressure">
									<input type="number" id="txtDiastolic" name="txtDiastolic" placeholder="Diastolic" class="form-control"/>
								</div>
							<span id="txtBloodPressureError" class="error"></span>
						</div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtHeadCircumference">Head Circumference(cm)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="number" id="txtHeadCircumference" name="txtHeadCircumference" class="form-control">
                            </div>
                            <span id="txtHeadCircumferenceError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VIII th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBodySurfaceArea">Body Surface Area(cm)
                            
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="number" id="txtBodySurfaceArea" class="form-control">
                            </div>
                             <span id="txtBodySurfaceAreaError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtRespirationRate">Respiration Rate(B/min)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="number" id="txtRespirationRate" name="txtRespirationRate" class="form-control">
                            </div>
                            <span id="txtRespirationRateError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- IX th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtOxygenSaturation">Oxygen Saturation(%)
                             
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="number" id="txtOxygenSaturation" class="form-control">
                            </div>
                            <span id="txtOxygenSaturationError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtHeartRate">Heart Rate(B/min)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="number" id="txtHeartRate" name="txtHeartRate" class="form-control">
                            </div>
                            <span id="txtHeartRateError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>    

            </div><!-- end row -->
            <div class="row"><!-- X th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBMI">BMI(kg/m<sup>2</sup>)
                             
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="number" id="txtBMI" class="form-control" readonly>
                            </div>
                            <span id="txtBMIError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtNotes">Notes
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->
            <div class="form-group form-actions buttons">
                <input type="button" value="Update" class="opd_reg btn_save" id="btnSubmit">
                <input type="reset" value="Reset" class="opd_reg btn_reset" id="btnReset">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myTriageModal" role="dialog">
	<a href="#myTriageModal" id="triageModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="triageModalLabel"></h4>
			</div>
			<div class="modal-body" id="triageModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>
<style>
.error {
    height: 0px;
}
</style>





