<link rel="stylesheet" href="css/admin/triage.css">
<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/triage_general.js"></script>
<div class="block">
    <!-- Wizard with Validation Content -->
    <form id="triageForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- V th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtWeight">Weight(kg)</label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtWeight" class="form-control">
                            </div>
                            <span id="txtWeightError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtTemprature">Temprature(&#8451)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtTemprature" name="txtTemprature" class="form-control">
                            </div>
                            <span id="txtTempratureError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VI th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtHeight">Height(cm)
                             
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtHeight" class="form-control">
                            </div>
                            <span id="txtHeightError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPulse">Pulse(B/min)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPulse" name="txtPulse" class="form-control">
                            </div>
                            <span id="txtPulseError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VII th row -->
                 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBloodPressure">Blood Pressure(mmhg)
                           
                        </label>
                       <div class="sixty_aligned">
							<div class="" style = "display: flex;width: 45%;">                                
								<div class="input-group">
									<input type="text" id="txtSystolic" name="txtSystolic" placeholder="Systolic" class="form-control"/>
								</div>
								<span style="font-size:27px;">&nbsp;/&nbsp;</span>
								<div class="input-group">
									<input type="text" id="txtDiastolic" name="txtDiastolic" placeholder="Diastolic" class="form-control"/>
								</div>
							</div>
							<span id="txtBloodPressureError" class="error"></span>
						</div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtHeadCircumference">Head Circumference(cm)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtHeadCircumference" name="txtHeadCircumference" class="form-control">
                            </div>
                            <span id="txtHeadCircumferenceError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- VIII th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBodySurfaceArea">Body Surface Area(cm)
                            
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtBodySurfaceArea" class="form-control">
                            </div>
                             <span id="txtBodySurfaceAreaError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtRespirationRate">Respiration Rate(B/min)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtRespirationRate" name="txtRespirationRate" class="form-control">
                            </div>
                            <span id="txtRespirationRateError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->

            <div class="row"><!-- IX th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtOxygenSaturation">Oxygen Saturation(%)
                             
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtOxygenSaturation" class="form-control">
                            </div>
                            <span id="txtOxygenSaturationError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtHeartRate">Heart Rate(B/min)
                        
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtHeartRate" name="txtHeartRate" class="form-control">
                            </div>
                            <span id="txtHeartRateError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>    

            </div><!-- end row -->
            <div class="row"><!-- X th row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtBMI">BMI(kg/m<sup>2</sup>)
                             
                        </label>
                        <div class="sixty_aligned">
                            <div class="">                                
                                <input type="text" id="txtBMI" class="form-control" readonly>
                            </div>
                            <span id="txtBMIError" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtNotes">Notes
                        </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>                       
            </div><!-- end row -->
            <div class="form-group form-actions buttons">
                <input type="button" value="Update" class="opd_reg btn_save" id="btnSubmit">
                <input type="button" value="Reset" class="opd_reg btn_reset" id="btnResetTriage">
            </div>
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- END Wizard with Validation Block -->


<!-- Modal for search patient-->
<div class="modal fade" id="myTriageModal" role="dialog">
	<a href="#myTriageModal" id="triageModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="triageModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="triageModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myVisitModal" role="dialog">
	<a href="#myVisitModal" id="visitModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>





