<link rel="stylesheet" href="css/admin/units.css"> 
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<script src="script/admin/units.js"></script>

<div class="block">
	<div class="block-title" >
		<h2><strong>Units</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="Units_list">
                <h2 id="tab_Units"><i class="fa fa-bars fa-fw"></i>Units list</h2>
                <h2 id="tab_add_Units" style="background:#fff; color:#000;">+add Unit</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive">
					<label for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" 
                        class="inactive-checkbox" name="">
					</div>
                    <table id="unitsTable" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                
                                <th class="text-center" style="max-width:30%;  width:30% !important;">Unit Name</th>
                                <th class="text-center" style="max-width:25%; width:25% !important;">Unit Abbreviation</th>
                                <th class="text-center" style="max-width:35%; 
                                 width:35% !important;">Description</th>
                                <th class="text-center" style="max-width:10%; 
                                 width:10% !important;"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept">
						<div id="popUPFormUnits">
							<div class="form-group">
								<div class="row">
									<div class="half_aligned">
										<label class="forty_aligned control-label" for="txtUnitName">Unit Name<span class="text-danger">*</span></label>
										<div class="sixty_aligned control-label" style="float:left;">
											<input type="text" id="txtUnitName" maxlength="50" class="form-control">
											<span id="txtUnitNameError" class="error"></span>
										</div>
										<div class="clear"></div>
									</div>
									<div class="half_aligned">
										<label class="forty_aligned control-label" for="txtUnitAbbreviation">Unit Abbreviation<span class="text-danger">*</span></label>
										<div class="sixty_aligned control-label" style="float:left;">
											<input type="text" id="txtUnitAbbreviation" maxlength="20" class="form-control">
											<span id="txtUnitAbbreviationError" class="error"></span>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="row">
									<div class="half_aligned">
										<label class="forty_aligned control-label" for="val_dept_desc">Description</label>
										<div class="sixty_aligned control-label" style="float:left;">
									
											<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
											<span id="txtDescriptionError" class="error"></span>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<input type="button" value="Update" class="add_dept" id="btnUpdate" style="display:none;" />
						</div>
						<input type="button" value="Save" class="add_dept btn_save" id="btnSave" name="submit" />
						<input type="reset" value="Reset" class="add_dept btn_reset" id="btnReset" name="submit" />
                    </form>
				
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->