<!-- javascript code used only in this page for validation-->
<script src="script/admin/view_reports.js"></script>     
<script src="script/jQuery.print.min.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
	 <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>View Reports</strong></h2>
    </div>
	<input type="hidden" id="thing" name="thing" value="" />
    <!-- END Wizard with Validation Title -->
	<div id="searchReports">
		<!-- Wizard with Validation Content -->
		<form id="searchReportsForm" method="post" class="form-horizontal form-bordered searchReportsForm">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row">
					<!-- IIIrd row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDate">Date<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="txtLeavePeriod" name="txtLeavePeriod" class="form-control" size="1"><option value="">-- Select --</option><option value="1">1</option><option value="2">2016-01-01 - 2016-12-31</option></select>
									<span id="txtLeavePeriodError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
				</div>
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:5%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblSearchReports" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="15%">Leave Type</th>
							<th class="text-center" width="15%">Entitlements</th>
							<th class="text-center" width="20%">Leave Pending Approval</th>
							<th class="text-center" width="15%">Leave Schedule</th>
							<th class="text-center" width="15%">Leave Taken</th>
							<th class="text-center" width="15%">Balance</th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
</div>

<!-- End modal -->
<style type="text/css">
   input[type="checkbox"]{margin: 5px 14px 0 9px;};
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
</style>