<link href="css/jquery.dataTables.css" rel="stylesheet"> 
<link href="css/dataTables.jqueryui.css" rel="stylesheet">
<link rel="stylesheet" href="css/admin/view_staff.css">

<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!--Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>

<script src="script/admin/view_staff.js"></script>

<div class="block">

	<input type="hidden" id="getValueToChangeJs" value="0">
	<input type="hidden" id="dataTableHiddenId" value="0">

    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>View Staff</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchVisit"><!-- search staff on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewStaffForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first1" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Ist row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtStaffId">Staff Id</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtStaffId" name="txtStaffId" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFirstName" name="txtFirstName" class="form-control">
								</div>
							</div>
						</div>
					</div>
				</div><!-- end row -->  

				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtLastName">Last Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtLastName" name="txtLastName" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selDesignation">Designation
							</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selDesignation" name="selDesignation" class="form-control" size="1">
										<option value="-1">--Select--</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end row -->  

				<div class="row"><!-- IIIrd row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selStaffType">Staff Type
							</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="selStaffType" name="selStaffType" class="form-control" size="1">
										<option value="-1">--Select--</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtMobile">Mobile</label>
							<div class="sixty_aligned">
								<div class="">
								   <input type="text" id="txtMobile" name="txtMobile" class="form-control">
								</div>
							</div>
						</div>
					</div>
					
				</div><!-- end row -->                  
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" align="center">
					<input type="button" value="Search" class="btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
		<div class="chk-active_inactive" style=" display:none;">
			<label for="inactive-checkbox-tick" id="checklabel">Inactive</label>
				<input type="checkbox" id="inactive-checkbox-tick" 
				class="inactive-checkbox" name="">
		</div>
					
			<div class="table-responsive" style="margin-top:20px;">				
				<table id="viewStaffTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="10%">Staff Id</th>
							<th class="text-center" width="20%">Staff Type</th>
							<th class="text-center" width="20%">Designation</th>
							<th class="text-center" width="20%">Name</th>
							<th class="text-center" width="20%">Mobile</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div><!-- End view visit -->
</div>
<!-- END Wizard with Validation Block -->

<!-- show modal -->
<div class="modal fade" id="myStaffModel" role="dialog">
    <a href="#myStaffModel" id="staffModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="staffModelLabel"></h4>
            </div>
            <div class="" style="margin: 1% 5% 5% 5%;">
                <div class="">
					<div class="row">
						<label class="forty_aligned control-label" for="val_Patient Identity" >	</label>
						<div class="sixty_aligned">
							<div class="" >
								<div id="imagebox">
									<img id="userreimage" src="./img/default.jpg" alt="Default">                       
								</div>  
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Staff Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblStaffId" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblName" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>

					<div class="row">						
						
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Designation :</label>
								<div class="sixty_aligned">
									<div class="">
										<label id="lblDesignation" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Staff Type :</label>        
								<div class="sixty_aligned">
									<div class="">
										<label id="lblStaffType" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Mobile :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblMobile" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Marital Status :</label>         
								<div class="sixty_aligned">
									<div class="">
										<label id="lblMartialStatus" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>						
					</div>

					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">DOB :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblDOB" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Gender :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblGender" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>

					<!-- wfwerfw -->

					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Joining Date :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblJod" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Department :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblDept" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>

					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Country :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblCountry" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">State :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblState" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>
					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">City :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblCity" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Zipcode :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblZipcode" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>
					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Reffered By :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblRefferedBy" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Degree held :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblDegree" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>
					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Emg. Contact person :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblEmergencyPerson" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Emg. Contact No. :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblEmergencyNo" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 
					</div>
					<div class="row">						 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Remarks :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblRemarks" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>	
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Phone :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPhone" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>						
					</div>					
					<!-- jkrfgvehkrfg -->

					<div class="row">
						
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Address :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAddress" class="control-label"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Email Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblEmail" class="control-label"></label>
									</div>
								</div>
							</div>
						</div> 						
					</div>
					
				</div>
			</div>	
		</div><!--End modal-view -->            
    </div>
</div>


<!-- Modal to update staff info -->

<div class="modal fade" id="myUpdateStaffModel" role="dialog">
    <a href="#myUpdateStaffModel" id="updateStaffModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">         
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="updateStaffModelLabel"></h4>
            </div>
            <div class="modal-body edit-modal-body">
                
			</div>	
		</div><!--End modal-view -->              
    </div>
</div>