<link rel="stylesheet" href="css/admin/consultant.css">     
<script src="script/jQuery.print.min.js"></script>
<script src="script/admin/view_attendance.js"></script>
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>View Attendance</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
    <!-- Wizard with Validation Content -->
    <form id="leaveApplyForm" method="post" class="form-horizontal form-bordered leaveApplyForm">
        <!-- First Step -->
        <div id="advanced-first" class="step advanced-first">
           <div class="row">
                <!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFromDate">From Date<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd">
								<span id="txtFromDateError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtToDate">To Date<span class="text-danger">*</span></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtToDate" name="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder = "yyyy-mm-dd"/>
								<span id="txtToDateError" class="error"></span>
							</div>
                        </div>
                    </div>
                    <!--  form group-->
                </div>
            </div>
            <!-- end row -->  
            
            <div class="row">
                <!-- VIth row -->
                <div class="" style="width: 20%; margin: 0 auto;">
                    <input type="button" value = "Search" id="btnSearch" class="btn_save">
                    <input type="button" value = "Reset" id="btnReset" class="btn_save">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Tab Buttons -->
        <!-- END Tab Buttons -->
    </form>
    <div style="margin-top:5%;" class="blackborder">
            <div class="table-responsive">
                <table id="tblSearchAttendanceList" class="table table-vcenter table-responsive table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" width="15%">Date</th>
                            <th class="text-center" width="20%">Punch In</th>
                            <th class="text-center" width="20%">Punch Out</th>
                            <th class="text-center" width="30%">Remarks</th>
                            <th class="text-center" width="15%">Duration</th>
                        </tr>
                    </thead>
                </table>
                <input id="selectedRow" type="hidden" value="0" />
            </div>
        </div>
</div>