<link rel="stylesheet" href="css/admin/lab_test_request.css">       
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<!-- javascript code used only in this page for validation-->

<script src="script/admin/view_lab_result.js"></script>
<div class="block">
<div class="block-title">
        <h2><strong>View Lab Test Result</strong></h2>
    </div>
    <!-- Wizard with Validation Content -->
    <form id="labRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
		
			<div class="row"><!-- Iind row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtPatientId" name="txtPatientId" class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtVisitid">Visit Id</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtVisitid" name="txtVisitid" class="form-control">
							</div>
						</div>
					</div>
				</div> 
			</div><!-- end row -->

			<div class="row"><!-- IIIrd Row  -->

				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtPatientName">Patient Name</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtPatientName" class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div><!-- end row --> 

			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div style="text-align: center;">
					<input type="button" value="Search" class="btn_save" id="btnSearch">
				</div>
			</div>

			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<table id="labResultsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="10%">Visit Id</th>
								<th class="text-center" width="10%">Patient Id</th>
								<th class="text-center" width="20%">Patient Name</th>
								<th class="text-center" width="20%">Test Name</th>
								<th class="text-center" width="30%">Report</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
							
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		<!-- end table  -->	
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>


<div class="modal fade" id="myLabTestModal" role="dialog">
	<a href="#myLabTestModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb;">
				<button type="button" class="close" data-dismiss="modal"><div id="popUpClose">X</div></button>
				<h4 id="myLabTestModalBodyLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="myLabTestModalBody">
				<input type="hidden" id="getVisitId">
				<input type="hidden" id="getPatientId">
				<input type="hidden" id= "getDate">
				<input type="hidden" id="getPatientName">
				<i class='fa fa-print Print' id ="printLabTestDetails" title='Print'></i>
				<table id="labResultsViewTable" class="table table-vcenter table-responsive table-condensed table-bordered display">
					<thead>
						<tr>
							<th class="text-center" width="30%">Test Name</th>
							<th class="text-center" width="30%">Component Name</th>
							<th class="text-center" width="20%">Result</th>
							<th class="text-center" width="20%">Normal Range</th>
						</tr>
					</thead>
				</table>
				<div style="display: inline-block;margin-top: 7%;margin-bottom: 0;">
					<label>Report:</label><label id="individualReport"></label>
				</div>			
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>


<div class="print-body display-print" id="PrintLabTest" >
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
	<div class="printTitle centerAlign">
		 <div class="row">
			<h2>Lab Test Result</h2>
		</div>
	</div>
	<div class="row">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Visit Id :</label>
			</div>
			<div class="">
				<label class="half_aligned control-label" id="lblPrintVisitId"> <label>
				</label></label>
			</div>
		</div>
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Id:</label>
			</div>
			<div>
				<label class="forty_aligned control-label" id="lblPrintPatientId"></label>
			</div>
		</div>
	</div>	
	<div class="row margin-bottom-4">
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Patient Name :</label>
			</div>
			<div>
				<label class="half_aligned control-label" id="lblPrintPatient"></label>
			</div>
		</div>	
		<div class="half_aligned">
			<div class="">
				<label class="forty_aligned control-label">Visit Date :<label>
			</div>
			<div class="">
				<label class="half_aligned control-label" id="lblPrintVisitDate" style="padding: 0;"><label>
			</div>
		</div>			
	</div>
	<div id="printContainerTable">
		
	</div>	
	
</div>
<style>
@media print {
    #PrintLabTest { display: block !important; }
}
#codexplBody{border-right: 1px solid;border-left: 1px solid;}
#PrintLabTest{
	border: 1px solid #eee;
    margin: 0 auto;

    display: block;
	}
table#codexpl {
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    margin-bottom: 4%;
}
.centerAlign{
	margin:0 auto;
	display:table;
}
label#individualReport {
    padding: 0 18px;
}
#popUpClose{width: 21px;}
.printContent{
    font-size: 16px;
	border: 1px solid #aaa;
    padding: 1% 0 0 4%;
    width: 80%;
    margin: 0 auto;
}
table#codexpl tr td {
    text-align: center;
}
div#printContainerTable label {
    font-size: 15px;
    text-transform: capitalize;
}
td.removeBorder {
    border-bottom: none !important;
}
#myLabTestModal{
	width: 87%;
    margin-left: 13%;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
    #printMyModal{visibility: hidden;}
    #myLabTestModal ,#oldHistoryModalDetails{visibility: hidden;}
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   #myReceiveOrderModal{visibility: hidden;}
   .block-title { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​


</style>
<!-- END Wizard with Validation Block -->