<!-- javascript code used only in this page for validation-->     
<script src="script/jQuery.print.min.js"></script>
<script src="script/admin/view_patients.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>View Patients</strong></h2>
		<input type="hidden" id="thing" name="thing" value="" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchPatient">
		<!-- Wizard with Validation Content -->
		<form id="viewPatientForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFirstName" name="txtFirstName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtLastName">Last Name </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtLastName" name="register_lastname"
									class="form-control">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->

					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDOB">DOB</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtDOB" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtMobile">Mobile </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="number" value="" id="txtMobile" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->            
				<div class="row"><!-- IV th row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtEmail">Email </label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtEmail" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div><!-- end row -->
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="viewPatientTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<!-- <th class="text-center" width="5%">#</th>
							 --><th class="text-center" width="20%">Patient Id</th>
							<th class="text-center" width="20%">Name</th>
							<th class="text-center" width="15%">DOB</th>
							<th class="text-center" width="15%">Mobile</th>
							<th class="text-center" width="20%">Email</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
	<div class="" id="searchPatientdetail" style="display:none;" >
		<div class="row">
			<input type="button" value="Back To List" class="btn_back_list" id="btnBackToList">
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Patient Id :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblPatientId" class="control-label">N/A<label>
						</div>
					</div>
				</div><!--  form group-->
			</div> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Patient Name :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblPatientName" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">DOB :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblDOB" class="control-label">N/A<label>
						</div>
					</div>
				</div> 
			</div> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Age :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblAge" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row">			
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Gender :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblGender" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div> 			
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Email :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblEmail" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Country :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblCountry" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div>
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">State :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblState" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">City :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblCity" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div>
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Zip Code :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblZipCode" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Mobile :</label>   
					        
					<div class="sixty_aligned">
						<div class="">
							<label id="lblMobile" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div>
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Address :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblAddress" class="control-label">
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Phone :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblPhone" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Next of Kin :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblCo" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row"> 
			<div class="half_aligned">
				<div class="form-group">
					<label class="forty_aligned control-label">Kin Phone :</label>                 
					<div class="sixty_aligned">
						<div class="">
							<label id="lblCoPhone" class="control-label">N/A<label>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="form-group form-actions buttons btnPatientHospitalization" style="display:none;margin-left: 12% !important;">
			<input type="button" value="Confirm" class="opd_reg btn_save" id="btnConfirmButton">
			<input type="button" value="Select Again" class="opd_reg btn_save" id="btnSelectAgain">
			<input type="reset" value="Cancel" class="opd_reg btn_reset" id="btnCancel">
		</div>
	</div> 
</div>
<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myPatientModal" role="dialog">
	<a href="#myPatientModal" id="patientModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header">
				<button type="button" class="closeSubPatientMpdal" onclick=closePatientModal()><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			
			<div class="" style="padding:15px;">
				<div class="row">
					
					<div class="">
						
						<label class="forty_aligned control-label" for="val_Patient Identity" >	</label>
						<div class="sixty_aligned">
							<div class="" >
								<div id="image-box" style="width: 100px; height:100px; border: 1px solid #C0C0C0;background-position: center; background-size: 100% 100%;display: inline-block; cursor: pointer;">
									<img id="user_reg_image"  alt="Default" style="position: relative;height: 98px;">
									<div id="imagetext" style="text-align: center;POSITION: relative; top: -37%;" >
										Click on Upload Image
									</div>                          
								</div>  
								<!-- <input type="file" id="upload" name="upload" class="hidden" accept="image/*"> --> 
							</div>
							
						</div>
						
					</div> 
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Patient Id :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblPatientId" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Patient Name :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblPatientName" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">DOB :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblDOB" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Age :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblAge" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div>
				<div class="row">						 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Gender :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblGender" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Email :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblEmail" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div>
				<div class="row">						 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Mobile :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblMobile" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Address :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblAddress" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div>
				<div class="row">						
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Country :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblCountry" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">State :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblState" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div>
				<div class="row"> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">City :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblCity" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Zip Code :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblZipCode" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Phone :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblPhone" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Next of Kin :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblCo" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Kin Phone :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblCoPhone" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label">Family Account Number :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblFan" class="control-label"></label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div>					  
			</div>
	    </div>			  
	</div>
</div>

<!-- modal for patient update-->
<div class="modal fade" id="myPatientUpdate" role="dialog">
	<a href="#myPatientUpdate" id="patientUpdate" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="patientUpdateLabel" style="color:white;"></h4>
			</div>
			
				<form id="patientregisform" method="post" class="form-horizontal form-bordered">
				<!-- First Step -->
					<div id="advanced-first" class="step" style="padding:15px;">
					<!-- Step Info -->
						<div class="row"><!-- Ist row -->
							<div class="half_aligned" style="margin-top: 5%;">
								<div class="form-group">
									<label class="forty_aligned control-label" for="val_Salutation">Salutation<span class="text-danger">*</span></label>                                
									<div class="sixty_aligned" >
										<div class="">
											<select id="val_Salutation" name="val_Salutation" class="form-control val_Salutation" size="1"  style="max-width:66%;" autofocus>
												<option value="Mr.">Mr.</option>
												<option value="Mrs.">Mrs.</option>
												<option value="Ms.">Ms.</option>
												<option value="Dr.">Dr.</option>
											</select>
											<span id="errorsalutation" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div><!--  form group-->
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="val_Patient Identity" >	</label>
									<div class="sixty_aligned">
										<div class="" >
											<div id="image-box" style="width: 100px; height:100px; border: 1px solid #C0C0C0;background-position: center; background-size: 100% 100%;display: inline-block; cursor: pointer;">
												<img id="user_reg_image" src="./img/default.jpg" alt="Default" style="position: relative;height: 98px;">
												<div id="imagetext" style="text-align: center;POSITION: relative; top: -37%;" >
													Click to Upload Image
												</div>                          
											</div>  
											<input type="file" id="upload" name="upload" class="hidden" accept="image/*"> 
										</div>
										<span id="errorimage" style="color:#a94442;margin-top:8px;display:none;"></span>
									</div>
								</div>
							</div> 
						</div>
						<div class="row"><!-- Ist row -->
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtFirstName">First Name<span class="text-danger">*</span>
									</label>                                
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="txtFirstName" name="txtFirstName" class="form-control" maxlength="50"
											required>
											<span id="errorfname" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div><!--  form group-->
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtLastName">Last Name<span class="text-danger">*</span>
									</label>
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="txtLastName" name="txtLastName" maxlength="50"
											class="form-control" required>
											<span id="errorlname" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div>
							</div>   
		
						</div><!-- end row -->

						<div class="row"><!-- Ist row -->
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtMiddleName">Middle Name
									</label>
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="txtMiddleName" name="txtMiddleName" maxlength="50"
											class="form-control">
										</div>
									</div>
								</div>
							</div>   
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtGender">Gender<span class="text-danger">*</span>
									</label>                                
									<div class="sixty_aligned">
										<div class="">
											<select id="txtGender" name="txtGender" class="form-control" size="1">
												<option value="">Please select</option>
												<option value="M">Male</option>
												<option value="F">Female</option>
											</select>
											<span id="errorgender" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div><!--  form group-->
							</div>
							
						</div><!-- end row -->
						<div class="row"><!-- IInd Row  -->

							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label " for="txt_DOB">Date Of Birth<span class="text-danger">*</span></label>                                
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="txt_DOB" name="txt_DOB" class="form-control input-datepicker val_DOB"
											 data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly style="cursor: pointer;" required>
											 <span id="errordob" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div><!--  form group-->
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtAge">Age 
									  
									</label>
									<div class="sixty_aligned">
										<div class="thirty_aligned">
											<div class="">
												<input type="text" id="txt_year" tabindex="-1" name="get_yr" 
												class="form-control" readonly><br>Years
											</div>
										</div>
										<div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
											<div class="">
												<input type="text" id="txt_month"tabindex="-1" name="get_mon" 
												class="form-control" readonly><br>Month
											</div>
										</div>
										<div class="thirty_aligned">
											<div class="">
												<input type="text" id="txt_day" tabindex="-1" name="get_day" 
												class="form-control" readonly><br>Days
											</div>
										</div>
									</div>
								</div>
							</div>    
						</div><!-- end row -->

						
						<div class="row"><!-- IVth Row -->  
							<div class="half_aligned" style="width: 100%;">
								<div class="form-group">
									<label class="forty_aligned control-label reslabel" style="width: 18%;" for="txtAddress">Address</label>
									<div class="sixty_aligned restext" style="width: 71%;">
										<div class="">
										   <input type="text" id="txtAddress" name="txtAddress" class="form-control ">
										   <span id="erroraddress" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div>
							</div>                              
						</div><!-- end row -->
						<div class="row"><!-- V th row -->
						   
								<div class="half_aligned">
									<div class="form-group">
										<label class="forty_aligned control-label" for="txtCountry">Country<span class="text-danger">*</span></label>                                
										<div class="sixty_aligned">
											<div class="">
												<select id="txtCountry" name="txtCountry" class="form-control val_Country" size="1" required>
												
												</select>
												<span id="errorcountry" style="color:#a94442;margin-top:8px;display:none;"></span>
											</div>
										</div>
									</div><!--  form group-->
								</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtState">State<span class="text-danger">*</span></label>
									<div class="sixty_aligned">
										<div class="">
											<select id="txtState" name="txtState" class="form-control val_State" size="1" required>
												
											</select>
											<span id="errorstate" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div>
							</div>    
						</div><!-- end row -->

						<div class="row"><!-- VI th row -->
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtCity">City<span class="text-danger">*</span></label>                                
									<div class="sixty_aligned">
										<div class="">
										   <select id="txtCity" name="txtCity" class="form-control val_City" size="1" required>
												
											</select>
											<span id="errorcity" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div><!--  form group-->
							</div>
							 <div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtzipcode">Zipcode<span class="text-danger">*</span></label>
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="txtzipcode" name="txtzipcode" class="form-control" maxlength="20" required>
											<span id="errorcode" style="color:#a94442;margin-top:8px;display:none;"></span>
										</div>
									</div>
								</div>
							</div>                         
						 </div><!-- end row -->

						 <div class="row"><!-- III rd row -->
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtEmail">Email
										
									</label>                                
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="txtEmail" name="txtEmail" class="form-control" maxlength="50">
											
										</div>
									</div>
								</div><!--  form group-->
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtmob">Mobile<span class="text-danger">*</span>
									</label>
									<div class="fifteen_aligned">
				                        <div class="">
				                           <input type="text" id="mobileCode" name="val_addMobileCode" max="15" class="form-control ui-wizard-content valid" disabled>
				                        </div>
				                    </div>                                
									<div class="thirty_five_aligned">
										<div class="">
											<input type="number" id="txtmob" name="txtmob" 
											class="form-control" maxlength="15">
											<span id="errormob" style="color:#a94442; position:relative; top:5px;"></span>
										</div>
									</div>
								</div><!--  form group-->
							</div>
						</div><!-- end row -->

						<div class="row"><!-- VII th row -->							 
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtphone">Phone</label>
									<div class="sixty_aligned">
										<div class="">
											<input type="number" id="txtphone" name="txtphone" maxlength="15" 
											class="form-control ui-wizard-content valid" >
										</div>
									</div>
								</div>
							</div> 							 
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtFamilyHead">Family Head</label>
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="txtFamilyHead" name="txtFamilyHead" maxlength="15" 
											class="form-control ui-wizard-content valid" readonly>
										</div>
									</div>
								</div>
							</div> 							
						</div><!-- end row -->
						<div class="row"><!-- VIII th row -->
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="val_CO">Next of Kin</label>                                
									<div class="sixty_aligned">
										<div class="">
											<input type="text" id="val_CO" name="val_CO" class="form-control" maxlength="50" >
										</div>
									</div>
								</div><!--  form group-->
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="val_COPhoneNo">Kin Phone No.</label>
									<div class="sixty_aligned">
										<div class="">
											<input type="number" id="val_COPhoneNo" name="val_COPhoneNo" class="form-control" maxlength="20" >
										</div>
									</div>
								</div>
							</div>    
						</div><!-- end row -->
					</div>
					<!-- Form Buttons -->
					<div class="form-group form-actions" style="text-align:center;">						
						<input type="button" value="Update" data-id="+id+" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_save " 
						id="updatePatient">
						<input type="reset" value="Reset" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button btn_reset" 
						id="resetPatient">
						
					<!-- END Form Buttons -->
				</form>
				<!-- END Wizard with Validation Content -->
			</div>
		
		<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
		</div> 
	  </div>			  
	</div>
</div>
<!-- End modal -->
<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}
div#myAppointmentPatientModal .block-title { display: none;}
div#myInsuranceModal .block-title { display: none;}
div#myInvestigationModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
#myPatientModal{
	width: 87%;
	margin-left: 13%;
}
#myPatientUpdate{
	width: 87%;
	margin-left: 13%
}
.closeSubPatientMpdal{
	float: right;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        text-shadow: none;
        opacity: 1;
        color: #fff;
        width: 21px;
        height: 21px;
        border-radius: 18px;
        background: #000 !important;
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
}
.fifteen_aligned{
	   width: 15% !important;
	   float: left;
}
.thirty_five_aligned{
   width: 35% !important;
   float: left;
}
</style>
<script type="text/javascript">
	function closePatientModal(){
		$("#myPatientModal").modal('hide');
	}
</script>