<link href="css/jquery.dataTables.css" rel="stylesheet"> 
<link href="css/dataTables.jqueryui.css" rel="stylesheet">
<link rel="stylesheet" href="css/admin/view_orders.css">     
<script src="script/jQuery.print.min.js"></script>

<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!--Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>

<script src="script/admin/view_orders.js"></script>

<div class="block">
	<input type="hidden" id="hdnFieldViewOrder" value="1">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>View Order</strong></h2>
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="searchOrders"><!-- search staff on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewOrdersForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first1" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Ist row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtOrderId">Order Id</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtOrderId" name="txtOrderId" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtSellerId">Seller Id</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtSellerId" name="txtSellerId" class="form-control">
									<i id="searchsellerIcon" class="fa fa-search" style="position: relative;"></i>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end row -->  

				<div class="row"><!-- Iind row -->					
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtOrderDate">Date</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtOrderDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtItem">Item
							</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtItem" name="txtItem" class="form-control">
								</div>
							</div>
						</div>
					</div>
				</div><!-- end row -->
			</div>
			<!-- Form Buttons -->
			<div class="row" align="center">
				<input type="button" value="Search" class="btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="btn_reset" 
					id="btnReset">
			</div><br>
			
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="chk-active_inactive" style=" display:none;">
				<label for="inactive-checkbox-tick" id="checklabel">Inactive</label>
					<input type="checkbox" id="inactive-checkbox-tick" 
					class="inactive-checkbox" name="">
			</div>					
			<div class="table-responsive" style="margin-top:20px;">				
				<table id="viewOrderTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="15%">Order Id</th>
							<th class="text-center" width="25%">seller</th>
							<th class="text-center" width="30%">date</th>
							<th class="text-center" width="20%">Status</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>		
	</div><!-- End view visit -->

	<div id="viewOrderDetails" style="display:none">
		<div role="dialog">
		    <div class="row">
		    	<input type="button" value="BackToList" class="btn_search" id="backToOrder">
		    </div>
		    <div class="row">
				<div class="half_aligned">
					<label class="col-md-4 control-label">Order Id</label>
					<div class="sixty_aligned" style="width: 10%;">
						<label id="lblOrderId" class="control-label"></label>
					</div>
				</div>
				<div class="half_aligned">
					<label class="col-md-4 control-label">Seller</label>
					<div class="sixty_aligned">
						<label id="lblSeller" class="control-label"></label>
					</div>
				</div>
				<div class="half_aligned">
					<label class="col-md-4 control-label">Date</label>
					<div class="sixty_aligned">
						<label id="lblDate" class="control-label"></label>
					</div>
				</div><br><br>

				<div class="">
					<table id="viewSubOrderTable" class="table table-vcenter table-responsive table-condensed table-bordered">							
						<thead>
							<tr>
								<th class="text-center" width="10%">S.no.</th>
								<th class="text-center" width="20%">Item</th>
								<!--<th class="text-center" width="15%">UnitCost</th>-->
								<th class="text-center" width="20%">Quantity</th>
								<!--<th class="text-center" width="20%">Cost</th>-->
								<th class="text-center" width="15%">Status</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="viewOrderDetailsReceiveOrder" role="dialog">
	    <div role="dialog">
		    <div class="row">
		    	<input type="button" value="BackToList" class="btn_search" id="backToOrder">
		    </div>
		    <div class="row">
				<div class="half_aligned">
					<label class="col-md-4 control-label">Order Id</label>
					<div class="sixty_aligned" style="width: 10%;">
						<label id="lblOrderId" class="control-label"></label>
					</div>
				</div>
				<div class="half_aligned">
					<label class="col-md-4 control-label">Seller</label>
					<div class="sixty_aligned">
						<label id="lblSeller" class="control-label"></label>
					</div>
				</div>
				<div class="half_aligned">
					<label class="col-md-4 control-label">Date</label>
					<div class="sixty_aligned">
						<label id="lblDate" class="control-label"></label>
					</div>
				</div><br><br>

				<div class="">
					<table id="viewSubSubOrderTable" class="table table-vcenter table-responsive table-condensed table-bordered">							
						<thead>
							<tr>
								<th class="text-center" width="10%">S.no.</th>
								<th class="text-center" width="20%">Item</th>
								<!--<th class="text-center" width="15%">UnitCost</th>-->
								<th class="text-center" width="20%">Quantity</th>
								<!--<th class="text-center" width="20%">Cost</th>-->
								<th class="text-center" width="15%">Status</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>

<div class="modal fade" id="myViewOrderDetailsModal" role="dialog">
	<a href="#myViewOrderDetailsModal" id="selfRequestModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="selfRequestModalLabel" style="color:white;">Order Details</h4>
			</div>
			<div class="modal-body" id="sellerRequestModalBody">

				<div role="dialog">
				    <div class="myModaldata modal-body">
				    	<input type="button" value="BackToList" class="btn_search" id="backToOrder">
						<div class="col-md-12">
							<label class="col-md-4 control-label">Order Id</label>
							<div class="sixty_aligned" style="width: 10%;">
								<label id="lblOrderId" class="control-label"></label>
							</div>
						</div>
						<div class="col-md-12">
							<label class="col-md-4 control-label">Seller</label>
							<div class="sixty_aligned">
								<label id="lblSeller" class="control-label"></label>
							</div>
						</div>
						<div class="col-md-12">
							<label class="col-md-4 control-label">Date</label>
							<div class="sixty_aligned">
								<label id="lblDate" class="control-label"></label>
							</div>
						</div>

						<div class="">
							<table id="viewSubOrderTable" class="table table-vcenter table-responsive table-condensed table-bordered">							
								<thead>
									<tr>
										<th class="text-center" width="10%">S.no.</th>
										<th class="text-center" width="20%">Item</th>
										<th class="text-center" width="20%">Quantity</th>
										<th class="text-center" width="15%">Status</th>
									</tr>
								</thead>
								
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>



<div class="modal fade" id="mySellerRequestModal" role="dialog">
	<a href="#mySellerRequestModal" id="selfRequestModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="selfRequestModalLabel">Order Details</h4>
			</div>
			<div class="modal-body" id="mySellerRequestModalBody">

				
			</div>
	  </div>			  
	</div>
</div>
<style type="text/css">
#viewOrderDetails{
	display: none;
}
#viewOrderDetailsReceiveOrder{
	display: none;
}
</style>