<link href='assets/css/fullcalendar.css' rel='stylesheet' />
<link href='assets/css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='assets/js/moment.min.js'></script>
<script src='assets/js/fullcalendar.js'></script>
<script>

	$(document).ready(function() {
	debugger;
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		defaultDate: '2016-01-12',
		selectable: true,
		selectHelper: true,
		select: function(start, end) {
			$('#appointmentModalLabel').text("Appointment");
			$('.modal-body').text();
			$('#myAppointmentModal').modal();
			
			$("#btnSave").click(function(){
				var flag = "flase";
				
				if($("#txtToTime").val() == ""){
					$("#txtToTime").focus();
					$("txtTOTimeError").text("select to time");
					flag = "true";
				}
				
				if(flag == "true"){
					return false;
				}
				
				var notes= $("#txtNotes").val();
				var fromTime= $("#txtFromTime").val();
				var toTime= $("#txtToTime").val();
				
				eventData = {
					'type':'fetch',
					notes: notes,
					fromTime: fromTime,
					toTime: toTime
				};
			});
			
			/*var title = prompt('Event Title:');
			var eventData;
			if (title) {
				
				$.ajax({
					url: 'controllers/admin/process.php',
					type: 'POST', // Send post data
					data: eventData,
					async: false,
					success: function(s){
						freshevents = s;
					}
				});
				$('#calendar').fullCalendar('addEventSource', JSON.parse(freshevents));
			}
			$('#calendar').fullCalendar('unselect'); */
		},
		
	});

	/*var currentMousePos = {
	    x: -1,
	    y: -1
	};
		jQuery(document).on("mousemove", function (event) {
        currentMousePos.x = event.pageX;
        currentMousePos.y = event.pageY;
    });

	/* initialize the external events
	-----------------------------------------------------------------*/

	/*$('#external-events .fc-event').each(function() {

		// store data so the calendar knows to render an event upon drop
		$(this).data('event', {
			title: $.trim($(this).text()), // use the element's text as the event title
			stick: true // maintain when user navigates (see docs on the renderEvent method)
		});

		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});

	});		*/

	function getFreshEvents(){
		$.ajax({
			url: 'controllers/admin/process.php',
	        type: 'POST', // Send post data
	        data: 'type=fetch',
	        async: false,
	        success: function(s){
	        	freshevents = s;
	        }
		});
		$('#calendar').fullCalendar('addEventSource', JSON.parse(freshevents));
	}


	function isElemOverDiv() {
        var trashEl = jQuery('#trash');

        var ofs = trashEl.offset();

        var x1 = ofs.left;
        var x2 = ofs.left + trashEl.outerWidth(true);
        var y1 = ofs.top;
        var y2 = ofs.top + trashEl.outerHeight(true);

        if (currentMousePos.x >= x1 && currentMousePos.x <= x2 &&
            currentMousePos.y >= y1 && currentMousePos.y <= y2) {
            return true;
        }
        return false;
    }

	});

</script>
<style>

	 .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 42%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 

	
	#wrap {
		width: 1100px;
		margin: 0 auto;
	}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		width: 900px;
	}

</style>

	<div id='wrap'>
		<div id='calendar'></div>
		<div style='clear:both'></div>

	</div>
	
	<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myAppointmentModal" role="dialog">
	<a href="#myAppointmentModal" id="appointmentModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content center" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="appointmentModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal_body" id="appointmentModalBody">
				<div class="row">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtNotes">Notes :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtNotes">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtFromTime">From Time:</label>                 
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtFromTime">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label" for="txtToTime">To Time :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtToTime">
									</div>
								</div>
							</div><!--  form group-->
						</div>
					</div>
					<div class="row">
						<input type="button" value="Save" id="btnSave" class="opd_reg">
					</div>
				</div>
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>


