<!-- javascript code used only in this page for validation-->     
<script src="script/jQuery.print.min.js"></script>
<script src="script/admin/view_item.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
	<input type="hidden" id="thing" name="thing" value="" />
    <!-- END Wizard with Validation Title -->
	<div id="searchItem">
		<!-- Wizard with Validation Content -->
		<form id="viewItemForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtCategory">Category</label>             
							<div class="sixty_aligned">
								<div class="">
									<select id="txtCategory" name="txtCategory" class="form-control txtCategory" size="1"></select>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtCode">Code </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtCode" name="txtCode"
									class="form-control">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtName">Name </label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->            
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions btnSearchReset" style="display: inline-block; width: 100%; text-align=center">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:5%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblViewItem" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="30%">Category</th>
							<th class="text-center" width="20%">Code</th>
							<th class="text-center" width="30%">Name</th>
							<th class="text-center" width="20%">Description</th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
</div>

<!-- End modal -->
<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
#print{float: right;margin-right: 2%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myViewPatientModal .block-title { display: none;}
div#myCashAccountModal .block-title { display: none;}
div#myAccountNoModal .block-title { display: none;}
div#mySelfRequestModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
#myOrderItemModal .btnSearchReset{
	text-align: center;
}
</style>