     
<script src="script/admin/view_forensic_result.js"></script>  
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>View Forensic Result</strong></h2>
    </div>
	<form id="viewForensicResultForm" method="post" class="form-horizontal form-bordered">
			<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPatientId" name="txtPatientId" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtVisitId">Visit Id</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtVisitId" name="txtVisitId"
									class="form-control">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientName">Patient Name</label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" value="" id="txtPatientName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->            
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;text-align: center;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			<div class="table-responsive" style="margin-top:20px;">
				<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
					<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
				</div> -->
				<table id="viewForensicResultsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
					<thead>
						<tr>
							<th class="text-center" width="15%">Patient Id</th>
							<th class="text-center" width="20%">Test Name</th>
							<th class="text-center" width="15%">Normal Range</th>
							<th class="text-center" width="10%">Result</th>
							<th class="text-center" width="30%">Remarks</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
					<tfoot>
					</tfoot>
				</table>
			</div>			
			<!-- END Form Buttons -->
		</form>
</div>
<!-- Div for Print -->
<div class="print-body display-print" id="PrintForensicTest" >
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
	 <div class="printTitle centerAlign">
		 <div class="row">
			<h2>Forensic Test Result</h2>
		</div>
	</div>
	<div class="printContent">
		<div class="row">
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Visit Id :</label>
				</div>
				<div class="">
					<label class="half_aligned control-label" id="lblPrintVisitId"></label>
				</div>
			</div>
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Visit Date :</label>
				</div>
				<div class="">
					<label class="half_aligned control-label" id="lblPrintVisitDate"></label>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Patient Id:</label>
				</div>
				<div>
					<label class="half_aligned control-label" id="lblPrintPatientId"></label>
				</div>
			</div>
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Patient Name :</label>
				</div>
				<div>
					<label class="half_aligned control-label" id="lblPrintPatient"></label>
				</div>
			</div>	
		</div>
		<table id="codexpl" width="100%; height: 450px;">
			<tbody id="codexplBody">
				<tr>
					<td class="text-center" width="20%">Test Name</th>
					<td class="text-center" width="20%">Normal Range</th>					
					<td class="text-center" width="20%">Result</th>					
					<td class="text-center" width="40%">Remark</th>					
				</tr>
				<tr>
					<td class="text-center" width="20%" id="lblPrintTestName"></th>
					<td class="text-center" width="20%" id="lblPrintNormalRange"></th>	
					<td class="text-center" width="20%" id="lblPrintResult"></th>	
					<td class="text-center" width="40%" id="lblPrintRemark"></th>	
				</tr>
			</tbody>
		</table>
	</div>	
</div>
<style>
@media print {
    #PrintForensicTest { display: block !important; }
}
#PrintForensicTest{
	border: 1px solid #eee;
    margin: 0 auto;
 
    display: block;
}
.centerAlign{
	margin:0 auto;
	display:table;
}
.printContent{
    font-size: 16px;
    padding: 1% 0 0 4%;
    width: 100%;
}
table#codexpl {
    border-right: 1px solid;
    border-left: 1px solid;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
    #printMyModal{visibility: hidden;}
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   #myReceiveOrderModal{visibility: hidden;}
   .block-title { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​

</style>