<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" src="script/datatable/fnReloadAjax.js"></script>  
<script src="script/admin/view_ipd_specimen.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <!-- <div class="block-title">
        <h2><strong>View Specimens</strong></h2>
		<input type="hidden" id="thing" name="thing" value="1" />
    </div> -->
    <!-- END Wizard with Validation Title -->
	<div id="searchSpecimen"><!-- search patient on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewSpecimenForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFirstName" name="txtFirstName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtLastName">last Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtLastName" name="txtLastName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->  

				<div class="row"><!-- Iind row -->
					 <div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtMobile">Mobile</label>
							<div class="sixty_aligned">
								<div class="">
								   <input type="text" id="txtMobile" name="txtMobile" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtPatientId" name="txtPatientId" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div> 
				</div><!-- end row -->  

				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFromDate">From Date</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFromDate" name="txtFromDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtToDate">To Date </label>
							<div class="sixty_aligned">
								<div class="">
								   <input type="text" id="txtToDate" name="txtToDate" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
								</div>
							</div>
						</div>
					</div> 
				</div><!-- end row -->                  
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="btn_search" 
					id="btnSearch">
					<!-- <input type="button" value="Reset" class="btn_reset" 
					id="btnReset"> -->
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive" style="margin-top:20px;">
				<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
					<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
				</div> -->
				<table id="viewSpecimenTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<!-- <th class="text-center" width="5%">#</th>-->

							<th class="text-center" class="replaceHeading" style="width:7.5% !important;">Specimen Id</th>

							<th class="text-center" style="width:7.5%% !important;">Patient Id </th>

							<th class="text-center" style="width:20% !important;">Specimen Type</th>

							<th class="text-center" style="width:20% !important;">Test Name</th>

							<th class="text-center" style="width:15% !important;">Drawn Date</th>

							<th class="text-center" style="width:15% !important;"></th>
						</tr>
					</thead>
				</table>

				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div><!-- End view visit -->
	<!-- show details on search modal -->
	<div id="viewDetails" style="display: none;">
		<div class="row">
			<input type="button" value="Back TO List" class="btn_back_list" id="btnBackToList">
		</div>
		<div class="">
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label replacetext" >Specimen Id :</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblSpecimenId" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label hidetext">Specimen Type :</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblSpecimenType" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Patient Id:</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblPatientId" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Patient Name:</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblPatientName" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				 
			</div>
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Test Name</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblTestName" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Consultant Name</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblConsultantName" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div> 
			</div>
			
			<div class="row">
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Visit Id :</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblVisitId" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label">Mobile :</label>                 
						<div class="sixty_aligned">
							<div class="">
								<label id="lblMobile" class="control-label">
							</div>
						</div>
					</div><!--  form group-->
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- END Wizard with Validation Block -->



<!-- show modal -->
<div class="modal fade" id="mySpecimenModel" role="dialog">
    <a href="#mySpecimenModel" id="visitModel" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" style="width:750px;">         
      <!-- Modal content-->
        <div class="modal-content modal-view" style="width:100% !important">
            <div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="visitModelLabel" style="color:white;"></h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Specimen Id :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblSpecimenId" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Specimen Type :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblDepartementType" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">First Name:</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblFirstName" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Last Name :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblLastName" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Created By:</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblCreatedBy" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Updated By:</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblUpdatedBy" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                    
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">DOB :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblDOB" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="sixty_aligned control-label">Gender:</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblGender" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                    <div class="row">
                        <div class="half_aligned">
                            <div class="form-group">
                                <label class="forty_aligned control-label">Mobile :</label>                 
                                <div class="sixty_aligned">
                                    <div class="">
                                        <label id="lblMobile" class="control-label">
                                    </div>
                                </div>
                            </div><!--  form group-->
                        </div> 
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
            </div> 
      </div>              
    </div>
</div>

<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 42%;} 
    .control-label{margin-top: 10px;}
    .chk-active_inactive{width: 15%;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
.btn_search,.btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
	margin-right: 10px;
}
.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}

#print{
    float: right;
    margin-right: 2%;
}

#mySpecimenModel .modal-footer{
    display: none;
}

div#myTriageModal .block-title {
    display: none;
}
	
div#myCashModal .block-title {
    display: none;
	}
</style>




