<!--Data Table js-->     
<script src="script/jQuery.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
<!-- javascript code used only in this page for validation-->
<script src="script/admin/view_radiology_request.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Radiology Request</strong></h2>
		<input type="hidden" id="hidradiologyId">
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->            
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<table id="radiologyRequestTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" width="7.5%">Visit Id</th>
						<th class="text-center" width="10%">Patient Id</th>
						<th class="text-center" width="10%">Test Code</th>
						<th class="text-center" width="20%">Test Name</th>
						<th class="text-center" width="7.5%">Cost</th>
						<th class="text-center" width="10%">Pay Status</th>
						<th class="text-center" width="15%">Process Status</th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myradiologyModal" role="dialog">
	<a href="#myradiologyModal" id="radiologyTestModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="radiologyTestModalLabel" style="color:white;"> Process Request :</h4>
			</div>
			<div class="modal-body" id="radiologyTestModalBody">	
				<form id="patientregisform" method="post" class="form-horizontal form-bordered">
					<div id="advanced-first" class="step">
						<div class="row">
							<div class="control-label">
								<div class="" style="margin: 0 auto;display: table;">
									<div id="image-box" style="width: 100px; height: 100px; border: 1px solid rgb(192, 192, 192); background-size: 100% 100%; background-position: 50% 50%;">
										<img id="imgPatient" src="./img/default.jpg" alt="Default" style="position: relative; height: 98px;width:100%;">                          
									</div> 
								</div>
							</div>
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtPatientName">Patient Name :</label>                                
									<div class="sixty_aligned control-label">
										<label id="txtPatientName"></label>
									</div>
								</div>
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtGender">Gender :</label>                                
									<div class="sixty_aligned control-label">
										<label id="txtGender"></label>
									</div>
								</div>
							</div> 
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtDob">Date Of Birth :</label>                                
									<div class="sixty_aligned control-label">
										<label id="txtDob"></label>
									</div>
								</div>
							</div>
							 <div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtAge">Age :</label>                                
									<div class="sixty_aligned control-label">
										<label id="txtAge"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtEmail">Email :</label>                                
									<div class="sixty_aligned control-label">
										<label id="txtEmail"></label>
									</div>
								</div>
							</div>
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtMobile">Mobile :</label>                                
									<div class="sixty_aligned control-label">
										<label id="txtMobile"></label>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="half_aligned">
								<div class="form-group">
									<label class="forty_aligned control-label" for="txtLabTest">Radiology Test :</label>                                
									<div class="sixty_aligned control-label">
										<label id="txtLabTest" style = "word-break: keep-all;width: 140px;"></label>
									</div>
								</div>
							</div>
							
						</div>
						
						<div class="row" style="text-align:center;margin-bottom:2%;">
							<input type="button" class="btn btn-primary subprocess" value="Proceed" id="btnSubmit" />
							<input type="hidden" value="" id="hdnradiologyTestRequestId" />
						</div>
					</div>
				</form>
			</div>
		</div>			
	  </div>	
</div>


<style type="text/css">
 .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned control-label{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned control-label{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 2%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

#print{
    float: right;
    margin-right: 2%;
}
.fa-search{
	float: right;
    margin-top: -11%;
    margin-right: 3%;
    cursor: pointer;
}
.modal-view {
    width: initial !important;
}
.center {
	margin: 0;
    display: table;
    position: initial;
}
.search-modal-header {
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
	}
#myradiologyModal{
	width: 87%;
    margin-left: 13%;
}
</style>