<link href="css/jquery.dataTables.css" rel="stylesheet"> 
<link href="css/dataTables.jqueryui.css" rel="stylesheet">
<link rel="stylesheet" href="css/admin/view_seller.css">

<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!--Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>

<script src="script/admin/view_seller.js"></script>

<div class="block">
    <!-- END Wizard with Validation Title -->
	<div id="receiveOrders"><!-- search staff on search modal use that id -->
		<!-- Wizard with Validation Content -->
		<form id="viewOrdersForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first1" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Ist row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtSellerName">Seller</label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtSellerName" name="txtSellerName" class="form-control">									
									<input type="button" value="Show" class="btn_search" 
									id="btnShowSeller">
								</div>
							</div>
						</div>
					</div>					
				</div><!-- end row -->  

				<div class="row" style="text-align: center;">
					<!-- <input type="button" value="Reset" class="btn_search" id="btnResetSeller"
					style="left: inherit; margin-bottom: 40px;"> -->
				</div>
				
			</div>			
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:1%;" class="blackborder">
			<div class="chk-active_inactive" style=" display:none;">
				<label for="inactive-checkbox-tick" id="checklabel">Inactive</label>
					<input type="checkbox" id="inactive-checkbox-tick" 
					class="inactive-checkbox" name="">
			</div>					
			<div class="table-responsive" style="margin-top:20px;">				
				<table id="viewSellerDetailsTable" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="18%">Name</th>
							<th class="text-center" width="18%">Email</th>
							<th class="text-center" width="18%">Firm Name</th>
							<th class="text-center" width="46%">Description</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
