<!-- javascript code used only in this page for validation-->     
<script src="script/jQuery.print.min.js"></script>
<script src="script/admin/view_inpatients.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>View Inpatients</strong></h2>
		<input type="hidden" id="thing" name="thing" value="" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="viewInpatients">
		<!-- Wizard with Validation Content -->
		<form id="viewInpatientsForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtIPDId">IPD Id</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtIPDId" name="txtIPDId" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtFirstName" name="txtFirstName" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					 
				</div><!-- end row -->

				<div class="row"><!-- IIIrd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtLastName">Last Name </label>
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtLastName" name="register_lastname"
									class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtMobile">Mobile </label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="number" value="" id="txtMobile" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
				</div><!-- end row -->            
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblViewInPatient" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="10%">IPD Id</th>
							<th class="text-center" width="20%">Patient Name</th>
							<th class="text-center" width="15%">Department</th>
							<th class="text-center" width="15%">Ward</th>
							<th class="text-center" width="10%">Room No</th>
							<th class="text-center" width="10%">Bed No</th>
							<th class="text-center" width="10%">ICU</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
	<div class="modal fade" id="mySearchInPatient" style="overflow-y: auto;" role="dialog">
		<a href="#mySearchInPatient" id="searchInPatient" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog" style="width:800px;">			
		<!-- Modal content-->
			<div class="modal-content modal-view" style="width:100% !important;">
				<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
					<button type="button" class="closeButton" data-dismiss="" ><div id="pop_up_close">X</div></button>
					<h4 id="searchInPatientLabel" style="color:white;"></h4>
				</div>
				<div class="" id="searchInPatientBody" style="padding:10px;">
				<!-- <div class="row">
					<input type="button" value="Back TO List" class="btn_back_list" id="btnBackToList">
				</div> -->
				<div class="row" >
					<div class="half_aligned">
						<div class="form-group" style="height: 5% !important;">
							<label class="forty_aligned control-label">IPD Id :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblIPDId" class="control-label">N/A<label>
								</div>
							</div>
						</div><!--  form group-->
					</div> 
					<div class="half_aligned">
						<div class="form-group" style="height: 5% !important;">
							<label class="forty_aligned control-label">Patient Id :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblPatientId" class="control-label">N/A<label>
								</div>
							</div>
						</div>
					</div> 
				</div>
				<div class="row" >
					<div class="half_aligned">
						<div class="form-group" style="height: 5% !important;">
							<label class="forty_aligned control-label">Patient Name :</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblPatientName" class="control-label">N/A<label>
								</div>
							</div>
						</div> 
					</div> 
					<div class="half_aligned">
						<div class="form-group" style="height: 5% !important;">
							<label class="forty_aligned control-label">DOB:</label>                 
							<div class="sixty_aligned">
								<div class="">
									<label id="lblDOB" class="control-label">N/A<label>
								</div>
							</div>
						</div> 
					</div> 			
				</div>
				<div class="row" ><!-- Iind row -->
					   <div class="half_aligned">
							<div class="form-group" style="height: 5% !important;">
								<label class="forty_aligned control-label" for="selDepartment">Department<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="selDepartment" class="form-control val_wrad" size="1" required>
											<option value="-1">--Select--</option>
										</select>
										<span id="selDepartmentError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div>
						<div class="half_aligned">
							<div class="form-group" style="height: 5% !important;">
								<label class="forty_aligned control-label" for="selWard">Ward<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="selWard" class="form-control selWard" size="1" required>
											<option value="-1">--Select--</option>
										</select>
										<span id="selWardError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div> 
					</div><!-- end row -->

					<div class="row" ><!-- IIIrd Row  -->
						<div class="half_aligned">
							<div class="form-group" style="height: 5% !important;">
								<label class="forty_aligned control-label" for="selRoomType">Room Type<span class="text-danger">*</span></label>                                
								<div class="sixty_aligned">
									<div class="">
										<select id="selRoomType" class="form-control selRoomType" size="1" required>
											<option value="-1">--Select--</option>
										</select>
										<span id="selRoomTypeError" class="error"></span>
									</div>
								</div>
							</div>
							<!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group" style="height: 5% !important;">
								<label class="forty_aligned control-label" for="txtRoomNo">Room No</label>             
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtRoomNo" name="txtRoomNo" class="form-control" readonly="">
									</div>
								</div>
							</div><!--  form group-->
						</div>
					</div><!-- end row -->

					<div class="row" ><!-- IV th row -->
						<div class="half_aligned">
							<div class="form-group" style="height: 5% !important;">
								<label class="forty_aligned control-label" for="txtBedNo">Bed No</label>                                 <div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtBedNo" name="txtBedNo" class="form-control" readonly="">
									</div>
								</div>
							</div><!--  form group-->
						</div>
						<div class="half_aligned">
							<div class="form-group" style="height: 5% !important;">
								<label class="forty_aligned control-label" for="txtPrice">Price</label>             
								<div class="sixty_aligned">
									<div class="">
										<input type="text" id="txtPrice" name="txtPrice" class="form-control" readonly="">
									</div>
								</div>
							</div><!--  form group-->
						</div>                       
					</div><!-- end row -->

					<div class="row" style="height: 5% !important;"><!-- V th row -->
						<div class="half_aligned">
							<div class="form-group">
								<label class="control-label" for="checkICU">ICU</label>                                
								<div class="sixty_aligned" style="    padding: 5px 0 0 16px;">
									<div class="">
										<input type="checkbox" id="checkICU" class="" name="">
										<span id="checkICUError" class="error"></span>
									</div>
								</div>
							</div>
						</div>
							  
					</div><!-- end row -->
								<!-- Form Buttons -->
					<div class="form-group form-actions" style="display: inline-block; width: 100%;">
						<div class="" >
							<input type="button" value="Update" class="opd_reg btn_search" 
							id="btnUpdate">
							<input type="button" value="Reset" class="opd_reg btn_reset" 
							id="btnResetDetails">
						</div>
					</div>
				</div>

			</div>			  
		</div>
	</div>
</div>
<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myBedAvailability" role="dialog">
	<input type="hidden" id="hdnBedAvailability" name="hdnBedAvailability" />
	<a href="#myBedAvailability" id="bedAvailability" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:800px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100% !important;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="bedAvailabilityLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="bedAvailabilityBody">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>

<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
.closeButton{
    opacity: 1;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 18px;
    background: #000 !important;
	margin-top: 2px !important;
	padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
	text-shadow: none;
	float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
.modal-view {width: 100% !important;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myBedTransferModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
</style>
 



