<!-- javascript code used only in this page for validation-->
<script src="script/admin/view_treatments.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script> 
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title" id="title" >
        <h2><strong>View Treatments</strong></h2>
		<input type="hidden" id="thing" name="thing" value="" />
    </div>
    <!-- END Wizard with Validation Title -->
	<div id="viewTreatments">
		<!-- Wizard with Validation Content -->
		<form id="viewTreatmentsForm" method="post" class="form-horizontal form-bordered">
		<!-- First Step -->
			<div id="advanced-first" class="step">
			<!-- Step Info -->
				<div class="row"><!-- Iind row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtIPDId">IPD Id<span class="text-danger">*</span></label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtIPDId" name="txtIPDId" class="form-control">
									<span class="error" id="txtIPDIdError"></span>
								</div>
							</div>
						</div><!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtTreatmentDate">Treatment Date</label>             
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtTreatmentDate" name="txtTreatmentDate" class="form-control">
								</div>
							</div>
						</div><!--  form group-->
					</div>
					 
				</div><!-- end row -->
			</div>
			<!-- Form Buttons -->
			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div class="" >
					<input type="button" value="Search" class="opd_reg btn_search" 
					id="btnSearch">
					<input type="button" value="Reset" class="opd_reg btn_reset" 
					id="btnReset">
				</div>
			</div>
			
			<!-- END Form Buttons -->
		</form>
		<!-- END Wizard with Validation Content -->
		<div style="margin-top:3%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblViewTreatment" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="10%">IPD Id</th>
							<th class="text-center" width="40%">Treatment Name</th>
							<th class="text-center" width="15%">Price</th>
							<th class="text-center" width="35%">Date</th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->	
	</div>
<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	
	@media screen and (min-width: 480px) {
        #val_Salutation {max-width:66%;}
    }
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
.closeButton{
    opacity: 1;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 18px;
    background: #000 !important;
	margin-top: 2px !important;
	padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
	text-shadow: none;
	float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
}
#myPatientUpdate .sixty_aligned{width: 54%;}
.modal-view {width: 100% !important;left: 2%;}
div#mySearchModal .block-title { display: none;}
#myPatientModal label{word-break: break-word;}
div#myBedTransferModal .block-title { display: none;}
#btnSearch{
margin-right:10px;}
#btnSearch:hover{
background:#1bbae1;
}
</style>