<!-- javascript code used only in this page for validation--> 
<script src="script/admin/view_patient_history.js"></script> 
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>View Patient History</strong></h2>
        <input type="hidden" id="thing" name="thing" value="15" />
       
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
            <div class="row"><!-- Ist row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientIdHistory">Patient Id</label>                                
                        <div class="forty_aligned" style="width:30%; margin-right:1%;">
                            <div class="">
                                <input type="text" id="txtPatientIdHistory" name="txtPatientId" class="form-control" ><i id="iconPatientSearch" class="fa fa-search" style="position: relative;"></i>
								<span id="txtPatientIdHistoryError" class="error">
                            </div>
                        </div>
						<input type="button" value="Show" class="opd_btn"
                        id="btnShow" style="margin: 0;padding: 1.5%; width: 13%;">
                    </div><!--  form group-->
                </div>
                    <!-- Form Buttons -->
					<div class="form-group form-actions">
						<div class="forty_aligned" >							
							<input type="button" value="Reset" class="btn_reset_history" 
							id="btnPatientHistoryReset">
						</div>
					</div>
					<!-- END Form Buttons -->
            </div><!-- end row -->

            <div class="row"><!-- Iind row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtLastName">Last Name </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtLastName" name="register_lastname"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- IIIrd Row  -->

                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Age</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txtYear" name="get_yr" 
                                    class="form-control" readonly><br>Years
                                </div>
                            </div>
                            <div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
                                <div class="">
                                    <input type="text" id="txtMonth" name="get_mon" 
                                    class="form-control" readonly><br>Month
                                </div>
                            </div>
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txtDay" name="get_day" 
                                    class="form-control" readonly><br>Days
                                </div>
                            </div>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtMobile">Mobile </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtMobile" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->  
        </div>        
    </form>
    <!-- END Wizard with Validation Content -->
	<div style="margin-top:1%;" class="blackborder">
			<div class="table-responsive">
				<table id="tblViewPatientHistory" class="table table-vcenter table-responsive table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-center" width="10%">Visit Id</th>
							<th class="text-center" width="30%">Visit Type</th>
							<th class="text-center" width="25%">Visit Date</th>
							<th class="text-center" width="30%">Consultant</th>
							<th class="text-center" width="5%"></th>
						</tr>
					</thead>
				</table>
				<input id="selectedRow" type="hidden" value="0" />
			</div>
		</div>
		<!-- end table  -->
</div>
<!-- END Wizard with Validation Block -->
<div class="modal fade" id="myPatientHistoryModal" role="dialog">

	<a href="#myPatientHistoryModal" id="patientHistoryModal" role="button" class="hidden" data-toggle="modal"></a>
	 
	<div class="modal-dialog" style="width:750px;">			
	  <!-- Modal content-->
		<div class="modal-content modal-confirm center" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="patientHistoryModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="PatientHistoryModalBody">
				<div class="">
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Patient Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Patient Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblPatientName" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Visit Id :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblOPDRegistrationId" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Age :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblAge" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
					<div class="row">
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">F/H Name :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblHusbandName" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
						<div class="half_aligned">
							<div class="form-group">
								<label class="forty_aligned control-label">Gender :</label>                 
								<div class="sixty_aligned">
									<div class="">
										<label id="lblGender" class="control-label">
									</div>
								</div>
							</div><!--  form group-->
						</div> 
					</div>
				</div>
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen; height: 15%;">
			</div> 
	  </div>			  
	</div>
</div>

<!-- Modal for search patient-->
<div class="modal fade" id="myViewPatientModal" role="dialog">
	<a href="#myViewPatientModal" id="viewPatientModal" role="button" class="hidden" data-toggle="modal"></a>
	<input type="hidden" id="hdnViewPatientHistory" value="" />
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="viewPatientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="viewPatientModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div> 

<!-- Patient Modal-->

<!-- END Wizard with Validation Block -->
<!-- <div class="modal fade" id="myPatientModal" role="dialog">
	<a href="#myPatientModal" id="patientModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" style="width:750px;">		 -->	
	  <!-- Modal content-->
		<!-- <div class="modal-content modal-view" style="width:100%;">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal" ><div id="pop_up_close">X</div></button>
				<h4 id="patientModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div> -->

<!-- Modal to show details of old history when click on view-->
<div class="modal fade" id="oldHistoryModalDetails" role="dialog">
    <a href="#oldHistoryModalDetails" id="oldHistoryModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog modal-dialog-style">
        <!-- Modal content-->
        <div class="modal-content modal-confirm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <div id="pop_up_close">X</div>
                </button>
                <h4 id="myoldHistoryModalDetailsLabel">View Old history of patient</h4>
            </div>
            <div class="" id="oldHistoryModalBody">
                <div class="row">
                    <div class="half_aligned" style="margin-left:2%;">
                        <div class="form-group">
                            <label class="forty_aligned control-label" style="width:20%; !important;">Visit Id:</label>            
                            <label class="forty_aligned control-label" id ="oldHistoryVisitId"></label>
                        </div>
                        <!--  form group-->
                    </div>
                    <div class="half_aligned" style="margin-left:-12%;">
                        <div class="form-group">
                            <label class="forty_aligned control-label" style="width:20%; !important;">Visit Date:</label>             
                            <label class="forty_aligned control-label" id ="oldHistoryVisitDate"></label>
                        </div>
                        <!--  form group-->
                    </div>
                </div><!-- end row -->
                <div class="row">
                	<div class="container" id="tabsViewConsultant" style="width:100%;height:auto">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabViewConsultantLst view-history" role="tablist">
                    <li>
                        <a href="#tabViewGeneral" role="tab" data-toggle="tab">General</a>
                    </li>
                    <li>
                        <a href="#tabViewTestRequest" role="tab" data-toggle="tab">Test Request</a>
                    </li>
                    <li>
                        <a href="#tabViewServicesRequest" role="tab" data-toggle="tab">Services Request</a>
                    </li>
                    <li>
                        <a href="#tabViewPrescription" role="tab" data-toggle="tab">Prescription</a>
                    </li>
                    <li>
                        <a href="#tabViewTestResults" role="tab" data-toggle="tab">Test Results</a>
                    </li>
                    <li class="hidden">
                        <a href="#tabViewInternalReferrals" role="tab" data-toggle="tab">Internal Referrals</a>
                    </li>
                    <li class="hidden">
                        <a href="#tabViewAppointments" role="tab" data-toggle="tab">Appointments</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade" id="tabViewGeneral">
                        <div class="container" style="width:100%;height:auto" >
                            <ul class="nav nav-tabs tabViewConsultantLst sub-nav" role="tablist">
                                <li>
                                    <a href="#tabViewTriage" role="tab" data-toggle="tab">Triage</a>
                                </li>
                                <li>
                                    <a href="#tabViewClinicalFindings" role="tab" data-toggle="tab">Clinical Findings</a>
                                </li>
                                <li class="">
                                    <a href="#tabViewDiagnosis" role="tab" data-toggle="tab">Diagnosis</a>
                                </li>
                                <li>
                                    <a href="#tabViewAllergy" role="tab" data-toggle="tab">Allergy</a>
                                </li>
                                <li>
                                    <a href="#tabViewVisionAssessment" role="tab" data-toggle="tab">Vision Assessment</a>
                                </li>
								<li>
                                    <a href="#tabViewQuestionnaire" role="tab" data-toggle="tab">Questionnaire</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabViewTriage" data-url="triage_general">
                                    <!-- tabTriage Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewClinicalFindings" data-url="clinical_findings">
                                    <!-- tabClinicalFindings Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewDiagnosis" data-url="diagnosis_general">
                                    <!-- tabDiagnosis Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewAllergy" data-url="allergy_request">
                                    <!-- tabDiagnosis Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewVisionAssessment" data-url="vision_assessment">
                                    <!-- tabDiagnosis Content -->
                                </div>
								<div class="tab-pane fade" id="tabViewQuestionnaire" data-url="Questionnaire">
                                    <!-- tabDiagnosis Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabViewTestRequest">
                        <!-- tabTestRequest Content Start-->
                        <div class="container" style="width:100%;height:auto">
                            <ul class="nav nav-tabs tabViewConsultantLst sub-nav" role="tablist" >
                                <li>
                                    <a href="#tabViewLabTestRequest" role="tab" data-toggle="tab">Lab Test Request</a>
                                </li>
                                <li>
                                    <a href="#tabViewRadiologyTestRequest" role="tab" data-toggle="tab">Radiology Test Request</a>
                                </li>
                                <li>
                                    <a href="#tabViewForensicTestRequest" role="tab" data-toggle="tab">Forensic Test Request</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabViewLabTestRequest" data-url="lab_test_request">
                                    <!-- tabLabTest Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewRadiologyTestRequest" data-url="radiology_test_request">
                                    <!-- tabRadiologyTest Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewForensicTestRequest" data-url="forensic_test_request">
                                    <!-- tabForensicTest Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewDentalTestRequest" data-url="dental_test_request">
                                    <!-- tabDiagnosis Content -->
                                </div>
                            </div>
                        </div>
                        <!-- tabTestRequest Content End-->
                    </div>
                    <div class="tab-pane fade" id="tabViewServicesRequest">
                        <!-- tabServicesRequest Content Start -->
                        <div class="container" style="width:100%;height:auto">
                            <ul class="nav nav-tabs tabViewConsultantLst sub-nav"  role="tablist">
                                <li>
                                    <a href="#divViewServicesRequest" role="tab" data-toggle="tab">Services</a>
                                </li>
                                <li>
                                    <a href="#tabViewProceduresRequest" role="tab" data-toggle="tab">Procedures</a>
                                </li>
                                <li class="hidden">
                                    <a href="#tabViewTheaterRequest" role="tab" data-toggle="tab">Theater</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="divViewServicesRequest" data-url="services_request">
                                    <!-- tabServices Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewProceduresRequest" data-url="procedures_request">
                                    <!-- tabProcedures Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewTheaterRequest" data-url="theater_request">
                                    <!-- tabTheater Content -->
                                </div>
                            </div>
                        </div>
                        <!-- tabServicesRequest Content End -->
                    </div>
                    <div class="tab-pane fade" id="tabViewPrescription" data-url="prescription">
                        <!-- tabPerscription Content-->
                    </div>
                    <div class="tab-pane fade" id="tabViewTestResults">
                        <!-- tabTestResults Content Start-->
                        <div class="container" style="width:100%;height:auto">
                            <ul class="nav nav-tabs tabViewConsultantLst sub-nav" role="tablist">
                                <li>
                                    <a href="#tabViewLabTestResult" role="tab" data-toggle="tab">Lab Test Result</a>
                                </li>
                                <li>
                                    <a href="#tabViewRadiologyTestResult" role="tab" data-toggle="tab">Radiology Test Result</a>
                                </li>
                                <li>
                                    <a href="#tabViewForensicTestResult" role="tab" data-toggle="tab">Forensic Test Result</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabViewLabTestResult" data-url="lab_test_result">
                                    <!-- tabLabTestResult Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewRadiologyTestResult" data-url="radiology_test_result">
                                    <!-- tabRadiologyTestResult Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewForensicTestResult" data-url="forensic_test_result">
                                    <!-- tabForensicTestResult Content -->
                                </div>
                                <div class="tab-pane fade" id="tabViewDentalTestResult" data-url="dental_test_result">
                                    <!-- tabDiagnosisResult Content -->
                                </div>
                            </div>
                        </div>
                        <!-- tabTestResults Content End-->
                    </div>
                    <div class="tab-pane fade hidden" id="tabInternalReferrals" data-url="internal_referrals">
                        <!-- tabInternalReferrals Content-->
                    </div>
                    <div class="tab-pane fade hidden" id="tabAppointments" data-url="appointments">
                        <!-- tabAppointments Content-->
                    </div>
                </div>
            </div>
                </div>
            </div>
            <!-- Tab Buttons -->
            
            <div class="modal-footer"></div>
        </div>
    </div>
</div>



<style type="text/css">
    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%%;} 
    .control-label{margin-top: 10px;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    
.btn_reset_history {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	margin-left: 8%;
}

.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

#print{
    float: right;
    margin-right: 2%;
}
.fa-search{
	float: right;
    margin-top: -16%;
    margin-right: 3%;
    cursor: pointer;
}

.center {
	margin: 0;
    display: table;
    position: initial;
}
#oldHistoryModalDetails{
    margin-left: 13%;
}
#oldHistoryModalDetails .sub-nav {
    padding: 1px 0 9px 0px;}

#oldHistoryModalDetails .view-history {
    padding: 20px 6px 6px 16px;
    width: 93%;
    border: none;
}
.nav>li>a {
    color: #666 !important;
}
.modal-confirm{left: initial !important;}
#myLabTestModal .modal-dialog{width: 68% !important;}
#myLabTestModal .modal-view{width: 100% !important}
#myLabTestModal .modal-content{width: 100% !important;}
.search-modal-header {
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
.nav>li>a{
	color:#666 !important;
}
.nav>li.active>a{
	color:#FFF !important;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #FFF !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {    
        background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: initial;
}
.modal-confirm{left: initial !important;}
#myLabTestModal .modal-dialog{width: 68% !important;margin: 0 auto;margin-top: 4%;}
#myLabTestModal .modal-view{width: 100% !important}
#myLabTestModal .modal-content{width: 100% !important;}	
#myViewPatientModal{
    width: 87%;
    margin-left: 13%;
}
</style>