<link rel="stylesheet" href="css/admin/radiology_test_request.css">
<!--Data Table js-->      
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  



<!-- javascript code used only in this page for validation-->
<script src="script/admin/view_radiology_result.js"></script>
<div class="block">
	<input type="hidden" id="thing" name="thing" value="" />
    <!-- Wizard with Validation Content -->
    <div class="block-title" id="title" >
        <h2><strong>View Radiology Result</strong></h2>
    </div>
    <form id="radiologyRequestsForm" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
        	<div class="row"><!-- Iind row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtPatientId">Patient Id</label>             
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtPatientId" name="txtPatientId" class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtVisitid">Visit Id</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtVisitid" name="txtVisitid" class="form-control">
							</div>
						</div>
					</div>
				</div> 
			</div><!-- end row -->

			<div class="row"><!-- IIIrd Row  -->

				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtPatientName">Patient Name</label>                                
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtPatientName" class="form-control">
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div><!-- end row --> 

			<div class="form-group form-actions" style="display: inline-block; width: 100%;">
				<div style="text-align: center;">
					<input type="button" value="Search" class="btn_save" id="btnSearch">
					<input type="button" value="Reset" class="btn_reset" id="btnReset">
				</div>
			</div>

			<div style="margin-top:1%;" class="blackborder">
				<div class="table-responsive" style="margin-top:20px;">
					<!-- <div class="chk-active_inactive"><label for="inactive-checkbox-tick">Inactive Triage Data</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="inactive-checkbox" name="">
					</div> -->
					<table id="radiologyResultsTbl" class="table table-vcenter table-responsive table-condensed table-bordered display">
						<thead>
							<tr>
								<th class="text-center" width="20%">Visit Id</th>
								<th class="text-center" width="20%">Test Name</th>
								<th class="text-center" width="20">View Images</th>
								<th class="text-center" width="30%">Report</th>
								<th class="text-center" width="10%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		<!-- end table  -->	
        </div>
    </form>
    <!-- END Wizard with Validation Content -->
</div>
<!-- Div for Print -->
<div class="print-body display-print" id="PrintRadiologyTest" >	
	<div class="row">
		 <label class="control-label">Email:&nbsp; </label>
		 <label class="forty_aligned control-label" id="lblPrintEmail"></label>
		 <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
		 <label class="control-label" id="lblPrintPhone"></label>
	</div>
	<div class="row" style="text-align:center;">
		<div class="">
			
			<div class="">
				<div class="" >
					<div id="image-box">
						<img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
					</div>  
				</div>
			</div>			
		</div> 
	</div>
	<div class="row">
		<h2 id="printHospitalName"> </h2>
	</div>
	<div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
		<label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
    <div class="printTitle centerAlign">
		 <div class="row ">
			<h2> Radiology Test Result</h2>
		</div>
	</div>
	<div class="printContent ">
		<div class="row">
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Visit Id :</label>
				</div>
				<div class="">
					<label class="half_aligned control-label" id="lblPrintVisitId"></label>
				</div>
			</div>
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Visit Date :</label>
				</div>
				<div class="">
					<label class="half_aligned control-label" id="lblPrintVisitDate"></label>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Patient Id:</label>
				</div>
				<div>
					<label class="half_aligned control-label" id="lblPrintPatientId"></label>
				</div>
			</div>
			<div class="half_aligned">
				<div class="">
					<label class="forty_aligned control-label">Patient Name :</label>
				</div>
				<div>
					<label class="half_aligned control-label" id="lblPrintPatient"></label>
				</div>
			</div>	
		</div>		
		<table id="codexpl" width="100%; height: 450px;">
			<tbody id="codexplBody">
				<tr id="tableHead">
					<td class="text-center" width="40%">Test Name</th>
					<td class="text-center" width="60%">Report</th>					
				</tr>
				<tr id="tableBody">
					<td class="text-center" width="40%" id="printTestname"></th>
					<td class="text-center" width="60%" id="printRemark"></th>	
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- image list pop up -->
<div class="modal fade" id="imageModal" role="dialog">
	<div id="">
		<a href="#imageModal" id="myimageModal" role="button" class="hidden" data-toggle="modal"></a>
		<div class="modal-dialog">			
		  <!-- Modal content-->
			<div class="modal-content imageContent" style="width:100% !important;">
				<div class="modal-header img-header">
					<button type="button" class="close closeImgModal" id="pop_up_close">×</button>
					<h4 id="imageMyModalLabel"></h4>
				</div>
				<div class="modalbody">
				</div>
		  </div>			  
		</div>
	</div>    
</div>
<script>
	$('.closeImgModal').on('click',function(){
		$('#imageModal').modal('hide');
	});
</script>
<div class="imageBox">
	<div class="modal-imagebox" >
	</div>
</div>
<style>
@media print {
    #PrintRadiologyTest { display: block !important; }
}
#PrintRadiologyTest{
	border: 1px solid #eee;
    margin: 0 auto;
    display: block;
	}
.centerAlign{
	margin:0 auto;
	display:table;
}
.printContent{
    font-size: 16px;
    padding: 1% 0 0 4%;
    width: 100%;
    margin: 0 auto;
}
.imageClose{
	position: absolute;
	background-color: #ccccc;
	z-index: 9999999;
	border: #ccc;
	border-radius: 10px;
	margin: 3px 0 0 4px;
}
table#codexpl {
    border-right: 1px solid;
    border-left: 1px solid;
}
.modalbody{
	padding:10px;
}
.modal-imagebox{
	opacity: 1;
    /* display: inline-table; */
    position: fixed;
    top: 0;
    z-index: 2000;
    /* left: 30%; */
    margin: 0 auto;
	width: auto;
}
#imageModal{    
	overflow: hidden;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
    #printMyModal{visibility: hidden;}
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   #myReceiveOrderModal{visibility: hidden;}
   .block-title { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​

</style>
<!-- END Wizard with Validation Block -->