<!-- javascript code used only in this page for validation-->
<script src="script/admin/vision_assessment.js"></script>
<link rel="stylesheet" href="css/admin/vision_assessment.css">
<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Vision Assessment</strong></h2>
		<input type="hidden" id="thing" name="thing" value="10" />
    </div>
    <!-- END Wizard with Validation Title -->

    <!-- Wizard with Validation Content -->
    <form id="opdform" method="post" class="form-horizontal form-bordered">
    <!-- First Step -->
        <div id="advanced-first" class="step">
        <!-- Step Info -->
		<div id="consultantblock">
            <div class="row"><!-- Start row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="textvisitId">Visit Id</label> 
						<div class="">
							<div class="forty_aligned" style="width:30%; margin-right:1%;">
								<div class="">
									<input type="text" id="textvisitId" name="textvisitId" class="form-control" ><i id="iconSearch" class="fa fa-search" style="position: relative;"></i>
									<span id="txtVisitError" class="error"></span>
								</div>
							</div>
							<input type="button" value="Load" class="opd_btn" id="btnSelect" style="margin: 0;padding: 1.5%; width: 13%;">
						</div>
				  </div><!--  form group-->
				
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtPatientID">Patient Id</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtPatientID" name="txtPatientID" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
               
                </div>
                 <div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="val_Patient Identity" >	</label>
						<div class="sixty_aligned">
							<div class="" >
								<div id="image-box" style="width: 100px; height:100px; border: 1px solid #C0C0C0;background-position: center; background-size: 100% 100%;display: inline-block; cursor: pointer;">
									<img id="user_reg_image" src="./img/default.jpg" alt="Default" style="position: relative;height: 98px;">
									                         
								</div>  
			
							</div>
							
						</div>
					</div>
				</div> 
            </div><!-- end row -->

            <div class="row"><!-- Start row -->
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtFirstName">First Name</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtLastName">Last Name </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtLastName" name="register_lastname"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- end row -->

            <div class="row"><!-- Start Row  -->
				 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtMobile">Mobile </label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" value="" id="txtMobile" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtAge">Age</label>                                
                        <div class="sixty_aligned">
                            <div class="">
                                <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_year" name="get_yr" 
                                    class="form-control" readonly>Years
                                </div>
                            </div>
                            <div class="thirty_aligned" style="width: 29%; margin: 0 6%;">
                                <div class="">
                                    <input type="text" id="txt_month" name="get_mon" 
                                    class="form-control" readonly>Month
                                </div>
                            </div>
                            <div class="thirty_aligned">
                                <div class="">
                                    <input type="text" id="txt_day" name="get_day" 
                                    class="form-control" readonly>Days
                                </div>
                            </div>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                
            </div><!-- end row -->         
			
			  <div class="row"><!-- Start row -->
                 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtGender">Gender</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtGender" name="txtGender" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
               
				 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtVisitDate">Visit Date</label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtVisitDate" name="txtVisitDate" class="form-control" readonly>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
		</div>
        <div class="">
			<div class="row"><!-- Start row -->
               <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selEyeStatus">Eye Status<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selEyeStatus" name="selEyeStatus" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="Glasses">Glasses</option>
								<option value="Pinhole">Pinhole</option>
								<option value="No Glasses">No Glasses</option>
								<option value="Refraction">Refraction</option>
								<option value="N/A">N/A</option>
                                </select>
                            </div>
                            <span id="selEyeStatusError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div> 
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label"  id="consultantDate" for="txtJoiningDate">Join Date</label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtJoiningDate" name="txtJoiningDate"
                                class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div> 
				
            </div><!-- end row -->
			
			<div class="row"><!-- Start row -->
                 <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label"></label>             
                        <div class="sixty_aligned">
                            <div class="">
                                <label class="forty_aligned control-label">Right</label>  
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
                <div class="half_aligned">
                    <div class="form-group">

                        <div class="forty_aligned">
                            <div class="">
                                <label class="forty_aligned control-label">Left</label>  
                            </div>
                        </div>
                    </div><!--  form group-->
                </div>
            </div><!-- end row -->
			
            <div class="row"><!-- Vth Row -->  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selVisualAcuity">Visual Acuity<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                             <select id="selVisualAcuityRight" name="selVisualAcuityRight" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="6/5">6/5</option>
								<option value="6/6">6/6</option>
								<option value="6/9">6/9</option>
								<option value="6/12">6/12</option>
								<option value="6/18">6/18</option>
								<option value="6/24">6/24</option>
								<option value="6/36">6/36</option>
								<option value="6/60">6/60</option>
								<option value="N/A">N/A</option>
                                </select>
                            </div>
                            <span id="selVisualAcuityRightError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                 
                <div class="half_aligned">
                    <div class="form-group">

                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selVisualAcuityLeft" name="selVisualAcuityLeft" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="6/5">6/5</option>
								<option value="6/6">6/6</option>
								<option value="6/9">6/9</option>
								<option value="6/12">6/12</option>
								<option value="6/18">6/18</option>
								<option value="6/24">6/24</option>
								<option value="6/36">6/36</option>
								<option value="6/60">6/60</option>
								<option value="N/A">N/A</option>
                                </select>
                            </div>
                            <span id="selVisualAcuityLeftError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                   		
            </div><!-- end row -->  
			
			  <div class="row"><!-- Vth Row -->  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selVisualAcuityExt">Visual Acuity Ext<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selVisualAcuityExtRight" name="selVisualAcuityExtRight" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="-7">-7</option>
								<option value="-6">-6</option>
								<option value="-5">-5</option>
								<option value="-4">-4</option>
								<option value="-3">-3</option>
								<option value="-2">-2</option>
								<option value="-1">-1</option>
								<option value="0">0</option>
								<option value="7">7</option>
								<option value="6">6</option>
								<option value="5">5</option>
								<option value="4">4</option>
								<option value="3">3</option>
								<option value="2">2</option>
								<option value="1">1</option>
								</select>
                            </div>
                            <span id="selVisualAcuityExtRightError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                 
                <div class="half_aligned">
                    <div class="form-group">
                               
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selVisualAcuityExtLeft" name="selVisualAcuityExtLeft" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="-7">-7</option>
								<option value="-6">-6</option>
								<option value="-5">-5</option>
								<option value="-4">-4</option>
								<option value="-3">-3</option>
								<option value="-2">-2</option>
								<option value="-1">-1</option>
								<option value="0">0</option>
								<option value="7">7</option>
								<option value="6">6</option>
								<option value="5">5</option>
								<option value="4">4</option>
								<option value="3">3</option>
								<option value="2">2</option>
								<option value="1">1</option>
                                </select>
                            </div>
                            <span id="selVisualAcuityExtLeftError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                   		
            </div><!-- end row -->  
			
			  <div class="row"><!-- Vth Row -->  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selHandMovement">Hand Movement<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selHandMovementRight" name="selHandMovementRight" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="NA">NA</option>
								<option value="HM">HM</option>
								<option value="NHM">NHM</option>
                                </select>
                            </div>
                            <span id="selHandMovementRightError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                 
                <div class="half_aligned">
                    <div class="form-group">
                        
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selHandMovementLeft" name="selHandMovementLeft" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="NA">NA</option>
								<option value="HM">HM</option>
								<option value="NHM">NHM</option>
                                </select>
                            </div>
                            <span id="selHandMovementLeftError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                   		
            </div><!-- end row -->  
			
			<div class="row"><!-- Vth Row -->  
                <div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="selPreception">Perception Of Light<span class="text-danger">*</span>
                        </label>                             
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selPreceptionRight" name="selPreceptionRight" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="PL">PL</option>
								<option value="NPL">NPL</option>
								<option value="NA">NA</option>
								
                                </select>
                            </div>
                            <span id="selPreceptionRightError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                 
                <div class="half_aligned">
                    <div class="form-group">
                                 
                        <div class="sixty_aligned">
                            <div class="">
                                <select id="selPreceptionLeft" name="selPreceptionLeft" class="form-control " size="1" required>
								<option value="">--select--</option>
								<option value="PL">PL</option>
								<option value="NPL">NPL</option>
								<option value="NA">NA</option>
                                </select>
                            </div>
                            <span id="selPreceptionLeftError" class="error"></span>
                        </div>
                    </div><!--  form group-->
                </div>                   		
            </div><!-- end row -->  
			<div class="row"><!-- Vth Row --> 
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtComment">Clinical Comment </label>
                        <div class="sixty_aligned">
                            <div class="">
                                <input type="text" id="txtComment" name="txtComment"
                                class="form-control" >
                            </div>
                        </div>
                    </div>
                </div>                  
			</div>
			<div class="row"><!-- Vth Row --> 
				<div class="half_aligned">
                    <div class="form-group">
                        <label class="forty_aligned control-label" for="txtNotes">Notes</label>                 
                        <div class="sixty_aligned">
                            <div class="">
                               <textarea id="txtNotes" name="txtNotes" rows="3" class="form-control ui-wizard-content"></textarea>
                            </div>
                        </div>
                    </div><!--  form group-->
                </div> 
			</div>
        
        <!-- Form Buttons -->
        <div class="form-group form-actions" style="display: inline-block; width: 100%;">
            <div class="text-center btnHolder" >
                <input type="button" value="Update" class="btn_save" 
                id="btnSave">
				<input type="button" value="Reset" class="btn_reset" 
                id="btnReset">
            </div>
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>


<!-- Modal for search patient-->
<div class="modal fade" id="myAssessmentModal" role="dialog">
	
	<a href="#myAssessmentModal" id="assessmentModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog" id="modal-dialog-style-2">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="assessmentModalLabel"></h4>
			</div>
			<div class="modal-body" id="assessmentModalBody">				
			</div>
			<div class="modal-footer">
			</div> 
	  </div>			  
	</div>
</div>

<div class="print-body display-print" id="PrintDiv">
    <div class="row">
         <label class="control-label">Email:&nbsp; </label>
         <label class="forty_aligned control-label" id="lblPrintEmail"></label>
         <label class="control-label" style="margin-left:30%;">Phone:&nbsp; </label>
         <label class="control-label" id="lblPrintPhone"></label>
    </div>
    <div class="row" style="text-align:center;">
        <div class="">
            <div class="">
                <div class="" >
                    <div id="image-box">
                        <img id="printLogo"  alt="Default" style="position: relative;height: 70px;">                         
                    </div>  
                </div>
            </div>          
        </div> 
    </div>
    <div class="row">
        <h2 id="printHospitalName"> </h2>
    </div>
    <div class="row" style="text-align: center;">
        <label class="control-label">Address:&nbsp; </label>
        <label class="control-label" id="lblPrintAddress"></label>
    </div>
    <hr />
    <div class="row">
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Visit Id :</label>
            </div>
            <div>
                <label class="half_aligned control-label" id="lblPrintVisitId"></label>
            </div>
        </div>
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Patient Id :</label>
            </div>
            <div>
                <label class="half_aligned control-label" id="lblPrintPatientId"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">PatientName :</label>
            </div>
            <div>
                <label class="half_aligned control-label" id="lblPrintPatientName"></label>
            </div>
        </div>    
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Print date :</label>
            </div>
            <div>
                <label class="half_aligned control-label" id="lblPrintDate"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="half_aligned">
            <div class="">
                <label class="forty_aligned control-label">Eye Status :</label>
            </div>
            <div>
                <label class="half_aligned control-label" id="lblPrintEyeStaus"></label>
            </div>
        </div> 
    </div>
    <div class="row"><!-- Start row -->
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label"></label>             
                <div class="sixty_aligned">
                    <div class="">
                        <label class="forty_aligned control-label">Right</label>  
                    </div>
                </div>
            </div><!--  form group-->
        </div>
        <div class="half_aligned">
            <div class="form-group">

                <div class="forty_aligned">
                    <div class="">
                        <label class="forty_aligned control-label">Left</label>  
                    </div>
                </div>
            </div><!--  form group-->
        </div>
    </div>
    <div class="row"><!-- Vth Row -->  
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label">Visual Acuity</label>
                <div class="sixty_aligned">
                    <label class="half_aligned control-label" id="lblPrintRightVisualAcuity"></label>
                </div>
            </div><!--  form group-->
        </div>                 
        <div class="half_aligned">
            <div class="form-group">
                <div class="sixty_aligned">
                   <label class="half_aligned control-label" id="lblPrintLeftVisualAcuity"></label>
                </div>
            </div><!--  form group-->
        </div>                          
    </div>
    <div class="row"><!-- Vth Row -->  
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label">Visual Acuity Ext</label>
                <div class="sixty_aligned">
                    <label class="half_aligned control-label" id="lblPrintRightVisualAcuityExt"></label>
                </div>
            </div><!--  form group-->
        </div>                 
        <div class="half_aligned">
            <div class="form-group">
                <div class="sixty_aligned">
                   <label class="half_aligned control-label" id="lblPrintLeftVisualAcuityExt"></label>
                </div>
            </div><!--  form group-->
        </div>                          
    </div>
    <div class="row"><!-- Vth Row -->  
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label">Hand Movement</label>
                <div class="sixty_aligned">
                    <label class="half_aligned control-label" id="lblPrintRightHandMovement"></label>
                </div>
            </div><!--  form group-->
        </div>                 
        <div class="half_aligned">
            <div class="form-group">
                <div class="sixty_aligned">
                   <label class="half_aligned control-label" id="lblPrintLeftHandMovement"></label>
                </div>
            </div><!--  form group-->
        </div>                          
    </div>
    <div class="row"><!-- Vth Row -->  
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label">Perception Of Light</label>
                <div class="sixty_aligned">
                    <label class="half_aligned control-label" id="lblPrintRightPOL"></label>
                </div>
            </div><!--  form group-->
        </div>                 
        <div class="half_aligned">
            <div class="form-group">
                <div class="sixty_aligned">
                   <label class="half_aligned control-label" id="lblPrintLeftPol"></label>
                </div>
            </div><!--  form group-->
        </div>                          
    </div>
    <div class="row"><!-- Vth Row -->  
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label">Clinical Comment</label>
                <div class="sixty_aligned">
                    <label class="half_aligned control-label" id="lblPrintClinicalComment"></label>
                </div>
            </div><!--  form group-->
        </div>
    </div>
    <div class="row"><!-- Vth Row -->  
        <div class="half_aligned">
            <div class="form-group">
                <label class="forty_aligned control-label">Notes</label>
                <div class="sixty_aligned">
                    <label class="half_aligned control-label" id="lblPrintNotes"></label>
                </div>
            </div><!--  form group-->
        </div>
    </div>
</div>


<div class="modal fade" id="printMyModal" role="dialog">
    <a href="#printMyModal" id="printModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog confirm-modal-style">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <div id="pop_up_close" class="close-modal">X</div>
                </button>
                <h4 id="printMyModalLabel">Success</h4>
            </div>
            <div class="modal-body" id="printMessageBody">Vision assessment updated successfully!!!</div>
            <div class="modal-footer" id="printModalFooter">
                
            </div>
        </div>
    </div>
</div>
