<link rel="stylesheet" href="css/admin/visit_type.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  
 

<script src="script/admin/visit_type.js"></script>
<div class="block">
	<div class="block-title" >
		<h2><strong>Visit Type</strong></h2>
	</div>
    <div class="row" >
        <div class="col-md-12">
            <div id="visit_type_list">
                <h2 id="tab_visit_type"><i class="fa fa-bars fa-fw"></i>Visit Type list</h2>
                <h2 id="tab_add_lab_visit" style="background:#fff; color:#000;">+Add Visit Type</h2>
                <div class="clear"></div>
            </div>
            <div style="margin-top:1%;" class="blackborder">
                <div class="table-responsive">
					<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
						<input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
					</div>
                    <table id="visitTypedatatable" class="table table-vcenter table-responsive table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="max-width:45%; width:45% !important;">Visit Type</th>
                                <th class="text-center" style="max-width:45%; width:45% !important;">Description</th>
                                <th class="text-center" width="10%"></th>
                            </tr>
                        </thead>
                    </table>
					<input id="selectedRow" type="hidden" value="0" />
                </div>
            </div>
            <!-- end table  -->	
            <div id="form_dept">
                <div class="col-md-12">
                    <form method="post" id="form_submit_dept">
						<div id="popUPFormVisitType">								
							<div class="form-group" style="height: 7%;">
								<label class="col-md-4 control-label" for="txtVisitType" style="width:33.33%; float:left;">Visit Type<span class="text-danger">*</span></label>
								<div class="input-group col-md-6" style="float:left;">
									<input type="text" id="txtVisitType" maxlength="50" class="form-control">
									<span id="txtVisitTypeError" class="error"></span>
								</div>
								<div class="clear"></div>
							</div>					
							<div class="form-group">
								<label class="control-label col-md-4" for="txtDescription">Description</label>
								<div class="input-group col-md-6" style="float:left;">
									<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
									<span id="txtDescriptionError" class="error"></span>
								</div>
								<div class="clear"></div>
							</div>							
							<input type="button" value="Update" class="add_dept btn_update" id="btnUpdate" style="display:none;" />
						</div>
						<input type="button" value="Save" class="add_dept btn_save" id="btnSave" name="submit" />
						<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
                    </form>
				
                </div>
                <!-- end col md-12 -->
            </div>
            <!-- end form_dept -->			
        </div>
        <!--end col md-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end block -->