<link rel="stylesheet" href="css/admin/voucher_cheque_printing.css"> 
<!--Data Table js-->   
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/voucher_cheque_printing.js"></script> 
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Voucher Posting</strong></h2>
	</div>
	
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<table id="vocherTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" width="10%">Voucher Number</th>
						<th class="text-center td_cursor" width="15%">Payee Name</th>
						<th class="text-center td_cursor" width="10%">Ledger</th>
						<th class="text-center td_cursor" width="10%">Amount</th>
						<th class="text-center td_cursor" width="10%">Date</th>
						<th class="text-center td_cursor" width="10%">Payment Mode</th>
						<th class="text-center td_cursor" width="15%">Cheque No.</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
</div>

<div class="print-body display-print no-border" id="chequeDiv">
	<div id="chequeDate"></div>
	<div id="chequePayeeName">
		<span id="chequePayeePrefix"></span>
		<span id="cheque-payee-name"></span>
		<span id="chequePayeeSuffix"></span>
	</div>
	<div id="chequeAmountFigures">
		<span id="chequeAmountFigurePrefix"></span>
		<span id="chequeAmount"></span>
		<span id="chequeAmountFigureSuffix"></span>
	</div>
	<div id="chequeAmountWords">
		<span id="nullAmountWordPrefix"></span>
		<span id="cheque-amount-word"></span>		
	</div>
</div>

<div class="modal fade" id="myVoucherModal" role="dialog">
    <a href="#myVoucherModal" id="searchModal" role="button" class="hidden" data-toggle="modal"></a>
    <div class="modal-dialog" id="modal-dialog-style-2">            
      <!-- Modal content-->
        <div class="modal-content modal-view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
                <h4 id="myVoucherModalLabel">Voucher posting</h4>
            </div>
            <div class="modal-body" id="myVoucherModalBody">  
            	<div class="row no-margin">        
					<div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtVoucherNo">Voucher No.</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtVoucherNo" class="form-control" readonly>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtPayeeName">Payee Name</label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtPayeeName" class="form-control" readonly> 
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>

				<div class="row no-margin">        
					<div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="selLedger">Ledger</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <select id="selLedger" class="form-control" readonly></select>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtAmount">Amount</label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtAmount" class="form-control" readonly> 
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>

				<div class="row no-margin">        
					<div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="selPaymentMode">Payment Mode</label>             
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <select id="selPaymentMode" class="form-control" readonly></select>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtChequeNo">Cheque No.</label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtChequeNo" class="form-control" readonly> 
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>

				<div class="row no-margin"> 
	                <div class="half_aligned">
	                    <div class="form-group">
	                        <label class="forty_aligned control-label" for="txtPostingDate">Posting Date<span class="text-danger">*</span></label>
	                        <div class="sixty_aligned">
	                            <div class="">
	                                <input type="text" id="txtPostingDate" style="cursor: pointer;" class="form-control input-datepicker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd"> 
	                                <span class="error" id="txtPostingDateError"></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>

				<div class="row no-margin form-btns"> 
					<div class="saveExit">
						<div class="form-group">
							<input type="button" value="Save" class="btn_save" id="btnSave">
							<input type="button" value="Exit" class="btn_save" data-dismiss="modal" id="btnExit">
						</div>
					</div>
				</div>
            </div>
      </div>              
    </div>
</div>
<div class="modal fade" id="printDisbursementModal" role="dialog">
	<a href="#printDisbursementModal" id="disbursementModal" role="button" class="hidden" data-toggle="modal"></a>
	<div class="modal-dialog">			
	  <!-- Modal content-->
		<div class="modal-content modal-view">
			<div class="modal-header" style="background-color: #6fcceb; color: darkgreen;">
				<button type="button" class="close" data-dismiss="modal"><div id="pop_up_close">X</div></button>
				<h4 id="disbursementModalLabel" style="color:white;"></h4>
			</div>
			<div class="modal-body" id="disbursementModalBody">				
			</div>
			<div class="modal-footer" style="background-color: #6fcceb; color: darkgreen;">
			</div> 
	  </div>			  
	</div>
</div>