<link rel="stylesheet" href="css/admin/ward_room_type.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/ward_room_type.js"></script>

<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Ward Room Types</strong></h2>
	</div>
	<div id="roomTypeList">
		<h2 id="tabRoomTypeList"><i class="fa fa-bars fa-fw"></i>Ward Room Type list</h2>
		<h2 id="tabAddRoomType" style="background:#fff; color:#000;">+add Room type</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive">
			<label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="roomTypeTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						
						<th class="text-center td_cursor" style="max-width:45%; width:45% !important;">Ward Room Type</th>
						<th class="text-center td_cursor" style="max-width:45%; width:45% !important;">Description</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div  id="uploadFile">
				<div class = "row">							
					<div class="half_aligned">
						<div class="form-group">
							<div class="control-group">
									<label class="forty_aligned  control-label">CSV/XLS File:</label>
								 <div class="control-label sixty_aligned">
									<input type="file" name="file" id="file" class="input-large" style="padding:0;">
									<span id="txtFileError" class="error"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned" style="padding:0;">
						<div class="form-group">
							<div class="control-group">
								 <div class="forty_aligned">
									<button type="button" id="importDataFile" name="Import" class="btn_save">Upload</button>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class = "row">
					<div class="text-center">
						<h3>- OR -</h3>
					</div>
				</div>
			</div>
			<div class="row"><!-- Ist row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtRoomType">Room Type<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtRoomType"	class="form-control" required/>
								<span id="txtRoomTypeError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDescription">Description
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	
			<input type="button" value="Update" class="addRoomType btn_update" id="btnUpdateRoomType" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			
			
			<input type="button" value="Save" class="addRoomType btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="addRoomType btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>








	