<link rel="stylesheet" href="css/admin/ward_room.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<script src="script/admin/ward_room.js"></script>

<div class="block">
    <!-- Wizard with Validation Title -->
    <div class="block-title">
        <h2><strong>Rooms</strong></h2>
    </div>
    <div id="roomList">
		<h2 id="tabRoomList"><i class="fa fa-bars fa-fw"></i>Room list</h2>
		<h2 id="tabAddRoom" style="background:#fff; color:#000;">+add Room</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive">
			<label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="roomTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" style="max-width:20%; width:20% !important;">Department</th>
						<th class="text-center" style="max-width:20%; width:20% !important;">Ward Name</th>
						<th class="text-center" style="max-width:20%; width:20% !important;">Room</th>
						<th class="text-center" style="max-width:20%; width:20% !important;">Description</th>
						<th class="text-center" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
    <form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="advanced-first" class="step">
			<div id="roomModel">
				<!-- Step Info -->
				<div class="row">
					<!-- Ist row -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selDepartment">Department<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selDepartment" class="form-control val_wrad" size="1" required>
										<option value="-1">--Select--</option>
									</select>
									<span id="selDepartmentError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="selWard">Ward<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<select id="selWard" name="val_wrad" class="form-control val_wrad" size="1" required>
										<option value="-1">--Select--</option>
									</select>
									<span id="selWardError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					
				</div>
				<!-- end row -->
				<div class="row">
					<!-- IInd Row  -->
					<div class="half_aligned">
						<div class="form-group">
							<label class="control-label" for="checkOtherRoom" >Other Room</label>                                
							<div class="sixty_aligned" style="    padding: 5px 0 0 10px;">
								<div class="">
									<input type="checkbox" id="checkOtherRoom" class="" name="" style="cursor:pointer;">
									<span id="checkOtherRoomError" class="error"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtBedNumber">Room Number<span class="text-danger">*</span></label>                                
							<div class="sixty_aligned">
								<div class="">
									<input type="text" id="txtRoomNumber" maxlength="30" class="form-control">
									<span id="txtRoomNumberError" class="error"></span>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
					 
				</div>
				<div class="row">
					<div class="half_aligned">
						<div class="form-group">
							<label class="forty_aligned control-label" for="txtDescription">Description</label>                                
							<div class="sixty_aligned">
								<div class="">
									<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
								</div>
							</div>
						</div>
						<!--  form group-->
					</div>
				</div>
				<!-- end row -->
				<input type="button" value="Update" class="add_dept btn_update" id="btnUpdateRoom" style="display:none;" />
			</div>
        </div>
        <!-- Form Buttons -->
        <div class="form-group form-actions">
            <input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			  <input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Wizard with Validation Content -->
</div>
