<link rel="stylesheet" href="css/admin/ward.css">
<!--Data Table js-->
<script type="text/javascript" charset="utf8" src="script/datatable/jquery.dataTables.min.js"></script>
<!---Table Reload -->
<script type="text/javascript" charset="utf8" src="script/datatable/fnReloadAjax.js"></script>  

<!-- Wizard with Validation Title -->
<script src="script/admin/ward.js"></script>
<div class="block">
	<!-- Wizard with Validation Title -->
	<div class="block-title">
		<h2><strong>Wards</strong></h2>
	</div>
	<div id="wardList">
		<h2 id="tabWardList"><i class="fa fa-bars fa-fw"></i>Ward list</h2>
		<h2 id="tabAddWard" style="background:#fff; color:#000;">+add Ward</h2>
		<div class="clear"></div>
	</div>
	<div style="margin-top:1%;" class="blackborder">
		<div class="table-responsive">
			<div class="chk-active_inactive"><label class="chk_cursor" for="inactive-checkbox-tick">Inactive</label>
                <input type="checkbox" id="inactive-checkbox-tick" class="chk_cursor inactive-checkbox" name="">
            </div>
			<table id="wardTable" class="table table-vcenter table-responsive table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center td_cursor" style="max-width:30%; width:30% !important;">Ward</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Ward Type</th>
						<th class="text-center td_cursor" style="max-width:15%; width:15% !important;">Department</th>
						<th class="text-center td_cursor" style="max-width:30%; width:30% !important;">Description</th>
						<th class="text-center td_cursor" width="10%"></th>
					</tr>
				</thead>
			</table>
			<input id="selectedRow" type="hidden" value="0" />
		</div>
	</div>
	<!-- end table  -->	
	<!-- END Wizard with Validation Title -->

	<!-- Wizard with Validation Content -->
	<form id="advanced-wizard" action="" method="post" class="form-horizontal form-bordered">
	<!-- First Step -->
		<div id="advanced-first" class="step">
		<!-- Step Info -->
			<div class="row"><!-- Ist row -->
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selDepartment">Department<span class="text-danger">*</span></label>                                
						<div class="sixty_aligned">
							<div class="">
								<select id="selDepartment" class="form-control val_wrad" size="1" required>
									<option value="-1">--Select--</option>
								</select>
								<span id="selDepartmentError" class="error"></span>
							</div>
						</div>
					</div>
					<!--  form group-->
				</div>
				
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="selWardType">Ward Type<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
                                <select id="selWardType" name="selWardType" class="form-control selRoomNo" size="1" >
									<option value="-1">--Select--</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
                                </select>
                            </div>
                            <span id="selWardTypeError" class="error"></span>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	
			<div class="row"><!-- Ist row --> 
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtWardName">Ward Name<span class="text-danger">*</span>
						</label>
						<div class="sixty_aligned">
							<div class="">
								<input type="text" id="txtWardName" maxlength="50" 
								class="form-control" required>
								<span id="txtWardNameError" class="error"></span>
							</div>
						</div>
					</div>
				</div>   
				<div class="half_aligned">
					<div class="form-group">
						<label class="forty_aligned control-label" for="txtDescription">Description
						</label>                                
						<div class="sixty_aligned">
							<div class="">
								<textarea id="txtDescription" name="txtDescription" rows="3" class="form-control ui-wizard-content"></textarea>
							</div>
						</div>
					</div><!--  form group-->
				</div>				
			</div>	
			<input type="button" value="Update" class="add_dept btn_update" id="btnUpdateWard" style="display:none;" />
			
		</div>
		<!-- Form Buttons -->
		<div class="form-group form-actions">
			
			
			<input type="button" value="Save" class="add_dept btn_save" id="btnSubmit">
			<input type="button" value="Reset" class="add_dept btn_reset" id="btnReset">
		</div>
		<!-- END Form Buttons -->
	</form>
	<!-- END Wizard with Validation Content -->
</div>








	