@charset "utf-8";
/* CSS Document */


.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 6px;
}
.add_dept {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	 position:relative;
    left:44%;
}
.clear {
    clear: both;
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}
.fa-search{
    float: right;
    margin-top: -10%;
    margin-right: 3%;
    cursor: pointer;
}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 47%;} 
@media screen and (max-width: 991px) {
    .sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
    .forty_aligned{margin: 6px 0 0 10px;}
    input#btnSelect { margin-top: 5%;}    
}  
@media screen and (max-width: 480px) {
    .half_aligned { width:100%; float: none;}
} 