.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 47%;} 
.control-label{margin-top: 10px;}

@media screen and (max-width: 991px) {
	.sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
	.forty_aligned{margin: 6px 0 0 10px;}
	input#btnSelect { margin-top: 5%;}    
}  
@media screen and (max-width: 480px) {
	.half_aligned { width:100%; float: none;}
} 
    
#print{
    float: right;
    margin-right: 2%;
}
.btn_select{
    padding: 7px 15px;
    background-color: #0C71C8;
    color: #fff;
    border-radius: 3px;
	border: none;
	position: absolute;
    left: -10%;
    top: 16px;
}
.btn_cash{
	margin: 0;
    padding: 8px 15px;
     background-color: #0C71C8;
    color: #fff;
    border-radius: 3px;
	border: none;
	position:relative;
	left:44%;
}
#printCashDetailss{
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    display: table;
    margin: 30px auto;
}
#btnconfirm{
	background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 1px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa;
}