@charset "utf-8";
/* CSS Document */

.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
.add_dept {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin:0 auto;
        /* display: table; */
    /* align-content: center !important; */
    position: relative;
    left: 44%;
}
 
.clear {
    clear: both;
}
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}

.half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%;} 

    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}   
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    @media screen and (max-width: 480px) {
        .restext { max-width:50%; }
        .reslabel { min-width:39%; float: left;}
    }
fieldset.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.fieldset-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
#fieldsetBorder{
    width: 90%;
}
#chkBox{
    margin-right: 5%;
}
legend.fieldset-border{
    text-align: center !important;
}