.center-buttons{
	display: table;
	margin: 0 auto !important;
}
.sixty_aligned {
	float: left;
    width: 37%;
}
.add_button {
	float: left;
    margin-left: 1%;
}
.addValues{
    padding: 5px 10px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin-top: 3px;
}
#clinicalStyle{
    width: 35%;
}