 .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    .chk-active_inactive{width: 15%;}
    input#btnSelect { margin-top: 4%;}
	#btnSearch{
		margin-right:10px;}
	#btnSearch:hover{
		background:#1bbae1;
	}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {.half_aligned { width:100%; float: none;} } 
   
   .fa{cursor : pointer;}
   .fa-pencil{margin-right: 12px;}

.btn_search,.btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}
.modal-view {border-radius: 3px;width: 100% !important;}

i#searchsellerIcon {
    float: right;
    right: 10px;
    bottom: 24px;
}
label#lblEmail {
    text-transform: lowercase !important;
}
i#searchItemIcon {
    position: relative;
    bottom: 40px;
    float: right;
    margin-right: 7px;
}
#btnSearchItem{
    margin: 0;
    position: relative;
    bottom: 33px;
    float: right;
    left: 38%;
}
@media screen and (max-width: 1380px) {
    #btnSearchItem{
        left: 44%;
        bottom: 50px;
    }
}

#configureItemPriceModal{
    width: 87%;
    margin-left: 13%;
}