#serachVisitIcon{
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    transform: scale(1.2,1.2) !important;
	cursor:pointer !important;
}
#btnVisitLoad,#btnBackCnsltViewList {
    margin-left: 4%;
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
}
#btnBackCnsltViewList{float: right;margin-right: 5%;}
.consultantDiagnosisButtons{color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    display: table;
    margin: 30px auto;
}#oldHistoryModalDetails .block {
    padding: 2% 3% 0 0;
    width: 93%;
    border: none;
}
#oldHistoryModalDetails{
    width: 87%;
    margin-left: 13%;
}
.modal-confirm{left: initial !important;}
#tabsViewConsultant{margin: 5% 0 1% 5%;}
.nav-tabs {border-bottom-color: transparent !important;}
#myConsultantModal .block-title{display: none;}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 50% !important;} 
.control-label{margin-top: 10px;}
.chk-active_inactive{width: 15%;}
input#btnSelect { margin-top: 4%;}
@media screen and (max-width: 991px) {
	.sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
	.forty_aligned{margin: 6px 0 0 10px;}
	input#btnSelect { margin-top: 5%;}    
}  
@media screen and (max-width: 480px) {
	.half_aligned { width:100%; float: none;}
} 
    
.btn_triage,.btn_clinical {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
  
	margin-right: 10px;
}
.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}

#print{
    float: right;
    margin-right: 2%;
}
.btn_style{
	position: relative;
    left: 212px;
    display: inline-block;
}
.container{
	padding:0;
	margin-top:5px;
}
.nav>li>a{
	color:#666 !important;
}
.nav>li.active>a{
	color:#FFF !important;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #FFF !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {    
        background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: initial;
}
#mySpecimenModal{
    width: 87%;
    margin-left: 13%;
}
#btnRequestIpd{display: none;}
.alignCenter{text-align: center;}
#myIPDRequestModal{
    left: initial !important;
    width: 87%;
    margin-left: 13%;
}
input#chkIncludeWeekend {
    margin-top: 10px;
}
.pointer{
    cursor: pointer;
}
h3#todayAbsentStaff {
    margin: 0;
    text-align: center;
    position: relative;
    top: 45px;
}