.customerTabs {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    width: 94%;
}
.customerTabs li {
    display: inline-block;
    width: 33%;
}
.activeSelf {
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
}
.customerBtn {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    background-image: linear-gradient(rgb(173, 173, 173), rgb(255, 255, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 10px 37px;
    width: 96%;
}
i#searchCustomerId {
    position: relative;
    float: right;
    bottom: 41px;
    font-size: 17px;
    right: 15px;
    cursor: pointer;
}
.btn_search, .btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin: 0 auto;
    position: relative;
}
input#btnShowCustomerDetails {
    position: relative;
    float: right;
    left: 5%;
    bottom: 68px;
}
#mySearchModal .block-title,#mySearchModal #divCustomer,#mySearchModal .chk-active_inactive,
#mySearchModal #customerTable th:nth-of-type(6),#mySearchModal #customerTable td:nth-of-type(6),
#mySearchModal .form-button{
	display: none;
}
input#addProductDetails {
    margin-bottom: 2%;
}
.selProduct , .selUnit{
	width: 100%;
}
.showCustomerTabs {
    display: block !important; 
}
.activeSelf {
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
}

.hide-details-control {
    background: url('../../images/details_close.png') no-repeat center center;
    width: 100%;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.details-control {
    background: url('../../images/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 100%;
    height: 20px;
    display: inline-block;
}