@charset "utf-8";
/* CSS Document */
#designation_list{ background:#0c71c8; border: 1px solid #0c71c8; margin-bottom: 4%;border-radius:10px;}
#designation_list h2{ float:left; text-transform: capitalize; padding: 10px 0; margin: 0; cursor: pointer;
 color:#fff; font-size:17px; width:50%; text-align:center;}
.fa-fw { font-size: 13px; width: 7.4%; }
.control-label { margin-top: 10px; }
.add_dept{color:#fff; padding: 8px 15px; background: #0C71C8;  border: none; border-radius: 3px;margin-top: 40px;
                  margin:0 auto;  position:relative;
    left:44%;}
	.add_dept1{color:#fff; padding: 8px 15px; background: #0C71C8;  border: none; border-radius: 3px;margin-top: 40px;
                  margin:0 auto;  position:relative;
    left:44%;}
.clear{ clear:both;}
#tab_add_dept{
	border-radius:10px;
	height: 29px;
	padding-top: 5px !important;
}
#tab_dept{
	border-radius:10px;
	height:29px;
	padding-top: 5px !important;
}
.chk-active_inactive {
    padding: 6px 0 0 10px;
    position: absolute;
    color: #333333;
    z-index: 1;
    margin-top: 4px;
    width: 103px;
    left: 43%;
    margin-left: -51.5px;
    cursor: pointer;
}
#tab_add_dept #plus_icon { font-size: 13px; font-weight: 900; }
@media screen and (min-width: 992px) {
	.col-md-6{width:30%;}
}
@media screen and (max-width: 991px) {
	.col-md-4{float:left; width: 33.33%;}
	.col-md-6{float:left; width:29%;}
}
@media screen and (max-width: 640px){
	.col-md-6{width:38%;}	
}
@media screen and (max-width: 496px){
	.control-label{margin-top:2px;}	
}
@media screen and (max-width: 480px) {
	.col-md-6{width:50%;}
}
.col-md-12{
	padding: 0px !important;
	margin: 0px !important;
}
.row{
	padding: 0 15px;
}