.addValues {
    padding: 5px 10px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin-top: 3px;
}
.ui-autocomplete {
    max-height: 500px;
}
.align-center{
	text-align: center;
}
.btn_reset{left: initial !important;}