#drugPresecriptionTbl_paginate{display: none;}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 47%;} 
.control-label{margin-top: 10px;}
input#btnSelect { margin-top: 4%;}
@media screen and (max-width: 991px) {
    .sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
    .forty_aligned{margin: 6px 0 0 10px;}
    input#btnSelect { margin-top: 5%;}    
}  
@media screen and (max-width: 480px) {
    .half_aligned { width:100%; float: none;}
}
/* .modal-content {
    border-radius: 3px;
    width: 60% !important;
} */
/* #newDataOfTable{color: #fff !important;} */
#newButtonColor{color: #000 !important;}
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
}

.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}
input#btnPrintDrug {
    margin-right: 10px;
}
#printedTable{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    border-right: none;
    border-left: none;
}
#printedTable tr, #printedTable td, #printedTable th{
    border: 1px solid;
}
#print{
    float: right;
    margin-right: 2%;
}
#iconSearch{
	float: right;
    margin-top: -14%;
    margin-right: 3%;
    cursor: pointer;
    position: relative;
}
.modal-view {
    width: initial !important;
}
#btnView{
    font-size: 16px !important;
}
.center {
	margin: 0;
    display: table;
    position: initial;
}
.search-modal-header {
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
#myDrugModal{
    width: 87%;
    margin-left: 13%;
}