@charset "utf-8";
/* CSS Document */

#drugs_list {
    background:#0c71c8;
	border: 1px solid #0c71c8;
	margin-bottom: 2%;
	border-radius:10px;
	}
#drugs_list h2 {
    float: left;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    font-size: 17px;
    width: 50%;
    text-align: center;
}
.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
.add_dept {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    display: inline-block;
   position:relative;
   left:44%;
}
#myModal .modal-body{padding: 3% 6%;}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 50%;} 
@media screen and (max-width: 991px) {
.sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
.forty_aligned{margin: 6px 0 0 10px;}   
}  
@media screen and (max-width: 480px) {
.half_aligned { width:100%; float: none;}
} 
@media screen and (max-width: 480px) {
.restext { max-width:50%; }
.reslabel { min-width:39%; float: left;}
}

.clear {
    clear: both;
}
#tab_add_drugs{
	border-radius:10px;
	height: 29px;
	padding-top: 5px !important;
}
#tab_drugs{
	border-radius:10px;
	height:29px;
	padding-top: 5px !important;
}
#tab_add_drugs #plus_icon {
    font-size: 13px;
    font-weight: 900;
}
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}