.uploadImage{    display: inline-block;
    padding-top: 0 !important;
    width: 15%;
    float: left;
}
.uploadFilenames{
	float: left;
    margin-left: 3%;
}
.imageLabel{
	margin: 0 10px;
	padding-top: 0px !important;
}
.deleteImage {
    margin-left: 5;
    background: #fff;
    padding: 4px 5px;
    border-radius: 50%;
}
td i.fa-upload {
    text-align: center;
    transform: scale(1.5,1.5);
    cursor: pointer;
    color: #1D4568;
    margin-right: 15px;
}