@charset "utf-8";
/* CSS Document */

#forensicSubTestList {
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    border: 1px solid #0c71c8;
    margin-bottom: 2%;
	border-radius:10px;
    }
#forensicSubTestList h2 {
    float: left;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    width: 50%;
    text-align: center;
}
.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
.add_Forensic {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin: 40px auto 0 auto;
    display: table;
    margin
}
.clear {
    clear: both;
}
#tabForensicSubTest{
	border-radius:10px;
	height: 29px;
	padding-top: 5px !important;
}
#tabForensicSubTestList{
	border-radius:10px;
	height:29px;
	padding-top: 5px !important;
}
#tabForensicSubTest #plus_icon {
    font-size: 13px;
    font-weight: 900;
}
#tabForensicSubTestList, #tabAddForensicSubTest {
    border-radius: 10px;
    height: 29px;
    padding-top: 5px !important;
}
.modal-body .row {
    margin-bottom: 20px;
}
.modal-body .add_Radiology{
    margin-left: 40%;
    margin-top: 0;
}
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}
.sixty_aligned {
    float: left !important; 
    width: 50% !important;
} 
.half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 42%;} 
    @media screen and (max-width: 991px) {
    .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
    .forty_aligned{margin: 6px 0 0 10px;}   
    }  
    @media screen and (max-width: 480px) {
    .half_aligned { width:100%; float: none;}
    } 
    @media screen and (max-width: 480px) {
    .restext { max-width:50%; }
    .reslabel { min-width:39%; float: left;}
    }