.addHospitalProfile{
	color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    position:relative;
	left:44%;
}	
.form-group{
	margin-left:13px !important;
}
.PhoneColumn{
    float: right !important;
}
.PhoneCodeColumn{
    display: inline-block;
}