@charset "utf-8";
/* CSS Document */


.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
#myModal .modal-body{padding: 3% 6%;}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 50%;} 
@media screen and (max-width: 991px) {
.sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
.forty_aligned{margin: 6px 0 0 10px;}   
}  
@media screen and (max-width: 480px) {
.half_aligned { width:100%; float: none;}
} 
@media screen and (max-width: 480px) {
.restext { max-width:50%; }
.reslabel { min-width:39%; float: left;}
}

.clear {
    clear: both;
}
.showOnClickLoad{
    display: none;
}
input#btnSelect {
    position: relative;
    right: 27%;
    top: 15px;
    margin-top :0px !important;
}
i#searchVisitIcon {
    bottom: 26px;
    float: right;
    right: 13px;
    font-size: 16px;
    cursor: pointer;
}
span#totalCost {
    float: left;
    margin-left: 5px;
}
#btnResetInsurancePayment{left: initial !important;}
.align-center{text-align: center;}
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}