/*Remove first and last from datatable*/
#viewPrice_paginate{display: none;}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 47%;} 
.control-label{margin-top: 10px;}
.chk-active_inactive{width: 15%;}

.addValues{
    position: absolute;
    top: 7%;
    right: -40%;
    padding: 5px 10px;
    background: #0C71C8; 
    border: none;
    border-radius: 3px;
    color: #fff;
}


input#btnLoadPatientId {
    position: absolute;
    left: -10%;
    top: 16px;
}
input#btnSelect { margin-top: 4%;}
@media screen and (max-width: 991px) {
    .sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
    .forty_aligned{margin: 6px 0 0 10px;}
    input#btnSelect { margin-top: 5%;}    
}  
@media screen and (max-width: 480px) {
    .half_aligned { width:100%; float: none;}
} 
    
.btn_search {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
	margin-right: 10px;
}
.btn_back_list {
    color: #fff;
    padding: 4px 7px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	float: right;
    margin-top: -2%;
}
#totalBill{float: left;}
#print{
    float: right;
    margin-right: 2%;
}
.btn_reset,.btn_save{
	position:relative;
	left:44%;
}
.fa-search{
	float: right;
	margin-top: -10%;
	margin-right: 3%;
	cursor: pointer;
}
#viewPrice tfoot th:nth-of-type(5){padding-left: 0px !important;padding-right:0px !important;}
#viewPrice tbody td:nth-of-type(3),#viewPrice tbody td:nth-of-type(4),#viewPrice tbody td:nth-of-type(5){
    text-align: center;
}
.selfRequestButtons{list-style-type: none;display: inline-block; width: 100%;padding: 0;}
ul.selfRequestButtons li {display: inline-block;}
.slfBtn{
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    background-image: linear-gradient(rgb(173, 173, 173), rgb(255, 255, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 10px 37px;
}
.slfBtn:hover{
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #FFF !important;
}
#selfRequestButtonModalBody{
    display: inline-block;
    width: 100%;
}

#mySelfRequestButtonModal .modal-content{
    width: 100% !important;
}
.myHideClass{display: none;}
#mySelfRequestErrorModal{
    z-index: 999999;
}
#testStatus,#addedStatus{
    display: table;
    margin: 0 auto;  
    font-size: 14px;
}
.myDrugsClass,.myServiceClass,.myLabClass{
    width: 94%;
}
.alertMessage{
    color: #73AD21;
}
.activeSelf{
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
}