.addValues {
    padding: 5px 10px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    color: #fff !important;
    margin-top: 3px;
}
.closeLabTest{
	opacity: 1;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 18px;
    background: #000 !important;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    margin-top: 2px !important;
    padding: 0;
    cursor: pointer;
    border: 0;
}
.btn_search, .btn_reset{left: 0px !important;}
.align-center{text-align: center;}
#lblPrintVisitDate{padding-left: 0px;}
#closemyLabTestModal{width: 21px;}
.closeLabTest:hover{ color: #000; text-decoration: none; cursor: pointer;   background: #fff !important; opacity: 1;}
#newButtonColor{color: #000 !important;}
#myLabTestModal{overflow: auto;}