#printLabTestDetails{
	text-align: right;
    width: 97%;
    margin-right: 4px;
    font-size: 28px;
    display: inline-block;
    margin-top: -15px;
}
td.removeBorder {
    border-bottom: none !important;
}
