.align-center{
	text-align: center;
}
.heading_location{
	text-align: center;
	display: inline-block;
	width: 100%;
	border: 1px solid #0c71c8;
	border-radius: 10px;
	margin: 0.5% 0 5% 0;
}
.heading_location p{
	width: 50%;
	padding: 10px 0;
	background : rgb(12, 113, 200);
	color: #fff;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
    height: 29px;
    padding-top: 5px !important;
    margin: 0;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}

.addLocation{
	color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}	
.edit-country, .edit-state, .edit-city{
	display: none;
}
.heading_location p{
	cursor: pointer;
}
.btnHolder{text-align: center;}
.admin-edit-country,.admin-edit-state{
	min-height: 270px;
	margin: 0 4%
}
.admin-edit-city{
	min-height: 320px;
	margin-left: 27%;
}