#btnBookOT{ float: right;}
    #patientOTReg .block-title{display: none;}
    #modal-dialog-style-3{width: 80%;}
    div#patientOTReg {width: 87%;margin-left: 13%;}
    .patientRegClose {
        float: right;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        text-shadow: none;
        opacity: 1;
        color: #fff;
        width: 21px;
        height: 21px;
        border-radius: 18px;
        background: #000 !important;
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
    }
    #mySelfRequestModal #modal-dialog-style-2{
        width: 100% !important;
        margin-top: 0px !important;
    }
    
    .fc-agenda-slots td div {
        height: 50px !important;         
    } 
    .fc-event-title {
        text-transform: capitalize;
        font-size: 14px;
    }
    .fc-event-time{
        display: none;
    }
    .tooltip{width: 200px !important; text-transform: capitalize;}
@media screen and (max-width: 1280px) {
    table#patientOTTable th {font-size: 10px;}
    #patientOTTable td {font-size: 12px;}
   #patientOTTable i {font-size: 15px !important;}
}
#btnBookOT{
    display: none;
}