@charset "utf-8";
/* CSS Document */

#divOtRooms,#divTaxType,#divProducts,#divCustomer {
	border: 1px solid #0c71c8;
	margin-bottom: 2%;
	border-radius:10px;
	}
#divOtRooms h2,#divTaxType h2,#divProducts h2,#divCustomer h2 {
    float: left;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    width: 50%;
    text-align: center;
}
.customerTabs {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    width: 94%;
}
.customerBtn{
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    background-image: linear-gradient(rgb(173, 173, 173), rgb(255, 255, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 10px 37px;
    width: 96%;
}
.activeSelf {
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
}
.showCustomerTabs{
    display: none;
}
#myModal .showCustomerTabs{
    display: block;
}
.customerTabs li {
    display: inline-block;
    width: 33%;
}
.hide-details-control {
    background: url('../../images/details_close.png') no-repeat center center;
    width: 100%;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.details-control {
    background: url('../../images/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 100%;
    height: 20px;
    display: inline-block;
}
label.productName {
    float: none;
    margin-left: 6%;
    cursor: pointer;
}

.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
.form-button {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    display: inline-block;
    position:relative;
}
.clear {
    clear: both;
}
#tabOtRooms,#tabTaxType,#tabProduct,#tabCustomer{
	border-radius:10px;
	height: 29px;
	padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
#tabOtRoomsList,#tabTaxTypeList,#tabProductsList,#tabCustomerList {
	border-radius:10px;
	height:29px;
	padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
#tabOtRooms #plus_icon,#tabTaxType #plus_icon,#tabProduct #plus_icon,#tabCustomer #plus_icon{
    font-size: 13px;
    font-weight: 900;
}
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}