@charset "utf-8";
/* CSS Document */

#paymentModeList {
    background:#0c71c8;
    border: 1px solid #0c71c8;
    margin-bottom: 2%;
    border-radius:10px;
}
#chartOfAccountList {
    background:#0c71c8;
    border: 1px solid #0c71c8;
    margin-bottom: 2%;
    border-radius:10px;
    }
#chartOfAccountList h2 {
    float: left;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    width: 50%;
    text-align: center;
}
fieldset.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
#firstFieldSet {
    min-width: 100px;
    width: 50%;
    margin-left: 4% !important;
    margin-top: 5% !important;
}
#updateScreenBody #firstFieldSet{
    border:0px !important;
}
legend.fieldset-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
#tabAddChartOfAccount{
    border-radius:10px;
    height: 29px;
    padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
#tabChartOfAccountList{
    border-radius:10px;
    height:29px;
    padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
.update {
    margin-top: -2% !important;
    margin-left: -3% !important;
    border-width: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#updateScreen{display: none;}
.backtext{float: right;
    cursor: pointer;
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-right: 2%;
}
.updateText{
    float: left;
    cursor: pointer;
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    width: 11%;
    margin-left: 2%;
    margin-bottom: 1%;
}
.delete {
    margin-top: -2% !important;
    border-width: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#tabAddChartOfAccount #plus_icon {
    font-size: 13px;
    font-weight: 900;
}
.tab{
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    background-image: linear-gradient(rgb(173, 173, 173), rgb(255, 255, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 8px 0px;
    width: 85%;
    font-size: 18px;
}
.voucherTabs li {
    display: inline-block;
    width: 40%;
}
.voucherTabs {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    width: 94%;
    text-align: center;
    margin-bottom: 4%;
}
i#btnAddPayee {
    color: #23557F;
    background: #3F96FE;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px 7px;
    cursor: pointer;
}
#nonRegisteredPayeeTable span,#updateNonRegisteredPayeeTable span {
    margin: 0 5px;
    text-transform: capitalize;
}
.restore {
    position: static !important;
    box-shadow: none !important;
}
.voucherDescription td {
    border: 1px solid #000;
}
.voucherDescription th {
    border: 1px solid #000;
}
tbody#GLAccountDesc td {
    text-transform: capitalize;
}
.voucherDescription tbody td label {
    float: none;
    text-align: left;
}
.voucherDescription {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 3% 0;
}
.print-body{border-bottom: 1px solid;}
.bottom-dooted-border {
    width: 99%;
}
.print-body .row{
    margin-left: -1px;
    margin-right: -1px;
}
.bottom-dooted-border thead {
    border-bottom: 1px dashed;
}
#selLedger option:disabled {
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
}
.chkAddNRDetail{
    margin: 0 auto !important;
    display: block;
    width: 30px;
    height: 15px;
}
#nonRegisteredPayeeTable span{
    text-transform: capitalize;
}
#selLedger option{
    color:#000
        font-size: 14px;;
}
label.productName {
    float: none;
    margin-left: 6%;
    cursor: pointer;
}
#mySearchModal .block-title,#mySearchModal #divCustomer,#mySearchModal .chk-active_inactive,
#mySearchModal #customerTable th:nth-of-type(6),#mySearchModal #customerTable td:nth-of-type(6),
#mySearchModal .form-button{
    display: none;
}
.hide-details-control {
    background: url('../../images/details_close.png') no-repeat center center;
    width: 100%;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.details-control {
    background: url('../../images/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 100%;
    height: 20px;
    display: inline-block;
}
.registerTabs .tab{
   width: 101%;
    margin: 0;
   margin-bottom: 8%; 
}
input#registerPayee,input#supplier{
    margin-left: 3px;
    font-size: 15px;
}
input#nonRegisterPayee {
    font-size: 15px;
}
.supplierCustomerTab input#supplier,.supplierCustomerTab input#customer {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.registerTabs li {
    display: inline-block;
    width: 43%;
}
.registerTabs{
    list-style-type: none;
    display: inline-block;
    width: 50%;
    padding: 0;
    text-align: center;
}
legend .registerTabs {
    margin-top: -17px;
    width: 100%;

}
fieldset legend{
    padding-top: 0px;
}
#paymentModeList h2 {
    float: left;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    width: 50%;
    text-align: center;
}
.activeSelf {
    background-image: linear-gradient(rgb(115, 115, 115),rgb(206, 206, 206));
}
.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.serachPerson{
    position: relative;
    float: right;
    bottom: 39px;
    cursor: pointer;
    right: 4%
}
.supplierCustomerTab{
    width: 65%;
    margin-top: -20px;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
.add_dept {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin:0 auto;
        /* display: table; */
    /* align-content: center !important; */
    position: relative;
    left: 44%;
}
 
.clear {
    clear: both;
}
#tabAddPaymentMode{
    border-radius:10px;
    height: 29px;
    padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
#tabPaymentModeList{
    border-radius:10px;
    height:29px;
    padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
#tabAddPaymentMode #plus_icon {
    font-size: 13px;
    font-weight: 900;
}

.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 50%;} 
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}
@media screen and (max-width: 991px) {
    .sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
    .forty_aligned{margin: 6px 0 0 10px;}   
}  
@media screen and (max-width: 480px) {
    .half_aligned { width:100%; float: none;}
} 
@media screen and (max-width: 480px) {
    .restext { max-width:50%; }
    .reslabel { min-width:39%; float: left;}
}
#nonRegisteredPayeeModal{
    margin-left: 13%;
    width: 87%;
}
#mySellerModal{
    margin-left: 13%;
    width: 87%;
}
#printMyModal .modal-confirm .modal-footer {
    display: block;
}
#printMyModal{
    margin-left: 13%;
    width: 87%;
}
#modal-dialog-style-3{
    width: 30%;
}
#updateScreen fieldset{
    border: 0px !important;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
    #printMyModal{visibility: hidden;}
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   .chk-active_inactive{visibility: hidden; }
   .block-title { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​