 .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 42%;} 
    .control-label{margin-top: 10px;}
    .chk-active_inactive{width: 15%;}
    input#btnSelect { margin-top: 4%;}
	#btnSearch{
		margin-right:10px;}
	#btnSearch:hover{
		background:#1bbae1;
	}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {.half_aligned { width:100%; float: none;} } 
   
   .fa{transform: scale(1.5,1.5);cursor : pointer;}
   .fa-pencil{margin-right: 12px;}

.btn_search,.btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin:0 auto;
    position:relative;
    left:44%;
}
#receiveOrderDetails .btn_search,#receiveOrderDetails .btn_reset{left: initial !important;}
.showOnClick{display: none;}
input#btnAdd {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin: 2%;
}
input#val_DOB,#val_join_date {cursor: pointer;}
#print{float: right; margin-right: 2%;}
.modal-view {border-radius: 3px;width: 100% !important;}

i#searchorderIcon {
    float: right;
    right: 10px;
    bottom: 40px;
    font-size: 10px;
}
input#btnShowOrderDetails {
    position: relative;
    bottom: 50px;
    float: right;
}
#viewOrderDetailsTable_filter{display: none;}
#receiveOrderDetails{
    width: 87%;
    margin-left: 13%;
}
.hideForm{
    display: none !important;
}
.sellerSign{
    float: right;
    margin-right: 7%;
}
.signContainer{
    margin-top: 6%;
}
label.signOrder {
    border-top: 1px solid;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
    #printMyModal{visibility: hidden;}
   .sidebar-scroll { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   #myReceiveOrderModal{visibility: hidden;}
   .block-title { visibility: hidden; }
   #footer{visibility: hidden; }
   .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​
