@charset "utf-8";
/* CSS Document */

.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}

.clear {
    clear: both;
}

@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}
.half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%;} 
    @media screen and (max-width: 991px) {
    .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
    .forty_aligned{margin: 6px 0 0 10px;}   
    }  
    @media screen and (max-width: 480px) {
    .half_aligned { width:100%; float: none;}
    } 
    @media screen and (max-width: 480px) {
    .restext { max-width:50%; }
    .reslabel { min-width:39%; float: left;}
    }
.block-scheduler{
	
}
.btn-scheduler{
	margin: 4px 0px 10px 0px;
	color: #fff;
    padding: 5px 12px;
    background: #0C71C8;
    border: none;
    border-radius: 3px
}
.btn-scheduler:hover {
	background: #1bbae1 !important;
}
.day-container{
	display: inline-block;
    width: 105%;
    margin-left: 2%;
}
.div-border {
    border: 1px solid #aaa;
    width: 95%;
	padding-top: 10px;
}
.main-div{
	
}
.remove{
	padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 13px;
}
input.time {
    width: 80px;
	padding-left: 3px;
}
.form-horizontal .control-label {
    margin-bottom: 5px;
    padding-right: 5px;
	padding-top: 3px;
}
.divButton{
	padding: 0px;
}
#divInformation{
	border: 1px solid #ddd;
}
#divParticular .datepicker{
	margin:0 auto;
	border:1px solid #ddd;
	width: 238px;
	background-color: #eeeeee;
}
.div-scheduler{
	border: 1px solid #aaa;
    margin-top: 12px;
	background-color: rgb(219, 234, 231);
}
#divParticular{
	margin-bottom: 6px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.scheduler{
	color:#0C71C8;
	font-size:23px !important;
}
h5.heading {
    width: 9%;
    display: inline-block;	
}
.chkAvailable{
	vertical-align: 15;
}
.plusIcon{
	vertical-align: 13;
	cursor: pointer;
}
.chkfor{
	cursor: pointer;
}