@charset "utf-8";
/* CSS Document */

#divSchemePlan {
    background:#0c71c8;
	border: 1px solid #0c71c8;
	margin-bottom: 2%;
	border-radius:10px;
	}
#divSchemePlan h2 {
    float: left;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    width: 50%;
    text-align: center;
}
.fa-fw {
    font-size: 13px;
    width: 7.4%;
}
.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
.form-button {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    display: inline-block;
    position:relative;
	left:44%;
}
.clear {
    clear: both;
}
#tabSchemePlan{
	border-radius:10px;
	height: 29px;
	padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
#tabSchemePlanList {
	border-radius:10px;
	height:29px;
	padding-top: 5px !important;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
}
#tabSchemePlan #plus_icon {
    font-size: 13px;
    font-weight: 900;
}
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}