@charset "utf-8";
/* CSS Document */

.plusIcon{
	position: absolute;
    bottom: 22px;
    font-size: 16px;
}
.heading{
	margin-left: 15px;
}
.hide{
	display:none;
}
.show{
	display:block;
}
.minusIcon{
	display:none;
	position: absolute;
    bottom: 22px;
    font-size: 16px;
}
.checkBox-left{
	position: absolute;
    left: 27px;
    top: 18%;
}
.checkBox-right{
	position: absolute;
    left: 50%;
    top: 20px

}
	

.col-md-12 {
}
.control-label {
    margin-top: 10px;
}
@media screen and (min-width: 992px) {
    .col-md-6 {
        width: 30%;
    }
}
@media screen and (max-width: 991px) {
    .col-md-4 {
        float: left;
        width: 33.33%;
    }
    .col-md-6 {
        float: left;
        width: 29%;
    }
}
@media screen and (max-width: 640px) {
    .col-md-6 {
        width: 38%;
    }
}
@media screen and (max-width: 496px) {
    .control-label {
        margin-top: 2px;
    }
}
@media screen and (max-width: 480px) {
    .col-md-6 {
        width: 50%;
    }
}

.half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%;} 

    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}   
    }  
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
    @media screen and (max-width: 480px) {
        .restext { max-width:50%; }
        .reslabel { min-width:39%; float: left;}
    }