.half_aligned{float: left; width: 49%; padding-left: 3%;}
.thirty_aligned{float: left; width: 29%;}
.forty_aligned{float: left; width: 39%;}
.sixty_aligned{float: left; width: 50%;} 
#btnLoad{
    margin-left: 4%;
    color: #fff;
    padding: 7px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
}
div#imgPatientLogo img {
    width: 100%;
    height: 100%;
}
.btn_save, .btn_reset{
	color: #fff;
    padding: 7px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
}
.buttons{
	display: table;
	margin: auto !important;
}
i#serachIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: scale(1.2,1.2);
    cursor: hover;
}
.divideBloodGroup{
    display: inline-block;
    width: 17%;
    text-align: center;
    font-size: 25px;
    vertical-align: bottom;
}
.bloodPressure{
    width: 40%;
    display: inline-block;
}
input#btnSelect { margin-top: 4%;}
.control-label{margin-top: 10px;}

@media screen and (max-width: 991px) {
    .sixty_aligned{width: 50%;}
}   
@media screen and (max-width: 767px) {
    .forty_aligned{margin: 6px 0 0 10px;} 
    input#btnSelect { margin-top: 5%;}  
}  
@media screen and (max-width: 480px) {
    .half_aligned { width:100%; float: none;}
    .hf_align_center{text-align: center;}
}     
#myTriageModal {
    width: 87%;
    margin-left: 13%;
}