 .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 50%;} 
    .control-label{margin-top: 10px;}
    .chk-active_inactive{width: 15%;}
    input#btnSelect { margin-top: 4%;}
	#btnSearch{
		margin-right:10px;}
	#btnSearch:hover{
		background:#1bbae1;
	}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {.half_aligned { width:100%; float: none;} } 
   
   .fa{transform: cursor : pointer;}
   .fa-pencil{margin-right: 12px;}

#myUpdateStaffModel  #val_Salutation{max-width: 50% !important;}
.btn_search {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin:0 auto;
    position:relative;
}
.btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin:0 auto;
    position:relative;
}
input#val_DOB,#val_join_date {cursor: pointer;}
#print{float: right; margin-right: 2%;}
.modal-view {border-radius: 3px;width: 100% !important;}
#myUpdateStaffModel .sixty_aligned{width: 52%;}
div#mySearchModal .block-title {
    display: none;
}
div#mySearchModal #viewStaffTable th:last-child {
    display: none;
}
div#mySearchModal #viewStaffTable tbody td.last {
    display: none;
}
div#myStaffModel label {
    text-transform: capitalize;
}
label#lblEmail {
    text-transform: lowercase !important;
}
#myStaffModel{
    width: 87%;
    margin-left: 13%;
}
#imagebox{
    width: 100px; 
    height:100px; 
    border: 1px solid #C0C0C0;
    background-position: center; 
    background-size: 100% 100%;
    display: inline-block; 
    cursor: default;
}
#userreimage {
    position: relative;
    height: 98px; 
    width:100%;"
}
#myUpdateStaffModel{
    width: 87%;
    margin-left: 13%;
}
i#iconEditStaff {
    font-size: 20px;
    cursor: pointer;
}i#btnView {
    font-size: 15px;
}.deleteStaffDetails {
    font-size: 19px;
    cursor: pointer;
}