 .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39%;}
    .sixty_aligned{float: left; width: 47%;} 
    .control-label{margin-top: 10px;}
    .chk-active_inactive{width: 15%;}
    input#btnSelect { margin-top: 4%;}
	#btnSearch{
		margin-right:10px;}
	#btnSearch:hover{
		background:#1bbae1;
	}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
        input#btnSelect { margin-top: 5%;}    
    }  
    @media screen and (max-width: 480px) {.half_aligned { width:100%; float: none;} } 
   
   .fa{cursor : pointer;}
   .fa-pencil{margin-right: 12px;}

.btn_search,.btn_reset {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin:0 auto;
    position:relative;
}
/*#btnShowSeller,#txtSellerName{left: initial !important;}*/
input#val_DOB,#val_join_date {cursor: pointer;}
#print{float: right; margin-right: 2%;}
.modal-view {border-radius: 3px;width: initial !important;}

i#searchsellerIcon {
    float: right;
    right: 10px;
    bottom: 24px;
}
label#lblEmail {
    text-transform: lowercase !important;
}
#orderDeatilsTable tr{
    border-top: 1px solid;
}
#order-border tr:last-child {
    border-bottom: 1px solid;
}
#order-border{border-left: 1px solid;  width: 100%;margin-top: 4%;}
#order-border td {
    padding: 10px 0px;
    border-right: 1px solid;
    text-align: center;
    text-transform: capitalize;
}
#orderDeatilsTable tr:first-child{
    border-right: 1px solid;
}
#backToOrder{float: right;left: initial !important;}
#orderDeatilsTable tr:first-child td {
    font-weight: 900;
}
#viewSubOrderTable_paginate,#viewSubSubOrderTable_length,#viewSubSubOrderTable_filter,#viewSubSubOrderTable_info,#viewSubSubOrderTable_paginate{display: none;}
#viewSubOrderTable_filter,#viewSubOrderTable_info,#viewSubOrderTable_length{display: none;}
#viewOrderDetails .myModaldata {padding-top: 0px !important;}
table#viewSubSubOrderTable,#viewSubOrderTable {
    border: 2px solid #AAA;
}
#myViewOrderDetailsModal{
    width: 87%;
    margin-left: 13%;
}
#mySellerRequestModal{
    width: 87%;
    margin-left: 13%;
}