    .half_aligned{float: left; width: 49%; padding-left: 3%;}
    .thirty_aligned{float: left; width: 29%;}
    .forty_aligned{float: left; width: 39% !important;}
    .sixty_aligned{float: left; width: 50%;} 
    .control-label{margin-top: 10px;}
    input#btnSelect { margin-top: 4%;}
    @media screen and (max-width: 991px) {
        .sixty_aligned{width: 50%;}
    }   
    @media screen and (max-width: 767px) {
        .forty_aligned{margin: 6px 0 0 10px;}
          
    }  
	@media screen and (max-width: 767px) {
       
        #btnSelect { width:19% !important;margin-top: 9px !important;padding: 2.3% !important}, 
	
    } 
	@media screen and (max-width: 1213px) {
        #iconSearch { margin-top: -25% !important;}
    } 
	@media screen and (max-width: 767px) {
       
		#iconSearch { margin-top: -41% !important;}
    }
    @media screen and (max-width: 480px) {
        .half_aligned { width:100%; float: none;}
    } 
	span.error{
	    width: 106%;
		display: inline-block;
	}
	
    
.opd_reg {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
	margin:0 auto;
	position:relative;
	left:44%;
}

.opd_btn {
    color: #fff;
    padding: 8px 15px;
    background: #0C71C8;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

#print{
    float: right;
    margin-right: 2%;
}
#iconSearch{
	float: right;
    margin-top: -16%;
    margin-right: 3%;
    cursor: pointer;
}
.modal-view {
    width: initial !important;
}
.center {
	margin: 0;
    display: table;
    position: initial;
}
input[type=text].form-control{text-transform: capitalize;}
.search-modal-header {
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px 10px;
    background: linear-gradient(rgb(30, 106, 217), rgb(146, 219, 246)) rgb(12, 113, 200);
    color: #FFF;
}
#myAssessmentModal {
    width: 87%;
    margin-left: 13%;
}
#PrintDiv{border-bottom: 1px solid #000 !important;}
.display-print{visibility: hidden;position: absolute;top: 0;}
body{
    overflow-x: hidden !important;
}
@media print {  
    #printMyModal{visibility: hidden;}
    .sidebar-scroll { visibility: hidden; }
    #myPutOrderModal{visibility: hidden;}
    .advanced-first { visibility: hidden; }
    .block-title { visibility: hidden; }
    #footer{visibility: hidden; }
    .form-bordered { visibility: hidden; }
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
 }​