#myVoucherModal .row{
	min-height : 50px;
}
.saveExit{text-align: center;    margin-top: 5px;
}
.form-btns {
    margin-top: 20px !important;
    vertical-align: bottom;
}
.display-print{visibility:hidden;position: absolute;top: 0px;}
body{    overflow-x: hidden !important;}
 @media print {  
   .sidebar-scroll { visibility: hidden; }
   .tabConsultantLst { visibility: hidden; }
   .advanced-first { visibility: hidden; }
   .block-title { visibility: hidden; }
   .blackborder { visibility: hidden; }
   .form-bordered { visibility: hidden; }
   #printDisbursementModal{visibility: hidden;}
    .display-print { visibility: visible; }
    .block{border: 0px !important; height: 0px;overflow: hidden;}
    .display-print { position: absolute; top: 40px; left: 0px; }
	#printDisbursementModal {overflow:hidden;}
 }​
 