.heading1{
	font-size: 21px;
	font-weight: 600;
}
.heading2{
	font-size: 15px;
	font-weight: 600;
}
.para-gap{
	height: 30px;
}
.small-gap{
	height: 15px;
}
.image{
	padding: 10px;
	border: 1px solid #F0F0F0;
	/* background-color: #ccc; */
}

.image img{
	border: 1px solid #F0F0F0;
}
.sidebar-nav a:hover, .sidebar-nav a:focus{
	text-decoration:none;
}

